<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
    Edit here for Feature Card Component
</sly>

<div class="feature-card-wrapper">
	<div class="feature-card-wrapper">
        <a href="#" target="_blank" class="cta-hover-tile subhero" style="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/feature-card/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
           <div class="box-size-m p-md-no p-s p-sm-no">
              <div class="cta-hover-tile-label  text-left va-middle va-sm-middle m-md-left-4xl m-sm-left-4xl m-left-m">
                 <!-- text alignment: text-left, text-center, text-right -->
                 <!-- vertical alignment: va-top, va-middle, va-bottom -->
                 <!-- horizontal alignment: ha-left, ha-center, ha-right -->
                 <h2 class=" ht4 uppercase color-white"><span class="yellow-label"></span>lorem ipsum</h2>
                 <p class="color-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                 <div class="btn btn-top-border btn-light m-top-s">Read More<span class="glyphicon glyphicon-menu-right"></span></div>
              </div>
           </div>
           <span class="bg-overlay"></span>
        </a>
        </a>
    </div>
</div>