<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for Pagination Scroller Component
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>



<div class="${properties.classid }" data-sly-use.component="com.usgbv3.core.components.PaginationScrollerComponent" >
    <div class="col-xs-12">
        <hr class="dark-2-grey m-no">
    </div>
    <div class="col-xs-6">
        <sly data-sly-test="${component.prevArticle.title }">
            <div class="m-vertical-m pagination-left">
                <a href="${component.prevArticle.link @ context='unsafe'}.html" class="flex-inlin-row">
                    <div class="m-right-s">
                        <span href="${component.prevArticle.link @ context='unsafe'}.html" class="color-darker-grey icon-size-lg fa fa-angle-left"></span>
                    </div>

        			<!-- desktop only -->
                    <div class="m-top-xxs hidden-xs" >
                        <p class="m-no overflow-ellipsis">
                            <b>${component.prevArticle.title @ context='html'}</b>
                        </p>
                        <p class="m-no">${ 'dd MMM yyyy' @ format=component.prevArticle.articleDate}</p>
                    </div>

        			<!-- mobile only -->
                    <div class="m-top-xxs visible-xs" >
                        <p class="m-no">
                            <b>PREV</b>
                        </p>
                    </div>
                </a>
            </div>
        </sly>
    </div>
    <div class="col-xs-6">
        <sly data-sly-test="${component.nextArticle.title }">
            <div class="m-vertical-m pagination-right text-right">
                <a href="${component.nextArticle.link @ context='unsafe'}.html" class="flex-inlin-row">

        			<!-- desktop only -->
                    <div class="m-top-xxs hidden-xs">
                        <p class="m-no overflow-ellipsis">
                            <b>${component.nextArticle.title @ context='html'}</b>
                        </p>
                        <p class="m-no">${ 'dd MMM yyyy' @ format=component.nextArticle.articleDate}</p>
                    </div>

        			<!-- mobile only -->
                    <div class="m-top-xxs visible-xs">
                        <p class="m-no">
                            <b>NEXT</b>
                        </p>
                    </div>
                    <div class="m-left-s">
                        <span href="${component.nextArticle.link @ context='unsafe'}.html" class="color-darker-grey icon-size-lg fa fa-angle-right"></span>
                    </div>
                </a>
            </div>
        </sly>
    </div>
</div>