<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
    Edit here for Product Characteristic Component
  </sly>
  
  <style>
    $ {
      properties.cssoverwrite @ context='unsafe'}
  </style>
  
  <div class="container-fluid ${properties.classid }">
    <div class="row bg-light-grey">
      <div class="container">
        <div class="relative overflow-hidden">
          <!-- side scroll -->
          <div class="pn-ProductNav_Wrapper col-sm-11">
            <div id="pnProductNav" class="pn-ProductNav  slider-wrapper p-vertical-s">
              <div id="pnProductNavContents" class="pn-ProductNav_Contents" data-sly-use.component="com.usgbv3.core.components.ProductCharacteristicComponent">
  
                <sly data-sly-list.product="${component.productList}">
                  ${product.link @ context='unsafe'}
                  <a class="pn-ProductNav_Link" href="">
                    <div class="group">
                        <label class="fs-3">${product.title}</label>
                        <h5>
                          <sly data-sly-test="${product.icon}">
                            <span class="icon icon-left-0 ${product.icon} color-primary-green p-right-xxs"></span>
                          </sly>
                          ${product.description}
                        </h5>
                    </div>
                  </a>
                </sly>
              </div>
            </div>
            <button id="pnAdvancerLeft" class="pn-Advancer pn-Advancer_Left pn-leftArrow" type="button">
              <span class="glyphicon glyphicon-menu-left"></span>
            </button>
            <button id="pnAdvancerRight" class="pn-Advancer pn-Advancer_Right pn-rightArrow" type="button">
              <span class="glyphicon glyphicon-menu-right"></span>
            </button>
          </div>
          <!-- side-scroll -->
  
          <!-- only desktop -->
          <sly data-sly-test="${!properties.hideShoutout}">
  
            <sly data-sly-test.isButtonLink="${properties.displayType == properties.hiddenButtonLink}">
              <sly data-sly-test="${properties.shoutoutLink}">
                <a href="${properties.shoutoutLink @ context='unsafe'}.html" class="col-sm-2  s-items-btn-right text-right hidden-xs ">
                  <div class=" s-items-btn-middle btn btn-top-border ${properties.buttonStyle}">
                    ${properties.buttonText @ context='html'}
                    <span class="glyphicon glyphicon-menu-right"></span>
                  </div>
                </a>
              </sly>
  
            </sly>
  
            <sly data-sly-test="${!isButtonLink}">
              <a href="${properties.shoutoutLink @ context='unsafe'}.html" class="col-sm-2  s-items-btn-right text-right hidden-xs" style="background:transparent url(${properties.shoutoutImgPath @ context='unsafe'}) center center no-repeat; background-size:cover; height:73px;">
                &nbsp;
              </a>
            </sly>
  
          </sly>
        </div>
      </div>
    </div>
  
    <!-- only mobile -->
    <div class="row m-bottom-l visible-xs">
      <sly data-sly-test="${!properties.hideShoutout}">
  
        <sly data-sly-test.isButtonLink="${properties.displayType == properties.hiddenButtonLink}">
          <sly data-sly-test="${properties.shoutoutLink}">
            <a href="${properties.shoutoutLink @ context='unsafe'}.html" class="col-xs-12 p-bottom-m p-top-s bg-white text-center text-sm-right m-top-l">
              <div class="btn btn-top-border ${properties.buttonStyle}">
                ${properties.buttonText @ context='html'}
                <span class="glyphicon glyphicon-menu-right"></span>
              </div>
            </a>
          </sly>
  
        </sly>
  
        <sly data-sly-test="${!isButtonLink}">
          <a href="${properties.shoutoutLink @ context='unsafe'}.html" class="col-xs-12 p-bottom-m p-top-s bg-white text-center text-sm-right m-top-l"
            style="background:transparent url(${properties.shoutoutImgPath @ context='unsafe'}) center center no-repeat; background-size:cover; height:73px;">
            &nbsp;
          </a>
        </sly>
  
      </sly>
  
    </div>
    <!--  only mobile -->
  </div>
  
  
  
  <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.sidescroll'}"
    data-sly-unwrap/>
  
  
  <script>
    if (document.getElementById("pnProductNav")) sideScroll();
  </script>