<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for BU Location/Details Component
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>

<div class="${properties.classid @ context='unsafe'}">
        <div class="col-xs-12 p-no" >
		<div class="map-operate-container" 
        		data-latitude="${properties.buLat @ context='unsafe'}" 
                data-longitude="${properties.buLong @ context='unsafe'}" 
                data-zoom="8" 
                data-icon-url="/content/dam/USGBoral/global/website/image/logo/marker-active.png" 
                data-icon-alt="Map" 
        		data-info-window="<h6 class='ht6 uppercase'>${properties.title @ context='html'}</h6><br>${properties.description @ context='html'}<br/><div class='fa fa-phone icon-size-xs p-right-m'></div><a href='tel:${properties.telephone}'>${properties.telephone @ context='html'}</a><br/><br><div class='fa fa-fax icon-size-xs p-right-m'></div><a href='tel:${properties.fax}'>${properties.fax @ context='html'}</a><br><br><div class='fa fa-envelope icon-size-xs p-right-m'></div><a href='mailto:${properties.email}'>${properties.email @ context='html'}</a><br><br><a href='https://maps.google.com/maps?daddr=${properties.buLat},${properties.buLong}' target='${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype}'> <div class='rounded-corners bg-primary-green p-s text-center color-white bold'> Get Direction </div></a>" >

        <div class="map-canvas" id="map-operate" ></div>
		</div>
	</div>
</div>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.mapoperate'}" data-sly-unwrap/>
<script async="" defer="" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDylpywGh8XxHMztw-kBRtXCnqyAHZqPwQ&amp;callback=initializeMap"></script>