<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>


<!-- second nav -->
	<div class=" navbar-collapse mega-menu-wrapper text-right ${properties.classid}">
		<ul class="nav navbar-nav fs-nav-2 v-line-2 " data-sly-use.component="com.usgbv3.core.components.MegamenuComponent">
        	<sly data-sly-list.megamenu="${component.megamenuList}">

				<li class="nav-dropdown-wrapper mega-dropdown">
                	<sly data-sly-test.noLanding="${megamenu.isNoLandingPage }">
						<a >${megamenu.title}</a>
                    </sly>
                	<sly data-sly-test="${!noLanding }">
						<a href="${megamenu.link @ context='unsafe'}.html">${megamenu.title}</a>
                    </sly>


					<sly data-sly-test="${megamenu.styleType == 'style2' }">

						<div class="mega-dropdown-menu dropdown-show">
                            <div class="row row-eq-height row-wrap m-no p-vertical-5xl p-side-6xl">


								<sly data-sly-list.megamenuchild="${megamenu.child}">

									<div class="col-xs-4 col-sm-4 col-md-3 p-side-m m-bottom-xl mega-dropdown-separator">
                                        <!-- nested row & column -->
                                        <div class="row m-no">
                                            <div class="col-xs-12 p-no">
                                                <!-- content -->
                                                <h5 class="mega-dropdown-menu-head flex-row ht6 bold color-primary-yellow uppercase">
                                                    <a href="${megamenuchild.link @ context='unsafe'}.html" class="flex-row flex-grow-1">
                                                        <span>${megamenuchild.title}</span>
                                                        <span class="align-self-right glyphicon glyphicon-menu-right"></span>
                                                    </a>
                                                </h5>
                                                <ul class="mega-dropdown-menu-list m-top-m m-bottom-xl p-right-l">

													<sly data-sly-list.megamenugrandchild="${megamenuchild.child}">

														<li><a href="${megamenugrandchild.link @ context='unsafe'}.html">${megamenugrandchild.title @ context='html'}</a></li>

                                                    </sly>

                                                </ul>
                                                <!-- end content -->
                                            </div>
                                        </div>
                                        <!-- end nested row & column -->
                                    </div>

                                </sly>

                            </div>
                        </div>
                    </sly>

                    <sly data-sly-test="${megamenu.styleType == 'style3' }">

						<div class="mega-dropdown-menu dropdown-show">
                            <div class="row row-eq-height row-wrap m-no p-vertical-5xl p-side-4xl">
        
                                <!-- SPLIT: mobile & tablet 8 by 4, desktop 9 by 3  -->
                                <div class="col-xs-8 col-sm-8 col-md-9 p-no p-side-l" style="border-right: 1px solid white;">
                                    <div class="row row-eq-height row-wrap m-no">


                                        <sly data-sly-list.megamenuchild="${megamenu.child}">

											<div class="col-xs-6 col-sm-6 col-md-4 p-side-m m-bottom-xl mega-dropdown-separator">
                                                <!-- nested row & column -->
                                                <div class="row m-no">
                                                    <div class="col-xs-12 p-no">
                                                        <!-- content -->
                                                        <h5 class="mega-dropdown-menu-head flex-row align-bottom ht6 bold color-primary-yellow uppercase m-bottom-xl">
                                                            <a href="${megamenuchild.link}.html" class="flex-row flex-grow-1 align-bottom">
                                                                <span>${megamenuchild.title @ context='html'}</span>
                                                                <span class="align-self-right glyphicon glyphicon-menu-right"></span>
                                                            </a>
                                                        </h5>
                                                        <!-- end content -->
                                                    </div>
                                                </div>
                                                <!-- end nested row & column -->
                                            </div>

                                        </sly>


                                        <!-- LATEST PROMOTION BLOCK -->

                                        <div class="col-xs-12 col-sm-12 col-md-12 p-no">

                                            <div class="row m-no">
                                                <div class="col-xs-12 col-sm-12 col-md-12 m-bottom-m m-top-m">
                                                    <h5 class="mega-dropdown-menu-side ht6 uppercase">
                                                        <span>${megamenu.bottomSectionTitle @ context='html'}</span>
                                                    </h5>
                                                </div>
                                            </div>
        
                                            <!-- nested row & column -->
                                            <div class="flex-row row m-no">

                                                <sly data-sly-list.bottomSection="${megamenu.bottomPanel}">

													<div class="col-xs-6 col-sm-6 col-md-4 m-bottom-xl m-sm-bottom-xl m-md-bottom-no">
                                                        <div class="bg-white p-xs">
                                                            <a href="${bottomSection.link @ context='unsafe'}.html">
                                                                <div class="m-bottom-xs">
                                                                    <img class="img-responsive" src="${bottomSection.image @ context='unsafe'}" alt="${bottomSection.imgAlt @ context='unsafe'}">
                                                                </div>
                                                                <p class="fs-2 uppercase text-center color-darker-grey m-bottom-xxs"><strong>${bottomSection.title @ context='html'}</strong></p>
                                                                <div class="fs-3 text-center color-darker-grey m-no">${bottomSection.description @ context='html'}</div>
                                                            </a>
                                                        </div>
                                                    </div>
                                       	 		</sly>


                                            </div>
                                            <!-- end nested row & column -->

                                        </div>
                                        <!-- end LATEST PROMOTION BLOCK -->
        
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-3 p-side-3xl">
        
                                    <h5 class="mega-dropdown-menu-side ht6 uppercase">
                                        <span>${megamenu.rightSectionTitle}</span>
                                    </h5>
                                    <ul class="mega-dropdown-menu-sidelist m-top-m m-bottom-xl p-right-l">

                                    	<sly data-sly-list.rightSection="${megamenu.sidePanel}">
                                    		<li class="flex-row flex-grow-1 align-bottom">
                                                <a href="${rightSection.link @ context='unsafe'}.html" class="flex-row flex-grow-1 align-bottom">
                                                    <span>${rightSection.title @ context='html'}</span>
                                                    <span class="align-self-right glyphicon glyphicon-menu-right"></span>
                                                </a>
                                            </li>

                                        </sly>

                                    </ul>
        
                                </div>
                                <!-- end SPLIT: mobile & tablet 9 by 3, desktop 10 by 2  -->
        
                            </div>
                        </div>
                    </sly>

                </li>

            </sly>


		</ul>
	</div>
	<!-- end second nav -->

</div>
<!-- end desktop-nav -->