<link rel="stylesheet" href="/etc/designs/usgb_v3/clientlib/uiux-less-vc.css" type="text/css"> 

<!-- BREADCUMB-BOX -->
<div class="container m-vertical-m ">
	<div class="row">
		<div class="col-xs-12">
			<div class="breadcrumb-box">
				<ol class="breadcrumb m-no p-no bg-white">
					<li>USG BORAL</li>
					<li class="active">
						<b>My Bookmark</b>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- BREADCUMB-BOX END -->


<!-- TITLE -->
<div class="container m-vertical-m">
	<div class="row">
		<div class="col-xs-12">
			<h4 class="ht4 uppercase color-darker-grey">Bookmark</h4>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
		</div>
	</div>
</div>
<!-- TITLE END -->


<div class="container m-vertical-m">
	<div class="row">
		<div class="col-xs-12 bookmark-wrap">
			<!-- SEARCH CONTENT -->
			<div class="relevant-content">
				<div class="search-filter-sort justify-end">
					<!-- SORT BY -->
					<div class="dropdown dp-form d-small m-bottom-3xl float-right" style="max-width: 280px;">
						<button class="btn btn-default color-dark-grey dropdown-toggle text-left dp-clickable" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="dp-text">A - Z</span>
							<input type="hidden" name="selectSortType" value="a_z">
							<span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
						</button>
						<ul class="dropdown-menu dp-list" aria-labelledby="dropdownMenu1">
							<li>
								<a data-val="a_z">A - Z</a>
							</li>
							<li>
								<a data-val="z_a">Z - A</a>
							</li>
							<li>
								<a data-val="latest">Latest to oldest</a>
							</li>
							<li>
								<a data-val="oldest">Oldest to latest</a>
							</li>
						</ul>
					</div>
	
					<div class="dropdown dp-form-mobile dropdown-menu-right m-vertical-m d-small">
						<select class="btn-default">
							<option value="a_z">A - Z</option>
							<option value="z_a">Z - A</option>
							<option value="latest">Latest to oldest</option>
							<option value="oldest">Oldest to latest</option>
						</select>
					</div>
					<!-- END SORT BY -->
	
					<!-- filter -->
					<a href="#" class="filter-icon btn visible-xs btn-smd m-left-m">
						<span class="color-primary-green glyphicon glyphicon-filter"></span>
					</a>
					<!-- end filter -->
				</div>
				<div class="inner">
					<div class="each">
						<div class="left">
							<div class="thumbs">
								<a href="#">
									<img src="https://dummyimage.com/250x145/000000/fff">
								</a>
							</div>
						</div>
						<div class="right">
							<a href="#">
								<div class="content p-left-l">
									<h6 class="headline ht6 uppercase m-bottom-xxs">Sonatex Colour Guide</h6>
									<p class="description m-no">
										Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
									</p>
								</div>
							</a>
						</div>
						<div class="p-left-l">
							<button class="btn btn-brand-default button-green" data-toggle="modal" data-target=".bookmark-delele"> <span class="hidden-xs">REMOVE</span>
								<i class="icon-size-xs fa fa-trash-o visible-xs"></i>
							</button>
						</div>
					</div>
					<div class="each">
						<div class="left">
							<div class="thumbs">
								<a href="#">
									<img src="https://dummyimage.com/250x145/000000/fff">
								</a>
							</div>
						</div>
						<div class="right">
							<a href="#">
								<div class="content p-left-l">
									<h6 class="headline ht6 uppercase m-bottom-xxs">Sonatex Colour Guide</h6>
									<p class="description m-no">
										Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
									</p>
								</div>
							</a>
						</div>
						<div class="p-left-l">
							<button class="btn btn-brand-default button-green" data-toggle="modal" data-target=".bookmark-delele"> <span class="hidden-xs">REMOVE</span>
								<i class="icon-size-xs fa fa-trash-o visible-xs"></i>
							</button>
						</div>
					</div>
					<div class="each">
						<div class="left">
							<div class="thumbs">
								<a href="#">
									<img src="https://dummyimage.com/250x145/000000/fff">
								</a>
							</div>
						</div>
						<div class="right">
							<a href="#">
								<div class="content p-left-l">
									<h6 class="headline ht6 uppercase m-bottom-xxs">Sonatex Colour Guide</h6>
									<p class="description m-no">
										Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
									</p>
								</div>
							</a>
						</div>
						<div class="p-left-l">
							<button class="btn btn-brand-default button-green" data-toggle="modal" data-target=".bookmark-delele"> <span class="hidden-xs">REMOVE</span>
								<i class="icon-size-xs fa fa-trash-o visible-xs"></i>
							</button>
						</div>
					</div>
					<div class="each">
						<div class="left">
							<div class="thumbs">
								<a href="#">
									<img src="https://dummyimage.com/250x145/000000/fff">
								</a>
							</div>
						</div>
						<div class="right">
							<a href="#">
								<div class="content p-left-l">
									<h6 class="headline ht6 uppercase m-bottom-xxs">Sonatex Colour Guide</h6>
									<p class="description m-no">
										Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
									</p>
								</div>
							</a>
						</div>
						<div class="p-left-l">
							<button class="btn btn-brand-default button-green" data-toggle="modal" data-target=".bookmark-delele"> <span class="hidden-xs">REMOVE</span>
								<i class="icon-size-xs fa fa-trash-o visible-xs"></i>
							</button>
						</div>
					</div>
					<div class="each">
						<div class="left">
							<div class="thumbs">
								<a href="#">
									<img src="https://dummyimage.com/250x145/000000/fff">
								</a>
							</div>
						</div>
						<div class="right">
							<a href="#">
								<div class="content p-left-l">
									<h6 class="headline ht6 uppercase m-bottom-xxs">Sonatex Colour Guide</h6>
									<p class="description m-no">
										Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
									</p>
								</div>
							</a>
						</div>
						<div class="p-left-l">
							<button class="btn btn-brand-default button-green" data-toggle="modal" data-target=".bookmark-delele"> <span class="hidden-xs">REMOVE</span>
								<i class="icon-size-xs fa fa-trash-o visible-xs"></i>
							</button>
						</div>
					</div>
					<div class="each">
						<div class="left">
							<div class="thumbs">
								<a href="#">
									<img src="https://dummyimage.com/250x145/000000/fff">
								</a>
							</div>
						</div>
						<div class="right">
							<a href="#">
								<div class="content p-left-l">
									<h6 class="headline ht6 uppercase m-bottom-xxs">Sonatex Colour Guide</h6>
									<p class="description m-no">
										Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
									</p>
								</div>
							</a>
						</div>
						<div class="p-left-l">
							<button class="btn btn-brand-default button-green" data-toggle="modal" data-target=".bookmark-delele"> <span class="hidden-xs">REMOVE</span>
								<i class="icon-size-xs fa fa-trash-o visible-xs"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- END SEARCH CONTENT -->

			<!-- SEARCH PAGINATION -->
			<hr />
			<nav aria-label="Page navigation">
				<ul class="pagination pull-right m-top-no">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&lt;</span>
						</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&gt;</span>
						</a>
					</li>
				</ul>
			</nav>
			<div class="m-vertical-xxs btn-delete" data-toggle="modal" data-target=".bookmark-delele-all">
				<span class="icon-color-darker-grey icon-size-xs fa fa-trash-o m-right-xxs"></span> Delete all
			</div>
			<!-- END SEARCH PAGINATION -->
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center m-bottom-4xl">
			<p>Share on:</p>
			<div>
				<a href="#" class="icon-color-darker-grey icon-size fa fa-facebook-square m-right-xxs"></a>
				<a href="#" class="icon-color-darker-grey icon-size fa fa-twitter-square m-right-xxs"></a>
				<a href="#" class="icon-color-darker-grey icon-size fa fa-linkedin-square m-right-xxs"></a>
				<a href="#" class="icon-color-darker-grey icon-size fa fa-envelope-square m-right-xxss"></a>
			</div>
		</div>
	</div>
</div>
 
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}" data-sly-unwrap/>