<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for Resource Component
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>

    <div class="${properties.classid @ context='unsafe'}" data-sly-use.component="com.usgbv3.core.components.ResourcesComponent" >

    	<div class="row m-md-bottom-4xl">
			<div class="col-xs-12 m-bottom-s">
				<h2 class="uppercase color-darker-grey ht5">${properties.title @ context='html'}</h2>
			</div>
			<div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">${properties.description @ context='html'}</div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="filter-content-in-category resources-filter text-left">
                            <div class="dropdown dp-form p-no float-right hidden-xs" style="min-width: 280px; display: inline-block;">
                                <button class="btn btn-default color-dark-grey dropdown-toggle text-left dp-clickable" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <span class="dp-text">All</span>
                                    <input type="hidden" name="selectenquirytype" value="all">
                                    <span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
                                </button>
                                <ul class="dropdown-menu dp-list" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a data-val="all">Show All</a>
                                    </li>
                                    <sly data-sly-list.resource="${component.filterResourceList}">
                                        <li>
                                            <a data-val="${resource.name  @ context='html'}">${resource.title  @ context='html'}</a>
                                        </li>
                                    </sly>
                                </ul>
                            </div>
                            <div class="dropdown dp-form-mobile dropdown-menu-right m-vertical-m d-small width-full visible-xs">
                                <select class="btn-default">
                                    <option value="all">All</option>
                                    <sly data-sly-list.resource="${component.filterResourceList}">
                                        <li>
                                            <option value="${resource.name @ context='html'}">${resource.title  @ context='html'}</option>
                                        </li>
                                    </sly>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>


		<sly data-sly-test.isAccordion="${properties.showAccordion}">

			<!-- accordion collapse test -->
                <div class="accordion-item-wrapper">
                    <div id="accordion">
        
                        <sly data-sly-list.resourceCategory="${component.resourceList}">
        
                            <div data-resource-category="${resourceCategory.tag.name @ context='unsafe'}" class="accordion-item  ">
        
                                <div class=" bg-light-grey p-m panel-heading rounded-corners m-bottom-xl m-md-bottom-m ${resourceCategoryList.first ? '' : 'collapsed'}" data-toggle="collapse" data-parent="#accordion"
                                    data-target="#${resourceCategory.tag.name @ context='unsafe'}">
                                    <h2 class="ht6 accordion-toggle bold color-darker-grey">${resourceCategory.tag.title @ context='unsafe'} </h2>
                                </div>
            
                                <div id="${resourceCategory.tag.name @ context='unsafe'}" class="panel-collapse collapse ${resourceCategoryList.first ? 'in' : ''}">
                                    <div class="bg-white">
                                        <div class="row ">
                                            <div class="col-xs-12">
        
        
                                                <sly data-sly-list.resource="${resourceCategory.pages}">
        
                                                    <div class="col-sm-4 col-xs-12 p-md-m p-xxs">
                                                        <div class="custom-block" data-resource-category="${resource.tag.name @ context='unsafe'}">
                                                            <div class="c-download-add-submittal-list m-bottom-xxs m-sm-bottom-m">
                                                                <div class="each">
                
                                                                    <div class="content-left">
                                                                        <img src="${resource.image @ context='unsafe'}">
                                                                        <div class=" text-content fs-2 p-left-m">
                                                                            <span class="resource-title bold">${resource.title @ context='html'}</span>
                                                                            <br/>
                                                                            <p class="limit"> ${resource.description @ context='html'} </p>
                                                                        </div>
                                                                    </div>
                
                                                                    <!-- mobile only -->
                                                                    <div class="two-btn-m visible-xs">
                                                                        <a href="${resource.link @ context='unsafe'}" class="btn button-grey btn-sm">
                                                                            <span class="glyphicon glyphicon-arrow-down "></span>
                                                                        </a>
                                                                        <a href="#" class="btn button-grey btn-sm">
                                                                            <span class="glyphicon glyphicon-plus"></span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                
                                                                <!-- desktop only -->
                                                                <div class="each hidden-xs">
                                                                    <div class="two-btn">
                                                                        <a href="${resource.link @ context='unsafe'}" class="btn-one">View</a>
                                                                        <a href="${resource.link @ context='unsafe'}" class="btn-two cta-add-submittal disabled">
                                                                            <span class="glyphicon glyphicon-plus"></span>Add to submittal</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr class="visible-xs"/>
                                                        </div>
                                                    </div>
                                                </sly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </sly>
                    </div>
                </div>
                <!-- accordion end -->
        </sly>

        <sly data-sly-test="${!isAccordion}">
			<div class="row m-no">
                <sly data-sly-list.resourceCategory="${component.resourceList}">
                    <sly data-sly-list.resource="${resourceCategory.pages}">

                        <div class="custom-block col-sm-4 col-xs-12 p-md-m p-xxs resources-content-box" data-resource-category="${resourceCategory.tag.name @ context='unsafe'}">
                            <div class="c-download-add-submittal-list m-bottom-xxs m-sm-bottom-m">
        
                                <div class="each">
            
                                    <div class="content-left">
                                        <img src="${resource.image @ context='unsafe'}">
                                        <div class=" text-content fs-2 p-left-m">
                                            <span class="resource-title bold">${resource.title @ context='html'}</span>
                                            <br>
                                            <div class="limit">${resource.description @ context='html'}</div>
                                        </div>
                                    </div>
                                    <!-- mobile only -->
                                    <div class="two-btn-m visible-xs">
                                        <a href="${resource.link @ context='unsafe'}" target="${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype}" class="btn button-grey btn-sm">
                                            <span class="glyphicon glyphicon-arrow-down "></span>
                                        </a>
                                        <a href="#" class="btn button-grey btn-sm">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    </div>
                                </div>
            
                                <!-- desktop only -->
                                <div class="each hidden-xs">
                                    <div class="two-btn">
                                        <a href="${resource.link @ context='unsafe'}" class="btn-one">View</a>
                                        <a href="${resource.link @ context='unsafe'}" class="btn-two cta-add-submittal disabled">
                                            <span class="glyphicon glyphicon-plus"></span>Add to submittal</a>
                                    </div>
                                </div>
                            </div>
                            <hr class="visible-xs">
                        </div>
    
                    </sly>
                </sly>
            </div>
        </sly>
    </div>
    
    <div id="resources-filter-add-submittal-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="addSubmittalModalLabel">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document" width="750px">
                <div class="modal-content">
                    <div class="modal-body m-vertical-s">
                        <div class="row">
                            <div class="col-md-12" align="center">
                                <div class="svg-box icon-correct">
                                    <svg class="circular green-stroke">
                                        <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                                    </svg>
                                    <svg class="checkmark green-stroke">
                                        <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-489.57,-205.679)">
                                            <path class="checkmark__check" fill="none" d="M616.306,283.025L634.087,300.805L673.361,261.53" />
                                        </g>
                                    </svg>
                                </div>
                                <h4 class="ht4 uppercase color-primary-green m-bottom-l">Successful!</h4>
                                <p class="color-dark-grey">Added To My Submittal</p>
                                <br>
                                <p class="text-center m-bottom-l">
                                    <button data-dismiss="modal" class="btn btn-brand-default button-green">CLOSE</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="resources-filter-signin-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="signinModalLabel">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document" width="750px">
                <div class="modal-content">
                    <div class="modal-body m-vertical-s">
                        <div class="row">
                            <div class="col-md-12" align="center">
                                <div class="svg-box">
                                    <svg class="circular yellow-stroke">
                                        <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                                    </svg>
                                    <svg class="alert-sign yellow-stroke">
                                        <g transform="matrix(1,0,0,1,-615.516,-257.346)">
                                            <g transform="matrix(0.56541,-0.56541,0.56541,0.56541,93.7153,495.69)">
                                                <path class="line" d="M634.087,300.805L673.361,261.53" fill="none" />
                                            </g>
                                            <g transform="matrix(2.27612,-2.46519e-32,0,2.27612,-792.339,-404.147)">
                                                <circle class="dot" cx="621.52" cy="316.126" r="1.318" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <h4 class="ht4 uppercase color-primary-green">Sign in?</h4>
                                <p class="color-dark-grey">Please login to enable this feature.</p>
                                <br>
                                <p class="text-center m-bottom-l">
                                    <button class="btn btn-brand-default button-green cta-login">Login Now</button>
                                    <button data-dismiss="modal" class="btn btn-brand-default button-green">CLOSE</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.js @ categories='uiux.filtersort'}"/>