
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @ categories='uiux.less.sherif'}" data-sly-unwrap/>

<!-- PAGE CONTENT -->
<div class="page-content">


    <!-- ORDER History Wrapper-->
    <div class="container m-sm-top-l order-history-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <div class="sample-orders-cart-sort">
                    <!-- <span>view by </span> -->
                    <div class="search-filter-sort justify-end">
                        <div class="dropdown dp-form d-small">
                            <button class="btn btn-default color-dark-grey dropdown-toggle text-left dp-clickable m-bottom-l" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="dp-text">Latest to oldest</span>
                                <input type="hidden" name="selectSortType" value="latest">
                                <span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
                            </button>
                            <ul class="dropdown-menu dp-list" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a data-sortby="latest">Latest to oldest</a>
                                </li>
                                <li>
                                    <a data-sortby="oldest">Oldest to latest</a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown dp-form-mobile dropdown-menu-right m-vertical-m d-small">
                            <select class="btn-default">
                                <option value="latest">Latest to oldest</option>
                                <option value="oldest">Oldest to latest</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-primary-green rounded-top p-m m-no order-header">
            <div class="col-xs-12 col-sm-3 uppercase color-white text-center">
                <h6 class="ht6">Order No.</h6>
            </div>
            <div class="col-xs-12 col-sm-3 uppercase color-white text-center">
                <h6 class="ht6">Order Date</h6>
            </div>
            <div class="col-xs-12 col-sm-3 uppercase color-white">

            </div>
            <div class="col-xs-12 col-sm-3 uppercase color-white text-center">
                <h6 class="ht6">Order Status</h6>
            </div>
        </div>
        <div class="row m-no m-bottom-5xl">
            <div class="col">
                <div class="orders-history-wrapper">

                </div>
            </div>
        </div>
    </div>
    <!-- /END ORDER History Wrapper-->

</div>
<!-- END of PAGE CONTENT -->


<!-- Sample Order History Template -->
<script id="orderHistoryTemplate" type="text/x-handlebars-template">

    {{#if this.orderHistoryEmpty}}

        <div class="row">
            <div class="col">
                <div class="cart-empty text-center m-top-l">
                    <h4 class="color-grey">Sample Orders History Empty.</h4>
                </div>
            </div>
        </div>

    {{else}}

        {{#each this.orderSamplesList}}
        <div class="row order-item accordionfc m-no" data-target="#{{order_id}}" data-toggle="collapse">
            <div class="col-xs-12 col-sm-12">

                <div class="row order-item-info p-vertical-m m-no">
                    <div class="col-xs-12 col-sm-3">
                        <div class="order-no">
                            <span class="fs-2"><b class="visible-xs-inline">Order No:</b> {{order_id}}</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="order-date">
                            <span class="fs-2"><b class="visible-xs-inline">Order Date:</b> {{display_date}}</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3"></div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="order-status heading fs-2 collapsed" aria-expanded="false">
                            <span><b class="visible-xs-inline">Order Status:</b> {{status}}</span>
                            <span class="color-primary-green fs-3 glyphicon glyphicon-minus"></span>
                            <span class="color-primary-green fs-3 glyphicon glyphicon-plus"></span>
                        </div>
                    </div>
                </div>

                <div class="row order-item-desc m-no">
                    <div class="col-xs-12">
                        <div id="{{order_id}}" class="row collapse p-sm-xl bg-lighter-grey order-item-desc-info fs-2">
                            
                            <div class="col">
                                
                                <div class="row m-no">
                                        <div class="col-xs-12 col-sm-1"></div>
                                        <div class="col-xs-8 col-sm-8">
                                            <b>Item:</b>
                                            {{#each productList}}
                                                <div class="item-name">
                                                    <span>{{product_name}}</span>
                                                </div>
                                            {{/each}}
                                            <br>
                                            <b>Ship to:</b>
                                            <div class="item-ship-to-address">
                                                <span>{{shippingDetail.ship_address1}},</span>
                                                </br>
                                                <span>{{shippingDetail.ship_address2}},</span>
                                                </br>
                                                <span>{{shippingDetail.ship_postcode}} {{shippingDetail.ship_city}}, {{shippingDetail.ship_country}} </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-2 text-center">
                                            <b>Quantity</b>
                                            {{#each productList}}
                                                <div class="item-quantity"><span>{{product_quantity}}</span></div>
                                            {{/each}}
                                        </div>
                                        <div class="col-xs-12 col-sm-1"></div>
                                </div>

                                {{#if orderStatusActive}}
                                    <div class="row m-no">
                                        <div class="col-xs-12 col-sm-9"></div>
                                        <div class="col-xs-12 col-sm-3">
                                            <a href="#" data-orderid="{{order_id}}" class="cancel-order-cta btn btn-brand-default button-green m-s">Cancel Order</a>
                                        </div>
                                    </div>
                                {{/if}}

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{/each}}

    {{/if}} 

</script>
<!-- /END Sample Order History Template -->



<!-- Confirm cancel order Modal -->
<div id="cancelSampleOrderModal" class="modal fade sample-orders-modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="removeSampleOrderModalLabel">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" role="document" width="750px">
            <div class="modal-content">
                <div class="modal-body m-vertical-s">
                    <div class="row">
                        <div class="col-md-12" align="center">
                            <div class="svg-box">
                                <svg class="circular yellow-stroke">
                                    <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                                </svg>
                                <svg class="alert-sign yellow-stroke">
                                    <g transform="matrix(1,0,0,1,-615.516,-257.346)">
                                        <g transform="matrix(0.56541,-0.56541,0.56541,0.56541,93.7153,495.69)">
                                            <path class="line" d="M634.087,300.805L673.361,261.53" fill="none" />
                                        </g>
                                        <g transform="matrix(2.27612,-2.46519e-32,0,2.27612,-792.339,-404.147)">
                                            <circle class="dot" cx="621.52" cy="316.126" r="1.318" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <h4 class="ht4 uppercase color-primary-green">Are you sure?</h4>
                            <p class="color-dark-grey">Your order request will be cancelled.</p>
                            <br>
                            <p class="text-center m-bottom-l">
                                <button data-dismiss="modal" class="btn btn-brand-default m-right-l">Cancel</button>
                                <button class="btn btn-brand-default button-red cta-confirm-cancel-order">Yes, Cancel it!</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /END Confirm cancel order Modal -->



<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.ordersamplehistory'}" data-sly-unwrap/>