<!-- countries pop up -->
<div class="countries-pop-up hidden">
    <div class="bg-overlay-dark">

        <div class="close-pop-up p-l">
            <a href="#" class="icon-color-white icon-size-xs glyphicon glyphicon-remove"></a>
        </div>

        <div class="container-fluid height-full">
            <div class="container height-full">
                <div class="height-full row">
                    <div class="col-xs-12 height-full p-top-6xl " >
                        <div class="ht4 color-white text-center">${'PLEASE SELECT YOUR COUNTRY OR REGION' @ i18n}</div>
                        <div class="ht5 color-white text-center p-m">${'Country Selection Title' @ i18n}</div>

                        <div class="region-landing--country-list " data-sly-use.component="com.usgbv3.core.components.CountryPopupComponent">

                            <ul>
                                <li>
                                    <img src="/content/dam/USGBoral/Global/Website/Images/v3/global-landing/globe-green.png" alt="Global" class="m-right-m">
                                    <div>
                                        <h6 class="ht6 uppercase color-white">Global</h6>
                                        <a href="/content/usgboral.html?redirect=global" target="_blank" class="fs-2 color-white">English</a>
                                    </div>
                                </li>
                                <sly data-sly-list.country="${component.countryModelList}">
                                    <li>
                                        <img src="${country.damPath}" alt="${country.countryTitle}" class="m-right-m">
                                        <div>
                                            <h6 class="ht6 uppercase color-white">${country.countryTitle}</h6>

                                            <sly data-sly-test.multiLanguage="${country.languageList.size > 1}">
												<ul class="languages">
													<sly data-sly-list.language="${country.languageList}">
														<li><a href="${language.languagePath}.html" target="_blank" class="fs-2 color-white">${language.languageTitle}</a></li>
                                                    </sly>
                                                </ul>
                                            </sly>
                                            <sly data-sly-test="${!multiLanguage}">

                                                <sly data-sly-list.language="${country.languageList}">
													<a href="${language.languagePath}.html" target="_blank" class="fs-2 color-white">${language.languageTitle}</a>
                                                </sly>
                                            </sly>

                                        </div>
                                    </li>
                                </sly>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- end countries pop up -->