<div class="search-pop-up hidden">
    <div class="bg-overlay-dark">

        <div class="close-pop-up p-l">
            <a href="#" class="icon-color-white icon-size-xs glyphicon glyphicon-remove"></a>
        </div>

        <div class="container-fluid flex-column height-full justify-center">
            <div class="row width-full">
                <div class="col-xs-12 p-no text-center">

                    <h4 class="color-white ht4 m-bottom-m text-center uppercase">Lorem IPSUM DOLOR SIT AMERS</h4>

                    <form>
                        <div class="flex-row justify-center m-bottom-m">

                            <div class="flex-row input-same-line line-dark-grey-3">
                                <div class="color-dark-grey search-box">
                                    <input id="header-search-input" placeholder="Search" data-autocomplete="/bin/usgb/v3/searchAutoComplete" autocomplete="off">
                                <div class="autocomplete" style="top:40px;left:15px;width:568px;"></div><div class="autocomplete" style="top:40px;left:15px;width:568px;"></div></div>
                                <div class="side-button">
                                    <button type="submit" class="bg-primary-yellow p-side-m p-vertical-s search-btn">
                                        <span class="color-dark-grey glyphicon glyphicon-search m-no p-no"></span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>

                    <p class="color-white fs-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>

                </div>
            </div>
        </div>

    </div>

</div>