<!-- FOOTER -->
<footer class="footer">
    <div class="container-fluid">
        <div class="container">
            <!-- row 1 -->
            <div class="row m-no hidden-xs p-top-3xl">
                <div class="col-xs-12 p-no">
                    <div class="row">
                        <div class="col-sm-2 color-white">
                            <h2 class="footer-title fs-2 uppercase color-white ">
                                <span class="yellow-label"></span>products
                            </h2>
                            <ul>
                                <li class="active">
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 1</a>
                                </li>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 2</a>
                                </li>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 3</a>
                                </li>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 4</a>
                                </li>
                            </ul>
                            <h2 class="footer-title fs-2 uppercase color-white m-top-l">
                                <span class="yellow-label"></span>solutions
                            </h2>
                            <ul>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 1</a>
                                </li>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 2</a>
                                </li>              
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h2 class="color-white uppercase footer-title fs-2">
                                <span class="yellow-label"></span>inspiration
                            </h2>
                            <ul>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 1</a>
                                </li>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 2</a>
                                </li> 
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 3</a>
                                </li>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 4</a>
                                </li> 
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 1</a>
                                </li>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 2</a>
                                </li> 
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h2 class="color-white uppercase footer-title fs-2">
                                <span class="yellow-label"></span>tool &amp; resources
                            </h2>
                            <ul>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 1</a>
                                </li>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 2</a>
                                </li> 
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 3</a>
                                </li>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 4</a>
                                </li> 
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h2 class="footer-title fs-2 uppercase color-white ">
                                <span class="yellow-label"></span>about usg boral
                            </h2>
                            <ul>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 1</a>
                                </li>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 2</a>
                                </li>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 3</a>
                                </li>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 4</a>
                                </li>
                            </ul>
                            <h2 class="footer-title fs-2 uppercase color-white  m-top-l ">
                                <span class="yellow-label"></span>what's new
                            </h2>
                            <ul>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 1</a>
                                </li>
                                <li>
                                    <a href="#" class="color-white hover-color-primary-yellow">Page 2</a>
                                </li>     
                            </ul> 
                        </div>
                        <div class="col-sm-4">


                            <h2 class="m-bottom-xxs bold color-white uppercase fs-2">contact usg boral</h2>
                            

                            <form>
                                <div class="dp-form dropdown m-bottom-s m-right-s" style="min-width: 220px;">
                                    <button class="btn btn-default color-dark-grey dropdown-toggle text-left dp-clickable" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <span class="dp-text">Select Enquiry Type</span>
                                        <input type="hidden" name="selectenquirytype" value="">
                                        <span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
                                    </button>
                                    <ul class="dropdown-menu dp-list" aria-labelledby="dropdownMenu1">
                                        <li>
                                            <a data-val="Lorem Ipsum">Lorem Ipsum</a>
                                        </li>
                                        <li>
                                            <a data-val="Quisque imperdiet">Quisque imperdiet</a>
                                        </li>
                                        <li>
                                            <a data-val="Quisque a tortor">Quisque a tortor</a>
                                        </li>
                                        <li>
                                            <a data-val="Proin ut elit">Proin ut elit</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dp-form-mobile dropdown m-right-s m-bottom-s" style="min-width: 220px;">
                                    <select class="btn-default">
                                        <option value="Select Enquiry Type">Select Enquiry Type</option>
                                        <option value="Lorem Ipsum">Lorem Ipsum</option>
                                        <option value="Quisque imperdiet">Quisque imperdiet</option>
                                        <option value="Quisque a tortor">Quisque a tortor</option>
                                        <option value="Proin ut elit">Proin ut elit</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-brand-default button-yellow m-top-no">CONTACT US</button>
                            </form>



                            <hr class="dark-2-grey" />

                            <h2 class="m-top-l m-bottom-xxs bold color-white uppercase fs-2">Where to buy</h2>
                            
                            <form>
                                <div class="search-box color-dark-grey two-icons">
                                    <input class="" placeholder="City, Postcode, Store name or address" aria-label="Text input with multiple buttons">
                                    <div class="mini-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class=" color-dark-grey glyphicon glyphicon-menu-hamburger p-no m-no"></span>
                                    </div>
                                    <ul class="dropdown-menu dp-list" aria-labelledby="dropdownMenu1" style="z-index:100">
                                        <li>
                                            <a data-val="Lorem Ipsum">Lorem Ipsum</a>
                                        </li>
                                        <li>
                                            <a data-val="Quisque imperdiet">Quisque imperdiet</a>
                                        </li>
                                        <li>
                                            <a data-val="Quisque a tortor">Quisque a tortor</a>
                                        </li>
                                        <li>
                                            <a data-val="Proin ut elit">Proin ut elit</a>
                                        </li>
                                    </ul>
                                    <button type="submit" class=" search-btn">
                                        <span class="color-dark-grey glyphicon glyphicon-search p-no m-no"></span>
                                    </button>
                                </div>
                            </form>

                            <h2 class="fs-3 m-top-s m-bottom-xxs color-white uppercase fs-2">follow us on:</h2>
                            <div>
                                <a href="#" class="icon-color-white icon-size fa fa-facebook-square m-right-xxs"></a>
                                <a href="#" class="icon-color-white icon-size fa fa-twitter-square m-right-xxs"></a>
                                <a href="#" class="icon-color-white icon-size fa fa-linkedin-square m-right-xxs"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row 2 -->
            <div class="row">

                <div class="col-xs-12 p-no">
                    <div class="country-dropdown nav-dropdown-wrapper dropdown m-bottom-m">
                        <a href="#">
                            <div class="fs-3 country-wrapper color-white">
                                <img class="flag-icon v-align-middle" src="/content/dam/USGBoral/Global/Website/Images/component/allsample/my-icon.png"> Malaysia / english
                                <span class="m-left-xxs glyphicon glyphicon-menu-right v-align-middle"></span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 p-no">
                    <p class="color-white fs-3">&#0169; 2017 USG Boral. All rights reserved. USG BORAL and INNOVATION INSPIRED BY YOU are trademarks of USG Boral Building Products or one or more of its affiliates. SHEETROCK is a registered trademark of United States Gypsum Company and used under license. *Lightweight claims based on comparison of USG Boral 10mm and 13mm SHEETROCK plasterboardwith competitive 10mm and 13mm plasterboard produced in Australia as at 1 April 2016.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END of FOOTER -->