<!-- PAGE CONTENT -->
	<div class="page-content">

		<!-- SECTION 1 -->
		<div class="container-fluid">
			<div class="row relative">

				<div style="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-carousel-banner.jpg') center right no-repeat; background-size:cover;" data-img-mobile="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/m-bg-carousel-banner.jpg') bottom right no-repeat; background-size:cover;">
					<div class="container">
						<div class="row p-top-5xl p-bottom-5xl m-no">
							<div class="c-flex-items col-xs-12">

								<div class="item-stretch banner-small">
									<div class=" relative m-left-s m-sm-left-3xl text-left ">
										<h2 class="ht1 uppercase color-white sanimated sfadeInDown">
											<span class="yellow-label"></span>
											shaftliner</h2>
										<p class="color-white sanimated sfadeInUp delay-400px-ms col-xs-7 hidden-xs"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod empor incididunt ut labore et dtolore magna
											aliqua.
										</p>
									</div>
								</div>

								<div class="item-fix p-no text-center hidden-xs">
									<div class="m-bottom-xxs">
										<a href="#" class="btn btn-brand-default button-yellow width-full ">contact us</a>
									</div>
									<div>
										<a href="#" class="btn btn-brand-default button-yellow  width-full">where to buy</a>
									</div>
								</div>


							</div>
						</div>
					</div>

					<div class="ico-indicator">
						<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/indicator-btn.png">
					</div>

				</div>
			</div>
		</div>



		<!-- BREADCUMB-BOX -->
		<div class="container ">
			<div class="row m-vertical-m hidden-xs">
				<div class="col-xs-12">
					<div class=" breadcrumb-box">
						<ol class="breadcrumb m-no p-no bg-white">
							<li>Products</li>
							<li>Ceilings</li>
							<li>Metal Ceilings</li>
							<li>HIGHLAND
								<sup>TM</sup> CEILING SYSTEM</li>
							<li class="active">
								<b>Shaftliner</b>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!-- BREADCUMB-BOX END -->


		<!-- SECTION 2 -->
		<div class="container">
			<div class="row m-top-xl m-sm-top-3xl">
				<div class="col-xs-12">
					<img class="img-responsive" src="/content/dam/USGBoral/Global/Website/Images/component/allsample/system-content.jpg" alt="">
				</div>
				<div class="col-xs-12 m-top-4xl m-sm-top-5xl m-bottom-s">
					<h2 class="ht4 uppercase color-darker-grey">Description</h2>
				</div>

				<div class="col-xs-12">
					<p class="color-darker-grey m-bottom-no">BORAL Shaftliner is developed for use in Boral Shaft Liner Cavity Wall system to provide fire protection for elevator
						shaft, vertical ducts and other application, when installation is posible from one side only. Boral Shaftliner is manufactured
						in 600mm width and recognised by its blue/ grey liner paper.</p>
				</div>
			</div>

		</div>
		<!-- SECTION 1 END -->

		<!-- section 2 -->
		<div class="container">
			<div class="row m-top-4xl m-sm-top-5xl m-bottom-m">
				<div class="col-xs-12">
					<h2 class="ht5 uppercase color-darker-grey">Product Data</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="table-responsive col-xs-9">
				<table class="table product-data-table">
					<thead>
						<tr>
							<th class=" rounded-top-left ">Thickness</th>
							<th>Metric(MM)</th>
							<th class=" rounded-top-right">25 MM</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Edge Details:</td>
							<td class="custom-width">Bevelled Edge</td>
							<td>Yes</td>
						</tr>
						<tr>
							<td>Width (mm):</td>
							<td colspan="2">600</td>
						</tr>
						<tr>
							<td>Legth (mm):</td>
							<td colspan="2">3600</td>
						</tr>
						<tr>
							<td> Weight: </td>
							<td colspan="2">25mm = 20.50kg/m2 </td>
						</tr>
						<tr>
							<td>Product Standard:</td>
							<td colspan="2">BS 1230 part 1, ASTM C442 </td>
						</tr>
						<tr>
							<td> Product Testing: </td>
							<td colspan="2">BS 476 part 4 / part 6 / part, ASTM C473</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- section 2 -->


		<!-- SECTION 3 -->
		<div class="container">
			<div class="row  m-top-4xl m-sm-top-5xl">
				<div class="col-xs-12">
					<h2 class="ht5 uppercase color-darker-grey m-bottom-s">how to specify this product:</h2>

					<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
						natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
						eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
						arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
						tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
						eu, consequat vitae, eleifend ac, </p>
				</div>
			</div>

		</div>
		<!-- SECTION 3 END -->

		<!-- section 4 -->
		<div class="container-fluid">
			<div class="row bg-light-grey m-top-4xxl  m-sm-top-5xl ">

				<div class="container">
					<div class="row m-top-4xl m-sm-top-5xl">
						<div class="col-xs-12">
							<!-- text alignment: text-left, text-center, text-right -->
							<!-- vertical alignment: va-top, va-middle, va-bottom -->
							<!-- horizontal alignment: ha-left, ha-center, ha-right -->
							<h2 class="ht4 uppercase text-center color-darker-grey hidden-xs">related items</h2>
							<h2 class="ht4 uppercase text-center color-darker-grey visible-xs">looking for other options</h2>
							<p class="text-center color-darker-grey p-s p-md-no">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
						</div>
					</div>
					<!-- carousel items -->
					<div class="row m-bottom-4xl m-sm-bottom-5xl">
						<div class="feature-card-wrapper">
							<!-- slick div -->
							<div class="carousel-feature-card" data-slick='{
										"dots": true,
										"infinite": true,
										"speed": 300,
										"slidesToShow": 5,
										"slidesToScroll": 1,
										"responsive": [
											{
												"breakpoint": 992,
												"settings": {
													"slidesToShow": 4
												}
											},
											{
												"breakpoint": 768,
												"settings": {
													"slidesToShow": 3
												}
											},
											{
												"breakpoint": 600,
												"settings": {
													"slidesToShow": 1
												}
											}
										]
									}'>
								<!-- featured items start -->
								<!-- 1 -->
								<div class="col-xs-12 col-sm-4 m-s">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m ht6 color-darker-grey text-center bold">Hard Finish</h2>
												<p class="color-darker-grey p-left-3xl p-right-3xl text-center bold"> Plaster Compound</p>
											</div>
											<span class="bg-box-hover">
											</span>
										</div>
									</a>
								</div>
								<!-- 1 end -->
								<!-- 2 -->
								<div class="col-xs-12 col-sm-4 m-s">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m ht6 color-darker-grey text-center bold">EnduraTile™ - </h2>
												<p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Lay-In Ceiling Panel</p>
											</div>
											<span class="bg-box-hover">
											</span>
										</div>
									</a>
								</div>
								<!-- 2 end -->
								<!-- 3 -->
								<div class="col-xs-12 col-sm-4 m-s">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m ht6 color-darker-grey text-center bold">EnduraTile™ - </h2>
												<p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Lay-In Ceiling Panel</p>
											</div>
											<span class="bg-box-hover">
											</span>
										</div>
									</a>
								</div>
								<!-- 3 end -->
								<!-- 4 -->
								<div class="col-xs-12 col-sm-4 m-s">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m ht6 color-darker-grey text-center bold">DIY Total</h2>
												<p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Joint Finish</p>
											</div>
											<span class="bg-box-hover">
											</span>
										</div>
									</a>
								</div>
								<!-- 4 end -->
								<!-- 5-->
								<div class="col-xs-12 col-sm-4 m-s">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m ht6 color-darker-grey text-center bold">EnduraTile™ - </h2>
												<p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Lay-In Ceiling Panel</p>
											</div>
											<span class="bg-box-hover">
											</span>
										</div>
									</a>
								</div>
								<!-- 5 end -->
								<!--6-->
								<div class="col-xs-12 col-sm-4 m-s">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m ht6 color-darker-grey text-center bold">EnduraTile™ - </h2>
												<p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Lay-In Ceiling Panel</p>
											</div>
											<span class="bg-box-hover">
											</span>
										</div>
									</a>
								</div>
								<!--6 end -->
								<!--7-->
								<div class="col-xs-12 col-sm-4 m-s">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m ht6 color-darker-grey text-center bold">DIY Plasterboard</h2>
												<p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Accessories</p>
											</div>
											<span class="bg-box-hover"> </span>
										</div>
									</a>
								</div>
								<!--7 end -->
								<!--8-->
								<div class="col-xs-12 col-sm-4 m-s">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m ht6 color-darker-grey text-center bold"> SHEETROCK®</h2>
												<p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Wall Board</p>
											</div>
											<span class="bg-box-hover"> </span>
										</div>
									</a>
								</div>
								<!--8 end -->
								<!-- featured items end -->
							</div>
							<!-- slick div end -->
						</div>
					</div>
					<!-- carousel item end -->
				</div>
			</div>
		</div>
		<!-- section 4 end -->



		<!-- SECTION 5-->
		<div class="container-fluid bg-white">
			<div class="row  m-vertical-4xxl m-sm-vertical-5xl ">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 m-bottom-xs">
							<h2 class="ht6 color-darker-grey ">Your browsing history</h2>
						</div>
					</div>
					<!-- carousel items -->
					<div class="row">
						<div class="feature-card-wrapper">
							<!-- slick div -->
							<div class="carousel-feature-card" data-slick='{
							"dots": false,
							"infinite": true,
							"speed": 300,
							"slidesToShow": 5,
							"slidesToScroll": 1,
							"responsive": [
								{
									"breakpoint": 992,
									"settings": {
										"slidesToShow": 4,
										"dots":true
									}
								},
								{
									"breakpoint": 768,
									"settings": {
										"slidesToShow": 3,
										"dots":true
									}
								},
								{
									"breakpoint": 600,
									"settings": {
										"slidesToShow": 1,
										"dots":true
									}
								}
							]
						}'>
								<!-- featured items start -->
								<!-- 1 -->
								<div class="col-sm-2 p-xl">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m fs-1 color-darker-grey text-center bold">Multistop ™ 3HI - Multi Performance Plasterboard</h2>
											</div>
											<span class="bg-box-hover"> </span>
										</div>
									</a>
								</div>
								<!-- 1 end -->
								<!-- 2 -->
								<div class="col-sm-2 p-xl">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m fs-1 color-darker-grey text-center bold">FIBEROCK® Aqua-Tough™ - MultiPerformance Gypsum Board</h2>
											</div>
											<span class="bg-box-hover"> </span>
										</div>
									</a>
								</div>
								<!-- 2 end -->
								<!-- 3 -->
								<div class="col-sm-2  p-xl">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m fs-1 color-darker-grey text-center bold">Multistop ™ 3HI - Multi Performance Plasterboard</h2>
											</div>
											<span class="bg-box-hover"> </span>
										</div>
									</a>
								</div>
								<!-- 3 end -->
								<!-- 4 -->
								<div class="col-sm-2  p-xl">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m fs-1 color-darker-grey text-center bold">DIY Plasterboard Accessories
												</h2>
											</div>
											<span class="bg-box-hover"> </span>
										</div>
									</a>
								</div>
								<!-- 4 end -->
								<!-- 5-->
								<div class="col-sm-2  p-xl">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m fs-1 color-darker-grey text-center bold">DIY Plasterboard Accessories
												</h2>
											</div>
											<span class="bg-box-hover"> </span>
										</div>
									</a>
								</div>
								<!-- 5 end -->
								<!-- featured items end -->
							</div>
							<!-- slick div end -->
						</div>
					</div>
					<!-- carousel item end -->
				</div>
			</div>
		</div>
		<!-- SECTION 5 END -->

		<!-- subscribe -->
		<div class="container-fluid bg-light-grey">
			<div class="container ">
				<div class="row">
					<div class="col-xs-12 m-top-5xl">
						<h3 class="ht4 uppercase m-bottom-m text-center text-sm-left ">SUBSCRIBE OUR NEWSLETTER!</h3>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<!-- c-flex-items -->

						<div class="c-flex-items m-bottom-4xxl m-sm-bottom-5xl">
							<div class="item-stretch p-no p-sm-right-m   ">
								<div class="text-center text-sm-left m-bottom-m m-sm-bottom-no">
									<p class="m-bottom-no">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhsit amet, consectetuer adipiscing elit, sed
										diam nonu nibh.sectetuer adipiscing elit, ssectetuer adipiscing elit.
									</p>
								</div>
							</div>

							<div class="item-fix p-no text-center ">
								<!-- <form>
								<div class="form-group " style=" display: inline-block;">
									<input type="text" class="form-control" id="exampleInputName" placeholder="Email Me">
								</div>
								<a href="#" class="btn btn-brand-default button-green p-xs">Subscribe</a>
							</form> -->
								<form>
									<div class="form-group " style="min-width: 240px; display: inline-block;">
										<input type="text" class="form-control" id="exampleInputName" placeholder="Email Me">
									</div>

									<button type="submit" class="m-md-top-no m-left-s btn button-green btn-brand-default">Subscribe</button>
								</form>
							</div>
						</div>
						<!-- end c-flex-items -->
					</div>
				</div>
			</div>
		</div>
		<!-- subscribe -->



	</div>
	<!-- END of PAGE CONTENT -->


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}" data-sly-unwrap/>