<sly data-sly-use.modalvideo="logic.js">
    <sly data-sly-test="${wcmmode.edit || wcmmode.design}">
        Edit here for modal video - mv-${modalvideo.divID}
    </sly>
    <sly data-sly-test.isError="${modalvideo.errMsg}">path is:${modalvideo.videoPath}
        ${modalvideo.errMsg}
    </sly>
    <sly data-sly-test="${!isError}">
        <button id ="mv-${modalvideo.divID}" class="cta-video-popup" style="background:transparent url('${properties.hoverimage @ context='html'}') center center no-repeat; background-size:cover;" type="button" data-toggle="modal" data-target="#modal-${modalvideo.divID}" data-backdrop="static" data-keyboard="false" data-video-type="${modalvideo.isInternal ? 'html5' : 'youtube'}">
            <div class="${properties.tilesize @ context='styleToken'}">
                <img class="ico-play-video center" src="/content/dam/USGBoral/Global/Website/Images/component/modalvideo/ico-play-video.png" alt=""> 
                <span class="bg-tile-hover"></span>
            </div>
        </button>

        <!-- Modal -->
        <div id="modal-${modalvideo.divID}" class="modal modal-video-popup fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header p-vertical-xs">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h6 class="modal-title ${modalvideo.fontColorTitle ? modalvideo.fontColorTitle : 'color-white'} bg-green">${properties.videotitle}</h6>
                    </div>
                    <div class="modal-body clearfix">
                        <sly data-sly-test.isInternal ="${modalvideo.isInternal}">
                            <video width="400" controls class="modal-video-elem" poster="${properties.videobgimage}">
                                <source src="${modalvideo.videoPath}/jcr:content/renditions/cq5dam.video.iehq.mp4" type="video/mp4">
                                <source src="${modalvideo.videoPath}/jcr:content/renditions/cq5dam.video.firefoxhq.ogg" type="video/ogg">
                                Your browser does not support HTML5 video.
                            </video> 
                        </sly>
                        <sly data-sly-test="${!isInternal}">
                             <!-- Youtube Embed Video -->
                            <iframe class="modal-video-elem" width="560" height="315" src="${modalvideo.videoURL}" frameborder="0" allowfullscreen></iframe>
                            <!-- END of Youtube Embed Video -->
                        </sly>
                    </div>
                </div>
            </div>
        </div>
    </sly>
    
</sly>

      

