<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
    Edit here for Big Small Image Tile Component
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>

<div class="${properties.classid}" >
   	<sly data-sly-test.style1="${properties.styleType == properties.hiddenstyle1}">
        <div class="feature-card-wrapper ">
            <div class="feature-card-wrapper">
                <sly data-sly-test.assetExist="${properties.imgPath }">
                    <a href="${properties.link}.html" target="${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype}" class="cta-hover-tile subhero" style="background:transparent url(${properties.imgPath @ context='unsafe'}) center center no-repeat; background-size:cover;">
                </sly>
                <sly data-sly-test="${!assetExist}">
                    <a href="${properties.link}.html" target="${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype}" class="hero-banner-wrapper" style="background-color: ${properties.bgColor @ context='unsafe'};" >
                </sly>
                  <div class="box-size-m p-md-no p-s p-sm-no">
                      <div class="cta-hover-tile-label ${properties.contentAlignment} text-sm-left va-middle va-sm-middle m-md-left-4xl m-sm-left-4xl m-left-m">
                         <h2 class=" ht4 uppercase color-white">
                         	 <sly data-sly-test="${!properties.hideYellowIcon}">
                             	<span class="yellow-label"></span>
                             </sly>
                             ${properties.title @ context='html'}
                         </h2>
                         <div class="color-white">${properties.description @ context='html'}</div>
                         <div class="btn btn-top-border ${properties.buttonStyle} ">
        					${properties.buttonText @ context='html'}
        					<span class="glyphicon glyphicon-menu-right"></span>
        				 </div>
                      </div>
                   </div>
                   <span class="${properties.opacity}"></span>
                </a>
                </a>
            </div>
        </div>
     </sly>

     <sly data-sly-test="${!style1}">
		<div class="c-box-custom">
            <div class="each bg-light-grey">
                <div class="content p-side-xxl p-vertical-5xl text-center text-sm-center ${properties.contentAlignment}">
                    <a href="#">
                        <p class="fs-3 color-darker-grey uppercase">${properties.category @ context='html'}</p>
                        	<h2 class="ht5 color-darker-grey uppercase m-bottom-no">${properties.title @ context='html'}</h2>
                        <div class="color-darker-grey">${properties.description @ context='html'}</div>
                    </a>
                    <a href="${properties.link}.html" target="${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype}" class="btn btn-top-border ${properties.buttonStyle}">
        				${properties.buttonText @ context='html'}
        				<span class="glyphicon glyphicon-menu-right"></span>
        			</a> 
                </div>
            </div>
        </div>

     </sly>
</div>