<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for Footer Component
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>


<!-- FOOTER -->
<footer class="footer container-fluid ${properties.classid}" data-sly-use.countryInfo="com.turquoise.core.components.CountryInfoComponent">
   <div class="container p-top-3xl">
      <!-- row 1 -->
      <div class="row m-no hidden-xs">
         <div class="col-xs-9 p-no" data-sly-use.component="com.turquoise.core.components.FooterComponent">
            <sly data-sly-list.megamenu="${component.megamenuList}">

                <div class="col-sm-3">
                	<sly data-sly-test.noLanding="${megamenu.isNoLandingPage }">
						<a >
                    </sly>
                	<sly data-sly-test="${!noLanding }">
						<a href="${megamenu.link @ context='unsafe'}">
                    </sly>

                       <h2 class="color-white uppercase footer-title fs-2">
                          <span class="yellow-label"></span>${megamenu.title @ context='html'}
                       </h2>
                    </a>
                   <ul class="m-bottom-l">
                   	  <sly data-sly-list.megamenuchild="${megamenu.child}">

						<li>
                        	<a href="${megamenuchild.link @ context='unsafe'}.html">${megamenuchild.title @ context='html'}</a>
                        </li>

                      </sly>

                   </ul>
                </div>

            </sly>

            <sly data-sly-list.additionalFooter="${component.additionalFooterList}">

                <div class="col-sm-3">
                   <h2 class="color-white uppercase footer-title fs-2">
                      <span class="yellow-label"></span>${additionalFooter.title @ context='html'}
                   </h2>
                   <ul>
                   	  <sly data-sly-list.addFooterchild="${additionalFooter.child}">

						<li>
                        	<a href="${addFooterchild.link @ context='unsafe'}.html">${addFooterchild.title @ context='html'}</a>
                        </li>

                      </sly>

                   </ul>
                </div>

            </sly>
		</div>
        <div class="col-xs-3 p-no">
            <div class="col-sm-12">
               <div class="footer-contact-us-tile-option" >
                  <h2 class="m-bottom-xxs bold color-white uppercase fs-2">${'Contact USG Boral' @ i18n}</h2>
                  <div class="dropdown dp-form m-bottom-m" data-sly-use.footercontactus="com.turquoise.core.components.ContactUsTileComponent">
                     <button class="btn btn-default color-dark-grey dropdown-toggle text-left dp-clickable" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 44px;">
                     <span class="dp-text">${'Select Enquiry Type' @ i18n}</span>
                     <input type="hidden" name="footercontactUsEnquirytype" value="">
                     <input type="hidden" name="contactUsUrl" value="${footercontactus.countryInfo.contactusUrl @ context='unsafe'}">
                     <span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
                     </button>
                     <ul class="dropdown-menu dp-list" aria-labelledby="dropdownMenu1" >
                        <sly data-sly-list.enquiryType="${footercontactus.inquiryTypeList}">
                           <li >
                              <a data-val="${enquiryType @ context='unsafe'}">
                              	${enquiryType @ context='unsafe'}
                              </a>
                           </li>
                        </sly>
                     </ul>
                  </div>
                  <button name="footercontactUsSubmit" class="btn button-yellow btn-brand-default">${'CONTACT US' @ i18n}</button>
               </div>



               <hr class="dark-2-grey" />
               <h2 class="m-top-l m-bottom-xxs bold color-white uppercase fs-2">${'Where to buy' @ i18n}</h2>

                  <div class="search-box color-dark-grey m-bottom-m two-icons" data-sly-use.wtbComponent="com.turquoise.core.components.WhereToBuyTileComponent">
                     <input name="footer-wtb-search-box" class="" placeholder="${'Enter Your Location' @ i18n}" aria-label="Text input with multiple buttons">
                     <div class="mini-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     	<span class=" color-dark-grey glyphicon glyphicon-menu-hamburger p-no m-no"></span>  
                     </div>

                    <ul class="dropdown-menu dp-list" aria-labelledby="dropdownMenu1" >
                    
                        <sly data-sly-list.state="${wtbComponent.stateList}">
                            <li>
                            	<a href="${countryInfo.countryInfo.wtbUrl @ context='unsafe'}.html?text=${state @ context='unsafe'}" data-val="${state @ context='unsafe'}">${state @ context='html'}</a>
                            </li>
                        </sly>
                    
                    </ul>

                     <button class=" search-btn footer-wtb">
                     <span class="color-dark-grey glyphicon glyphicon-search p-no m-no"></span>
                     </button>
                  </div>

               <h2 class="fs-3 m-top-s m-bottom-xxs color-white uppercase fs-2">follow us on:</h2>
               <div>
               	  <sly data-sly-use.listUse="${'logic_multifield.js' @ multifieldName='socialMedia'}">
                  	<sly data-sly-list="${listUse}">
						<a href="${item.properties.externalPath @ context='unsafe'}" class="icon-color-white icon-size fa ${item.properties.socialIcon @ context='unsafe'} m-right-xxs"></a>
                    </sly>

                  </sly>

               </div>
            </div>
         </div>
      </div>
      <!-- row 2 -->
      <div class="row">
         <div class="country-dropdown nav-dropdown-wrapper dropdown m-bottom-m">
            <a href="#" class="dropdown-toggle" data-countries-pop-up>
               <div class="fs-3 country-wrapper color-white ">
                  <img class="flag-icon" src="${countryInfo.countryInfo.logo @ context='unsafe'}" alt="${countryInfo.countryInfo.countryName @ context='unsafe'}"> 
                      ${countryInfo.countryInfo.countryName @ context='html'} / ${countryInfo.countryInfo.languageFull @ context='html'}
                  <span class="m-left-xxs glyphicon glyphicon-menu-right"></span>
               </div>
            </a>
         </div>
         <div class="col-xs-12 p-no">
            <div class="color-white fs-3">${properties.copyrights @ context='html'}</div>
         </div>
      </div>
   </div>
</footer>
<!-- END of FOOTER -->
<sly data-sly-use.component2="com.turquoise.core.components.ContactUsTileComponent" >
   <script>
      $(document).on("click", '.footer-contact-us-tile-option .dp-form .dp-list a', function () {
      
      var dataVal = $(this).data("val");
      console.log("dataVal : " + dataVal);      
      
      var $dpText = $(this).parent().parent().parent().find($('.dp-text'));

      $dpText.html(dataVal);
      $('input[name=footercontactUsEnquirytype]').val(dataVal);
      
      });

      $(document).on("click", 'button[name=footercontactUsSubmit]', function () {

      var contactUsEnquirytype = $('input[name=footercontactUsEnquirytype]').val();
      var contactUsUrl = $('input[name=contactUsUrl]').val();
      var openType = "${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype @ context='scriptString'}";
      window.open(contactUsUrl + ".html?enquiryType=" + contactUsEnquirytype, openType)
      //window.location.href = contactUsUrl + ".html?enquiryType=" + contactUsEnquirytype;
      
      });
      
   </script>
</sly>


<sly data-sly-use.component3="com.turquoise.core.components.WhereToBuyTileComponent" >

	<script>
		$(".search-btn.footer-wtb").on( "click", function() {
          var wtbVal = $("input[name=footer-wtb-search-box]").val();

            if(wtbVal){
                var wtbUrl = "${component3.countryInfo.wtbUrl @ context='scriptString'}";
                var openType = "${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype @ context='scriptString'}";
            	window.open(wtbUrl + ".html?text=" + wtbVal, openType)
				//window.location.href = wtbUrl + ".html?text=" + wtbVal;
                //alert(searchUrl);
            }else{
				alert("value is empty");
            }

        });

    </script>
</sly>