<div class="box-size-l  cta-hover-tile" style="background:transparent url('images/bg-banner-tile.jpg') center center no-repeat; background-size:cover;" >

	<div class="p-sm-4xl p-5xl">
			<div class="text-center text-sm-center text-md-left">
					<h2 class="ht3 color-white uppercase">${properties.title}</h2>
					<p class="color-white">
						${properties.description} 
					</p>
					<div class="btn btn-top-border btn-light m-top-s">Read More<span class="glyphicon glyphicon-menu-right"></span></div>   
				</div>
				
				<div class="text-center text-sm-center text-md-left">
						<div class="dropdown m-top-m">
								<h2 class="ht5 color-white uppercase">${properties.title2}</h2>
								<button class="dropdown-s bg-white color-dark-grey dropdown-toggle p-left-m " type="button" data-toggle="dropdown">Select Enquiry Type
								<span class="caret"></span></button>
								<ul class="dropdown-menu">
								<li><a href="#">HTML</a></li>
								<li><a href="#">CSS</a></li>
								<li><a href="#">JavaScript</a></li>
								</ul>
						</div>
						<div class="m-top-m btn button-yellow btn-brand-default">contact us</div>
				</div>
				

			   
	</div>
	
	
</div>