<div class="page-content">


				<!-- BREADCUMB-BOX -->
				<div class="container">
					<div class="row m-vertical-m">
						<div class="col-xs-12">
							<div class="breadcrumb-box text-center text-sm-left">
								<ol class="breadcrumb m-no p-no bg-white">
									<li>USG BORAL</li>
									<li>Inspiration</li>
									<li>Case Studies</li>
									<li class="active"><b>Sunway Medical Centre</b></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<!-- BREADCUMB-BOX END -->

				<div class="container">
					<div class="row m-bottom-xxl">
						<div class="col-xs-12 col-sm-9 col-md-9 make-sticky_limit">


							<!-- c-article-bar -->
							<div class="c-article-bar with-contact">
								<div class="inner">
									<h1 class="ht4 text-center text-sm-left"><strong>SUNWAY MEDICAL CENTRE</strong></h1>
									<!-- desktop only -->
									<div class="dbtn-group hidden-xs ">
										<a href="#" class="btn btn-brand-default button-green">CONTACT US</a>
									</div>
									<!-- end desktop only -->
									<hr class="m-vertical-m dark-2-grey" />
								</div>
							</div>
							<!-- end c-article-bar -->


							<div class="row row-vertical-center p-no m-bottom-m">
								<div class="col-xs-6 col-sm-6 hidden-xs">
									<p class="color-grey m-no"><i>15 Feb 2018</i></p>
								</div>
								<div class="col-xs-12 col-sm-6">
									<!-- desktop only -->
									<!-- c-socialmedia-row -->
									<div class="c-socialmedia-row hidden-xs text-right">
										<span class="color-dark-grey fs-2">Share us on:</span>
										<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.expatriatelifestyle.com/food-and-drink/5-Top-Nasi-Lemak-Stalls-In-KL" class="social-media-pop-up icon-color-darker-grey icon-size fa fa-facebook-square"></a>
										<a href="https://twitter.com/home?status=https://www.expatriatelifestyle.com/food-and-drink/5-Top-Nasi-Lemak-Stalls-In-KL" class="social-media-pop-up icon-color-darker-grey icon-size fa fa-twitter-square"></a>
										<a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.expatriatelifestyle.com/food-and-drink/5-Top-Nasi-Lemak-Stalls-In-KL&title=&summary=&source=" class="social-media-pop-up icon-color-darker-grey icon-size fa fa-linkedin-square"></a>
									</div>
									<!-- end c-socialmedia-row -->
									<!-- end desktop only -->
								</div>
							</div>

							<!-- float-title-share (placeholder) -->
							<span class="float-title-share-placeholder"></span>
							<!-- end float-title-share (placeholder) -->

							<div class="mobile-sidebar-placeholder visible-xs"> </div>

						

							<p class="color-dark-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
							<p class="color-dark-grey">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
							

							<!-- c-single-img -->
							<div class="c-single-img m-bottom-m">
								<img src="https://dummyimage.com/910x500/000000/fff" alt="">
							</div>
							<!-- end c-single-img -->

							<!-- c-two-imgs -->
							<div class="c-two-imgs">
								<img src="https://dummyimage.com/910x500/000000/fff" alt="">
								<img src="https://dummyimage.com/910x500/000000/fff" alt="">
							</div>
							<!-- end c-two-imgs -->

							<h2 class="ht4"><b>WORKING WITH THE MATERIAL</b></h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

							<!-- c-two-imgs -->
							<div class="c-two-imgs">
								<img src="https://dummyimage.com/910x500/000000/fff" alt="">
								<img src="https://dummyimage.com/910x500/000000/fff" alt="">
							</div>
							<!-- end c-two-imgs -->

							<h3 class="ht5"><b>THE SOLUTION</b></h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
							Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

							<!-- c-auto-center-list -->
							<div class="c-auto-center-list">
								<div class="each">
									<div class="left">
										<img src="https://dummyimage.com/300x220/000/fff" alt="ss">
									</div>
									<div class="right">
										<p><b>Fire Protection</b></p>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.</p>
									</div>
								</div>
								<div class="each">
									<div class="left">
										<img src="https://dummyimage.com/300x220/000/fff" alt="">
									</div>
									<div class="right">
										<p><b>Mould Resistant</b></p>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium </p>
									</div>
								</div>
							</div>
							<!-- end c-auto-center-list -->

							<h3 class="ht5"><b>LOREM IPSUM</b></h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

							<!-- c-download-list -->
							<div class="c-download-list inline-list m-bottom-xxs m-sm-bottom-m">
								<div class="each">
									<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/pdf-icon.png" width="56" height="75" alt="">
									<p class="fs-2"><a href="#">Firestop</a></p>
								</div>
								<div class="each">
									<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/pdf-icon.png" width="56" height="75" alt="">
									<p class="fs-2"><a href="#">Mars HealthCare</a></p>
								</div>
							</div>
							<!-- end c-download-list -->

							<h2 class="ht4"><b>Applied experience</b></h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

							<!-- c-single-img -->
							<div class="c-single-img m-bottom-m">
								<img src="https://dummyimage.com/910x500/000000/fff" alt="">
							</div>
							<!-- end c-single-img -->

							<h2 class="ht4"><b>THE DELIVERABLES</b></h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>


							<!-- slick div -->
							<div class="feature-card-wrapper variation-1 m-bottom-s">  
							    <div class="carousel-feature-card" data-slick='{
							        "dots": true,
							        "infinite": false,
							        "speed": 300,
							        "slidesToShow": 1,
							        "slidesToScroll": 1
							    }'>
							    <!-- featured items start -->
							        <!-- 1 -->
							        <div class="col-xs-12 p-no m-no">
							            <a href="#" target="_blank">
							                <div class=" box-type-2 bg-white">
							                        <div class="center width-full">
							                                <div class="box-inner-img">
							                                	<img src="https://dummyimage.com/920x500/000/fff" alt="">
							                                </div>                                   
							                        </div>
							        
							                </div>
							            </a>
							        </div>
							        <!-- 1 end -->
							        <!-- 2 -->
							        <div class="col-xs-12 p-no m-no">
							            <a href="#" target="_blank">
							                <div class=" box-type-2 bg-white">
							                        <div class="center width-full">
							                                <div class="box-inner-img">
							                                	<img src="https://dummyimage.com/920x500/000/fff" alt="">
							                                </div>
							                        </div>
							            
							                </div>
							            </a>
							        </div>
							        <!-- 2 end -->
							        <!-- 3 -->
							        <div class="col-xs-12 p-no m-no">
							            <a href="#" target="_blank">
							                <div class=" box-type-2 bg-white">
							                        <div class="center width-full">
							                                <div class="box-inner-img">
							                                	<img src="https://dummyimage.com/920x500/000/fff" alt="">
							                                </div>
							                        </div>
							   
							                </div>
							            </a>
							        </div>
							        <!-- 3 end --> 
							    <!-- featured items end -->
							    </div>
							    
							</div> 
							<!-- slick div end -->


							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
							<a href="#" class="btn btn-brand-default button-green">DOWNLOAD FULL CASE STUDY</a>




						</div>
						<!-- set p-left-no, avoid sticy width's glitch -->
						<div class="col-xs-12 col-sm-3 col-md-3 hidden-xs p-left-no make-sticky">

							<div class="make-sticky_inner desktop-sidebar-placeholder">
					            
								<!-- c-sidebar -->
								<div class="c-sidebar ">
									<div class="each">
										<h5 class="ht6 uppercase m-bottom-xs">DKLOCATION</h5>
										<p class="fs-2 m-no">Sunway Selangor</p>
									</div>
									<hr class="m-no" />
									<div class="each">
										<h5 class="ht6 uppercase m-bottom-xs">developer/ contractor</h5>
										<p class="fs-2 m-no">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget</p>
									</div>
									<hr class="m-no" />
									<div class="each">
										<h5 class="ht6 uppercase m-bottom-xs">Architect/ designer</h5>
										<p class="fs-2 m-no">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
									</div>
									<hr class="m-no" />
									<div class="each">
										<h5 class="ht6 uppercase m-bottom-xs">Products</h5>
										<!-- c-auto-center-list -->
										<div class="c-auto-center-list">
											<div class="each">
												<div class="left">
													<img src="https://dummyimage.com/130x90/000/fff" alt="">
												</div>
												<div class="right">
													<p class="fs-2"><a href="#">Firestop</a></p>
												</div>
											</div>
											<div class="each">
												<div class="left">
													<img src="https://dummyimage.com/130x90/000/fff" alt="">
												</div>
												<div class="right">
													<p class="fs-2"><a href="#">Firestop</a></p>
												</div>
											</div>
										</div>
										<!-- c-auto-center-list -->
									</div>
									<hr class="m-no" />
									<div class="each">
										<h5 class="ht6 uppercase m-bottom-xs">System</h5>

										<p class="fs-2 m-no"><a href="#">Fire-Resistant Drywall System</a></p>
										<p class="fs-2 m-no"><a href="#">Mould Resistence System</a></p>
										<p class="fs-2 m-no"><a href="#">Quiet System</a></p>

									</div>
								</div>
								<!-- end c-sidebar -->

					        </div>
							
						

						</div>
			

					</div>
				</div>


				<!-- related case studies  -->
				<div class="container-fluid bg-lighter-grey m-bottom-m p-md-bottom-5xl p-no">
				<div class="container">
				            <div class="row">
				                    <div class="col-xs-12 p-no">
				                        <!-- text alignment: text-left, text-center, text-right -->
				                        <!-- vertical alignment: va-top, va-middle, va-bottom -->
				                        <!-- horizontal alignment: ha-left, ha-center, ha-right -->
				                        <h2 class="ht4 uppercase text-center color-darker-grey m-top-5xl">Related case studies</h2>
				                    </div>
				            </div>
				            <!-- carousel items -->
				            <div class="row m-no">
				                    <div class="col-xs-12 p-no">
				                        <div class="feature-card-wrapper">  
				                            <!-- slick div -->
				                            <div class="carousel-feature-card" data-slick='{
				                                "dots": true,
				                                "infinite": false,
				                                "speed": 300,
				                                "slidesToShow": 5,
				                                "slidesToScroll": 1,
				                                "responsive": [
				                                    {
				                                        "breakpoint": 992,
				                                        "settings": {
				                                            "slidesToShow": 4
				                                        }
				                                    },
				                                    {
				                                        "breakpoint": 768,
				                                        "settings": {
				                                            "slidesToShow": 3
				                                        }
				                                    },
				                                    {
				                                        "breakpoint": 600,
				                                        "settings": {
				                                            "slidesToShow": 1
				                                        }
				                                    }
				                                ]
				                            }'>
				                            <!-- featured items start -->
				                                <!-- 1 -->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                <div class="center width-full">
				                                                        <div class="box-inner-img"></div>
				                                                        <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center">Lorem ipsum dolor sit amet.</h2>  
				                                                </div>
				                                                <span class="bg-box-hover">
				                                                </span>
				                                        </div>
				                                    </a>
				                                </div>
				                                <!-- 1 end -->
				                                <!-- 2 -->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                <div class="center width-full">
				                                                        <div class="box-inner-img"></div>
				                                                        <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center">Lorem ipsum dolor sit amet.</h2>  
				                                                </div>
				                                                <span class="bg-box-hover">
				                                                </span>
				                                        </div>
				                                    </a>
				                                </div>
				                                <!-- 2 end -->
				                                <!-- 3 -->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                <div class="center width-full">
				                                                        <div class="box-inner-img"></div>
				                                                        <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center">Lorem ipsum dolor sit amet.</h2>  
				                                                </div>
				                                                <span class="bg-box-hover">
				                                                </span>
				                                        </div>
				                                    </a>
				                                </div>
				                                <!-- 3 end --> 
				                                <!-- 4 -->
				                                    <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                <div class="center width-full">
				                                                        <div class="box-inner-img"></div>
				                                                        <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center ">EnduraTile - Lay-In Ceiling Panel</h2>  
				                                                </div>
				                                                <span class="bg-box-hover">
				                                                </span>
				                                        </div>
				                                    </a>
				                                </div>
				                                <!-- 4 end -->
				                                <!-- 5-->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                <div class="center width-full">
				                                                        <div class="box-inner-img"></div>
				                                                        <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center ">Hard Finish Plaster Compund</h2>  
				                                                </div>
				                                                <span class="bg-box-hover">
				                                                </span>
				                                        </div>
				                                    </a>
				                                </div>
				                                <!-- 5 end -->     
				                                <!--6-->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                        <a href="#" target="_blank">
				                                            <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                    <div class="center width-full">
				                                                            <div class="box-inner-img"></div>
				                                                            <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center ">SHEETROCK@ Wall Board</h2>  
				                                                    </div>
				                                                    <span class="bg-box-hover">
				                                                    </span>
				                                            </div>
				                                        </a>
				                                </div>
				                                <!--6 end -->                                
				                                <!--7-->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                <div class="center width-full">
				                                                        <div class="box-inner-img"></div>
				                                                        <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center ">DIY Total joint Finish</h2>  
				                                                </div>
				                                                <span class="bg-box-hover"> </span>
				                                            </div>
				                                        </a>
				                                </div>
				                                <!--7 end -->      
				                                <!--8-->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                            <div class="center width-full">
				                                                    <div class="box-inner-img"></div>
				                                                    <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center ">DIY Plasterboard Accessories</h2>  
				                                            </div>
				                                            <span class="bg-box-hover"> </span>
				                                        </div>
				                                    </a>
				                                </div>
				                                <!--8 end -->                                
				                            <!-- featured items end -->
				                            </div>
				                            <!-- slick div end -->
				                        </div>    
				                    </div>
				            </div>
				            <!-- carousel item end -->
				</div>      
				</div>        
				<!-- related case studies END -->



				<!-- Know more about solutions  -->
				<div class="container p-bottom-xl p-md-bottom-5xl">
					<div class="row">
				        <div class="col-xs-12">
				            <!-- text alignment: text-left, text-center, text-right -->
				            <!-- vertical alignment: va-top, va-middle, va-bottom -->
				            <!-- horizontal alignment: ha-left, ha-center, ha-right -->
				            <h2 class="ht4 uppercase text-center color-darker-grey m-top-5xl">Know More About Solution</h2>
				            <p class="text-center color-darker-grey p-s p-md-no">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
				        </div>

					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- slick div -->
							<div class="feature-card-wrapper variation-2 m-bottom-s">  
							    <div class="carousel-feature-card" data-slick='{
							        "dots": true,
							        "infinite": false,
							        "speed": 300,
							        "slidesToShow": 1,
							        "slidesToScroll": 1
							    }'>
							    <!-- featured items start -->
							        <!-- 1 -->
							        <div class="col-xs-12 p-no m-no">
							            <a href="#" target="_blank">
							                <div class="bg-white">
							                        <div class="center width-full">
							                                <div class="each-box m-bottom-m ">
							                                	<img src="https://dummyimage.com/920x500/000/fff" alt="">
							                                	<h5 class="ht6 color-white text-center uppercase bg-primary-green p-l"><strong>INDUSTRIAL SPECIFIC SOLUTIONS</strong></h5>
							                                </div>  
							                                <div class="each-box m-bottom-m">
							                                	<img src="https://dummyimage.com/920x500/000/fff" alt="">
							                                	<h5 class="ht6 color-white text-center uppercase bg-primary-green p-l"><strong>INDUSTRIAL SPECIFIC SOLUTIONS</strong></h5>
							                                </div>                                 
							                        </div>
							        
							                </div>
							            </a>
							        </div>
							        <!-- 1 end -->
							        <!-- 2 -->
							        <div class="col-xs-12 p-no m-no">
							            <a href="#" target="_blank">
							            	<div class="bg-white">
							            		<div class="center width-full">
							            			<div class="each-box m-bottom-m ">
							            				<img src="https://dummyimage.com/920x500/000/fff" alt="">
							            				<h5 class="ht6 color-white text-center uppercase bg-primary-green p-l"><strong>INDUSTRIAL SPECIFIC SOLUTIONS</strong></h5>
							            			</div>  
							            			<div class="each-box m-bottom-m">
							            				<img src="https://dummyimage.com/920x500/000/fff" alt="">
							            				<h5 class="ht6 color-white text-center uppercase bg-primary-green p-l"><strong>INDUSTRIAL SPECIFIC SOLUTIONS</strong></h5>
							            			</div>                                 
							            		</div>

							            	</div>
							            </a>
							        </div>
							        <!-- 2 end -->
							        <!-- 3 -->
							        <div class="col-xs-12 p-no m-no">
							        	<a href="#" target="_blank">
							        		<div class="bg-white">
							        			<div class="center width-full">
							        				<div class="each-box m-bottom-m ">
							        					<img src="https://dummyimage.com/920x500/000/fff" alt="">
							        					<h5 class="ht6 color-white text-center uppercase bg-primary-green p-l"><strong>INDUSTRIAL SPECIFIC SOLUTIONS</strong></h5>
							        				</div>  
							        				<div class="each-box m-bottom-m">
							        					<img src="https://dummyimage.com/920x500/000/fff" alt="">
							        					<h5 class="ht6 color-white text-center uppercase bg-primary-green p-l"><strong>INDUSTRIAL SPECIFIC SOLUTIONS</strong></h5>
							        				</div>                                 
							        			</div>

							        		</div>
							        	</a>
							        </div>
							        <!-- 3 end --> 
							        <!-- 4 -->
							        <div class="col-xs-12 p-no m-no">
							        	<a href="#" target="_blank">
							        		<div class="bg-white">
							        			<div class="center width-full">
							        				<div class="each-box m-bottom-m ">
							        					<img src="https://dummyimage.com/920x500/000/fff" alt="">
							        					<h5 class="ht6 color-white text-center uppercase bg-primary-green p-l"><strong>INDUSTRIAL SPECIFIC SOLUTIONS</strong></h5>
							        				</div>  
							        				<div class="each-box m-bottom-m">
							        					<img src="https://dummyimage.com/920x500/000/fff" alt="">
							        					<h5 class="ht6 color-white text-center uppercase bg-primary-green p-l"><strong>INDUSTRIAL SPECIFIC SOLUTIONS</strong></h5>
							        				</div>                                 
							        			</div>

							        		</div>
							        	</a>
							        </div>
							        <!-- 4 end --> 
							        <!-- 5 -->
							        <div class="col-xs-12 p-no m-no">
							        	<a href="#" target="_blank">
							        		<div class="bg-white">
							        			<div class="center width-full">
							        				<div class="each-box m-bottom-m ">
							        					<img src="https://dummyimage.com/920x500/000/fff" alt="">
							        					<h5 class="ht6 color-white text-center uppercase bg-primary-green p-l"><strong>INDUSTRIAL SPECIFIC SOLUTIONS</strong></h5>
							        				</div>  
							        				<div class="each-box m-bottom-m">
							        					<img src="https://dummyimage.com/920x500/000/fff" alt="">
							        					<h5 class="ht6 color-white text-center uppercase bg-primary-green p-l"><strong>INDUSTRIAL SPECIFIC SOLUTIONS</strong></h5>
							        				</div>                                 
							        			</div>

							        		</div>
							        	</a>
							        </div>
							        <!-- 5 end --> 
							        <!-- 6 -->
							        <div class="col-xs-12 p-no m-no">
							        	<a href="#" target="_blank">
							        		<div class="bg-white">
							        			<div class="center width-full">
							        				<div class="each-box m-bottom-m ">
							        					<img src="https://dummyimage.com/920x500/000/fff" alt="">
							        					<h5 class="ht6 color-white text-center uppercase bg-primary-green p-l"><strong>INDUSTRIAL SPECIFIC SOLUTIONS</strong></h5>
							        				</div>  
							        				<div class="each-box m-bottom-m">
							        					<img src="https://dummyimage.com/920x500/000/fff" alt="">
							        					<h5 class="ht6 color-white text-center uppercase bg-primary-green p-l"><strong>INDUSTRIAL SPECIFIC SOLUTIONS</strong></h5>
							        				</div>                                 
							        			</div>

							        		</div>
							        	</a>
							        </div>
							        <!-- 6 end --> 
							    <!-- featured items end -->
							    </div>
							</div> 
							<!-- slick div end --> 
						</div>    
					</div>
				</div>
				<!-- Know more about solutions END -->



				<!-- featured items  -->
				<div class="container-fluid m-bottom-m p-md-bottom-5xl p-no">
				<div class="container">
				            <div class="row">
				                    <div class="col-xs-12 p-no">
				                        <!-- text alignment: text-left, text-center, text-right -->
				                        <!-- vertical alignment: va-top, va-middle, va-bottom -->
				                        <!-- horizontal alignment: ha-left, ha-center, ha-right -->
				                        <h2 class="ht4 uppercase text-center color-darker-grey m-top-5xl">FEATURED ITEMS</h2>
				                        <p class="text-center color-darker-grey p-s p-md-no">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
				                    </div>
				            </div>
				            <!-- carousel items -->
				            <div class="row m-no">
				                    <div class="col-xs-12 p-no">
				                        <div class="feature-card-wrapper">  
				                            <!-- slick div -->
				                            <div class="carousel-feature-card" data-slick='{
				                                "dots": true,
				                                "infinite": false,
				                                "speed": 300,
				                                "slidesToShow": 5,
				                                "slidesToScroll": 1,
				                                "responsive": [
				                                    {
				                                        "breakpoint": 992,
				                                        "settings": {
				                                            "slidesToShow": 4
				                                        }
				                                    },
				                                    {
				                                        "breakpoint": 768,
				                                        "settings": {
				                                            "slidesToShow": 3
				                                        }
				                                    },
				                                    {
				                                        "breakpoint": 600,
				                                        "settings": {
				                                            "slidesToShow": 1
				                                        }
				                                    }
				                                ]
				                            }'>
				                            <!-- featured items start -->
				                                <!-- 1 -->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                <div class="center width-full">
				                                                        <div class="box-inner-img"></div>
				                                                        <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center uppercase">Ceilings</h2>  
				                                                        <p class="color-darker-grey p-left-3xl p-right-3xl text-center">Lorem ipsum dolor sit</p>                                    
				                                                </div>
				                                                <span class="bg-box-hover">
				                                                </span>
				                                        </div>
				                                    </a>
				                                </div>
				                                <!-- 1 end -->
				                                <!-- 2 -->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                <div class="center width-full">
				                                                        <div class="box-inner-img"></div>
				                                                        <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center uppercase">Ceilings</h2>  
				                                                        <p class="color-darker-grey p-left-3xl p-right-3xl text-center">Lorem ipsum dolor sit</p>                                    
				                                                </div>
				                                                <span class="bg-box-hover">
				                                                </span>
				                                        </div>
				                                    </a>
				                                </div>
				                                <!-- 2 end -->
				                                <!-- 3 -->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                <div class="center width-full">
				                                                        <div class="box-inner-img"></div>
				                                                        <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center uppercase">Ceilings</h2>  
				                                                        <p class="color-darker-grey p-left-3xl p-right-3xl text-center">Lorem ipsum dolor sit</p>                                    
				                                                </div>
				                                                <span class="bg-box-hover">
				                                                </span>
				                                        </div>
				                                    </a>
				                                </div>
				                                <!-- 3 end --> 
				                                <!-- 4 -->
				                                    <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                <div class="center width-full">
				                                                        <div class="box-inner-img"></div>
				                                                        <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center uppercase">Ceilings</h2>  
				                                                        <p class="color-darker-grey p-left-3xl p-right-3xl text-center">Lorem ipsum dolor sit</p>                                    
				                                                </div>
				                                                <span class="bg-box-hover">
				                                                </span>
				                                        </div>
				                                    </a>
				                                </div>
				                                <!-- 4 end -->
				                                <!-- 5-->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                <div class="center width-full">
				                                                        <div class="box-inner-img"></div>
				                                                        <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center uppercase">Ceilings</h2>  
				                                                        <p class="color-darker-grey p-left-3xl p-right-3xl text-center">Lorem ipsum dolor sit</p>                                    
				                                                </div>
				                                                <span class="bg-box-hover">
				                                                </span>
				                                        </div>
				                                    </a>
				                                </div>
				                                <!-- 5 end -->     
				                                <!--6-->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                        <a href="#" target="_blank">
				                                            <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                    <div class="center width-full">
				                                                            <div class="box-inner-img"></div>
				                                                            <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center uppercase">Ceilings</h2>  
				                                                            <p class="color-darker-grey p-left-3xl p-right-3xl text-center">Lorem ipsum dolor sit</p>                                    
				                                                    </div>
				                                                    <span class="bg-box-hover">
				                                                    </span>
				                                            </div>
				                                        </a>
				                                </div>
				                                <!--6 end -->                                
				                                <!--7-->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                                <div class="center width-full">
				                                                        <div class="box-inner-img"></div>
				                                                        <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center uppercase">Ceilings</h2>  
				                                                        <p class="color-darker-grey p-left-3xl p-right-3xl text-center">Lorem ipsum dolor sit</p>                                    
				                                                </div>
				                                                <span class="bg-box-hover"> </span>
				                                            </div>
				                                        </a>
				                                </div>
				                                <!--7 end -->      
				                                <!--8-->
				                                <div class="col-xs-12 col-sm-4 p-no m-s">
				                                    <a href="#" target="_blank">
				                                        <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
				                                            <div class="center width-full">
				                                                    <div class="box-inner-img"></div>
				                                                    <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center uppercase">Ceilings</h2>  
				                                                    <p class="color-darker-grey p-left-3xl p-right-3xl text-center">Lorem ipsum dolor sit</p>                                    
				                                            </div>
				                                            <span class="bg-box-hover"> </span>
				                                        </div>
				                                    </a>
				                                </div>
				                                <!--8 end -->                                
				                            <!-- featured items end -->
				                            </div>
				                            <!-- slick div end -->
				                        </div>    
				                    </div>
				            </div>
				            <!-- carousel item end -->
				</div>      
				</div>        
				<!-- featured item  END -->



	</div>


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}" data-sly-unwrap/>