<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for Header Component
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>

<!-- HEADER -->
<header class="header ${properties.classid}">
    <div class="wrapper">

        <div class="top flex-row justify-space-between" data-sly-use.countryInfo="com.turquoise.core.components.CountryInfoComponent">

            <!-- logo -->
            <div class="logo">
                <a href="${countryInfo.countryInfo.sitePath @ context='unsafe'}.html">
                    <img src="${properties.logo @ context='unsafe' }" srcset="${properties.logo @ context='unsafe' } 1x, ${properties.logo2 @ context='unsafe' } 2x" alt="${properties.alt @ context='unsafe' }" width="250" height="58">
                </a>
            </div>
            <!-- end logo -->

			<!-- desktop-nav -->
            <div class="desktop-nav p-left-m flex-grow-1 hidden-xs">
				<ul class="header-side-nav nav navbar-nav fs-nav-1 v-line-1 uppercase text-right">
                    <li>
                        <a href="#" data-countries-pop-up>
                            <div class="bold country-wrapper">
                                <img class="flag-icon" src="/content/dam/USGBoral/Global/Website/Images/v3/global-landing/globe-green.png" style="width:26px">
                                <span class="v-align-middle uppercase">English</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="bottom">
            <div class="rule bg-gradient-green-x"></div>
        </div>



    </div>
</header>
<!-- END HEADER -->

<sly data-sly-resource="${'country-popup' @ resourceType='turquoise/components/content/header-country-popup-component'}"/>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='uiux.header'}" data-sly-unwrap/>