<!-- PAGE CONTENT -->
<div class="page-content">

	<!-- SECTION 1 -->
	<div class="container-fluid">
		<div class="row relative">

			<div style="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-carousel-banner.jpg') center right no-repeat; background-size:cover;"
			 data-img-mobile="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/m-bg-carousel-banner.jpg') bottom right no-repeat; background-size:cover;">
				<div class="container">
					<div class="row p-top-5xl p-bottom-5xl m-no">
						<div class="col-xs-12">
							<div class="banner-small">
								<div class=" relative m-left-s m-sm-left-3xl text-left ">
									<h2 class="ht1 uppercase color-white sanimated sfadeInDown">
										<span class="yellow-label"></span>
										TESTt ACOUSTIC PANELS & CEILING TILES</h2>
									<p class="color-white sanimated sfadeInUp delay-500-ms"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod empor incididunt ut labore et dtolore magna
										aliqua.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="ico-indicator">
					<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/indicator-btn.png">
				</div>

			</div>
		</div>
	</div>
	<!-- SECTION 1 END -->


	<!--compare popup -->
	<div class="compare-popup">
		<div class="title uppercase ">
			Compare Product
			<span class=" btn-menu-down glyphicon glyphicon-menu-down float-right  p-s "></span>
		</div>
		<div class="popup-content c-auto-center-list">
			<!-- <div class="each  content-wrapper content1">
				<div class="left img-content"> </div>
				<div class="right title-content"> </div>
				<button type="button" class="close-btn-box" aria-label="Close">
					<span class="bold" aria-hidden="true">×</span>
				</button>
			</div>
			<hr> -->
		</div>
		<div class="each btn-compare m-m">
			<button type="submit" class="btn width-full button-green btn-brand-default">compare selected</button>
		</div>
	</div>
	<!-- compare popup end -->


	<!-- BREADCUMB-BOX -->
	<div class="container ">
		<div class="row m-vertical-m">
			<div class="col-xs-12">
				<div class="col-sm-6 breadcrumb-box  hidden-xs">
					<ol class="breadcrumb m-no p-no bg-white">
						<li>Products</li>
						<li>Ceilings</li>
						<li class="active">
							<b>Acoustic Panels & Ceiling Tiles</b>
						</li>
					</ol>
				</div>

				<!-- dropdown desktop -->
				<div class="col-sm-3 col-xs-12 p-no pull-right">
					<div class="search-filter-sort">
						<!-- SORT BY -->
						<div class="dropdown dp-form dropdown-menu-right m-bottom-m d-small">
							<button class="btn btn-default color-dark-grey dropdown-toggle text-left" type="button" id="dropdownMenu1" data-toggle="dropdown"
							 aria-haspopup="true" aria-expanded="false">
								<span>Sort By</span>
								<span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li>
									<a href="#">Alphabet</a>
								</li>
								<li>
									<a href="#">Oldest to Latest</a>
								</li>
								<li>
									<a href="#">Price</a>
								</li>
								<li>
									<a href="#">Date Added</a>
								</li>
							</ul>
						</div>

						<div class="dropdown refine-mobile visible-xs dropdown-menu-right m-vertical-m d-small">
							<select class="btn-default">
								<option>Sort By</option>
								<option value="Oldest to Latest">Oldest to Latest</option>
								<option value="Price">Price</option>
								<option value="Date Added">Date Added</option>
							</select>
						</div>
						<!-- END SORT BY -->

						<!-- filter -->
						<a href="#" class="filter-icon btn visible-xs btn-smd m-left-m">
							<span class="color-primary-green glyphicon glyphicon-filter"></span>
						</a>
						<!-- end filter -->
					</div>

					<div class="clearfix"></div>
				</div>
				<!-- dropdown desktop -->
			</div>
		</div>
	</div>
	<!-- BREADCUMB-BOX END -->


	<!-- section 2 -->
	<div class="container">
		<div class="row m-bottom-xxl m-top-s">
			<!-- set p-left-no, avoid sticy width's glitch -->
			<div class="col-xs-12 col-sm-3 col-md-3 hidden-xs p-left-no make-sticky">
				<div class="make-sticky_inner">
 
					<!-- c-sidebar -->
					<div class="c-sidebar rounded-corners">
						<div class="each bg-green-btn rounded-top">
							<a href="#" class="color-dark-grey bold ht6 uppercase m-bottom-xs">Application highlight</a>
						</div>
						<hr class="m-no" />
						<div class="each bg-green-btn">
							<a href="#" class="color-dark-grey bold ht6 uppercase m-bottom-xs">Acoustic Suspension Systems</a>
						</div>
						<hr class="m-no" />
						<div class="each bg-green-btn">
							<a href="#" class="color-dark-grey bold ht6 uppercase m-bottom-xs">Systems Integrated Systems</a>
						</div>
						<hr class="m-no" />
						<div class="each bg-green-btn">
							<a href="#" class="color-dark-grey bold ht6 uppercase m-bottom-xs">Specialty Ceilings</a>
						</div>
						<hr class="m-no" />
						<div class="each bg-green-btn">
							<a href="#" class="color-dark-grey bold ht6 uppercase m-bottom-xs">Metal Ceilings</a>
						</div>
						<hr class="m-no" />
						<div class="each bg-green-btn rounded-bottom">
							<a href="#" class="color-dark-grey bold ht6 uppercase m-bottom-xs">Asona Acoustic Range</a>
						</div>

					</div>

					<form action="" method="get">
						<div class="c-sidebar m-top-m rounded-corners">

							<div class="each">
								<h5 class="color-dark-grey bold ht6 uppercase m-bottom-xs">Refine your search</h5>

								<div class="search-filter-sort">
									<!-- SORT BY -->
									<div class="refine-search  dropdown dp-form dropdown-menu-right d-small">
										<button class=" btn btn-default color-dark-grey dropdown-toggle text-left dp-clickable" type="button" id="dropdownMenu1"
										 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="dp-text">Select Filtering Category</span>
											<input type="hidden" name="selectenquirytype" value="Proin ut elit">
											<span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
										</button>
										<!-- <button class="btn btn-default color-dark-grey dropdown-toggle text-left dp-clickable" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="dp-text">Proin ut elit</span>
											<input type="hidden" name="selectenquirytype" value="Proin ut elit">
											<span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
										</button> -->
										<ul class="dropdown-menu dp-list refine-list" aria-labelledby="dropdownMenu1">
											<li>
												<a data-search-val="texture" data-val="Texture">Texture</a>
											</li>
											<li>
												<a data-search-val="thickness" data-val="Thickness">Thickness</a>
											</li>
											<li>
												<a data-search-val="lr-rating" data-val="LR Rating">LR Rating</a>
											</li>

										</ul>
									</div>

									<div class="dropdown refine-mobile  visible-xs dropdown-menu-right m-vertical-m d-small">
										<select class="btn-default">Texture
											<option value="TEst1" data-val="Texture">Alphabet</option>
											<option value="Oldest to Latest" data-val="Texture">Oldest to Latest</option>
											<option value="Price" data-val="Texture">Price</option>
											<option value="Date Added" data-val="Texture">Date Added</option>
										</select>
									</div>
									<!-- END SORT BY -->

								</div>

								<!-- checkbox -->
								<div class="checkbox-wrapper texture-wrapper" data-checkbox-wrapper="texture">
									<div class="radio radio-split-two">

										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													Lightly Texture
													<input type="checkbox" name="Lightly Texture" data-checkname="lightly-texture">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>
										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													Lightly
													<input type="checkbox" name="Lightly" data-checkname="lightly">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>
										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													Medium Texture
													<input type="checkbox" name="Mexdium Texture" data-checkname="medium-texture">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>

										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													Smooth Texture
													<input type="checkbox" name="Smooth Texture" data-checkname="smooth-texture">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>

										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													Medium smooth
													<input type="checkbox" name="Medium Smooth" data-checkname="medium-smooth">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>

										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													Medium
													<input type="checkbox" name="Medium" data-checkname="medium">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>

										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													Hard
													<input type="checkbox" name="Hard" data-checkname="hard">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>


									</div>
								</div>
								<div class="checkbox-wrapper thickness-wrapper" data-checkbox-wrapper="thickness">
									<div class="radio radio-split-two">

										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													5mm
													<input type="checkbox" name="5mm" data-checkname="5mm">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>

										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													4mm
													<input type="checkbox" name="4mm" data-checkname="4mm">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>

										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													3mm
													<input type="checkbox" name="3mm" data-checkname="3mm">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>

										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													2mm
													<input type="checkbox" name="2mm" data-checkname="2mm">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>

										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													1MM
													<input type="checkbox" name="1MM" data-checkname="1MM">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>


									</div>
								</div>
								<div class="checkbox-wrapper lr-rating-wrapper" data-checkbox-wrapper="lr-rating">
									<div class="radio radio-split-two">

										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													5.00
													<input type="checkbox" name="5.00" data-checkname="500">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>

										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													4.0
													<input type="checkbox" name="4.00" data-checkname="400">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>

										<div class="radio-item">
											<div class="item-inner">
												<label class=" container-checkbox fs-3">
													3.0
													<input type="checkbox" name="3.00" data-checkname="300">
													<span class="checkmark fs-3"></span>
												</label>
											</div>
										</div>



									</div>
								</div>
								<!-- checkbox end -->
							</div>
							<hr class="m-no" />
							<div class="each checkbox-button-wrapper">

								<div data-checkbutton="texture">
									<p class=" m-no">Texture</p>

								</div>

								<div data-checkbutton="thickness">
									<p class=" m-no">Thickness</p>
								</div>
								<div data-checkbutton="lr-rating">
									<p class=" m-no">LR Rating</p>
								</div>
							</div>
							<!-- <div class="search-checkbox-text"> -->
							<!-- <p class="fs-3 color-grey m-no">Texture</p>
									<button class="m-xs bold btn btn-xs" type="button">Medium
										<span class="fs-1 p-left-s">&times;</span>
									</button>

									<button class="m-xs bold btn btn-xs" type="button">Medium smooth
										<span class="fs-1 p-left-s">&times;</span>
									</button> -->

							<!-- </div> -->

							<!-- <div>
									<p class="fs-3 color-grey m-top-s m-bottom-no">LR Rating</p>
									<button class="m-xs bold btn btn-xs" type="button">0.73
										<span class="fs-1 p-left-s">&times;</span>
									</button>

									<button class="m-xs bold btn btn-xs" type="button">0.83
										<span class="fs-1 p-left-s">&times;</span>
									</button>
								</div> -->


							<div class="each">
								<button type="submit" class="btn width-full button-green btn-brand-default">apply filter</button>
							</div>

						</div>
					</form>

					<!-- end c-sidebar -->

				</div>
			</div>
			<!-- sidebar end -->

			<div class="col-xs-12 col-sm-9 col-md-9 make-sticky_limit">

				<!-- SEARCH CONTENT -->
				<div class="search-main-content listing-search-content">
					<div class="inner">

						<div class="each m-bottom-xxl p-side-m" data-title-value="1">
							<div class=" bg-light-grey custom-block flex-column justify-space-between align-stretch">
								<div class="thumbs flex-shrink-0">
									<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg">
								</div>
								<h6 class="title ht6 uppercase text-center p-s">Title Title Title CEILING PANEL
								</h6>

								<div class="checkbox-content">
									<div class="radio">
										<label class="container-checkbox fs-2">
											Compare Products
											<input type="checkbox" name="" data-input-value="1">
											<span class="checkmark fs-2"></span>
										</label>
									</div>
								</div>

								<div class="addto text-center uppercase">
									<a href="#">
										<span class="fs-2">
											<strong>View Product</strong>
										</span>
									</a>
								</div>
							</div>
						</div>

						<div class="each m-bottom-xxl p-side-m" data-title-value="2">
							<div class=" bg-light-grey custom-block flex-column justify-space-between align-stretch">
								<div class="thumbs flex-shrink-0">
									<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

								</div>
								<h6 class="title ht6 uppercase text-center p-s">Echostop®Perforated Plasterboard</h6>

								<div class="checkbox-content">
									<div class="radio">
										<label class="container-checkbox fs-2">
											Compare Products
											<input type="checkbox" name="" data-input-value="2">
											<span class="checkmark fs-2"></span>
										</label>
									</div>
								</div>

								<div class="addto text-center uppercase">
									<a href="#">
										<span class="fs-2">
											<strong>View Product</strong>
										</span>
									</a>
								</div>
							</div>
						</div>

						<div class="each m-bottom-xxl p-side-m" data-title-value="3">
							<div class="bg-light-grey custom-block flex-column justify-space-between align-stretch">
								<div class="thumbs flex-shrink-0">
									<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

								</div>
								<h6 class="title ht6 uppercase text-center p-s">Nova White - sLay-In Ceiling Panel</h6>

								<div class="checkbox-content">
									<div class="radio">
										<label class="container-checkbox fs-2">
											Compare Products
											<input type="checkbox" name="" data-input-value="3">
											<span class="checkmark fs-2"></span>
										</label>
									</div>
								</div>
								<div class="addto text-center uppercase">
									<a href="#">
										<span class="fs-2">
											<strong>View Product</strong>
										</span>
									</a>
								</div>

							</div>
						</div>

						<div class="each m-bottom-xxl p-side-m" data-title-value="4">
							<div class="bg-light-grey custom-block flex-column justify-space-between align-stretch">
								<div class="thumbs flex-shrink-0">
									<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

								</div>
								<h6 class="title ht6 uppercase text-center p-s">Donn™ DX™ Join 02 CAD
									<br />AUS (English)</h6>

								<div class="checkbox-content">
									<div class="radio">
										<label class="container-checkbox fs-2">
											Compare Products
											<input type="checkbox" name="" data-input-value="4">
											<span class="checkmark fs-2"></span>
										</label>
									</div>
								</div>

								<div class="addto text-center uppercase">
									<a href="#">
										<span class="fs-2">
											<strong>View Product</strong>
										</span>
									</a>
								</div>
							</div>
						</div>

						<div class="each m-bottom-xxl p-side-m" data-title-value="5">
							<div class="bg-light-grey custom-block flex-column justify-space-between align-stretch">
								<div class="thumbs flex-shrink-0">
									<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />
								</div>
								<h6 class="title ht6 uppercase text-center p-s">Echostop®Perforated Plasterboard</h6>
								<div class="checkbox-content">
									<div class="radio">
										<label class="container-checkbox fs-2">
											Compare Products
											<input type="checkbox" name="" data-input-value="5">
											<span class="checkmark fs-2"></span>
										</label>
									</div>
								</div>

								<div class="addto text-center uppercase">
									<a href="#">
										<span class="fs-2">
											<strong>View Product</strong>
										</span>
									</a>
								</div>
							</div>
						</div>

						<div class="each m-bottom-xxl p-side-m" data-title-value="6">
							<div class="bg-light-grey custom-block flex-column justify-space-between align-stretch">
								<div class="thumbs flex-shrink-0">
									<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

								</div>
								<h6 class="title ht6 uppercase text-center p-s">Nova White - sLay-In Ceiling Panel</h6>

								<div class="checkbox-content">
									<div class="radio">
										<label class="container-checkbox fs-2">
											Compare Products
											<input type="checkbox" name="" data-input-value="6">
											<span class="checkmark fs-2"></span>
										</label>
									</div>
								</div>
								<div class="addto text-center uppercase">
									<a href="#">
										<span class="fs-2">
											<strong>View Product</strong>
										</span>
									</a>
								</div>

							</div>
						</div>

					</div>
				</div>
				<!-- END SEARCH CONTENT -->

				<!-- SEARCH PAGINATION -->
				<nav aria-label="Page navigation">
					<ul class="pagination pull-right m-top-no">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&lt;</span>
							</a>
						</li>
						<li>
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&gt;</span>
							</a>
						</li>
					</ul>
					<div class="clearfix"></div>

				</nav>
				<!-- END SEARCH PAGINATION -->

				<!-- social icon -->
				<div class="col-xs-12 ">
					<hr />
					<p class=" fs-3 m-top-s color-grey">Share this page: &nbsp;
						<a href="" class="stacked-default icon-color-darker-grey">
							<span class="fa-stack fa-lg">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						<a href="" class="stacked-default icon-color-darker-grey">
							<span class="fa-stack fa-lg">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						<a href="" class="stacked-default icon-color-darker-grey">
							<span class="fa-stack fa-lg">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</p>
				</div>
				<!-- social end -->

			</div>



		</div>
	</div>
	<!-- section 2 end -->



	<!-- SECTION 3-->
	<div class="container-fluid bg-light-grey ">
		<div class="row m-vertical-4xxl m-sm-vertical-5xl hidden-xs">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 m-bottom-xs">
						<h2 class="ht4 uppercase text-center color-darker-grey">find out what WE have</h2>
						<p class="text-center color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
					</div>
				</div>

				<div class="row  m-top-xl">
					<ul class="icon-group-wrapper">
						<li>
							<p class="icon icon-150 icon-ceiling color-primary-green"></p>
							<p class="m-top-l bold">Ceilings</p>
						</li>
						<li>
							<p class="icon icon-150 icon-interior-lining color-primary-green"></p>
							<p class="m-top-l bold">Interior Linings</p>
						</li>
						<li>
							<p class="icon icon-150 icon-finishes color-primary-green"></p>
							<p class="m-top-l bold">Finishes</p>
						</li>
						<li>
							<p class="icon icon-150 icon-steel-framing color-primary-green"></p>
							<p class="m-top-l bold">Steel Framing</p>
						</li>
						<li>
							<p class="icon icon-150 icon-cornice color-primary-green"></p>
							<p class="m-top-l bold">Cornice</p>
						</li>
						<li>
							<p class="icon icon-150 icon-plasteringdiy color-primary-green"></p>
							<p class="m-top-l bold">Plastering DIY</p>
						</li>
						<li>
							<p class="icon icon-150 icon-insulation color-primary-green"></p>
							<p class="m-top-l bold">Insulations</p>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	<!-- SECTION 3 END -->


	<!-- SECTION 4-->
	<div class="container-fluid bg-white">
		<div class="row  m-vertical-4xxl m-sm-vertical-5xl ">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 m-bottom-xs">
						<h2 class="ht6 color-darker-grey ">Your browsing history</h2>
					</div>
				</div>
				<!-- carousel items -->
				<div class="row">
					<div class="feature-card-wrapper">
						<!-- slick div -->
						<div class="carousel-feature-card" data-slick='{
						"dots": false,
						"infinite": true,
						"speed": 300,
						"slidesToShow": 5,
						"slidesToScroll": 1,
						"responsive": [
							{
								"breakpoint": 992,
								"settings": {
									"slidesToShow": 4,
									"dots":true
								}
							},
							{
								"breakpoint": 768,
								"settings": {
									"slidesToShow": 3,
									"dots":true
								}
							},
							{
								"breakpoint": 600,
								"settings": {
									"slidesToShow": 1,
									"dots":true
								}
							}
						]
					}'>
							<!-- featured items start -->
							<!-- 1 -->
							<div class="col-sm-2 p-xl">
								<a href="#" target="_blank">
									<div class="box-size-m box-type-2 p-md-xs p-xs">
										<div class="center width-full">
											<div class="box-inner-img"></div>
											<h2 class="m-top-m fs-1 color-darker-grey text-center bold">Multistop ™ 3HI - Multi Performance Plasterboard</h2>
										</div>
										<span class="bg-box-hover"> </span>
									</div>
								</a>
							</div>
							<!-- 1 end -->
							<!-- 2 -->
							<div class="col-sm-2 p-xl">
								<a href="#" target="_blank">
									<div class="box-size-m box-type-2 p-md-xs p-xs">
										<div class="center width-full">
											<div class="box-inner-img"></div>
											<h2 class="m-top-m fs-1 color-darker-grey text-center bold">FIBEROCK® Aqua-Tough™ - MultiPerformance Gypsum Board</h2>
										</div>
										<span class="bg-box-hover"> </span>
									</div>
								</a>
							</div>
							<!-- 2 end -->
							<!-- 3 -->
							<div class="col-sm-2  p-xl">
								<a href="#" target="_blank">
									<div class="box-size-m box-type-2 p-md-xs p-xs">
										<div class="center width-full">
											<div class="box-inner-img"></div>
											<h2 class="m-top-m fs-1 color-darker-grey text-center bold">Multistop ™ 3HI - Multi Performance Plasterboard</h2>
										</div>
										<span class="bg-box-hover"> </span>
									</div>
								</a>
							</div>
							<!-- 3 end -->
							<!-- 4 -->
							<div class="col-sm-2  p-xl">
								<a href="#" target="_blank">
									<div class="box-size-m box-type-2 p-md-xs p-xs">
										<div class="center width-full">
											<div class="box-inner-img"></div>
											<h2 class="m-top-m fs-1 color-darker-grey text-center bold">DIY Plasterboard Accessories
											</h2>
										</div>
										<span class="bg-box-hover"> </span>
									</div>
								</a>
							</div>
							<!-- 4 end -->
							<!-- 5-->
							<div class="col-sm-2  p-xl">
								<a href="#" target="_blank">
									<div class="box-size-m box-type-2 p-md-xs p-xs">
										<div class="center width-full">
											<div class="box-inner-img"></div>
											<h2 class="m-top-m fs-1 color-darker-grey text-center bold">DIY Plasterboard Accessories
											</h2>
										</div>
										<span class="bg-box-hover"> </span>
									</div>
								</a>
							</div>
							<!-- 5 end -->
							<!-- featured items end -->
						</div>
						<!-- slick div end -->
					</div>
				</div>
				<!-- carousel item end -->
			</div>
		</div>
	</div>
	<!-- SECTION 4 END -->

	<!-- subscribe -->
	<div class="container-fluid bg-light-grey">
		<div class="container ">
			<div class="row">
				<div class="col-xs-12 m-top-5xl">
					<h3 class="ht4 uppercase m-bottom-m text-center text-sm-left ">SUBSCRIBE OUR NEWSLETTER!</h3>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<!-- c-flex-items -->

					<div class="c-flex-items m-bottom-4xxl m-sm-bottom-5xl">
						<div class="item-stretch p-no p-sm-right-m   ">
							<div class="text-center text-sm-left m-bottom-m m-sm-bottom-no">
								<p class="m-bottom-no">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhsit amet, consectetuer adipiscing elit, sed
									diam nonu nibh.sectetuer adipiscing elit, ssectetuer adipiscing elit.
								</p>
							</div>
						</div>

						<div class="item-fix p-no text-center ">
							<!-- <form>
							<div class="form-group " style=" display: inline-block;">
								<input type="text" class="form-control" id="exampleInputName" placeholder="Email Me">
							</div>
							<a href="#" class="btn btn-brand-default button-green p-xs">Subscribe</a>
						</form> -->
							<form>
								<div class="form-group " style="min-width: 240px; display: inline-block;">
									<input type="text" class="form-control" id="exampleInputName" placeholder="Email Me">
								</div>

								<button type="submit" class="m-md-top-no m-left-s btn button-green btn-brand-default">Subscribe</button>
							</form>
						</div>
					</div>
					<!-- end c-flex-items -->
				</div>
			</div>
		</div>
	</div>
	<!-- subscribe -->


</div>
<!-- END of PAGE CONTENT -->



<!-- filter mobile content -->
<div class="filter-mobile-content hidden">
	<section class="section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">

					<div class="close-filter-mobile-content p-l">
						<a href="#" class="icon-color-darker-grey icon-size-xs glyphicon glyphicon-remove"></a>
					</div>

					<!-- SEARCH FILTER -->
					<div class="search-filter m-bottom-xxl p-side-l">
						<form action="" method="get">

							<div class="wrapper">
								<div class="top">
									<p class="uppercase text-center m-no p-side-l fs-2">
										<strong>refine your search</strong>
									</p>
								</div>
								<div class="m-top-m mobile-refine-search">
									<div class="each m-vertical-xl">
										<div class="search-filter-sort">
											<div class="dropdown visible-xs dropdown-menu-right m-vertical-m d-small">
												<select id="refine-search-mobile" class=" btn-default">
													<option value="">Select Filtering Category</option>
													<option value="texture" data-val="Texture">Texture</option>
													<option value="thickness" data-val="Thickness">Thickness</option>
													<option value="lr-rating" data-val="LR Rating">LR Rating</option>
												</select>
											</div>
											<!-- END SORT BY -->

										</div>

										<!-- checkbox -->
										<div class="checkbox-wrapper mobile-texture-wrapper" data-checkbox-wrapper="texture">
											<label class="container-checkbox mobile fs-2">
												Lightly Texture
												<input type="checkbox" name="Lightly Texture" data-checkname="lightly-texture">
											</label>
											<label class="container-checkbox mobile fs-2">
												Lightly
												<input type="checkbox" name="Lightly" data-checkname="lightly">
											</label>
											<label class="container-checkbox mobile fs-2">
												Medium Texture
												<input type="checkbox" name="Medium Texture" data-checkname="medium-texture">
											</label>
											<label class="container-checkbox mobile fs-2">
												Smooth Texture
												<input type="checkbox" name="Smooth Texture" data-checkname="smooth-texture">
											</label>
											<label class="container-checkbox mobile fs-2">
												Hard
												<input type="checkbox" name="Hard" data-checkname="hard">
											</label>

										</div>
										<div class="checkbox-wrapper mobile-thickness-wrapper" data-checkbox-wrapper="thickness">
											<label class="container-checkbox mobile fs-2">
												5mm
												<input type="checkbox" name="5mm" data-checkname="5mm">
											</label>
											<label class="container-checkbox mobile fs-2">
												4mm
												<input type="checkbox" name="4mm" data-checkname="4mm">
											</label>
											<label class="container-checkbox mobile fs-2">
												3mm
												<input type="checkbox" name="3mm" data-checkname="3mm">
											</label>
											<label class="container-checkbox mobile fs-2">
												2mm
												<input type="checkbox" name="2mm" data-checkname="2mm">
											</label>
											<label class="container-checkbox mobile fs-2">
												1MM
												<input type="checkbox" name="1MM" data-checkname="1MM">
											</label>
										</div>
										<div class="checkbox-wrapper mobile-lr-rating-wrapper" data-checkbox-wrapper="lr-rating">

											<label class="container-checkbox mobile fs-2">
												5.00
												<input type="checkbox" name="5.00" data-checkname="500">
											</label>
											<label class="container-checkbox mobile fs-2">
												4.00
												<input type="checkbox" name="4.00" data-checkname="400">
											</label>
											<label class="container-checkbox mobile fs-2">
												3.00
												<input type="checkbox" name="3.00" data-checkname="300">
											</label>
										</div>
										<!-- checkbox end -->
									</div>
									<hr class="m-no" />
									<div class=" mobile-checkbox-button-wrapper m-vertical-xl">

										<div data-checkbutton="texture">
											<p class=" m-no">Texture</p>
										</div>

										<div data-checkbutton="thickness">
											<p class=" m-no">Thickness</p>
										</div>
										<div data-checkbutton="lr-rating">
											<p class=" m-no">LR Rating</p>
										</div>
									</div>

									<div class=" m-vertical-xl">
										<button type="submit" class="btn width-full button-green btn-brand-default">apply filter</button>
									</div>

								</div>
								<!-- <div class="middle p-bottom-l">

								</div> -->
							</div>


						</form>

					</div>
					<!-- END SEARCH FILTER -->

					<!-- RELATED SEARCH -->
					<div class="related-search m-bottom-xxl">
						<div class="wrapper p-l">

						</div>
					</div>
					<!-- END RELATED SERACH -->



				</div>



			</div>
		</div>

	</section>

</div>


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}"
 data-sly-unwrap/>