<!-- PAGE CONTENT -->
	<div class="page-content">

		<!-- SECTION 1 -->
		<div class="container-fluid">
			<div class="row relative">

				<div style="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-carousel-banner.jpg') center right no-repeat; background-size:cover;" data-img-mobile="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/m-bg-carousel-banner.jpg') bottom right no-repeat; background-size:cover;">
					<div class="container">
						<div class="row p-top-5xl p-bottom-5xl m-no">
							<div class="col-xs-12">
								<div class="banner-small">
									<div class=" relative m-left-s m-sm-left-3xl text-left ">
										<h2 class="ht1 uppercase color-white sanimated sfadeInDown">
											<span class="yellow-label"></span>
											ACOUSTIC PANELS & CEILING TILES</h2>
										<p class="color-white sanimated sfadeInUp delay-500-ms"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod empor incididunt ut labore et dtolore magna
											aliqua.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ico-indicator">
						<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/indicator-btn.png">
					</div>

				</div>
			</div>
		</div>
		<!-- SECTION 1 END -->


		<!--compare popup -->
		<div class="compare-popup">
			<div class="title uppercase">
				Compare Product
				<span class="glyphicon glyphicon-menu-down float-right"></span>
			</div>
			<div class="popup-content c-auto-center-list">
				<div class="each">
					<div class="left">
						<img src="https://dummyimage.com/300x220/000/fff" alt="">
					</div>
					<div class="right">
						<p>Echostop® Perforated Plasterboard</p>
					</div>
					<button type="button" class="close-btn-box" aria-label="Close">
						<span class="bold" aria-hidden="true">×</span>
					</button>
				</div>
				<hr>
				<!-- <div class="each">
					<div class="left">
						<img src="https://dummyimage.com/300x220/000/fff" alt="">
					</div>
					<div class="right">
						<p>Nova White - Lay -In Ceiling Panel</p>
					</div>
					<button type="button" class="close-btn-box" aria-label="Close">
						<span class="bold" aria-hidden="true">×</span>
					</button>
				</div> -->
				<div class="each">
					<button type="submit" class="btn width-full button-green btn-brand-default">compare selected</button>
				</div>
			</div>
		</div>
		<!-- compare popup end -->


		<!-- BREADCUMB-BOX -->
		<div class="container ">
			<div class="row m-vertical-m hidden-xs">
				<div class="c-flex-items col-xs-12">
					<div class="item-stretch breadcrumb-box">
						<ol class="breadcrumb m-no p-no bg-white">
							<li>Products</li>
							<li>Ceilings</li>
							<li class="active">
								<b>Acoustic Panels & Ceiling Tiles</b>
							</li>
						</ol>
					</div>

					<!-- dropdown desktop -->
					<div class="item-fix p-no text-center">
						<div class="dropdown pull-right p-right-m m-vertical-m d-small" style="min-width: 280px; display: inline-block;">
							<button class="btn btn-default color-dark-grey dropdown-toggle text-left" type="button" id="dropdownMenu1" data-toggle="dropdown"
							 aria-haspopup="true" aria-expanded="false">
								<span>Sort By</span>
								<span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li>
									<a href="#">Alphabet</a>
								</li>
								<li>
									<a href="#">Oldest to Latest</a>
								</li>
								<li>
									<a href="#">Price</a>
								</li>
								<li>
									<a href="#">Date Added</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- dropdown desktop -->
				</div>
			</div>
		</div>

		<!-- dropdown mobile -->
		<div class="container-fluid">
			<div class="row visible-xs m-bottom-l">
				<form action="" class="flex-row justify-space-between">
					<div class="dropdown p-no   " style="width:100%; display: inline-block;">
						<button class="btn bg-light-grey color-dark-grey  dropdown-toggle text-left" type="button" id="dropdownMenu1" data-toggle="dropdown"
						 aria-haspopup="true" aria-expanded="false">
							<span>Acoustic Panels & Ceiling Tiles </span>
							<span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li>
								<a href="#">Fine</a>
							</li>
							<li>
								<a href="#">Oldest to Latest</a>
							</li>
							<li>
								<a href="#">Price</a>
							</li>
							<li>
								<a href="#">Date Added</a>
							</li>
						</ul>
					</div>

					<div class=" p-no m-left-xs" style="display: inline-block;">
						<button class="btn p-s bg-light-grey color-dark-grey " type="button" style="border-radius:0px">
							<span class=" p-left-s color-primary-green glyphicon glyphicon-filter "></span>
						</button>
					</div>
				</form>

			</div>
		</div>
		<!-- dropdown mobile -->
		<!-- BREADCUMB-BOX END -->


		<!-- section 2 -->
		<div class="container">
			<div class="row m-bottom-xxl">
				<!-- set p-left-no, avoid sticy width's glitch -->
				<div class="col-xs-12 col-sm-3 col-md-3 hidden-xs p-left-no make-sticky">
					<div class="make-sticky_inner">

						<!-- c-sidebar -->
						<div class="c-sidebar rounded-corners">
							<div class="each">
								<a href="#" class="color-dark-grey bold ht6 uppercase m-bottom-xs">Application highlight</a>
							</div>
							<hr class="m-no" />
							<div class="each">
								<a href="#" class="color-dark-grey bold ht6 uppercase m-bottom-xs">Acoustic Suspension Systems</a>
							</div>
							<hr class="m-no" />
							<div class="each">
								<a href="#" class="color-dark-grey bold ht6 uppercase m-bottom-xs">Systems Integrated Systems</a>
							</div>
							<hr class="m-no" />
							<div class="each">
								<a href="#" class="color-dark-grey bold ht6 uppercase m-bottom-xs">Specialty Ceilings</a>
							</div>
							<hr class="m-no" />
							<div class="each">
								<a href="#" class="color-dark-grey bold ht6 uppercase m-bottom-xs">Metal Ceilings</a>
							</div>
							<hr class="m-no" />
							<div class="each">
								<a href="#" class="color-dark-grey bold ht6 uppercase m-bottom-xs">Asona Acoustic Range</a>
							</div>

						</div>

						<form action="" method="get">
							<div class="c-sidebar m-top-m rounded-corners">

								<div class="each">
									<h5 class="color-dark-grey bold ht6 uppercase m-bottom-xs">Refine your search</h5>

									<!-- dropdown -->
									<div class="dropdown width-full" style="display: inline-block;">
										<button class="btn btn-default color-dark-grey dropdown-toggle text-left" type="button" id="dropdownMenu1" data-toggle="dropdown"
										 aria-haspopup="true" aria-expanded="false">
											<span>Texture</span>
											<span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
											<li>
												<a href="#">Fine</a>
											</li>
											<li>
												<a href="#">Smooth</a>
											</li>
											<li>
												<a href="#">Medium</a>
											</li>
											<li>
												<a href="#">Lightly texture</a>
											</li>
										</ul>
									</div>
									<!-- checkbox -->
									<div class="checkbox-wrapper">
										<div class="radio radio-split-two">

											<div class="radio-item">
												<div class="item-inner">
													<label class=" container-checkbox fs-3">
														Lightly Texture
														<input type="checkbox" name="Finishes">
														<span class="checkmark fs-3"></span>
													</label>
												</div>
											</div>
											<div class="radio-item">
												<div class="item-inner">
													<label class=" container-checkbox fs-3">
														Lightly
														<input type="checkbox" name="Finishes">
														<span class="checkmark fs-3"></span>
													</label>
												</div>
											</div>
											<div class="radio-item">
												<div class="item-inner">
													<label class=" container-checkbox fs-3">
														Medium Texture
														<input type="checkbox" name="Finishes">
														<span class="checkmark fs-3"></span>
													</label>
												</div>
											</div>

											<div class="radio-item">
												<div class="item-inner">
													<label class=" container-checkbox fs-3">
														Smooth Texture
														<input type="checkbox" name="Finishes">
														<span class="checkmark fs-3"></span>
													</label>
												</div>
											</div>

											<div class="radio-item">
												<div class="item-inner">
													<label class=" container-checkbox fs-3">
														Medium smooth
														<input type="checkbox" name="Finishes">
														<span class="checkmark fs-3"></span>
													</label>
												</div>
											</div>

											<div class="radio-item">
												<div class="item-inner">
													<label class=" container-checkbox fs-3">
														Medium
														<input type="checkbox" name="Finishes">
														<span class="checkmark fs-3"></span>
													</label>
												</div>
											</div>

											<div class="radio-item">
												<div class="item-inner">
													<label class=" container-checkbox fs-3">
														Hard
														<input type="checkbox" name="Finishes">
														<span class="checkmark fs-3"></span>
													</label>
												</div>
											</div>


										</div>
									</div>
									<!-- checkbox end -->
								</div>
								<hr class="m-no" />
								<div class="each">

									<p class="fs-3 color-grey m-no">Texture</p>
									<button class="m-xs bold btn btn-xs" type="button">Medium
										<span class="fs-1 p-left-s">&times;</span>
									</button>

									<button class="m-xs bold btn btn-xs" type="button">Medium smooth
										<span class="fs-1 p-left-s">&times;</span>
									</button>

									<p class="fs-3 color-grey m-top-s m-bottom-no">LR Rating</p>
									<button class="m-xs bold btn btn-xs" type="button">0.73
										<span class="fs-1 p-left-s">&times;</span>
									</button>

									<button class="m-xs bold btn btn-xs" type="button">0.83
										<span class="fs-1 p-left-s">&times;</span>
									</button>
								</div>


								<div class="each">
									<button type="submit" class="btn width-full button-green btn-brand-default">apply filter</button>
								</div>

							</div>
						</form>

						<!-- end c-sidebar -->

					</div>
				</div>
				<!-- sidebar end -->

				<div class="col-xs-12 col-sm-9 col-md-9 make-sticky_limit">

					<!-- SEARCH CONTENT -->
					<div class="search-main-content listing-search-content">
						<div class="inner">

							<div class="each m-bottom-xxl p-side-m">
								<div class=" bg-light-grey custom-block flex-column justify-space-between align-stretch">
									<div class="thumbs flex-shrink-0">
									
										<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />
									</div>
									<h6 class="title ht6 uppercase text-center p-s">Donn™ DX™ Join 02 CAD
										<br />AUS (English)</h6>

									<div class="checkbox-content">
										<div class="radio">
											<label class="container-checkbox fs-2">
												Interior Linings1
												<input data-check="compare1" type="checkbox" name="Interior Linings">
												<span class="checkmark fs-2"></span>
											</label>
										</div>
									</div>

									<div class="addto text-center uppercase">
										<a href="#">
											<span class="fs-2">
												<strong>View Product</strong>
											</span>
										</a>
									</div>
								</div>
							</div>

							<div class="each m-bottom-xxl p-side-m">
								<div class=" bg-light-grey custom-block flex-column justify-space-between align-stretch">
									<div class="thumbs flex-shrink-0">
										<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

									</div>
									<h6 class="title ht6 uppercase text-center p-s">Echostop®Perforated Plasterboard</h6>

									<div class="checkbox-content">
										<div class="radio">
											<label class="container-checkbox fs-2">
												Interior Linings2
												<input data-check="compare2" type="checkbox" name="Interior Linings">
												<span class="checkmark fs-2"></span>
											</label>
										</div>
									</div>

									<div class="addto text-center uppercase">
										<a href="#">
											<span class="fs-2">
												<strong>View Product</strong>
											</span>
										</a>
									</div>
								</div>
							</div>

							<div class="each m-bottom-xxl p-side-m">
								<div class="bg-light-grey custom-block flex-column justify-space-between align-stretch">
									<div class="thumbs flex-shrink-0">
										<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

									</div>
									<h6 class="title ht6 uppercase text-center p-s">Nova White - sLay-In Ceiling Panel</h6>

									<div class="checkbox-content">
										<div class="radio">
											<label class="container-checkbox fs-2">
												Interior Linings3
												<input data-check="compare3" type="checkbox" name="Interior Linings">
												<span class="checkmark fs-2"></span>
											</label>
										</div>
									</div>
									<div class="addto text-center uppercase">
										<a href="#">
											<span class="fs-2">
												<strong>View Product</strong>
											</span>
										</a>
									</div>

								</div>
							</div>

							<div class="each m-bottom-xxl p-side-m">
								<div class="bg-light-grey custom-block flex-column justify-space-between align-stretch">
									<div class="thumbs flex-shrink-0">
										<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

									</div>
									<h6 class="title ht6 uppercase text-center p-s">Donn™ DX™ Join 02 CAD
										<br />AUS (English)</h6>

									<div class="checkbox-content">
										<div class="radio">
											<label class="container-checkbox fs-2">
												Interior Linings
												<input type="checkbox" name="Interior Linings">
												<span class="checkmark fs-2"></span>
											</label>
										</div>
									</div>

									<div class="addto text-center uppercase">
										<a href="#">
											<span class="fs-2">
												<strong>View Product</strong>
											</span>
										</a>
									</div>
								</div>
							</div>

							<div class="each m-bottom-xxl p-side-m">
								<div class="bg-light-grey custom-block flex-column justify-space-between align-stretch">
									<div class="thumbs flex-shrink-0">
										<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

									</div>
									<h6 class="title ht6 uppercase text-center p-s">Echostop®Perforated Plasterboard</h6>

									<div class="checkbox-content">
										<div class="radio">
											<label class="container-checkbox fs-2">
												Interior Linings
												<input type="checkbox" name="Interior Linings">
												<span class="checkmark fs-2"></span>
											</label>
										</div>
									</div>

									<div class="addto text-center uppercase">
										<a href="#">
											<span class="fs-2">
												<strong>View Product</strong>
											</span>
										</a>
									</div>
								</div>
							</div>

							<div class="each m-bottom-xxl p-side-m">
								<div class="bg-light-grey custom-block flex-column justify-space-between align-stretch">
									<div class="thumbs flex-shrink-0">
										<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

									</div>
									<h6 class="title ht6 uppercase text-center p-s">Nova White - sLay-In Ceiling Panel</h6>

									<div class="checkbox-content">
										<div class="radio">
											<label class="container-checkbox fs-2">
												Interior Linings
												<input type="checkbox" name="Interior Linings">
												<span class="checkmark fs-2"></span>
											</label>
										</div>
									</div>
									<div class="addto text-center uppercase">
										<a href="#">
											<span class="fs-2">
												<strong>View Product</strong>
											</span>
										</a>
									</div>

								</div>
							</div>

							<div class="each m-bottom-xxl p-side-m">
								<div class="bg-light-grey custom-block flex-column justify-space-between align-stretch">
									<div class="thumbs flex-shrink-0">
										<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

									</div>
									<h6 class="title ht6 uppercase text-center p-s">Donn™ DX™ Join 02 CAD
										<br />AUS (English)</h6>

									<div class="checkbox-content">
										<div class="radio">
											<label class="container-checkbox fs-2">
												Interior Linings
												<input type="checkbox" name="Interior Linings">
												<span class="checkmark fs-2"></span>
											</label>
										</div>
									</div>

									<div class="addto text-center uppercase">
										<a href="#">
											<span class="fs-2">
												<strong>View Product</strong>
											</span>
										</a>
									</div>
								</div>
							</div>

							<div class="each m-bottom-xxl p-side-m">
								<div class="bg-light-grey custom-block flex-column justify-space-between align-stretch">
									<div class="thumbs flex-shrink-0">
										<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

									</div>
									<h6 class="title ht6 uppercase text-center p-s">Echostop®Perforated Plasterboard</h6>

									<div class="checkbox-content">
										<div class="radio">
											<label class="container-checkbox fs-2">
												Interior Linings
												<input type="checkbox" name="Interior Linings">
												<span class="checkmark fs-2"></span>
											</label>
										</div>
									</div>

									<div class="addto text-center uppercase">
										<a href="#">
											<span class="fs-2">
												<strong>View Product</strong>
											</span>
										</a>
									</div>
								</div>
							</div>

							<div class="each m-bottom-xxl p-side-m">
								<div class="bg-light-grey custom-block flex-column justify-space-between align-stretch">
									<div class="thumbs flex-shrink-0">
										<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

									</div>
									<h6 class="title ht6 uppercase text-center p-s">Nova White - sLay-In Ceiling Panel</h6>

									<div class="checkbox-content">
										<div class="radio">
											<label class="container-checkbox fs-2">
												Interior Linings
												<input type="checkbox" name="Interior Linings">
												<span class="checkmark fs-2"></span>
											</label>
										</div>
									</div>
									<div class="addto text-center uppercase">
										<a href="#">
											<span class="fs-2">
												<strong>View Product</strong>
											</span>
										</a>
									</div>

								</div>
							</div>
							<div class="each m-bottom-xxl p-side-m">
								<div class="bg-light-grey custom-block flex-column justify-space-between  align-stretch">
									<div class="thumbs flex-shrink-0">
										<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

									</div>
									<h6 class="title ht6 uppercase text-center p-s">Nova White - sLay-In Ceiling Panel</h6>

									<div class="checkbox-content">
										<div class="radio">
											<label class="container-checkbox fs-2">
												Interior Linings
												<input type="checkbox" name="Interior Linings">
												<span class="checkmark fs-2"></span>
											</label>
										</div>
									</div>
									<div class="addto text-center uppercase">
										<a href="#">
											<span class="fs-2">
												<strong>View Product</strong>
											</span>
										</a>
									</div>

								</div>
							</div>
							<div class="each m-bottom-xxl p-side-m">
								<div class=" bg-light-grey custom-block flex-column justify-space-between  align-stretch">
									<div class="thumbs flex-shrink-0">
										<img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/interior-img.png" />

									</div>
									<h6 class="title ht6 uppercase text-center p-s">Nova White - sLay-In Ceiling Panel</h6>

									<div class="checkbox-content">
										<div class="radio">
											<label class="container-checkbox fs-2">
												Interior Linings
												<input type="checkbox" name="Interior Linings">
												<span class="checkmark fs-2"></span>
											</label>
										</div>
									</div>
									<div class="addto text-center uppercase">
										<a href="#">
											<span class="fs-2">
												<strong>View Product</strong>
											</span>
										</a>
									</div>

								</div>
							</div>
	


						</div>
					</div>
					<!-- END SEARCH CONTENT -->

					<!-- SEARCH PAGINATION -->
					<nav aria-label="Page navigation">
						<ul class="pagination pull-right m-top-no">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">&lt;</span>
								</a>
							</li>
							<li>
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">&gt;</span>
								</a>
							</li>
						</ul>
						<div class="clearfix"></div>

					</nav>
					<!-- END SEARCH PAGINATION -->

					<!-- social icon -->
					<div class="col-xs-12 ">
						<hr />
						<p class=" fs-3 m-top-s color-grey">Share this page: &nbsp;
							<a href="" class="stacked-default icon-color-darker-grey">
								<span class="fa-stack fa-lg">
									<i class="fa fa-square fa-stack-2x"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
							</a>
							<a href="" class="stacked-default icon-color-darker-grey">
								<span class="fa-stack fa-lg">
									<i class="fa fa-square fa-stack-2x"></i>
									<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
							</a>
							<a href="" class="stacked-default icon-color-darker-grey">
								<span class="fa-stack fa-lg">
									<i class="fa fa-square fa-stack-2x"></i>
									<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</p>
					</div>
					<!-- social end -->

				</div>



			</div>
		</div>
		<!-- section 2 end -->



		<!-- SECTION 3-->
		<div class="container-fluid bg-light-grey ">
			<div class="row m-vertical-4xxl m-sm-vertical-5xl hidden-xs">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 m-bottom-xs">
							<h2 class="ht4 uppercase text-center color-darker-grey">find out what WE have</h2>
							<p class="text-center color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
						</div>
					</div>

					<div class="row  m-top-xl">
						<ul class="icon-group-wrapper">
							<li>
								<p class="icon icon-150 icon-ceiling color-primary-green"></p>
								<p class="m-top-l bold">Ceilings</p>
							</li>
							<li>
								<p class="icon icon-150 icon-interior-lining color-primary-green"></p>
								<p class="m-top-l bold">Interior Linings</p>
							</li>
							<li>
								<p class="icon icon-150 icon-finishes color-primary-green"></p>
								<p class="m-top-l bold">Finishes</p>
							</li>
							<li>
								<p class="icon icon-150 icon-steel-framing color-primary-green"></p>
								<p class="m-top-l bold">Steel Framing</p>
							</li>
							<li>
								<p class="icon icon-150 icon-cornice color-primary-green"></p>
								<p class="m-top-l bold">Cornice</p>
							</li>
							<li>
								<p class="icon icon-150 icon-plasteringdiy color-primary-green"></p>
								<p class="m-top-l bold">Plastering DIY</p>
							</li>
							<li>
								<p class="icon icon-150 icon-insulation color-primary-green"></p>
								<p class="m-top-l bold">Insulations</p>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<!-- SECTION 3 END -->


		<!-- SECTION 4-->
		<div class="container-fluid bg-white">
			<div class="row  m-vertical-4xxl m-sm-vertical-5xl ">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 m-bottom-xs">
							<h2 class="ht6 color-darker-grey ">Your browsing history</h2>
						</div>
					</div>
					<!-- carousel items -->
					<div class="row">
						<div class="feature-card-wrapper">
							<!-- slick div -->
							<div class="carousel-feature-card" data-slick='{
						"dots": false,
						"infinite": true,
						"speed": 300,
						"slidesToShow": 5,
						"slidesToScroll": 1,
						"responsive": [
							{
								"breakpoint": 992,
								"settings": {
									"slidesToShow": 4,
									"dots":true
								}
							},
							{
								"breakpoint": 768,
								"settings": {
									"slidesToShow": 3,
									"dots":true
								}
							},
							{
								"breakpoint": 600,
								"settings": {
									"slidesToShow": 1,
									"dots":true
								}
							}
						]
					}'>
								<!-- featured items start -->
								<!-- 1 -->
								<div class="col-sm-2 p-xl">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m fs-1 color-darker-grey text-center bold">Multistop ™ 3HI - Multi Performance Plasterboard</h2>
											</div>
											<span class="bg-box-hover"> </span>
										</div>
									</a>
								</div>
								<!-- 1 end -->
								<!-- 2 -->
								<div class="col-sm-2 p-xl">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m fs-1 color-darker-grey text-center bold">FIBEROCK® Aqua-Tough™ - MultiPerformance Gypsum Board</h2>
											</div>
											<span class="bg-box-hover"> </span>
										</div>
									</a>
								</div>
								<!-- 2 end -->
								<!-- 3 -->
								<div class="col-sm-2  p-xl">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m fs-1 color-darker-grey text-center bold">Multistop ™ 3HI - Multi Performance Plasterboard</h2>
											</div>
											<span class="bg-box-hover"> </span>
										</div>
									</a>
								</div>
								<!-- 3 end -->
								<!-- 4 -->
								<div class="col-sm-2  p-xl">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m fs-1 color-darker-grey text-center bold">DIY Plasterboard Accessories
												</h2>
											</div>
											<span class="bg-box-hover"> </span>
										</div>
									</a>
								</div>
								<!-- 4 end -->
								<!-- 5-->
								<div class="col-sm-2  p-xl">
									<a href="#" target="_blank">
										<div class="box-size-m box-type-2 p-md-xs p-xs">
											<div class="center width-full">
												<div class="box-inner-img"></div>
												<h2 class="m-top-m fs-1 color-darker-grey text-center bold">DIY Plasterboard Accessories
												</h2>
											</div>
											<span class="bg-box-hover"> </span>
										</div>
									</a>
								</div>
								<!-- 5 end -->
								<!-- featured items end -->
							</div>
							<!-- slick div end -->
						</div>
					</div>
					<!-- carousel item end -->
				</div>
			</div>
		</div>
		<!-- SECTION 4 END -->

		<!-- subscribe -->
		<div class="container-fluid bg-light-grey">
			<div class="container ">
				<div class="row">
					<div class="col-xs-12 m-top-5xl">
						<h3 class="ht4 uppercase m-bottom-m text-center text-sm-left ">SUBSCRIBE OUR NEWSLETTER!</h3>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<!-- c-flex-items -->

						<div class="c-flex-items m-bottom-4xxl m-sm-bottom-5xl">
							<div class="item-stretch p-no p-sm-right-m   ">
								<div class="text-center text-sm-left m-bottom-m m-sm-bottom-no">
									<p class="m-bottom-no">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhsit amet, consectetuer adipiscing elit, sed
										diam nonu nibh.sectetuer adipiscing elit, ssectetuer adipiscing elit.
									</p>
								</div>
							</div>

							<div class="item-fix p-no text-center ">
								<!-- <form>
							<div class="form-group " style=" display: inline-block;">
								<input type="text" class="form-control" id="exampleInputName" placeholder="Email Me">
							</div>
							<a href="#" class="btn btn-brand-default button-green p-xs">Subscribe</a>
						</form> -->
								<form>
									<div class="form-group " style="min-width: 240px; display: inline-block;">
										<input type="text" class="form-control" id="exampleInputName" placeholder="Email Me">
									</div>

									<button type="submit" class="m-md-top-no m-left-s btn button-green btn-brand-default">Subscribe</button>
								</form>
							</div>
						</div>
						<!-- end c-flex-items -->
					</div>
				</div>
			</div>
		</div>
		<!-- subscribe -->


	</div>
	<!-- END of PAGE CONTENT -->


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}" data-sly-unwrap/>