<!-- PAGE CONTENT -->
<div class="page-content">
    
    <!-- BREADCUMB-BOX -->
    <div class="container ">
        <div class="row m-vertical-m">
            <div class=" col-xs-12">
                <div class="breadcrumb-box">
                    <ol class="breadcrumb m-no p-no bg-white">
                        <li>USG Boral</li>
                        <li class="active">
                            <b>My Order Sample Cart</b>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCUMB-BOX END -->


    <div class="container ">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="ht4 color-darker-grey uppercase m-bottom-m">My order sample cart History</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
            </div>
        </div>
    </div>

    <!-- ORDER History Wrapper-->
    <div class="container m-sm-top-l order-history-wrapper p-l">
        <div class="row bg-primary-green rounded-top p-m m-bottom-m order-header">
            <div class="col-xs-12 col-sm-3 uppercase color-white text-center">
                <h6 class="ht6">Order No.</h6>
            </div>
            <div class="col-xs-12 col-sm-3 uppercase color-white text-center">
                <h6 class="ht6">Order Date</h6>
            </div>
            <div class="col-xs-12 col-sm-3 uppercase color-white">

            </div>
            <div class="col-xs-12 col-sm-3 uppercase color-white text-center">
                <h6 class="ht6">Order Status</h6>
            </div>
        </div>
        <div class="row order-item accordionfc">
            <div class="col-xs-12 col-sm-12">

                <div class="row order-item-info">
                        <div class="col-xs-12 col-sm-3">
                                <div class="order-no">
                                    <span>USGB01234</span>
                                </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="order-date">
                                <span>11/03/2018</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3"></div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="order-status heading fs-2 collapsed" data-target="#order-no-12345" data-toggle="collapse" aria-expanded="false">
                                <span>Pending Delivery</span>
                                <span class="glyphicon glyphicon-minus"></span>
                                <span class="glyphicon glyphicon-plus"></span>
                            </div>
                        </div>
                </div>
                <div class="row order-item-desc p-sm-top-l">
                    <div class="col-xs-12">
                        <div id="order-no-12345" class="row collapse p-sm-xl bg-lighter-grey order-item-desc-info">
                            <div class="col-xs-12 col-sm-1"></div>
                            <div class="col-xs-8 col-sm-8">
                                <b>Item:</b>
                                <div class="item-name">
                                    <span>Product name #1</span>
                                </div>
                                <div class="item-name">
                                    <span>Product name #2</span>
                                </div>
                                <br>
                                <b>Ship to:</b>
                                <div class="item-ship-to-address">
                                    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</span>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-2 text-center">
                                <b>Quantity</b>
                                <div class="item-quantity"><span>1</span></div>
                                <div class="item-quantity"><span>3</span></div>
                            </div>
                            <div class="col-xs-12 col-sm-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /END ORDER History Wrapper-->

</div>
<!-- END of PAGE CONTENT -->


<script src="/etc/designs/usgb_v3/clientlib/uiux-less-ct/js/vendors/jquery.validate.min.js"></script>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}" data-sly-unwrap/>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.less.ct'}" data-sly-unwrap/>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.less.sherif'}" data-sly-unwrap/> 