
<div class="container">
	<div class="row  m-top-3xl">

		<div class="col-xs-12 col-md-4">
			
            <sly data-sly-resource="${'mix-media-player-component' @ resourceType='turquoise/components/content/mix-media-player-component'}"/>

		</div>

		<div class="col-xs-12 col-md-8 m-top-m m-sm-top-no ">

			<sly data-sly-resource="${'pd-description-component' @ resourceType='turquoise/components/content/pd-description-component'}"/>

		</div>



	</div>
</div>
<div class="clearfix" > </div>
<div>
	<sly data-sly-resource="${'product-characteristics-component' @ resourceType='turquoise/components/content/product-characteristics-component'}"/>
</div>
<div>
	<sly data-sly-resource="${'sticky-menu-component' @ resourceType='turquoise/components/content/sticky-menu-component'}"/>
</div>