<!doctype html>
<html >
    <head>
    	<meta name="viewport" content="width=device-width, maximum-scale=2.0, minimum-scale=1.0, initial-scale=1.0">
        <sly data-sly-include="partials/headlibs.html" data-sly-unwrap/>

    </head>
    <body>
    	<sly data-sly-resource="${'ipar-header' @ resourceType='foundation/components/iparsys'}"/>
		<div class="clearfix" > </div>
        <div>
			<div class="page-content ">
            	<sly data-sly-resource="${'par' @ resourceType='foundation/components/parsys'}"/>
    		</div>
        </div>

		<div class="clearfix" > </div>
        <sly data-sly-resource="${'ipar-footer' @ resourceType='foundation/components/iparsys'}"/>
        <sly data-sly-include="partials/footlibs.html" data-sly-unwrap/>

    </body>
</html>
