<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for Newsletter Component
</sly>


<sly data-sly-test.assetExist="${properties.imgPath }">
	<div class="container-fluid bg-white p-no " style="background:transparent url(${properties.imgPath @ context='unsafe'}) center right no-repeat; background-size:cover;">
</sly>
<sly data-sly-test.assetExist="${!assetExist }">
	<div class="container-fluid bg-white p-no " style="background-color: ${properties.bgColor @ context='unsafe'};">
</sly>

	<div class="${properties.opacity}">
        <div class="container subscribe-newsletter">
            <div class="row m-no m-bottom-xxl m-top-xxl">
                <div class="col-xs-12 p-no">
                    <div class="col-xs-12 col-md-6">
                        <div class="text-center text-md-left">
                            <h2 class="ht4 color-darker-grey uppercase m-bottom-m">${properties.title @ context='html'}</h2>
                            <div class="color-darker-grey">
                                ${properties.description @ context='html'}
                            </div>      
                        </div>     
                    </div> 
                    <div class="col-md-6 col-xs-12 m-md-top-8xl p-no">
                        <form>
                            <div class="search-box color-dark-grey">
                                <input class="" placeholder="${'Your Email Address' @ i18n}" >
                            </div>
                            <button type="submit" class="m-md-top-no m-top-s m-left-s btn ${properties.buttonStyle} btn-brand-default">${'EMAIL ME' @ i18n}</button>
                        </form>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>