<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
    Edit here for Feature Cards Carousel 
</sly>

<sly data-sly-use.fplisting="com.usgbv3.core.components.FeatureCardsCarousel">
      <div class="carousel-featured-item-wrapper">
            <div class="carousel-featured-item" >
                <sly data-sly-list.myitem="${fplisting.featuredProductList}">
                    <sly data-sly-call="${featuredproduct @ fp=myitem}"/>
                </sly>
            </div>
       </div>

</sly>
${fplisting.customCode}
 <template data-sly-template.featuredproduct="${ @ fp}">
     <sly data-sly-use.feature ="${'logic.js' @ color=fp.descriptionfontcolor, path= fp.nodePath}">
         <div id="${feature.divID}" class="featured-item-card-group featured-item-card text-center">
            <section class="featured-item-card__media">
                <a href="${fp.Link}" target="${fp.target}">
                    <img class="img-responsive" src="${fp.bgImgPath}" alt="" />
                </a>
            </section>
             <section class="featured-item-card__primary p-top-s p-m-top-l p-side-s p-sm-side-m p-bottom-no">
                <h6 class="featured-item-card__title bold fs-3 ${feature.fontColorDescription}">${fp.description @context="html"}</h6>
            </section>
            <section class="featured-item-card__actions p-top-m p-bottom-m p-sm-bottom-l">
                <a href="${fp.Link}" target="${fp.target}" class="btn btn-brand-default button-yellow">${fp.buttonText}</a>
            </section>
        </div>
    </sly>
</template> 

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.slick'}" data-sly-unwrap/>
<script>

// ----------------------------------------------------------------------
// Carousel Home Banner
// ----------------------------------------------------------------------
(function(){
    "use strict";
    $(document).ready(function(){
       $(".carousel-featured-item").slick({
                                            "dots": true,
                                            "infinite": false,
                                            "speed": 300,
                                            "slidesToShow": 5,
                                            "slidesToScroll": 5,
                                            "responsive": [
                                                {
                                                    "breakpoint": 992,
                                                    "settings": {
                                                        "slidesToShow": 2,
                                                        "slidesToScroll": 2
                                                    }
                                                }
                                            ]
                                        });
    });
})();

</script>