<!doctype html>
<html>
<head>
    <sly data-sly-include="partials/headlibs.html" data-sly-unwrap/>

</head>
<body class="page ${currentPage.template.name}">

<header class="header">
    <div class="wrapper">

        <div class="top flex-row justify-space-between">

            <!-- logo -->
            <div class="logo">
                <a href="#">
                    <img src="${pageProperties.logopath}"
                         srcset="/content/dam/USGBoral/Global/Website/Images/component/allsample/usgboral.png 1x, /content/dam/USGBoral/Global/Website/Images/component/allsample/usgboral-2x.png 2x"
                         alt="USGB" width="250" height="58">

                </a>
            </div>
        </div>

        <div class="bottom">
            <div class="rule bg-gradient-green-x"></div>
        </div>

    </div>
</header>
<div class="clearfix"></div>

<div class="container m-vertical-m region-landing">
    <div class="row">
        <div class="col-xs-12 col-md-9 border-r-1">
            <sly data-sly-resource="${'left' @ resourceType='foundation/components/parsys'}"/>
        </div>
        <div class="col-xs-12 col-md-3">
            <sly data-sly-resource="${'right' @ resourceType='foundation/components/parsys'}"/>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<sly data-sly-resource="${'footer' @ resourceType='usgbv3/components/content/footer'}"/>
<sly data-sly-include="partials/footlibs.html" data-sly-unwrap/>
</body>
</html>
