<div class="container m-vertical-m region-landing">
    <div class="row">
        <div class="col-xs-12 col-md-9 border-r-1">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="ht4 uppercase color-primary-green">Please select your country</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="region-landing--country-list">
                        <ul>
                            <li>
                                <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/global-landing/australia.png" alt="australia" class="m-right-m">
                                <div>
                                    <h6 class="ht6 uppercase">Australia</h6>
                                    <a href="#" target="_blank" class="fs-2 color-darker-grey">English</a>
                                </div>
                            </li>
                            <li>
                                <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/global-landing/china.png" alt="china" class="m-right-m">
                                <div>
                                    <h6 class="ht6 uppercase">China</h6>
                                    <a href="#" target="_blank" class="fs-2 color-darker-grey">Consectetuer adipiscing elit.</a>
                                </div>
                            </li>
                            <li>
                                <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/global-landing/korea.png" alt="korea" class="m-right-m">
                                <div>
                                    <h6 class="ht6 uppercase">Korea</h6>
                                    <a href="#" target="_blank" class="fs-2 color-darker-grey">Consectetuer adipi</a>
                                </div>
                            </li>
                            <li>
                                <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/global-landing/middle-east.png" alt="Middle East" class="m-right-m">
                                <div>
                                    <h6 class="ht6 uppercase">Middle east</h6>
                                    <a href="#" target="_blank" class="fs-2 color-darker-grey">English</a>
                                </div>
                            </li>
                            <li>
                                <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/global-landing/new-zealand.png" alt="New Zealand" class="m-right-m">
                                <div>
                                    <h6 class="ht6 uppercase">New Zealand</h6>
                                    <a href="#" target="_blank" class="fs-2 color-darker-grey">English</a>
                                </div>
                            </li>
                            <li>
                                <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/global-landing/vietnam.png" alt="Vietnam" class="m-right-m">
                                <div>
                                    <h6 class="ht6 uppercase">Vietnam</h6>
                                    <a href="#" target="_blank" class="fs-2 color-darker-grey">Consectetuer adipi</a>
                                </div>
                            </li>
                            <li>
                                <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/global-landing/singapore.png" alt="Singapore" class="m-right-m">
                                <div>
                                    <h6 class="ht6 uppercase">Singapore</h6>
                                    <a href="#" target="_blank" class="fs-2 color-darker-grey">English</a>
                                </div>
                            </li>
                            <li>
                                <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/global-landing/malaysia.png" alt="Malaysia" class="m-right-m">
                                <div>
                                    <h6 class="ht6 uppercase">Malaysia</h6>
                                    <a href="#" target="_blank" class="fs-2 color-darker-grey">English</a>
                                </div>
                            </li>
                            <li>
                                <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/global-landing/philippines.png" alt="Philippines" class="m-right-m">
                                <div>
                                    <h6 class="ht6 uppercase">Philippines</h6>
                                    <a href="#" target="_blank" class="fs-2 color-darker-grey">English</a>
                                </div>
                            </li>
                            <li>
                                <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/global-landing/thailand.png" alt="Thailand" class="m-right-m">
                                <div>
                                    <h6 class="ht6 uppercase">Thailand</h6>
                                    <ul class="languages">
                                        <li>
                                            <a href="#" target="_blank" class="fs-2 color-darker-grey">English</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="fs-2 color-darker-grey">Thai</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/global-landing/indonesia.png" alt="Indonesia" class="m-right-m">
                                <div>
                                    <h6 class="ht6 uppercase">Indonesia</h6>
                                    <ul class="languages">
                                        <li>
                                            <a href="#" target="_blank" class="fs-2 color-darker-grey">English</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="fs-2 color-darker-grey">Bahasa Indonesia</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="ht4 uppercase color-primary-green m-bottom-m">OUR OTHER SITE</h4>
                </div>
            </div>
            <div class="row p-bottom-l">
                <div class="col-xs-12">
                    <h6 class="bold">Export</h6>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <p>For all other markets please select your country :</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="dropdown dp-form" style="min-width: 280px; display: inline-block;">
                        <button class="btn btn-default color-dark-grey dropdown-toggle text-left dp-clickable" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="dp-text">Select Country</span>
                            <input type="hidden" name="selectenquirytype" value="Quisque a tortor">
                            <span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
                        </button>
                        <ul class="dropdown-menu dp-list" aria-labelledby="dropdownMenu1">
                            <li>
                                <a data-val="Australia">Australia</a>
                            </li>
                            <li>
                                <a data-val="China">China</a>
                            </li>
                            <li>
                                <a data-val="korea">Korea</a>
                            </li>
                            <li>
                                <a data-val="Middle East">Middle East</a>
                            </li>
                            <li>
                                <a data-val="New Zealand">New Zealand</a>
                            </li>
                            <li>
                                <a data-val="Vietnam">Vietnam</a>
                            </li>
                            <li>
                                <a data-val="Singapore">Singapore</a>
                            </li>
                            <li>
                                <a data-val="Malaysia">Malaysia</a>
                            </li>
                            <li>
                                <a data-val="Philippines">Philippines</a>
                            </li>
                            <li>
                                <a data-val="Thailand">Thailand</a>
                            </li>
                            <li>
                                <a data-val="Indonesia">Indonesia</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row p-bottom-l">
                <div class="col-xs-12">
                    <h6 class="bold">Industrial Plaster</h6>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#" class="btn btn-top-border btn-dark">Read More
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <!-- slick div -->
            <div class="feature-card-wrapper variation-1 m-bottom-s">
                <div class="carousel-feature-card" data-slick='{
                            "dots": true,
                            "infinite": false,
                            "speed": 300,
                            "slidesToShow": 1,
                            "slidesToScroll": 1,
                            "arrows": false,
                            "adaptiveHeight": true
                        }'>
                    <!-- featured items start -->
                    <!-- 1 -->
                    <div class="col-xs-12 p-no m-no">
                        <a href="#" target="_blank">
                            <div class="bg-white">
                                <div class="center width-full">
                                    <div class="box-inner-img">
                                        <div class="content uppercase">New product launches / corporate promotional / campaign event / news highlights New
                                            product launches / corporate promotional / campaign event / news highlights New
                                            product launches / corporate promotional / campaign event / news highlights</div>
                                        <!-- <img src="https://dummyimage.com/920x500/000/fff" alt=""> -->
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    <!-- 1 end -->
                    <!-- 2 -->
                    <div class="col-xs-12 p-no m-no">
                        <a href="#" target="_blank">
                            <div class="bg-white">
                                <div class="center width-full">
                                    <div class="box-inner-img">
                                        <div class="content uppercase">New product launches / corporate promotional / campaign event / news highlights</div>
                                        <!-- <img src="https://dummyimage.com/920x500/000/fff" alt=""> -->
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    <!-- 2 end -->
                    <!-- 3 -->
                    <div class="col-xs-12 p-no m-no">
                        <a href="#" target="_blank">
                            <div class="bg-white">
                                <div class="center width-full">
                                    <div class="box-inner-img">
                                        <div class="content uppercase">New product launches / corporate promotional / campaign event / news highlights</div>
                                        <!-- <img src="https://dummyimage.com/920x500/000/fff" alt=""> -->
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    <!-- 3 end -->
                    <!-- featured items end -->
                </div>

            </div>
            <!-- slick div end -->

            <div class="location">
                <div class="overlay">
                    <p class="sub-heading uppercase">USG BORAL MALAYSIA</p>
                    <p>Suite 17-03, Level 17, The Pinnacle, Persiaran Lagoon, Bandar Sunway, 46150 Petaling Jaya, Selangor Darul
                        Ehsan - MALAYSIA</p>
                    <p>Tel: +60 3 5624 3600
                        <br> Fax: +60 3 5634 3601</p>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/etc/designs/usgb_v3/clientlib/uiux-all-js.js"></script>
<script src="/etc/designs/usgb_v3/clientlib/uiux-less-ct.js"></script>