<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for Mix Media Player Component 
</sly>

<div class="gallery-slider-for  product-gallery-wrapper ${properties.isLargeScale ? 'mix-media-gallery-wrapper' : ''} bg-light-grey" data-sly-use.component="com.usgbv3.core.components.MixMediaComponent" data-slick='{
                    "slidesToShow": 1,
                    "slidesToScroll": 1,
                    "infinite": true,
                    "speed": 300,
                    "arrows": true,
                    "responsive": [
                        {
                            "breakpoint": 992,
                            "settings": {
                                "slidesToShow": 1
                            }
                        },
                        {
                            "breakpoint": 768,
                            "settings": {
                                "slidesToShow": 1
                            }
                        },
                        {
                            "breakpoint": 600,
                            "settings": {
                                "slidesToShow": 1
                            }
                        }
                    ]
                }'>

    <sly data-sly-list.mixMedia="${component.mixMediaList}">

        <div>
        	<sly data-sly-test.isEnablevideo="${mixMedia.isVideo}">
                <a data-fancybox="gallery" data-width="640" data-height="360" href="${mixMedia.link @ context='unsafe'}">
                    <span class="m-gallery-ico-play ico-play-video color-white fa fa-play-circle"></span>
                    <img src="${mixMedia.thumbnail @ context='unsafe'}" alt="${mixMedia.alt @ context='unsafe'}">
                </a>
       		</sly>
        	<sly data-sly-test="${!isEnablevideo}">
                <a data-fancybox="gallery" href="${mixMedia.link @ context='unsafe'}" target="_blank">
					<img src="${mixMedia.thumbnail @ context='unsafe'}" alt="${mixMedia.alt @ context='unsafe'}">
				</a>
       		</sly>
        </div>

    </sly>

</div>

<!-- gallery items -->
<div class="gallery-slider-nav ${properties.isLargeScale ? 'mix-media-gallery-item-wrapper' : ''} gallery-item-wrapper m-bottom-m" data-slick='{
                    "infinite": true,
                    "speed": 300,
                    "arrows": false,
                    "dots":false,
        			"focusOnSelect":true,
                    "centerMode":false,
                    "variableWidth":true
                }'>
	<sly data-sly-list.mixMedia1="${component.mixMediaList}">

		<div class="gallery-item">
			<div class="thumbnail-border" style=" background:transparent url(${mixMedia1.thumbnail @ context='unsafe'}) center no-repeat; background-size:cover;">
				<sly data-sly-test="${mixMedia1.isVideo}">
                	<span class="ico-play-video color-white fa fa-play-circle"></span>
                </sly>

				<img style="opacity:0;" src="${mixMedia1.thumbnail @ context='unsafe'}">
			</div>
		</div>

	</sly>

</div>



<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.slick'}" data-sly-unwrap/>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.mixmedia'}" data-sly-unwrap/>
