<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for Hover Icon Tile Component
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>

<div class="${properties.classid }">
	<a href="#" target="_blank">
        <div class="bg-light-grey box-size-m box-type-1 p-md-xs p-xs">
            <div class="center width-full">
                <div class="box-inner-img">
                	<img src="${properties.imgPath @ context='unsafe'}" />
                </div>
                <h2 class="m-top-m m-bottom-xs ht5 color-darker-grey text-center uppercase">${properties.title @ context='html'}</h2>  
                <div class="color-darker-grey text-center fs-2 m-no">${properties.description @ context='html'}</div>
            </div>
            <div class="bg-box-hover">
                <div class="box-text text-center va-middle">
                    <span class="main-icon ${properties.icon }"></span> 
                    <div class=" fs-2 text-hover ">
                        <p class="color-white">${properties.title @ context='html'}</p>    
                        <p class="bottom-line ha-center"></p>
                    </div>
                </div>
            </div>
        </div>
    </a> 
</div>