<!-- PAGE CONTENT -->
<div class="page-content">


    <!-- BREADCUMB-BOX -->
    <div class="container ">
        <div class="row m-vertical-m hidden-xs">
            <div class="c-flex-items col-xs-12">
                <div class="item-stretch breadcrumb-box">
                    <ol class="breadcrumb m-no p-no bg-white">
                        <li>USG Boral</li>
                        <li class="active">
                            <b>Inspiration</b>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCUMB-BOX END -->

    <!-- SECTION 5 -->
    <div class="container-fluid bg-light-grey p-no ">
        <div class="container m-top-xxl m-bottom-xxl">
            <div class="row m-no">
                <div class="col-xs-10 col-xs-offset-1 p-no">
                    <div class=" p-md-xl">
                        <div class="text-center">
                            <h2 class="ht4 color-darker-grey uppercase m-bottom-xl">Document finder</h2>
                            <p class="color-darker-grey m-md-left-3xl m-md-right-3xl p-md-left-5xl p-md-right-5xl">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, Lorem
                                ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            </p>
                        </div>
                        <div class="p-m">


                            <form>
                                <div class="search-box color-dark-grey center-block input-lg add-drop-shadow">
                                    <input class="" placeholder="Search">
                                    <button type="submit" class=" search-btn">
                                        <span class="color-primary-green glyphicon glyphicon-search p-no m-no"></span>
                                    </button>
                                </div>
                            </form>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SECTION 5 END -->



    <!-- SECTION 2 SVG ICON  -->
    <div class="container-fluid bg-light-grey p-no">
        <div class="container m-bottom-l">
            <div class="row">
                <div class="col-xs-12 p-no" data-scroll-reveal="wait 0.1s, then enter top 500ms after 0.3s">
                    <!-- text alignment: text-left, text-center, text-right -->
                    <!-- vertical alignment: va-top, va-middle, va-bottom -->
                    <!-- horizontal alignment: ha-left, ha-center, ha-right -->
                    <h2 class="ht4 uppercase text-center color-darker-grey m-top-5xl">usg boral FOR</h2>
                    <p class="text-center color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
                </div>
            </div>
            <div class="row row-0 m-no">
                <!-- 1 -->
                <div class="col-xs-12 col-sm-4">
                    <a href="#" target="_blank" class="cta-hover-tile" data-scroll-reveal="wait 0.4s, then enter over 500ms after 0.3s">
                        <div class="big-size">
                            <div class="text-center" style="overflow: hidden;">
                                <div class="m-top-m m-bottom-l icon icon-150 icon-architect-designer"></div>
                                <h2 class="m-bottom-m ht5 color-darker-grey uppercase">Architects &amp; Designers</h2>
                                <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aeneam, consectetuer adipiscing.
                                    Lorem ipsum dolor sit amet. </p>
                                <div class="  m-top-m btn button-green btn-brand-default">Find out more</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- 2 -->
                <div class="col-xs-12 col-sm-4">
                    <a href="#" target="_blank" class="cta-hover-tile" data-scroll-reveal="wait 0.4s, then enter over 500ms after 0.6s">
                        <div class="big-size">
                            <div class="text-center" style="overflow: hidden;">
                                <div class="m-top-m m-bottom-l icon icon-150 icon-builder-installers"></div>
                                <h2 class="m-bottom-m ht5 color-darker-grey uppercase">builders &amp; installers</h2>
                                <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aeneam, consectetuer adipiscing.
                                    Lorem ipsum dolor sit amet. </p>
                                <div class="  m-top-m btn button-green btn-brand-default">Find out more</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- 3 -->
                <div class="col-xs-12 col-sm-4">
                    <a href="#" target="_blank" class="cta-hover-tile" data-scroll-reveal="wait 0.4s, then enter over 500ms after 0.8s">
                        <div class="big-size">
                            <div class="text-center" style="overflow: hidden;">
                                <div class="m-top-m m-bottom-l icon icon-150 icon-homeowner"></div>
                                <h2 class="m-bottom-m ht5 color-darker-grey uppercase">homeowners</h2>
                                <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aeneam, consectetuer adipiscing.
                                    Lorem ipsum dolor sit amet. </p>
                                <div class=" m-top-m btn button-green btn-brand-default">Find out more</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- 3 end -->
            </div>
        </div>
    </div>
    <!-- SECTION 2 SVG ICON  -->



</div>
<!-- END of PAGE CONTENT -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}"
    data-sly-unwrap/>