<!-- PAGE CONTENT -->
<div class="page-content">


    <!-- BREADCUMB-BOX -->
    <div class="container ">
        <div class="row m-vertical-m">
            <div class=" col-xs-12">
                <div class="breadcrumb-box">
                    <ol class="breadcrumb m-no p-no bg-white">
                        <li>USG Boral</li>
                        <li class="active">
                            <b>Inspiration</b>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCUMB-BOX END -->

    <!-- SECTION 1 -->
    <div class="container">
        <div class="row m-no  bg-white m-sm-top-3xl m-top-4xl m-sm-bottom-5xl m-bottom-4xl ">
            <div class="col-xs-12 text-sm-left text-center">
                <h2 class="ht4 color-darker-grey uppercase m-bottom-m">how usg boral inspire you</h2>
                <p class="color-darker-grey">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, Lorem ipsum dolor
                    sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                </p>
                <p class="color-darker-grey">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, Lorem ipsum dolor
                    sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                </p>

            </div>
        </div>
    </div>
    <!-- SECTION 1 END --> 



    <!-- SECTION 2 SVG ICON  -->
    <div class="container-fluid bg-light-grey p-no">
        <div class="container m-bottom-xl">
            <div class="row">
                <div class="col-xs-12 p-no" data-scroll-reveal="wait 0.1s, then enter top 500ms after 0.3s">
                    <!-- text alignment: text-left, text-center, text-right -->
                    <!-- vertical alignment: va-top, va-middle, va-bottom -->
                    <!-- horizontal alignment: ha-left, ha-center, ha-right -->
                    <h2 class="ht4 uppercase text-center color-darker-grey m-top-5xl">usg boral FOR</h2>
                    <p class="text-center color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
                </div>
            </div>
            <div class="row row-0 m-no">
                <!-- 1 -->
                <div class="col-xs-12 col-sm-4">
                    <a href="#" target="_blank" class="cta-hover-tile" data-scroll-reveal="wait 0.4s, then enter over 500ms after 0.3s">
                        <div class="big-size">
                            <div class="text-center" style="overflow: hidden;">
                                <div class="m-top-m m-bottom-l icon icon-150 icon-architect-designer"></div>
                                <h2 class="m-bottom-m ht5 color-darker-grey uppercase">Architects &amp; Designers</h2>
                                <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aeneam, consectetuer adipiscing.
                                    Lorem ipsum dolor sit amet. </p>
                                <div class="  m-top-m btn button-green btn-brand-default">Find out more</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- 2 -->
                <div class="col-xs-12 col-sm-4">
                    <a href="#" target="_blank" class="cta-hover-tile" data-scroll-reveal="wait 0.4s, then enter over 500ms after 0.6s">
                        <div class="big-size">
                            <div class="text-center" style="overflow: hidden;">
                                <div class="m-top-m m-bottom-l icon icon-150 icon-builder-installers"></div>
                                <h2 class="m-bottom-m ht5 color-darker-grey uppercase">builders &amp; installers</h2>
                                <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aeneam, consectetuer adipiscing.
                                    Lorem ipsum dolor sit amet. </p>
                                <div class="  m-top-m btn button-green btn-brand-default">Find out more</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- 3 -->
                <div class="col-xs-12 col-sm-4">
                    <a href="#" target="_blank" class="cta-hover-tile" data-scroll-reveal="wait 0.4s, then enter over 500ms after 0.8s">
                        <div class="big-size">
                            <div class="text-center" style="overflow: hidden;">
                                <div class="m-top-m m-bottom-l icon icon-150 icon-homeowner"></div>
                                <h2 class="m-bottom-m ht5 color-darker-grey uppercase">homeowners</h2>
                                <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aeneam, consectetuer adipiscing.
                                    Lorem ipsum dolor sit amet. </p>
                                <div class=" m-top-m btn button-green btn-brand-default">Find out more</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- 3 end -->
            </div>
        </div>
    </div>
    <!-- SECTION 2 SVG ICON  -->

    <!-- SECTION 3 -->
    <div class="container">
        <div class="row m-no  bg-white m-sm-top-5xl m-top-4xl tab-tiles-title ">
            <div class="col-xs-12  text-center m-bottom-m">
                <h2 class="ht4 color-darker-grey uppercase m-bottom-m">explore our success stories</h2>
                <p class="color-darker-grey">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, Lorem ipsum dolor
                    sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                </p>
            </div>

        </div>
    </div>
    <!-- lazy load -->
    <div class="container">
        <div class="row m-no bg-white m-sm-bottom-5xl m-bottom-4xl ">
            <div class="col-xs-12 p-no tab-tiles-wrapper">
                <div class="btn-scroll-top">
                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/indicator-btn-top.png">
                </div>

                <ul class="flex-row justify-center m-bottom-m text-center ">
                    <li data-btn-category="all" class="active">
                        <a>All</a>
                    </li>
                    <li data-btn-category="project-reference">
                        <a>Project References</a>
                    </li>
                    <li data-btn-category="case-studies">
                        <a>Case Studies</a>
                    </li>
                    <li data-btn-category="testimonial">
                        <a>Testimonials</a>
                    </li>
                </ul>

                <div class="col-xs-12 p-no content-wrapper crop-height">

                    <div class="col-sm-3 col-xs-12 p-no" data-category="project-reference">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">PR lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing eliconsectetuer adipiscing eliconsectetuer adipiscing eliconsectetuer adipiscing eli t.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 p-no" data-category="case-studies">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">CS lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="project-reference">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">PR lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit. orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 p-no" data-category="project-reference">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">PR lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="case-studies">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">CS lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="project-reference">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">PR lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 p-no" data-category="project-reference">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">PR lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="case-studies">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">CS lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="project-reference">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">PR lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elitorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit..</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elitorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit..</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.orem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12 p-no" data-category="testimonial">
                        <a href="#" target="_blank">
                            <div class=" content-box bg-white p-xs p-sm-m">
                                <div class="box-img">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/shaft-img.png">
                                </div>
                                <div class="m-sm-top-m m-no color-darker-grey text-container">
                                    <h2 class=" fs-1  bold">TT lorem ipsum dolor</h2>
                                    <p>lorem ipsum dolorLorem ipsum dolor sit amet,consectetuer adipiscing elit.</p>
                                </div>
                                <span class="bg-box-hover"> </span>
                            </div>
                        </a>
                    </div>

                    <div class="fade-bg"></div>

                </div>

                <div class="col-xs-12 m-sm-vertical-3xl  m-vertical-6xl text-center">
                    <div class="p-side-3xl btn button-green btn-brand-default" id="loadMore">
                        Load More
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- SECTION 3 END -->



</div>
<!-- END of PAGE CONTENT -->


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}"
    data-sly-unwrap/>