<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>

<div data-sly-use.logic="logic.js" class="row ${logic.mgnCls} ${logic.rowpadding} ${properties.classid }">
	<div data-scroll-reveal="${properties.dcolumn1animation}" class="col col-md-${properties.dcolumnwidth} col-sm-${properties.tcolumnwidth} col-xs-${properties.mcolumnwidth} col-md-offset-${properties.doffset} col-sm-offset-${properties.toffset} col-xs-offset-${properties.moffset} ${logic.padding}">
		<sly data-sly-resource="${ @path='par', resourceType='foundation/components/parsys'}"></sly>
	</div>
</div>
