<!-- breadcrumb box -->
<div class="container">
	<div class="row m-vertical-m ">
		<div class="col-xs-12">
			<div class="breadcrumb-box">
				<ol class="breadcrumb m-no p-no bg-white">
					<li>USG BORAL</li>
					<li class="active">
						<b>Solution</b>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb box -->

<div class="container">
    <!--title start (desktop) -->
    <div class="row hidden-xs">
        <div class="col-xs-12 m-top-xl m-bottom-xl">
            <h2 class="ht4 uppercase text-center color-darker-grey">SOLUTIONS DISCOVERY (desktop)</h2>
            <p class="text-center color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor (desktop)
            </p>
        </div>
    </div>
    <!--end title (desktop) -->

    <!--title start (mobile) -->
    <div class="row visible-xs">
        <div class="col-xs-12 p-top-4xl p-sm-top-5xl p-bottom-no p-sm-bottom-no">
            <h2 class="ht4 uppercase text-center color-darker-grey">SOLUTIONS DISCOVERY (mobile)</h2>
            <p class="text-center color-darker-grey">Lorem ipsum dolor sit amet (mobile)</p>
        </div>
    </div>
    <!--title start (mobile) -->



    <!-- row 8 cards start (desktop) -->
    <div class="row m-bottom-m hidden-xs">

        <!-- 1 -->
        <div class="col-xs-3 p-m p-top-no p-bottom-no m-bottom-xxl">
            <a href="#" target="_blank">
            	<div class="box-type-5 box-size-m" style="background:transparent url('https://bit.ly/2KLisf5') top center no-repeat; background-size:cover;">

                    <div class="bg-primary-green content">
                        <h2 class="color-white ht5 p-l text-center title uppercase"><span>HOTEL</span></h2>
                        <div class="description color-darker-grey p-left-m p-right-m">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                                <elit>...</elit>
                            </p>
                        </div>
                    </div>

                </div>
            </a>
        </div>
        <!-- 1 end -->
        <!-- 2 -->
        <div class="col-xs-3 p-m p-top-no p-bottom-no m-bottom-xxl">
            <a href="#" target="_blank">
            	<div class="box-type-4 bg-primary-green box-size-m ">
            		<div class="center width-full">
            			<div class="box-inner-img">
            				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
            			</div>
            		</div>
            		<div class="flexi-height main">
            			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>OFFICES</span></h2>
            			
            		</div><div class="flexi-height sub">
            			
            			<div class="sub-text p-m">
            				<h2 class="color-darker-grey bold ht6  uppercase">OFFICES</h2>
            				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
            					<elit>...</elit>
            				</p>
            			</div>
            		</div>
            	</div>
            </a>
        </div>
        <!-- 2 end -->
        <!-- 3 -->
        <div class="col-xs-3 p-m p-top-no  p-bottom-no m-bottom-xxl">
            <a href="#" target="_blank">
            	<div class="box-type-4 bg-primary-green box-size-m ">
            		<div class="center width-full">
            			<div class="box-inner-img">
            				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
            			</div>
            		</div>
            		<div class="flexi-height main">
            			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>HEALTH CARE</span></h2>
            			
            		</div><div class="flexi-height sub">
            			
            			<div class="sub-text p-m">
            				<h2 class="color-darker-grey bold ht6  uppercase">HEALTH CARE</h2>
            				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
            					<elit>...</elit>
            				</p>
            			</div>
            		</div>
            	</div>
            </a>
        </div>
        <!-- 3 end -->
        <!-- 4 -->
        <div class="col-xs-3 p-m p-top-no p-bottom-no m-bottom-xxl">
            <a href="#" target="_blank">
            	<div class="box-type-4 bg-primary-green box-size-m ">
            		<div class="center width-full">
            			<div class="box-inner-img">
            				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
            			</div>
            		</div>
            		<div class="flexi-height main">
            			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>EDUCATION</span></h2>
            			
            		</div><div class="flexi-height sub">
            			
            			<div class="sub-text p-m">
            				<h2 class="color-darker-grey bold ht6  uppercase">EDUCATION</h2>
            				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
            					<elit>...</elit>
            				</p>
            			</div>
            		</div>
            	</div>
            </a>
        </div>
        <!-- 4 end -->
        <!-- 5 -->
        <div class="col-xs-3 p-m p-top-no p-bottom-no  m-bottom-no">
            <a href="#" target="_blank">
            	<div class="box-type-4 bg-primary-green box-size-m ">
            		<div class="center width-full">
            			<div class="box-inner-img">
            				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
            			</div>
            		</div>
            		<div class="flexi-height main">
            			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>RETAIL</span></h2>
            			
            		</div><div class="flexi-height sub">
            			
            			<div class="sub-text p-m">
            				<h2 class="color-darker-grey bold ht6  uppercase">RETAIL</h2>
            				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
            					<elit>...</elit>
            				</p>
            			</div>
            		</div>
            	</div>
            </a>
        </div>
        <!-- 5 end -->
        <!-- 6 -->
        <div class="col-xs-3 p-m p-top-no p-bottom-no  m-bottom-no">
            <a href="#" target="_blank">
            	<div class="box-type-4 bg-primary-green box-size-m ">
            		<div class="center width-full">
            			<div class="box-inner-img">
            				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
            			</div>
            		</div>
            		<div class="flexi-height main">
            			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>ENTERTAINMENT</span></h2>
            			
            		</div><div class="flexi-height sub">
            			
            			<div class="sub-text p-m">
            				<h2 class="color-darker-grey bold ht6  uppercase">ENTERTAINMENT</h2>
            				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
            					<elit>...</elit>
            				</p>
            			</div>
            		</div>
            	</div>
            </a>
        </div>
        <!-- 6 end -->
        <!-- 7 -->
        <div class="col-xs-3 p-m p-top-no p-bottom-no  m-bottom-no">
            <a href="#" target="_blank">
            	<div class="box-type-4 bg-primary-green box-size-m ">
            		<div class="center width-full">
            			<div class="box-inner-img">
            				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
            			</div>
            		</div>
            		<div class="flexi-height main">
            			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>OFFICES</span></h2>
            			
            		</div><div class="flexi-height sub">
            			
            			<div class="sub-text p-m">
            				<h2 class="color-darker-grey bold ht6  uppercase">OFFICES</h2>
            				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
            					<elit>...</elit>
            				</p>
            			</div>
            		</div>
            	</div>
            </a>
        </div>
        <!-- 7 end -->
        <!-- 8 -->
        <div class="col-xs-3 p-m p-top-no p-bottom-no m-bottom-no">
            <a href="#" target="_blank">
            	<div class="box-type-4 bg-primary-green box-size-m ">
            		<div class="center width-full">
            			<div class="box-inner-img">
            				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
            			</div>
            		</div>
            		<div class="flexi-height main">
            			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>HOTEL</span></h2>
            			
            		</div><div class="flexi-height sub">
            			
            			<div class="sub-text p-m">
            				<h2 class="color-darker-grey bold ht6  uppercase">HOTEL</h2>
            				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
            					<elit>...</elit>
            				</p>
            			</div>
            		</div>
            	</div>
            </a>
        </div>
        <!-- 8 end -->

    </div>
    <!-- row 8 cards end (desktop) -->

    <!-- row 8 cards start (mobile) -->
    <div class="row m-bottom-m visible-xs">

        <!-- 1 -->
        <div class="col-xs-12 p-s">
            <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                <div class="bg-overlay">
                    <div class="p-s text-center">
                        <h2 class="ht5 color-white uppercase p-top-s">HOTEL</h2>
                        <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 1 end -->
        <!-- 2 -->
        <div class="col-xs-12 p-s">
            <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                <div class="bg-overlay">
                    <div class="p-s text-center">
                        <h2 class="ht5 color-white uppercase p-top-s">OFFICES</h2>
                        <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 2 end -->
        <!-- 3 -->
        <div class="col-xs-12 p-s">
            <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                <div class="bg-overlay">
                    <div class="p-s text-center">
                        <h2 class="ht5 color-white uppercase p-top-s">HEALTH CARE</h2>
                        <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 3 end -->
        <!-- 4 -->
        <div class="col-xs-12 p-s">
            <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                <div class="bg-overlay">
                    <div class="p-s text-center">
                        <h2 class="ht5 color-white uppercase p-top-s">EDUCATION</h2>
                        <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 4 end -->
        <!-- 5 -->
        <div class="col-xs-12 p-s">
            <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                <div class="bg-overlay">
                    <div class="p-s text-center">
                        <h2 class="ht5 color-white uppercase p-top-s">RETAIL</h2>
                        <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 5 end -->
        <!-- 6 -->
        <div class="col-xs-12 p-s">
            <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                <div class="bg-overlay">
                    <div class="p-s text-center">
                        <h2 class="ht5 color-white uppercase p-top-s">ENTERTAINMMENT</h2>
                        <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 6 end -->
        <!-- 7 -->
        <div class="col-xs-12 p-s">
            <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                <div class="bg-overlay">
                    <div class="p-s text-center">
                        <h2 class="ht5 color-white uppercase p-top-s">OFFICES</h2>
                        <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 7 end -->
        <!-- 8 -->
        <div class="col-xs-12 p-s">
            <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                <div class="bg-overlay">
                    <div class="p-s text-center">
                        <h2 class="ht5 color-white uppercase p-top-s">HOTEL</h2>
                        <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 8 end -->

    </div>
    <!-- row 8 cards start (mobile) -->   



    <div class="row m-bottom-m m-top-4xl m-bottom-4xl">
        <div class="col-xs-12">
            <p class="color-darker-grey m-no text-center">May residential solutions you may find here</p>
        </div>
    </div>



    <!-- row 2 cards start (desktop) -->
    <div class="row m-bottom-m hidden-xs">
        <!-- 1 -->
        <div class="col-xs-6 p-m p-top-no p-bottom-no">
            <a href="#" target="_blank">
            	<div class="box-type-4 bg-primary-green box-size-m ">
            		<div class="center width-full">
            			<div class="box-inner-img">
            				<img src="https://dummyimage.com/590x150/000000/fcfcfc&amp;text=590x150+(default),+1180x300+(retina)" srcset="https://dummyimage.com/590x150/000000/fcfcfc&amp;text=590x150+(default),+1180x300+(retina) 1x, https://dummyimage.com/1180x300/000000/fcfcfc&amp;text=590x150+(default),+1180x300+(retina) 2x" alt="" width="590" height="150">

            			</div>
            		</div>
            		<div class="flexi-height main">
            			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>RENOVATION REPAIR &amp; MAINTENANCE</span></h2>
            			
            		</div><div class="flexi-height sub">
            			
            			<div class="sub-text p-m">
            				<h2 class="color-darker-grey bold ht6  uppercase">RENOVATION REPAIR &amp; MAINTENANCE</h2>
            				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
            					<elit>...</elit>
            				</p>
            			</div>
            		</div>
            	</div>
            </a>
        </div>
        <!-- 1 end -->
        <!-- 2 -->
        <div class="col-xs-6 p-m p-top-no p-bottom-no">
            <a href="#" target="_blank">
            	<div class="box-type-4 bg-primary-green box-size-m ">
            		<div class="center width-full">
            			<div class="box-inner-img">
            				<img src="https://dummyimage.com/590x150/000000/fcfcfc&amp;text=590x150+(default),+1180x300+(retina)" srcset="https://dummyimage.com/590x150/000000/fcfcfc&amp;text=590x150+(default),+1180x300+(retina) 1x, https://dummyimage.com/1180x300/000000/fcfcfc&amp;text=590x150+(default),+1180x300+(retina) 2x" alt="" width="590" height="150">
            			</div>
            		</div>
            		<div class="flexi-height main">
            			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>NEW BUILD RESIDENTIAL</span></h2>
            			
            		</div><div class="flexi-height sub">
            			
            			<div class="sub-text p-m">
            				<h2 class="color-darker-grey bold ht6  uppercase">NEW BUILD RESIDENTIAL</h2>
            				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
            					<elit>...</elit>
            				</p>
            			</div>
            		</div>
            	</div>
            </a>
        </div>
        <!-- 2 end -->
    </div>
    <!-- row 2 card end (desktop) -->

    <!-- row 2 cards start (mobile) -->
    <div class="row m-bottom-m visible-xs">

        <!-- 1 -->
        <div class="col-xs-12 p-s">
            <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                <div class="bg-overlay">
                    <div class="p-s text-center">
                        <h2 class="ht5 color-white uppercase p-top-s">HOTEL</h2>
                        <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 1 end -->
        <!-- 2 -->
        <div class="col-xs-12 p-s">
            <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                <div class="bg-overlay">
                    <div class="p-s text-center">
                        <h2 class="ht5 color-white uppercase p-top-s">OFFICES</h2>
                        <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 2 end -->

    </div>
    <!-- row 2 cards start (mobile) -->

</div>


<div class="container-fluid bg-light-grey p-no">
    <div class="container">

        <!-- our system -->
        <div class="row m-bottom-no m-top-xxl m-vertical-4xxl">
            <div class="col-xs-12">
                <h2 class="ht4 uppercase text-center color-darker-grey">OUR SYSTEM</h2>
                <p class="text-center color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor
                </p>
            </div>
        </div>
        <!-- end our system -->

        <!-- image left, text right -->
        <div class="m-bottom-4xl m-sm-bottom-m row">
            <div class="col-xs-12 col-sm-6">
                <div class="c-single-img m-bottom-m">
                    <img src="https://dummyimage.com/590x300/000000/fcfcfc&amp;text=min.+width+590px,+retina+x2" srcset="https://dummyimage.com/590x300/000000/fcfcfc&amp;text=min.+width+590px,+retina+x2 1x, https://dummyimage.com/1180x600/000000/fcfcfc&amp;text=min.+width+590px,+retina+x2 2x" alt="" width="590" height="300" >
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 text-center text-sm-left m-top-no m-sm-top-m">
                <h2 class="color-darker-grey ht4 uppercase">USG BORAL EASY FINISH SYSTEM</h2>
                <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
                <a href="#" class="btn btn-brand-default button-green">LEARN MORE</a>
            </div>
        </div>
        <!-- end image left, text right -->

        <!--row 4 cards (desktop) start -->
        <div class="row m-bottom-m  hidden-xs">
            <!-- 1 -->
            <div class="col-xs-12 col-sm-3 p-m p-top-no p-bottom-no">
                <a href="#" target="_blank">
                	<div class="box-type-4 bg-primary-green box-size-m ">
                		<div class="center width-full">
                			<div class="box-inner-img">
                				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
                			</div>
                		</div>
                		<div class="flexi-height main">
                			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>MULTIFRAME SYSTEM</span></h2>
                			
                		</div><div class="flexi-height sub">
                			
                			<div class="sub-text p-m">
                				<h2 class="color-darker-grey bold ht6  uppercase">MULTIFRAME SYSTEM</h2>
                				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
                					<elit>...</elit>
                				</p>
                			</div>
                		</div>
                	</div>
                </a>
            </div>
            <!-- 1 end -->
            <!-- 2 -->
            <div class="col-xs-12 col-sm-3 p-m p-top-no  p-bottom-no">
                <a href="#" target="_blank">
                	<div class="box-type-4 bg-primary-green box-size-m ">
                		<div class="center width-full">
                			<div class="box-inner-img">
                				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
                			</div>
                		</div>
                		<div class="flexi-height main">
                			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>FIREWALL SYSTEM</span></h2>
                			
                		</div><div class="flexi-height sub">
                			
                			<div class="sub-text p-m">
                				<h2 class="color-darker-grey bold ht6  uppercase">FIREWALL SYSTEM</h2>
                				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
                					<elit>...</elit>
                				</p>
                			</div>
                		</div>
                	</div>
                </a>
            </div>
            <!-- 2 end -->
            <!-- 3 -->
            <div class="col-xs-12 col-sm-3 p-m p-top-no  p-bottom-no">
                <a href="#" target="_blank">
                	<div class="box-type-4 bg-primary-green box-size-m ">
                		<div class="center width-full">
                			<div class="box-inner-img">
                				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
                			</div>
                		</div>
                		<div class="flexi-height main">
                			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>FIRECLAD SYSTEM</span></h2>
                			
                		</div><div class="flexi-height sub">
                			
                			<div class="sub-text p-m">
                				<h2 class="color-darker-grey bold ht6  uppercase">FIRECLAD SYSTEM</h2>
                				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
                					<elit>...</elit>
                				</p>
                			</div>
                		</div>
                	</div>
                </a>
            </div>
            <!-- 3 end -->
            <!-- 4 -->
            <div class="col-xs-12 col-sm-3 p-m p-top-no p-bottom-no">
                <a href="#" target="_blank">
                	<div class="box-type-4 bg-primary-green box-size-m ">
                		<div class="center width-full">
                			<div class="box-inner-img">
                				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
                			</div>
                		</div>
                		<div class="flexi-height main">
                			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>CINEMA ZONE SYSTEM</span></h2>
                			
                		</div><div class="flexi-height sub">
                			
                			<div class="sub-text p-m">
                				<h2 class="color-darker-grey bold ht6  uppercase">CINAMA ZONE SYSTEM</h2>
                				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
                					<elit>...</elit>
                				</p>
                			</div>
                		</div>
                	</div>
                </a>
            </div>
            <!-- 4 end -->
        </div>
        <!-- row 4 card (desktop) end -->

        <!--row 4 cards (mobile) start -->
        <div class="row m-bottom-m visible-xs">

            <!-- 1 -->
            <div class="col-xs-12 p-s">
                <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                    <div class="bg-overlay">
                        <div class="p-s text-center">
                            <h2 class="ht5 color-white uppercase p-top-s">HOTEL</h2>
                            <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 1 end -->
            <!-- 2 -->
            <div class="col-xs-12 p-s">
                <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                    <div class="bg-overlay">
                        <div class="p-s text-center">
                            <h2 class="ht5 color-white uppercase p-top-s">OFFICES</h2>
                            <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2 end -->
            <!-- 3 -->
            <div class="col-xs-12 p-s">
                <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                    <div class="bg-overlay">
                        <div class="p-s text-center">
                            <h2 class="ht5 color-white uppercase p-top-s">OFFICES</h2>
                            <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3 end -->
            <!-- 4 -->
            <div class="col-xs-12 p-s">
                <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                    <div class="bg-overlay">
                        <div class="p-s text-center">
                            <h2 class="ht5 color-white uppercase p-top-s">OFFICES</h2>
                            <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 4 end -->
            
        </div>
        <!-- row 4 card (mobile) end -->

    </div>
</div>



<div class="container">
    
    <!-- testimonial title -->
    <div class="row m-top-4xl  m-sm-top-5xl m-bottom-3xl  m-sm-bottom-4xl">
        <div class="col-xs-12">
            <h2 class="ht4 uppercase text-center color-darker-grey">TESTIMONIAL</h2>
            <p class="text-center color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaory</p>
        </div>
    </div>
    <!-- end testimonial title -->

    <!-- testimonial carousel -->
    <!-- slick div -->
    <div class="row m-top-3xl m-sm-top-4xl m-bottom-4xl m-sm-bottom-5xl">
        <div class="col-xs-12">
            <div class="left-circle-tile">
                <!-- featured items start -->
                <!-- 1 -->
                <div class="slide">
                    <div class="each flex-column flex-sm-row justify-center">
                        <div class="border flex-grow-0 flex-shrink-0 m-bottom-l round-image" >
                            <a href="#"><img src="https://dummyimage.com/200x200/000/fff&text=200x200+(default),+400x400+(retina)" srcset="https://dummyimage.com/200x200/000/fff&text=200x200+(default),+400x400+(retina) 1x, https://dummyimage.com/400x400/000/fff&text=200x200+(default),+400x400+(retina) 2x" alt="" width="200" height="200" alt=""></a>
                        </div>

                        <div class="p-sm-left-m p-sm-right-m text-center text-sm-left">
                            <h6 class="bold m-bottom-xxs uppercase">testimonial</h6>
                            <p>Lorem ipsum dolor sit amet, consectetuer</p>
                            <a href="#" class="btn btn-top-border btn-dark" tabindex="0">Read More
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 1 end -->
                <!-- 2 -->
                <div class="slide">
                    <div class="each flex-column flex-sm-row justify-center">
                        <div class="border flex-grow-0 flex-shrink-0 m-bottom-l round-image" >
                        	<a href="#"><img src="https://dummyimage.com/200x200/000/fff&text=200x200+(default),+400x400+(retina)" srcset="https://dummyimage.com/200x200/000/fff&text=200x200+(default),+400x400+(retina) 1x, https://dummyimage.com/400x400/000/fff&text=200x200+(default),+400x400+(retina) 2x" alt="" width="200" height="200" alt=""></a>
                        </div>

                        <div class="p-sm-left-m p-sm-right-m text-center text-sm-left">
                            <h6 class="bold m-bottom-xxs uppercase">testimonial</h6>
                            <p>Lorem ipsum dolor sit amet, consectetuer</p>
                            <a href="#" class="btn btn-top-border btn-dark" tabindex="0">Read More
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 2 end -->
                <!-- 3 -->
                <div class="slide">
                    <div class="each flex-column flex-sm-row justify-center">
                        <div class="border flex-grow-0 flex-shrink-0 m-bottom-l round-image" >
                        	<a href="#"><img src="https://dummyimage.com/200x200/000/fff&text=200x200+(default),+400x400+(retina)" srcset="https://dummyimage.com/200x200/000/fff&text=200x200+(default),+400x400+(retina) 1x, https://dummyimage.com/400x400/000/fff&text=200x200+(default),+400x400+(retina) 2x" alt="" width="200" height="200" alt=""></a>
                        </div>

                        <div class="p-sm-left-m p-sm-right-m text-center text-sm-left">
                            <h6 class="bold m-bottom-xxs uppercase">testimonial</h6>
                            <p>Lorem ipsum dolor sit amet, consectetuer</p>
                            <a href="#" class="btn btn-top-border btn-dark" tabindex="0">Read More
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 3 end-->
                <!-- 4 -->
                <div class="slide">
                    <div class="each flex-column flex-sm-row justify-center">
                        <div class="border flex-grow-0 flex-shrink-0 m-bottom-l round-image" >
                        	<a href="#"><img src="https://dummyimage.com/200x200/000/fff&text=200x200+(default),+400x400+(retina)" srcset="https://dummyimage.com/200x200/000/fff&text=200x200+(default),+400x400+(retina) 1x, https://dummyimage.com/400x400/000/fff&text=200x200+(default),+400x400+(retina) 2x" alt="" width="200" height="200" alt=""></a>
                        </div>

                        <div class="p-sm-left-m p-sm-right-m text-center text-sm-left">
                            <h6 class="bold m-bottom-xxs uppercase">testimonial</h6>
                            <p>Lorem ipsum dolor sit amet, consectetuer</p>
                            <a href="#" class="btn btn-top-border btn-dark" tabindex="0">Read More
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 4 end-->
                <!-- featured items end -->
            </div>
        </div>
    </div>
    <!-- testimonial carousel -->

</div>



<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}" data-sly-unwrap/>