<!-- BREADCUMB-BOX -->
<div class="container m-vertical-m ">
	<div class="row">
		<div class="col-xs-12">
			<div class="breadcrumb-box">
				<ol class="breadcrumb m-no p-no bg-white">
					<li>USG BORAL</li>
					<li class="active">
						<b>Contact Us</b>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- BREADCUMB-BOX END -->


<!-- TITLE -->
<div class="container m-vertical-m">
	<div class="row">
		<div class="col-xs-12">
			<div class="m-top-l m-bottom-l  m-sm-bottom-4xl">
				<h4 class="ht4 uppercase color-darker-grey">Contact Us</h4>
				<p>For questions regarding your building product needs, contact the friendly team at USG Boral today
					for expert advice. </p>
			</div>
		</div>
	</div>
</div>
<!-- TITLE END -->


<div class="container m-vertical-m">
	<div class="row">
		<form id="contactUsForm2" class="floating-type-form form-validate" method="post" name="htmlform" action="">
			<div class="col-sm-offset-1 col-xs-offset-0 col-sm-5 col-xs-12">
				<div class="float-label respond-msg">
					<label class="uppercase ">Enquiry Type </label>
					<span class="dropdown-arrow color-primary-green glyphicon glyphicon-menu-down fs-1"></span>
					<select name="dropdownselect" for="dropdownselect" class="drop-down-select form-control" type="select">
						<option></option>
						<option value="1">one</option>
						<option value="2">two</option>
						<option value="3">three</option>
						<option value="4">four</option>
						<option value="5">five</option>
						<option value="6">six</option>
						<option value="7">seven</option>
						<option value="8">eight</option>
						<option value="9">nine</option>
						<option value="10">ten</option>
					</select>
				</div>


				<div class="float-label respond-msg">
					<input type="text" class="form-control" name="name" required>
					<label for="name" class="uppercase ">Name</label>
				</div>
				<div class="float-label respond-msg">
					<input type="text" class="form-control" name="email" required>
					<label for="email" class="uppercase ">Email</label>
				</div>
			</div>
			<div class="col-sm-offset-1 col-xs-offset-0 col-sm-10 col-xs-12 m-bottom-xxl">
				<div class="float-label respond-msg">
					<textarea type="text" name="message" class="form-control h150" required></textarea>
					<label for="message" class="uppercase ">Message</label>
				</div>
				<br>
				<p>Kindly tick the checkbox below before submiting this form</p>
				<div class="checkbox respond-msg">
					<label class="container-checkbox">
						Please keep me informed about USG Boral News
						<input type="checkbox" name="agree">
						<span class="checkmark"></span>
					</label>
				</div>
				<p>I have read and agree to the terms and conditions.
					<a href="" target="_blank">
						<u>Privacy Policy</u>
					</a>
				</p>
			</div>
			<div class="col-xs-12 text-center  m-bottom-4xl">
				<div class="form-group">
					<button type="submit" class="btn btn-brand-default button-green" value="Submit">I AGREE AND SUBMIT</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="container-fluid bg-light-grey p-vertical-l m-vertical-m">
	<div class="container m-vertical-m ">
		<div class="row row-eq-height">
			<div class="col-sm-6 col-xs-12 p-sm-4xl p-l bg-white m-bottom-xl m-sm-no">
				<div class="row">
					<div class="col-sm-3 col-xs-4">
						<div class="thumbs">
							<img src="https://dummyimage.com/108x130/000000/fff">
						</div>

					</div>
					<div class="col-sm-9 col-xs-8">
						<h4 class="ht4 uppercase color-darker-grey">USG Boral malaysia</h4>
						<p>Suite 17-03, Level 17, The Pinnacle,
							<br> Persiaran Lagoon, Bandar Sunway,
							<br> 46150 Petaling Jaya,
							<br> Selangor Darul Ehsan - MALAYSIA
						</p>
						<p>
							<i class="fa fa-phone icon-color-darker-grey icon-size-xs"></i>&nbsp;&nbsp; + 60 3 5624 3600 </p>
						<p>
							<i class="fa fa-fax icon-color-darker-grey icon-size-xs"></i>&nbsp; + 60 3 5624 3601</p>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-xs-12 p-sm-4xl p-l bg-white left-line-light-grey">
				<h4 class="ht4 uppercase color-darker-grey">usg boral global</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
					massa. </p>
				<p>
					<a href="#" class="btn btn-brand-default button-green">FIND OUT MORE</a>
				</p>
			</div>
		</div>
	</div>
</div>



<script>

	// ----------------------------------------------------------------------
	// contact us
	// ----------------------------------------------------------------------
	
	(function () {
		"use strict";
	
	
		$(document).ready(function () {
			if($('.floating-type-form').length > 0){
				$(document).on('change', '.floating-type-form .drop-down-select', function (e) {
					var labelDropDown = $(this).closest('.float-label').find('label');
					if ($(this).val() == "") {
						$(labelDropDown).removeClass('open');
					} else {
						$(labelDropDown).addClass('open');
					}
				});
		
				$(".form-validate").validate({
				rules: {
					dropdownselect: "required",
					name: "required",
					email: {
						required: true,
						email: true
					},
					contact: {
						required: true,
						digits: true
					},
					message: "required",
					agree: "required",
					i_work_with: "required",
					i_am_interested: "required"
				},
				messages: {
					dropdownselect: "Please select one",
					name: "Please enter your name",
					email: "Please enter a valid email address",
					message: "Please enter a valid message",
					agree: "Please accept our policy",
					i_work_with: "Please select one",
					i_am_interested: "Please select one"
				},
				errorElement: "em",
				errorPlacement: function (error, element) {
					// Add the `help-block` class to the error element
					error.addClass("help-block");
	
					if (element.prop("type") === "checkbox") {
						error.insertAfter(element.closest('.checkbox'));
					} else if (element.prop("tagName").toLowerCase() === "select") {
						error.insertAfter(element);
					} else {
						error.insertAfter(element.parent().find('label'));
					}
				},
				highlight: function (element, errorClass, validClass) {
					$(element).parents(".respond-msg").addClass("has-error").removeClass("has-success");
				},
				unhighlight: function (element, errorClass, validClass) {
					$(element).parents(".respond-msg").addClass("has-success").removeClass("has-error");
				}
			});
	
			}
		});
	
		function windowOpenPage() {
			windowObjectReference = window.open(
				"https://myaccount.usgboral.com/dialog/#/?client=USG%20Boral&lang=en&state=Y3HBHe7hS11wzHhb2diIkw&bu=MY",
				"WWildlifeOrgWindowName",
				"outerWidth=600,width=500,innerWidth=400,height=700,resizable,scrollbars,status"
			);
		}
	
	})();
		
		
</script>