<link rel="stylesheet" href="/etc/designs/usgb_v3/clientlib/uiux-less-vc.css" type="text/css">
 
<!-- BREADCUMB-BOX -->
<div class="container m-vertical-m ">
		<div class="row">
			<div class="col-xs-12">
				<div class="breadcrumb-box">
					<ol class="breadcrumb m-no p-no bg-white">
						<li>USG BORAL</li>
						<li class="active">
							<b>Contact Us</b>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- BREADCUMB-BOX END -->
	
	 
	<!-- TITLE -->
	<div class="container m-vertical-m">
		<div class="row">
			<div class="col-xs-12">
				<div class="m-top-l m-bottom-l  m-sm-bottom-4xl">
					<h4 class="ht4 uppercase color-darker-grey">Contact Us</h4>
					<p>For questions regarding your building product needs, contact the friendly team at USG Boral today
						for expert advice. </p>
				</div>
			</div>
		</div>
	</div>
	<!-- TITLE END -->
	
	
	<div class="container m-vertical-m">
		<div class="row">
			<form id="contactUsForm1" class="floating-type-form form-validate" method="post" name="htmlform" action="">
				<div class="col-sm-offset-1 col-xs-offset-0 col-sm-5 col-xs-12">
					<div class="float-label respond-msg">
						<label class="uppercase ">Enquiry Type </label>
						<span class="dropdown-arrow color-primary-green glyphicon glyphicon-menu-down fs-1"></span>
						<select name="dropdownselect" for="dropdownselect" class="drop-down-select form-control" type="select">
							<option></option>
							<option value="1">one</option>
							<option value="2">two</option>
							<option value="3">three</option>
							<option value="4">four</option>
							<option value="5">five</option>
							<option value="6">six</option>
							<option value="7">seven</option>
							<option value="8">eight</option>
							<option value="9">nine</option>
							<option value="10">ten</option>
						</select>
					</div>
	
	
					<div class="float-label respond-msg">
						<input type="text" class="form-control" name="name" required>
						<label for="name" class="uppercase ">Name</label>
					</div>
					<div class="float-label respond-msg">
						<input type="text" class="form-control" name="email" required>
						<label for="email" class="uppercase ">Email</label>
					</div>
				</div>
				<div class="col-sm-offset-1 col-xs-offset-0 col-sm-10 col-xs-12 m-bottom-xxl">
					<div class="float-label respond-msg">
						<textarea type="text" name="message" class="form-control h150" required></textarea>
						<label for="message" class="uppercase ">Message</label>
					</div>
					<br>
					<p>Kindly tick the checkbox below before submiting this form</p>
							<div class="m-bottom-xl respond-msg">
								<div class="g-recaptcha" data-sitekey="6LcUTGMUAAAAALW-4AfFVQkqV-nJZ2iIqbxUS0dV" data-callback="recaptchaCallback"></div>
								<input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
								<label for="hiddenRecaptcha"></label>
							</div>
					<div class="checkbox respond-msg">
						<label class="container-checkbox">
							Please keep me informed about USG Boral News
							<input type="checkbox" name="agree">
							<span class="checkmark"></span>
						</label>
					</div>
					<p>I have read and agree to the terms and conditions.
						<a href="" target="_blank">
							<u>Privacy Policy</u>
						</a>
					</p>
				</div>
				<div class="col-xs-12 text-center  m-bottom-4xl">
					<div class="form-group">
						<button type="submit" class="btn btn-brand-default button-green" value="Submit">I AGREE AND SUBMIT</button>
					</div>
				</div>
			</form>
			<form id="contactUsForm2" class="floating-type-form form-validate hidden" method="post" name="htmlform" action="">
				<div class="col-sm-offset-1 col-xs-offset-0 col-sm-5 col-xs-12">
					<div class="float-label respond-msg">
						<input type="text" class="form-control" name="contact" required>
						<label for="contact" class="uppercase ">contact no</label>
					</div>
					<div class="float-label respond-msg m-bottom-xl">
						<label class="uppercase ">i am </label>
						<span class="dropdown-arrow color-primary-green glyphicon glyphicon-menu-down fs-1"></span>
						<select name="dropdownselect" for="dropdownselect" class="drop-down-select form-control" type="select">
							<option></option>
							<option value="prog">Programmer </option>
							<option value="ceo">CEO</option>
							<option value="designer">Designer</option>
						</select>
					</div>
					<h6 class="ht6 uppercase color-darker-grey m-top-xl">I work with</h6>
					<div class="checkbox respond-msg">
						<label class="container-checkbox">
							Detached homes
							<input type="checkbox" name="i_work_with">
							<span class="checkmark"></span>
						</label>
						<br>
						<label class="container-checkbox">
							Other dwellings
							<input type="checkbox" name="i_work_with">
							<span class="checkmark"></span>
						</label>
						<br>
						<label class="container-checkbox">
							Alterations / renovations
							<input type="checkbox" name="i_work_with">
							<span class="checkmark"></span>
						</label>
						<br>
						<label class="container-checkbox">
							Non-residential
							<input type="checkbox" name="i_work_with">
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
	
				<div class="col-sm-offset-1 col-xs-offset-0 col-sm-10 col-xs-12 m-bottom-xxl">
					<div class="row">
						<div class="col-xs-12">
							<h6 class="ht6 uppercase color-darker-grey m-top-xl">I AM INTERESTED IN</h6>
							<p class="color-grey m-bottom-s">Tip: Choose 1 or 2 for a quicker responce.</p>
							<div class="checkbox respond-msg">
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<label class="container-checkbox">
											Acoustic Panels and Ceiling Tiles
											<input type="checkbox" name="i_am_interested">
											<span class="checkmark"></span>
										</label>
										<br>
										<label class="container-checkbox">
											Ceilings
											<input type="checkbox" name="i_am_interested">
											<span class="checkmark"></span>
										</label>
										<br>
										<label class="container-checkbox">
											Cornice
											<input type="checkbox" name="i_am_interested">
											<span class="checkmark"></span>
										</label>
										<br>
										<label class="container-checkbox">
											Finishes
											<input type="checkbox" name="i_am_interested">
											<span class="checkmark"></span>
										</label>
										<br>
										<label class="container-checkbox">
											Industrial Products
											<input type="checkbox" name="i_am_interested">
											<span class="checkmark"></span>
										</label>
										<br>
										<label class="container-checkbox">
											Insulation
											<input type="checkbox" name="i_am_interested">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="col-xs-12 col-sm-6">
										<label class="container-checkbox">
											Interior Linings
											<input type="checkbox" name="i_am_interested">
											<span class="checkmark"></span>
										</label>
										<br>
										<label class="container-checkbox">
											Plasterboard Systems
											<input type="checkbox" name="i_am_interested">
											<span class="checkmark"></span>
										</label>
										<br>
										<label class="container-checkbox">
											Sheetrock Brand Plasterboard
											<input type="checkbox" name="i_am_interested">
											<span class="checkmark"></span>
										</label>
										<br>
										<label class="container-checkbox">
											Specialty Ceilings
											<input type="checkbox" name="i_am_interested">
											<span class="checkmark"></span>
										</label>
										<br>
										<label class="container-checkbox">
											Steel Framing
											<input type="checkbox" name="i_am_interested">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>
						</div>
	
	
	
					</div>
				</div>
	
				<div class="col-xs-12 text-center  m-bottom-4xl">
					<div class="form-group">
						<button type="submit" id="myform" class="btn btn-brand-default button-green" value="Submit">SEND</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div class="container-fluid bg-light-grey p-vertical-l m-vertical-m">
		<div class="container m-vertical-m ">
			<div class="row row-eq-height">
				<div class="col-sm-6 col-xs-12 p-sm-4xl p-l bg-white m-bottom-xl m-sm-no">
					<div class="row">
						<div class="col-sm-3 col-xs-4">
							<div class="thumbs">
								<img src="https://dummyimage.com/108x130/000000/fff">
							</div>
	
						</div>
						<div class="col-sm-9 col-xs-8">
							<h4 class="ht4 uppercase color-darker-grey">USG Boral malaysia</h4>
							<p>Suite 17-03, Level 17, The Pinnacle,
								<br> Persiaran Lagoon, Bandar Sunway,
								<br> 46150 Petaling Jaya,
								<br> Selangor Darul Ehsan - MALAYSIA
							</p>
							<p>
								<i class="fa fa-phone icon-color-darker-grey icon-size-xs"></i>&nbsp;&nbsp; + 60 3 5624 3600 </p>
							<p>
								<i class="fa fa-fax icon-color-darker-grey icon-size-xs"></i>&nbsp; + 60 3 5624 3601</p>
						</div>
					</div>
				</div>
	
				<div class="col-sm-6 col-xs-12 p-sm-4xl p-l bg-white left-line-light-grey">
					<h4 class="ht4 uppercase color-darker-grey">usg boral global</h4>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
						massa. </p>
					<p>
						<a href="#" class="btn btn-brand-default button-green">FIND OUT MORE</a>
					</p>
				</div>
			</div>
		</div>
	</div>


	<!-- <div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Join Us Now</h2>
				<form id="contactUsForm2" class="floating-type-form form-validate">
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<div class="float-label respond-msg">
									<input type="text" class="form-control" name="name" required>
									<label for="name" class="uppercase ">Name</label>
								</div>
							</div>
							<div class="col-sm-6 col-xs-12">
								<div class="float-label respond-msg">
									<input type="text" class="form-control" name="email" required>
									<label for="email" class="uppercase ">Email</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<div class="float-label respond-msg">
									<label class="uppercase ">Select your country </label>
									<span class="dropdown-arrow color-primary-green glyphicon glyphicon-menu-down fs-1"></span>
									<select name="countryselect" for="countryselect" class="drop-down-select form-control" type="select">
										<option></option>
										<option value="1">one</option>
										<option value="2">two</option>
										<option value="3">three</option>
										<option value="4">four</option>
										<option value="5">five</option>
										<option value="6">six</option>
										<option value="7">seven</option>
										<option value="8">eight</option>
										<option value="9">nine</option>
										<option value="10">ten</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6 col-xs-12">
								<div class="float-label respond-msg">
									<input type="text" class="form-control" name="contact" required>
									<label for="contact" class="uppercase ">contact no</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<div class="float-label respond-msg">
									<label class="uppercase">Select your location</label>
									<span class="dropdown-arrow color-primary-green glyphicon glyphicon-menu-down fs-1"></span>
									<select name="locationselect" for="locationselect" class="drop-down-select form-control" type="select">
										<option></option>
										<option value="1">one</option>
										<option value="2">two</option>
										<option value="3">three</option>
										<option value="4">four</option>
										<option value="5">five</option>
										<option value="6">six</option>
										<option value="7">seven</option>
										<option value="8">eight</option>
										<option value="9">nine</option>
										<option value="10">ten</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6 col-xs-12">
								<div class="float-label respond-msg">
									<input type="file" class="chooseFile form-control" name="chooseFile" placeholder=".pdf or .doc file" required>
									<div class="file-upload form-control">
										<div class="file-select">
											<div class="file-select-name"></div> 
										</div>
									</div>
								
									<label class="uppercase" for="chooseFile">Attach Your Resume Here</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<div class="float-label respond-msg">
									<label class="uppercase">Select your preferred department</label>
									<span class="dropdown-arrow color-primary-green glyphicon glyphicon-menu-down fs-1"></span>
									<select name="departmentselect" for="departmentselect" class="drop-down-select form-control" type="select">
										<option></option>
										<option value="1">one</option>
										<option value="2">two</option>
										<option value="3">three</option>
										<option value="4">four</option>
										<option value="5">five</option>
										<option value="6">six</option>
										<option value="7">seven</option>
										<option value="8">eight</option>
										<option value="9">nine</option>
										<option value="10">ten</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<div class="m-bottom-xl respond-msg">
									<div class="g-recaptcha" data-sitekey="6LcUTGMUAAAAALW-4AfFVQkqV-nJZ2iIqbxUS0dV" data-callback="recaptchaCallback"></div>
									<input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
									<label for="hiddenRecaptcha"></label>
								</div>
							</div>
							<div class="col-sm-6 col-xs-12">
								<div class="form-group">
									<button type="submit" class="btn btn-brand-default button-green" value="Submit" id="btn-validate">I AGREE AND SUBMIT</button>
								</div>
							</div>
						</div>
				</form>
			</div>
		</div>
	</div> -->

	<div id="thankyou-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
		<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center" role="document" width="750px">
						<div class="modal-content">
								<div class="modal-body">
										<div class="row">
												<div class="col-md-12" align="center">
														<div class="form-group">
																<h4 class="ht4 uppercase color-primary-green">Sent!</h4>
														</div>
												</div>
										</div>

										<div class="row">
												<div class="col-md-12" align="center">
														<div class="form-group">
																<h4 class="uppercase color-dark-grey">Thank you for your interest</h4>
																<p class="color-dark-grey">Your enquiry has been forwarded to the appropriate personnel</p>
																<br>
																<br>
																<p style="text-align: center;">
																		<button data-dismiss="modal" class="btn btn-brand-default button-green">CLOSE</button>
																</p>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
	
	
	<script type="text/javascript" src="/etc/designs/usgb_v3/clientlib/uiux-all-js.js"></script>
	 
	<script src="/etc/designs/usgb_v3/clientlib/uiux-less-ct/js/vendors/jquery.validate.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="/etc/designs/usgb_v3/clientlib/uiux-all-js-vc.js"></script>