<sly data-sly-test="${wcmmode.edit}">
    Edit here for editing Other site component
</sly>
<style>
    ${properties.cssoverwrite @ context='unsafe'}
</style>

<div class="row ${properties.classid}">
    <div class="col-xs-12">
        <h4 class="ht4 uppercase color-primary-green m-bottom-m">${properties.sectiontitle}</h4>
    </div>
</div>
<div class="row p-bottom-l">
    <div class="col-xs-12">
        <h6 class="bold">${properties.title}</h6>
    </div>
    <div class="col-xs-12 col-sm-7">
        <p>${properties.description}</p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="dropdown dp-form" style="min-width: 280px; display: inline-block;">
            <button class="btn btn-default color-dark-grey dropdown-toggle text-left dp-clickable" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="dp-text">Select Country</span>
                <input type="hidden" name="selectenquirytype" value="Quisque a tortor">
                <span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
            </button>

            <ul class="dropdown-menu dp-list ${properties.buttonstyle}" aria-labelledby="dropdownMenu1"
                data-sly-use.othersite="com.turquoise.core.components.OtherSiteComponent">
                <li data-sly-repeat.export="${othersite.exportList}">
                    <a href="${export.countrypath @ extension='html'}" data-val="Australia">${export.countrytitle}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row p-bottom-l">
    <div class="col-xs-12">
        <h6 class="bold">${properties.tiletitle}</h6>
    </div>
    <div class="col-xs-12 col-sm-7">
        <p>${properties.tiledescription}</p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <a href="${properties.hyperlink @ extension='html'}"
           data-sly-test="${properties.hyperlink && properties.buttontext}"
           class="btn btn-top-border btn-dark">${properties.buttontext}
            <span class="glyphicon glyphicon-menu-right"></span>
        </a>
    </div>
</div>
