<sly data-sly-test="${wcmmode.edit}">
        Edit here for contact Us form
    </sly>
    
    <sly data-sly-use.contactus="com.usgbv3.core.components.ContactUsComponent">
        <!-- TITLE -->
        <div class="container m-vertical-m">
            <div class="row">
                <div class="col-xs-12">
                    <div class="m-top-l m-bottom-l  m-sm-bottom-4xl">
                        <h4 class="ht4 uppercase color-darker-grey">${properties.title @context='unsafe'}</h4>
                        <p>${properties.description} </p>
                        <div class="thank-you-contacting-msg hidden">
                            <hr>
                            <h5 class="ht5 uppercase color-darker-grey">Thank you for contacting us and we have received your message</h5>
                            <p>To help us know more about you, kindly filled-in the fields below. No worries, it’s optional.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TITLE END -->
    
        <div class="container m-vertical-m">
            <div class="row">
                <form id="contactUsForm1" class="floating-type-form form-validate" method="post" name="htmlform" action="/bin/usgb/v3/contactusbasic">
                    <div class="col-sm-offset-1 col-xs-offset-0 col-sm-5 col-xs-12">
                        <div class="float-label respond-msg">
                            <label class="uppercase ">Enquiry Type </label>
                            <span class="dropdown-arrow color-primary-green glyphicon glyphicon-menu-down fs-1"></span>
                            <select name="enquiry_type" for="dropdownselect" class="drop-down-select form-control"
                                    type="select" >
                                <option style="visibility:hidden;display:none;"></option>
                                <option data-sly-repeat.key="${contactus.enquiryType}" value="${key}">${contactus.enquiryType[key]}</option>
                            </select>
                        </div>
                        <div class="float-label respond-msg">
                            <input type="text" class="form-control" name="name" required>
                            <label for="name" class="uppercase ">Name</label>
                        </div>
                        <div class="float-label respond-msg">
                            <input type="text" class="form-control" name="email" required>
                            <label for="email" class="uppercase ">Email</label>
                        </div>
                    </div>
                    <div class="col-sm-offset-1 col-xs-offset-0 col-sm-10 col-xs-12 m-bottom-xxl">
                        <div class="float-label respond-msg">
                            <textarea type="text" name="message" class="form-control h150" required></textarea>
                            <label for="message" class="uppercase ">Message</label>
                        </div>
                        <br>
                        <p>Kindly tick the checkbox below before submiting this form</p>
                        <div class="m-bottom-xl respond-msg">
    
                            <div data-sly-resource="${ 'captcha' @ resourceType='/apps/usgbv3/components/content/captcha'}">
    
                            </div>
                        </div>
                        <div class="checkbox respond-msg">
                            <label class="container-checkbox">
                                Please keep me informed about USG Boral News
                                <input type="checkbox" name="agree">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <p>I have read and agree to the terms and conditions.
                            <a href="${properties.privacyPolicyLink @ extension='html', context='uri'}" target="_blank">
                                <u>Privacy Policy</u>
                            </a>
                        </p>
                    </div>
                    <div class="col-xs-12 text-center  m-bottom-4xl">
                        <div class="form-group">
                            <button type="submit" class="btn btn-brand-default button-green" value="Submit">I AGREE AND
                                SUBMIT
                            </button>
                        </div>
                    </div>
                </form>
                <form id="contactUsForm2" class="floating-type-form form-validate hidden" method="post" name="htmlform"
                      action="">
                    <div class="col-sm-offset-1 col-xs-offset-0 col-sm-5 col-xs-12">
                        <input type="hidden" id="dbid" name="dbid" value=""/>
                        <div class="float-label respond-msg">
                            <input type="text" class="form-control" name="contact" required>
                            <label for="contact" class="uppercase ">contact no</label>
                        </div>
                        <div class="float-label respond-msg m-bottom-xl">
                            <label class="uppercase ">i am </label>
                            <span class="dropdown-arrow color-primary-green glyphicon glyphicon-menu-down fs-1"></span>
                            <select name="occupation" for="dropdownselect" class="drop-down-select form-control"
                                    type="select">
                                <option></option>
                                <option data-sly-repeat.key="${contactus.occupation}" value="${key}">${contactus.occupation[key]}</option>
                            </select>
                        </div>
                        <h6 class="ht6 uppercase color-darker-grey m-top-xl">I work with</h6>
                        <div class="checkbox respond-msg" data-sly-list.key="${contactus.workingWith}">
                            <label class="container-checkbox">
                                ${contactus.workingWith[key]}
                                <input type="checkbox" name="i_work_with" value="${key}">
                                <span class="checkmark"></span>
                            </label>
                            <br>
                        </div>
                    </div>
    
                    <div class="col-sm-offset-1 col-xs-offset-0 col-sm-10 col-xs-12 m-bottom-xxl">
                        <div class="row">
                            <div class="col-xs-12">
                                <h6 class="ht6 uppercase color-darker-grey m-top-xl">I AM INTERESTED IN</h6>
                                <p class="color-grey m-bottom-s">Tip: Choose 1 or 2 for a quicker responce.</p>
                                <div class="checkbox respond-msg">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6" data-sly-list.key="${contactus.productInterest}">
                                            <sly data-sly-test="${keyList.odd}">
                                                <label class="container-checkbox">
                                                    ${contactus.productInterest[key]}
                                                    <input type="checkbox" name="i_am_interested" value="${key}">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <br>
                                            </sly>
                                        </div>
                                        <div class="col-xs-12 col-sm-6" data-sly-list.key="${contactus.productInterest}">
                                            <sly data-sly-test="${keyList.even}">
                                                <label class="container-checkbox">
                                                    ${contactus.productInterest[key]}
                                                    <input type="checkbox" name="i_am_interested" value="${key}">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <br>
                                            </sly>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
    
                        </div>
                    </div>
    
                    <div class="col-xs-12 text-center  m-bottom-4xl">
                        <div class="form-group">
                            <button type="noThanks" class="btn btn-brand-default btn-no-thanks button-grey m-right-l"
                                    value="noThanks">NO THANKS
                            </button>
                            <button type="submit" id="myform" class="btn btn-brand-default button-green" value="Submit">
                                SEND
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="thankyou-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
            <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center" role="document" width="750px">
                            <div class="modal-content">
                                    <div class="modal-body">
                                            <div class="row">
                                                    <div class="col-md-12" align="center">
                                                            <div class="form-group">
                                                                    <h4 class="ht4 uppercase color-primary-green">Sent!</h4>
                                                            </div>
                                                    </div>
                                            </div>
    
                                            <div class="row">
                                                    <div class="col-md-12" align="center">
                                                            <div class="form-group">
                                                                    <h4 class="uppercase color-dark-grey">Thank you for your interest</h4>
                                                                    <p class="color-dark-grey">Your enquiry has been forwarded to the appropriate personnel</p>
    <hr>
                                                                    <br>
                                                                    <p style="text-align: center;">
                                                                            <button data-dismiss="modal" class="btn btn-brand-default button-green">CLOSE</button>
                                                                    </p>
                                                            </div>
                                                    </div>
                                            </div>
                                    </div>
                            </div>
                    </div>
            </div>
    </div>
    </sly>
    
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.contactus'}" data-sly-unwrap/>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    