<!-- PAGE CONTENT -->
<div class="page-content">



	<!-- BREADCUMB-BOX -->
	<div class="container ">
		<div class="row m-vertical-m hidden-xs">
			<div class="c-flex-items col-xs-12">
				<div class="item-stretch breadcrumb-box">
					<ol class="breadcrumb m-no p-no bg-white">
						<li>Products</li>
						<li>Ceilings</li>
						<li class="active">
							<b>Compare Product</b>
						</li>
					</ol>
				</div>
				<div class="item-fix p-no text-center hidden-xs">
					<a class="color-darker-grey right-line-dark-grey p-right-xs fs-3" href="#">
						<span class="glyphicon glyphicon-print p-right-s"></span>Email
					</a>
					<a class="color-darker-grey p-left-xs fs-3" href="#">
						<span class="glyphicon glyphicon-print p-right-s"></span>Print
					</a>
				</div>

			</div>
		</div>
	</div>
	<!-- BREADCUMB-BOX END -->


	<!-- SECTION 1 -->
	<div class="container">
		<div class="row m-top-xl m-sm-top-3xl">
			<div class="col-xs-8 p-right-no">
				<h2 class="ht4 uppercase color-darker-grey">Compare product</h2>
			</div>
			<div class="col-xs-4 pull-right visible-xs">
				<span class="fa-stack fa-1x">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
				</span>
				<span class="fa-stack fa-1x">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-print fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			<div class="col-xs-12 m-bottom-xs">
				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
					natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
					eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
			</div>
		</div>
	</div>

	<div class="container">

		<script id="compare-product-col" type="text/x-handlebars-template">
			{{#each this}}
			<div class=" col-xs-4  p-no">
				<div class="p-side-xl">
					<div data-img-height="div-height" class="box-type-3 bg-light-grey ">
						<div class="center width-full">
							<div class="box-inner-img">
								<img src="{{pagePropertiesList.0.image335x275}}">
							</div>
							<h2 class="p-vertical-l color-darker-grey ht6 text-center uppercase">{{pagePropertiesList.0.pageTitle}}
								<button type="button" class="close-btn-box bg-light-grey" aria-label="Close">
									<span class="bold" aria-hidden="true">&times;</span>
								</button>
						</div>
					</div>
				</div>  

				{{#each pagePropertiesList}}

				<div class="p-xl m-top-l">
					<h2 class="ht6 uppercase color-darker-grey">{{comparablePropList.0.propertyLabel}}</h2>
				</div>

				<hr class="m-no">
				<div class="p-side-xl p-m ">
					{{{applications}}}
				</div>
				<div class="p-xl m-top-l">
					<h2 class="ht6 uppercase color-darker-grey">{{comparablePropList.1.propertyLabel}}</h2>
				</div>
				<hr class="m-no">
				<div class="p-side-xl p-m ">
					<!-- {{{applications}}} -->
				</div>
				<div class="p-xl m-top-l">
					<h2 class="ht6 uppercase color-darker-grey">{{comparablePropList.2.propertyLabel}}</h2>
				</div>
				<hr class="m-no">
				<div class="p-side-xl p-m ">
					<!-- {{{applications}}} -->
				</div>
				<div class="p-xl m-top-l">
					<h2 class="ht6 uppercase color-darker-grey">{{comparablePropList.3.propertyLabel}}</h2>
				</div>
				<hr class="m-no">
				<div class="p-side-xl p-m ">
					<!-- {{{applications}}} -->
				</div>

				{{/each}}



			</div>

			{{/each}}


			<!-- <div class="col-xs-4 col-cell p-no">
					<div class="p-side-xl">
						<a>
							<div data-img-height="div-height" class="box-type-3 bg-light-grey ">
								<div class="center width-full">
									<div class="box-inner-img">
										<div class="bg-add-img p-s">
											<a href="#">
												<div class="add-img-box">
													<span class="btn-plus">+</span>
												</div>
											</a>
										</div>
									</div>
									<h2 class="p-vertical-l color-darker-grey ht6 text-center uppercase">Add to compare </h2>
								</div>
							</div>
						</a>
					</div>
				</div> -->

		</script>


		<div class="row">


			<div class="">

				<div class="table-responsive m-vertical-xl product-compare-content ">

					<div class="compare-product-col"> </div>


					<!-- <div class="compare-one col-xs-4 col-cell p-no">
						<div class="p-side-xl">
							 <a>
								<div data-img-height="div-height" class="box-type-3 bg-light-grey ">
									<div class="center width-full">
										<div class="box-inner-img">
											<div class="bg-add-img p-s">
												<a href="#">
													<div class="add-img-box">
														<span class="btn-plus">+</span>
													</div>
												</a>
											</div>
										</div>
										<h2 class="p-vertical-l color-darker-grey ht6 text-center uppercase">Add to compare </h2>
									</div>
								</div>
							</a> 
							<div data-img-height="div-height" class="box-type-3 bg-light-grey ">
								<div class="center width-full">
									<div class="box-inner-img">
										<img src="https://dummyimage.com/425x150/000000/fff">
									</div>
									<h2 class="p-vertical-l color-darker-grey ht6 text-center uppercase">ACOUSTIC PANELS &amp;
										<br>1CEILING TILES</h2>
									<button type="button" class="close-btn-box bg-light-grey" aria-label="Close">
										<span class="bold" aria-hidden="true">&times;</span>
									</button>
								</div>
							</div>
						</div>

						<div class="p-xl m-top-l">
							<h2 class="ht5 uppercase color-darker-grey">Physical Application</h2>
						</div>
						<hr class="m-no">
						<div class="p-side-xl p-m ">
							<p> col1Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
								sociis natoque penatibus et magnis </p>
							<p> dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
								Nulla consequat massa quis enim. </p>
						</div>


						<div class="p-xl m-top-l">
							<h2 class="ht5 uppercase color-darker-grey"> Application</h2>
						</div>
						<hr class="m-no">
						<div class="p-side-xl p-m ">
							<p> col1Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
								sociis natoque penatibus et magnis </p>
							<p> dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
								Nulla consequat massa quis enim. </p>
						</div>

					</div> -->



				</div>


			</div>
			<!-- table responsive-->
		</div>
	</div>
	<!-- SECTION 1 END -->

	<!-- section 2 -->
	<div class="container">
		<div class="row m-top-4xl m-bottom-4xl m-sm-bottom-5xl">
			<hr>
			<div class="col-xs-6 text-right">
				<a href="#" class="btn btn-brand-default button-green">contact us</a>
			</div>
			<div class="col-xs-6">
				<a href="#" class="btn btn-brand-default button-green">where to buy</a>
			</div>
		</div>
	</div>
	<!-- section 2 end -->

</div>
<!-- END of PAGE CONTENT -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}"
    data-sly-unwrap/>