<a href="${properties.pageUrl}.html" class="cta-hover-tile">
	<div class="big-size">
			<div class="text-center">
					<div class=" m-top-m m-bottom-l icon icon-150 ${properties.icon}"></div>   
					<h2 class="m-bottom-m ht5 color-darker-grey uppercase">${properties.title}</h2>  
					<p class="color-darker-grey">${properties.description}</p>                                           
					<div class="ha-center m-top-m btn button-green btn-brand-default">Find out more</div> 

				</div>
	</div>
</a>