.c-flex-items{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	@media only screen and (min-width:768px) {
		flex-wrap: nowrap;
	}

	.item-fix {
	    flex: 1;
	    width: auto;

	    @media only screen and (min-width:768px) {
	    	flex: initial;
	    }
	}

	.item-stretch{
	    width: auto;

	    @media only screen and (min-width:768px) {
	    	flex: 1;
	    }
	}
}