// ----------------------------------------------------------------------
// Component: Main Navigation
// ----------------------------------------------------------------------

.header {
    height: 72px; /*65+7*/

    @media only screen and (min-width: 768px) {
        height: 97px; /*90+7*/
    }


    >.wrapper {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        background: white;

        -webkit-transition: top 0.6s; /* Safari */
        -o-transition: top 0.6s;
        transition: top 0.6s;

        &.desktop-mobile-slide-up{
            top:-72px;
            @media (min-width:768px){
                top:-97px;
            }
        }

        &.desktop-mobile-slide-down{
            top:0;
        }

        &.notransition {
          -webkit-transition: none !important;
          -moz-transition: none !important;
          -o-transition: none !important;
          transition: none !important;
        }

    }



    .top{
         
        padding-left: 15px;
        padding-right: 15px;
        margin-right: auto;
        margin-left: auto;

        background: white;
        

        height: 65px;


        @media only screen and (min-width:768px) {
            height: 90px;
            width: 100%;
        }

        @media only screen and (min-width:992px) {
            width: 100%;
        }

        @media only screen and (min-width:1200px) {
            width: 1170px;
        }

        @media only screen and (min-width:1240px) {
            width: 1240px;
        }

        .logo{
           
            max-width: 150px;



            // height: 100%;
            // position: absolute;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // top: 0;
            // left: 0;
            // margin-left: 15px;

      

            @media only screen and (min-width:1000px) {
                max-width: 250px;
            }
            

            img{
                width:100%;
                height: 100%;
            }
        }

        .mobile-nav{
            height: 100%;
        }


        .header-side-nav a {
            @media only screen and (min-width:768px) {
                font-size: 11px !important;
            }
        }

        .desktop-nav{
            display: flex;
            flex-grow:1;
            flex-basis: 0%;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-evenly;

            // @media only screen and (min-width:768px) {
            //     padding-left: 180px;
            // }

            // @media only screen and (min-width:1000px) {
            //     padding-left: 280px;
            // }
            

            &:after{
                content:'';
                clear: both;
                visibility: hidden;
                display: block;
                height: 0;
            }
        }

        .vertical-rule {
            display: block;
            width:1px;
            height: 100%;
            background-color: #eee;
           
        }




        .navbar-nav{
            width: 100%;
            text-align: right;;
         
            >li {
                
                float: none;
                display: inline-block;
                vertical-align: middle;

                &:last-child:after{
                    display: none !important;
                }

                >a {
                    color:@color-darker-grey;
                    background: transparent !important;
                    padding-left: 0;
                    padding-right: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 2px 0px;
                    font-size: 9px;

                    @media only screen and (min-width:850px) {
                        padding: 3px;
                        font-size: 11px;
                    }

                    @media only screen and (min-width:1200px) {
                        padding: 5px;
                        font-size: 14px;
                    }
                }

            }
        }


        .nav-dropdown-wrapper{

            .nav-dropdown-menu{
                display: none;
                float:left;
                position: absolute;
                z-index:1000;
                text-align:left;
                background-color:@color-white;
                width: 200px;
                left: 0;
                right: 0;
                li{
                    padding: 10px; 
                    &:hover{
                        cursor:pointer;
                        background-color:@color-primary-green;
                        a{
                            color:@color-white
                        }
                    }
                    &:not(:first-child):after{
                        display:none;
                    }
                    a{
                        padding:5px 5px;
                    }
                }
            }
        }//nav-dropdown-wrapper

     

    }

    .bottom{
        position: relative;
        z-index: 100;
    }
}




//header end

//hamburger content
.hamburger-content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    background: white;
    width: 100%;
    height: 100%;
    padding-top: 72px;




    @media only screen and (min-width: 768px) {
       
        display: none;

    }

    >* {
        overflow: auto;
        width: 100%;
        height: 100%;
    }
}
//hamburger content

.footer{

    .dropdown-menu{
        a:hover {
            color: white;
        }
    }

    font-size:14px;
    background-color:#353535;

    ul li a{
        //color:@color-white;

        &:hover{
            //color:@color-primary-yellow;
        }
    }
    .search-box{
        font-size: 14px;
    }

    .country-dropdown{
        &.open{
            
            .dropdown-toggle{
                background: transparent;
            }
        }

        .country-wrapper{
            top: 0px;
            left: 0;
            .flag-icon{
                width: 24px;
            }
        }
       
    }

   
}


//flag 
.country-dropdown{
    .dropdown-toggle{

    }
    .country-wrapper{
        position: relative;
        top: -4px;
        left: -1px;
        .flag-icon{
            padding-right: 5px;
        }
    }
}


//border gradient
.rule {
    // position: absolute;
    width: 100%;
    height: 7px;
    // bottom: 0;
    // left: 0;
}

.fs-nav-1 {
  li>a{
    font-size: 11px;
  }

}
.fs-nav-2 {
    .nav-dropdown-wrapper>a{
      font-size: 15px;
    }

}