// ----------------------------------------------------------------------
// Component: Mega menu
// ----------------------------------------------------------------------

.mega-menu-wrapper{
  float:right;
  width: 100%;
  

  ul>li>a{
    font-weight: bold;
    padding-bottom:20px;
    text-transform:uppercase;
  }

  ul{
    .mega-dropdown {
      position: static !important; 
      

      &.open .mega-dropdown-menu {  
        max-height: 700px;
      }

      .mega-dropdown-menu {   
        background:@color-darker-grey;
        color: @color-white;

        float: left;
        position: absolute;
        border:none;
        cursor:pointer;
       
        text-align: left;
        width: 100%;
        left: 0;
        right: 0;
        top:90px;



        max-height: 0;
        overflow: hidden;
        display:block;
        -webkit-transition: max-height 1s ease;
        -moz-transition: max-height 1s ease;
        -ms-transition: max-height 1s ease;
        -o-transition: max-height 1s ease;
        transition: max-height 1s ease;


        li{
          font-size:14px;
          line-height: 1.9;
          &:not(:first-child):after{
            display:none;
          }
        }
      }
      .mega-dropdown-list{
        li{
          &:hover{
            color:@color-primary-yellow;
          }
        }
      }






      a{
        padding-bottom:24px;
        z-index: 1;
        &:hover{
          &:after{
            content: '';
            position: absolute;
            left: 40%;
            bottom: 3px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 10px solid #006a22;
            z-index: 100;
          }
        }
      }





    }
  }
  

  

} 
//end



.arrow-up{
  &:before{
    content: '';
    position: absolute;
    left: 40%;
    bottom: 3px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #006a22;
    z-index: 100;
  }
}

