    a.add-to-cart {
    	height: 50px;
	}

    a.add-to-cart.size {
        width: 50px;
        height:50px;
        left: 0px;
        font-size: 0;
        color:@color-primary-green;
        letter-spacing: 0;
        -moz-border-radius: 24px;
        -webkit-border-radius: 24px;
        border-radius: 24px;
        -webkit-transition: .5s linear;
        -moz-transition: .5s linear;
        -ms-transition: .5s linear;
        -o-transition: .5s linear;
        transition: .5s linear;
    }
    
    a.add-to-cart.hover {
        -webkit-transition: .5s linear;
        -moz-transition: .5s linear;
        -ms-transition: .5s linear;
        -o-transition: .5s linear;
        transition: .5s linear;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transform-origin: 108px 24px;
        -moz-transform-origin: 108px 24px;
        -o-transform-origin: 108px 24px;
        -ms-transform-origin: 108px 24px;
        transform-origin: 308px -224px;
    }