
// ----------------------------------------------------------------------
// search box
// ----------------------------------------------------------------------
.input-same-line {
    position: relative;
    width: 100%;
    .search-box {
        border: 0;
    }

    .side-button {
        border: 0;
    }
}

.search-box{
    font-size: 14px;
    border-radius: 0;
    color: @color-grey;
    position: relative;
    width: 100%;
    max-width: 940px;
    text-align: left;    
    padding: 10px 15px;
    background-color: #fff;
    border:1px solid #ccc;
    cursor: default;
    &:hover,&:active,&:focus,
    &:active:hover{
        color: #999999;
        background-color: #FFF;
        border-color: #ccc;
        outline: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    &.two-icons{
        padding-right: 80px;
    }
    /*larger version*/
    &.input-lg{
        height: auto;
        line-height: 1;
        padding: 20px;
        font-size: 18px;
        .search-btn{
            height: 18px;
        }
        input{
            padding-right: 30px;
        }
    }

    /*larger version*/
    .mini-nav{
        position: absolute;
        right: 50px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 14px;
        top: -5px;
        padding: 0;
        cursor: default;
        span{
            cursor: pointer;
        }
    }

    .search-btn {
        position: absolute;
        right: 25px;
        margin: auto;
        top: -5px;
        bottom: 0;
        background: transparent;
        height: 14px;
        padding: 0;
        cursor: default;
        span{
            cursor: pointer;
        }
    }

    input{
        border:none;
        width: 100%;

        &:focus{
            outline:0;
        }
    }
}

.add-drop-shadow{
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16), 0px 7px 11px 0px rgba(0, 15, 14, 0.21);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16), 0px 7px 11px 0px rgba(0, 15, 14, 0.21);   
    &:hover,
    &:active,
    &:focus,
    &:active:hover{
        -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16), 0px 7px 11px 0px rgba(0, 15, 14, 0.21);
                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16), 0px 7px 11px 0px rgba(0, 15, 14, 0.21);   
    }
}