// ----------------------------------------------------------------------

  // Table Responsive (Product Slider)

// ----------------------------------------------------------------------

//reset
.table-responsive{
    border:none;
    margin:0;
    padding:0;
}


//product page slider
.slider-wrapper{
    // width: 100%;
    //position: relative;
    //overflow-y: hidden;
    // overflow-x: auto;
    // white-space: nowrap;
    //  display:table;
    .pn-ProductNav_Link{
       
       .group{
            display: inline-block;
            color: #333333;
            //font-family: "Noto Sans", Arial, sans-serif, sans-serif;
            font-size: 16px;
       }
    }
    
    .pn-ProductNav_Link + .pn-ProductNav_Link {
        margin-left: 11px;
        padding-left:11px;
        border-left: 1px solid #eee;
        @media (min-width:768px){
            margin-left: 20px;
            padding-left:20px;
        }
    }
  
}


.pn-rightArrow{
    right: 5px;
}
.pn-leftArrow{
    left: 5px;
}
.pn-ProductNav_Wrapper {
    position: relative;
    padding:0 25px;
    width: 60%;
    @media (min-width:768px) {
        padding:0 40px;
        width: 100%;
        
    }
    // @media (min-width:1366px) {
    //     width: 50%;
    // }
}
.pn-Advancer{
    z-index: 98;
}

// .pn-ProductNav {
// width: 100%;
// margin: auto;
// background: red;
// }



//////////////////
//Align Items 
//////////////////
.s-items-middle{
    position: absolute;
    top: 40%;
}

.s-items-right{
    position: absolute;
    right: 0;
}
.s-items-left{
    position: absolute;
    left: 0;
}

/// slider with btns///
.s-items-btn-middle{
    top: 30px;
}

.s-items-btn-right{
    position: absolute;
    right: 0;
}

.s-items-btn-left{
    position: absolute;
    left: 0;
}






