// ----------------------------------------------------------------------

  // Table Responsive (Product Slider)

// ----------------------------------------------------------------------

//reset
.table-responsive{
    border:none;
    margin:0;
    padding:0;
}


//product page slider
.slider-wrapper{
    //width: auto;
    //position: relative;
    // overflow-y: hidden;
    // overflow-x: hidden;
    // white-space: nowrap;
   .slider-items{
     // display: table-cell;
   }
    .pn-ProductNav_Link{
        padding-right: 3%;
        color: #333333;
        font-family: "Noto Sans", Arial, sans-serif, sans-serif;
        font-size: 16px;
        display: inline-block;
    }
    
    
}

.pn-Advancer{
    z-index: 999;
}

   

//////////////////
//Align Items 
//////////////////
.s-items-middle{
    position: absolute;
    top: 40%;
}

.s-items-right{
    position: absolute;
    right: 0;
}
.s-items-left{
    position: absolute;
    left: 0;
}

/// slider with btns///
.s-items-btn-middle{
    position: absolute;
    top: 35%;
}

.s-items-btn-right{
    position: absolute;
    right: 0;
}

.s-items-btn-left{
    position: absolute;
    left: 0;
}






