<div class="page-content">
        
    <!-- SECTION SEARCH-->     
    <!-- BREADCUMB-BOX -->
    <div class="container m-vertical-m ">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumb-box">
                    <ol class="breadcrumb m-no p-no bg-white">
                        <li>USG BORAL</li>
                        <li class="active"><b>Search</b></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCUMB-BOX END -->
    
            
    <!-- TITLE -->
    <div class="container m-vertical-m">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="ht4 uppercase color-darker-grey">SEARCH</h4> 
            </div>
        </div>
    </div>
    <!-- TITLE END -->

    <!-- SEARCH INPUT (GROUP) -->
    <!-- SEARCH FORM -->
    <div class="container-fluid bg-light-grey p-vertical-l m-vertical-m">
        <div class="row">
            <div class="col-xs-12">

                <div class="row">
                    <div class="col-xs-12 col-sm-5">
                        <form class="search-form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ceiling" autocomplete="off">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default glyphicon glyphicon-search color-primary-green"></button>
                                </span>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 m-top-xs">
                        <p class="result-caption m-left-xxs m-no fs-2"><strong><em>33 search results found for : ceiling</em></strong></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- SEARCH FORM END -->

    <!-- SUB-SEARCH-SECTION -->
    <div class="container">
        <div class="row m-vertical-xl">
            <div class="col-xs-12 text-center text-sm-left">
                <ul class="sub-search-section fs-2">
                    <li><a href="#">Content</a></li>
                    <li><a href="#">Document Finder</a></li>
                    <li class="active"><a href="#">CAD Drawing</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- SUB-SEARCH-SECTION END-->
    

    
    <div class="container m-vertical-m">
        <div class="row">
            <div class="col-xs-3">
                <!-- SEARCH FILTER -->
                <div class="search-filter bg-light-grey m-bottom-xxl">
                    <div class="wrapper">
                        <div class="top">
                            <p class="uppercase text-center m-no p-side-l p-top-m fs-2"><strong>refine your search</strong></p>
                            <hr class="m-vertical-m" />
                        </div>
                        <div class="middle p-side-l p-bottom-l">
                            <form action="" method="get">
                                <p class="fs-2"><strong>Product Category</strong></p>
                                <div class="checkbox-wrapper">
                                    <div class="radio">
                                        <label class="container-checkbox fs-2" >
                                            Ceilings
                                            <input type="checkbox" name="Ceilings">
                                            <span class="checkmark fs-2"></span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="container-checkbox fs-2">
                                            Interior Linings
                                            <input type="checkbox" name="Interior Linings">
                                            <span class="checkmark fs-2"></span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="container-checkbox fs-2">
                                            Finishes
                                            <input type="checkbox" name="Finishes">
                                            <span class="checkmark fs-2"></span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="container-checkbox fs-2">
                                            Steel Framing
                                            <input type="checkbox" name="Steel Framing">
                                            <span class="checkmark fs-2"></span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="container-checkbox fs-2">
                                            Cornice
                                            <input type="checkbox" name="Cornice">
                                            <span class="checkmark fs-2"></span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="container-checkbox fs-2">
                                            Plastering DIY
                                            <input type="checkbox" name="Plastering DIY">
                                            <span class="checkmark fs-2"></span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="container-checkbox fs-2">
                                            Insulation
                                            <input type="checkbox" name="Insulation">
                                            <span class="checkmark fs-2"></span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="container-checkbox fs-2">
                                            Industrial Plaster
                                            <input type="checkbox" name="Industrial Plaster">
                                            <span class="checkmark fs-2"></span>
                                        </label>
                                    </div>
                                </div>


                            </form>
                        </div>
                        <div class="bottom text-center p-side-l p-bottom-l">
                            <a href="#" class="btn btn-brand-default button-green btn-sm">APPLY FILTER</a>
                        </div>
                        
                    </div>
                </div>
                <!-- END SEARCH FILTER -->

                <!-- RELATED SEARCH -->
                <div class="related-search bg-light-grey m-bottom-xxl">
                    <div class="wrapper p-l">
                        <p class="fs-2"><strong>Searches related to "ceiling"</strong></p>
                        <p class="fs-2"><a href="#">
                            ceiling tiles
                        </a></p>
                        <p class="fs-2"><a href="#">
                            ceiling grids
                        </a></p>
                        <p class="fs-2"><a href="#">
                            ceiling texture
                        </a></p>
                        <p class="fs-2"><a href="#">
                            ceiling board
                        </a></p>
                        <p class="fs-2"><a href="#">
                            ceiling calculator
                        </a></p>
                    </div>
                </div>
                <!-- END RELATED SERACH -->
            </div>

            <div class="col-xs-9">

                <!-- SORT BY -->                
                <div class="dropdown pull-right p-right-m m-vertical-m d-small" style="min-width: 280px; display: inline-block;">
                    <button class="btn btn-default color-dark-grey dropdown-toggle text-left" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Sort By</span>
                        <span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Alphabet</a></li>
                        <li><a href="#">Oldest to Latest</a></li>
                        <li><a href="#">Price</a></li>
                        <li><a href="#">Date Added</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <!-- END SORT BY -->

                <!-- SEARCH CONTENT -->
                <div class="search-main-content">
                    <div class="inner">

                        <div class="each m-bottom-xxl p-side-m">
                            <div class="custom-block bg-light-grey">
                                <h6 class="title ht6 uppercase text-center p-m">Donn™ DX™ Join 02 CAD<br />AUS (English)</h6>
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/280x165/000000/fff" />
                                </div>
                                <div class="downloadable">
                                    <p class="fs-2"><a href="#">PDF</a></p>
                                    <p class="fs-2"><a href="#">Revit</a></p>
                                    <p class="fs-2"><a href="#">Auto CAD</a></p>
                                </div>
                                <div class="addto text-center uppercase"><a href="#"><span class="glyphicon glyphicon-plus fs-2"></span><span class="fs-2"><strong>Add to submittal</strong></span></a></div>
                            </div>
                        </div>

                        <div class="each m-bottom-xxl p-side-m">
                            <div class="custom-block bg-light-grey">
                                <h6 class="title ht6 uppercase text-center p-m">Donn™ DX™ Join 02 CAD<br />AUS (English)</h6>
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/280x165/000000/fff" />
                                </div>
                                <div class="downloadable">
                                    <p class="fs-2"><a href="#">PDF</a></p>
                                    <p class="fs-2"><a href="#">Revit</a></p>
                                    <p class="fs-2"><a href="#">Auto CAD</a></p>
                                </div>
                                <div class="addto text-center uppercase"><a href="#"><span class="glyphicon glyphicon-plus fs-2"></span><span class="fs-2"><strong>Add to submittal</strong></span></a></div>
                            </div>
                        </div>

                        <div class="each m-bottom-xxl p-side-m">
                            <div class="custom-block bg-light-grey">
                                <h6 class="title ht6 uppercase text-center p-m">Donn™ DX™ Join 02 CAD<br />AUS (English)</h6>
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/280x165/000000/fff" />
                                </div>
                                <div class="downloadable">
                                    <p class="fs-2"><a href="#">PDF</a></p>
                                    <p class="fs-2"><a href="#">Revit</a></p>
                                    <p class="fs-2"><a href="#">Auto CAD</a></p>
                                </div>
                                <div class="addto text-center uppercase"><a href="#"><span class="glyphicon glyphicon-plus fs-2"></span><span class="fs-2"><strong>Add to submittal</strong></span></a></div>
                            </div>
                        </div>

                        <div class="each m-bottom-xxl p-side-m">
                            <div class="custom-block bg-light-grey">
                                <h6 class="title ht6 uppercase text-center p-m">Donn™ DX™ Join 02 CAD<br />AUS (English)</h6>
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/280x165/000000/fff" />
                                </div>
                                <div class="downloadable">
                                    <p class="fs-2"><a href="#">PDF</a></p>
                                    <p class="fs-2"><a href="#">Revit</a></p>
                                    <p class="fs-2"><a href="#">Auto CAD</a></p>
                                </div>
                                <div class="addto text-center uppercase"><a href="#"><span class="glyphicon glyphicon-plus fs-2"></span><span class="fs-2"><strong>Add to submittal</strong></span></a></div>
                            </div>
                        </div>

                        <div class="each m-bottom-xxl p-side-m">
                            <div class="custom-block bg-light-grey">
                                <h6 class="title ht6 uppercase text-center p-m">Donn™ DX™ Join 02 CAD<br />AUS (English)</h6>
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/280x165/000000/fff" />
                                </div>
                                <div class="downloadable">
                                    <p class="fs-2"><a href="#">PDF</a></p>
                                    <p class="fs-2"><a href="#">Revit</a></p>
                                    <p class="fs-2"><a href="#">Auto CAD</a></p>
                                </div>
                                <div class="addto text-center uppercase"><a href="#"><span class="glyphicon glyphicon-plus fs-2"></span><span class="fs-2"><strong>Add to submittal</strong></span></a></div>
                            </div>
                        </div>

                        <div class="each m-bottom-xxl p-side-m">
                            <div class="custom-block bg-light-grey">
                                <h6 class="title ht6 uppercase text-center p-m">Donn™ DX™ Join 02 CAD<br />AUS (English)</h6>
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/280x165/000000/fff" />
                                </div>
                                <div class="downloadable">
                                    <p class="fs-2"><a href="#">PDF</a></p>
                                    <p class="fs-2"><a href="#">Revit</a></p>
                                    <p class="fs-2"><a href="#">Auto CAD</a></p>
                                </div>
                                <div class="addto text-center uppercase"><a href="#"><span class="glyphicon glyphicon-plus fs-2"></span><span class="fs-2"><strong>Add to submittal</strong></span></a></div>
                            </div>
                        </div>

                        <div class="each m-bottom-xxl p-side-m">
                            <div class="custom-block bg-light-grey">
                                <h6 class="title ht6 uppercase text-center p-m">Donn™ DX™ Join 02 CAD<br />AUS (English)</h6>
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/280x165/000000/fff" />
                                </div>
                                <div class="downloadable">
                                    <p class="fs-2"><a href="#">PDF</a></p>
                                    <p class="fs-2"><a href="#">Revit</a></p>
                                    <p class="fs-2"><a href="#">Auto CAD</a></p>
                                </div>
                                <div class="addto text-center uppercase"><a href="#"><span class="glyphicon glyphicon-plus fs-2"></span><span class="fs-2"><strong>Add to submittal</strong></span></a></div>
                            </div>
                        </div>

                        <div class="each m-bottom-xxl p-side-m">
                            <div class="custom-block bg-light-grey">
                                <h6 class="title ht6 uppercase text-center p-m">Donn™ DX™ Join 02 CAD<br />AUS (English)</h6>
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/280x165/000000/fff" />
                                </div>
                                <div class="downloadable">
                                    <p class="fs-2"><a href="#">PDF</a></p>
                                    <p class="fs-2"><a href="#">Revit</a></p>
                                    <p class="fs-2"><a href="#">Auto CAD</a></p>
                                </div>
                                <div class="addto text-center uppercase"><a href="#"><span class="glyphicon glyphicon-plus fs-2"></span><span class="fs-2"><strong>Add to submittal</strong></span></a></div>
                            </div>
                        </div>

                        <div class="each m-bottom-xxl p-side-m">
                            <div class="custom-block bg-light-grey">
                                <h6 class="title ht6 uppercase text-center p-m">Donn™ DX™ Join 02 CAD<br />AUS (English)</h6>
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/280x165/000000/fff" />
                                </div>
                                <div class="downloadable">
                                    <p class="fs-2"><a href="#">PDF</a></p>
                                    <p class="fs-2"><a href="#">Revit</a></p>
                                    <p class="fs-2"><a href="#">Auto CAD</a></p>
                                </div>
                                <div class="addto text-center uppercase"><a href="#"><span class="glyphicon glyphicon-plus fs-2"></span><span class="fs-2"><strong>Add to submittal</strong></span></a></div>
                            </div>
                        </div>
                                                                      
                    </div>
                </div>
                <!-- END SEARCH CONTENT -->

                <!-- SEARCH PAGINATION -->
                <nav aria-label="Page navigation">
                    <ul class="pagination pull-right m-top-no">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </nav>
                <!-- END SEARCH PAGINATION -->
                <hr />
                <!-- RELEVANT SEARCH CONTENT -->
                <h5 class="ht5 uppercase p-side-m m-bottom-xl">We also found relevant “ceiling” in Document Finder</h5>

                <div class="relevant-content p-side-m">
                    <div class="inner">
                        <div class="each m-bottom-4xl">
                            <div class="left">
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/250x145/000000/fff">
                                </div>
                            </div>

                            <div class="right">
                                    <a href="#">
                                        <div class="content p-left-l">
                                            <p class="sub-headline fs-2">Ceilings - ASONA Acoustical Range | Brochures Catalogues</p>
                                            <h6 class="headline ht6 uppercase m-bottom-xxs">Sonatex Colour Guide</h6>
                                            <p class="description m-no">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum    
                                            </p>
                                        </div>
                                    </a>
                                    <div class="side-functions p-left-l">
                                        <div class="bookmark text-center uppercase"><a href="#"><span class="glyphicon glyphicon-bookmark m-right-xxs"></span><span><strong>Bookmark</strong></span></a></div><span class="m-side-l">|</span><div class="addto text-center uppercase"><a href="#"><span class="glyphicon glyphicon-plus m-right-xxs"></span><span><strong>Add to submittal</strong></span></a></div>
                                    </div>
                               
                            </div>
                        </div>
                        <div class="each m-bottom-4xl">

                            <div class="left">
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/250x145/000000/fff">
                                </div>
                            </div>

                            <div class="right">
                                    <a href="#">
                                        <div class="content p-left-l">
                                            <p class="sub-headline fs-2">Ceilings - ASONA Acoustical Range | Brochures Catalogues</p>
                                            <h6 class="headline ht6 uppercase m-bottom-xxs">Sonatex Colour Guide</h6>
                                            <p class="description m-no">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum    
                                            </p>
                                        </div>
                                    </a>
                                    <div class="side-functions p-left-l">
                                        <div class="bookmark text-center uppercase"><a href="#"><span class="glyphicon glyphicon-bookmark m-right-xxs"></span><span><strong>Bookmark</strong></span></a></div><span class="m-side-l">|</span><div class="addto text-center uppercase"><a href="#"><span class="glyphicon glyphicon-plus m-right-xxs"></span><span><strong>Add to submittal</strong></span></a></div>
                                    </div>
                               
                            </div>
                        </div>
                        <div class="each m-bottom-4xl">
                            <div class="left">
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/250x145/000000/fff">
                                </div>
                            </div>

                            <div class="right">
                                    <a href="#">
                                        <div class="content p-left-l">
                                            <p class="sub-headline fs-2">Ceilings - ASONA Acoustical Range | Brochures Catalogues</p>
                                            <h6 class="headline ht6 uppercase m-bottom-xxs">Sonatex Colour Guide</h6>
                                            <p class="description m-no">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum    
                                            </p>
                                        </div>
                                    </a>
                                    <div class="side-functions p-left-l">
                                        <div class="bookmark text-center uppercase"><a href="#"><span class="glyphicon glyphicon-bookmark m-right-xxs"></span><span><strong>Bookmark</strong></span></a></div><span class="m-side-l">|</span><div class="addto text-center uppercase"><a href="#"><span class="glyphicon glyphicon-plus m-right-xxs"></span><span><strong>Add to submittal</strong></span></a></div>
                                    </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END RELEVANT SEARCH CONTENT -->
                <a href="#" class="btn btn-top-border btn-dark float-right">Read More <span class="glyphicon glyphicon-menu-right"></span></a>
                <div class="clearfix"></div>
                <hr />
                <!-- RELEVANT SEARCH CONTENT -->
                <h5 class="ht5 uppercase p-side-m m-bottom-xl">We also found relevant “ceiling” in Content</h5>

                <div class="relevant-content p-side-m">
                    <div class="inner">
                        <div class="each m-bottom-4xl">
                            <div class="left">
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/250x145/000000/fff">
                                </div>
                            </div>
                            <div class="right">
                                    <a href="#">
                                        <div class="content p-left-l">
                                            <p class="sub-headline fs-2">Knowledge Hub</p>
                                            <h6 class="headline ht6 uppercase m-bottom-xxs">How to reduce retail project challenges – fast!</h6>
                                            <p class="description m-no">
                                                Retail projects present significant logistical and code compliance challenges,especially refurbishments and extensions to existing shopping centres...
                                            </p>
                                        </div>
                                    </a>
                                    <div class="side-functions p-left-l">
                                        <div class="bookmark text-center uppercase"><a href="#"><span class="glyphicon glyphicon-bookmark m-right-xxs"></span><span><strong>Bookmark</strong></span></a></div>
                                    </div>
                            </div>
                        </div>
                        <div class="each m-bottom-4xl">
                            <div class="left">
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/250x145/000000/fff">
                                </div>
                            </div>
                            <div class="right">
                                    <a href="#">
                                        <div class="content p-left-l">
                                            <p class="sub-headline fs-2">Knowledge Hub</p>
                                            <h6 class="headline ht6 uppercase m-bottom-xxs">How to reduce retail project challenges – fast!</h6>
                                            <p class="description m-no">
                                                Retail projects present significant logistical and code compliance challenges,especially refurbishments and extensions to existing shopping centres...
                                            </p>
                                        </div>
                                    </a>
                                    <div class="side-functions p-left-l">
                                        <div class="bookmark text-center uppercase"><a href="#"><span class="glyphicon glyphicon-bookmark m-right-xxs"></span><span><strong>Bookmark</strong></span></a></div>
                                    </div>
                            </div>
                        </div>
                        <div class="each m-bottom-4xl">
                            <div class="left">
                                <div class="thumbs">
                                    <img src="https://dummyimage.com/250x145/000000/fff">
                                </div>
                            </div>
                            <div class="right">
                                    <a href="#">
                                        <div class="content p-left-l">
                                            <p class="sub-headline fs-2">Knowledge Hub</p>
                                            <h6 class="headline ht6 uppercase m-bottom-xxs">How to reduce retail project challenges – fast!</h6>
                                            <p class="description m-no">
                                                Retail projects present significant logistical and code compliance challenges,especially refurbishments and extensions to existing shopping centres...
                                            </p>
                                        </div>
                                    </a>
                                    <div class="side-functions p-left-l">
                                        <div class="bookmark text-center uppercase"><a href="#"><span class="glyphicon glyphicon-bookmark m-right-xxs"></span><span><strong>Bookmark</strong></span></a></div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END RELEVANT SEARCH CONTENT -->
                <a href="#" class="btn btn-top-border btn-dark float-right">Read More <span class="glyphicon glyphicon-menu-right"></span></a>
                <div class="clearfix"></div>
                
            </div>
        </div>
    </div>

    <!-- SEARCH INPUT (GROUP) END-->
    <!-- SECTION SEARCH END -->









</div>
<!-- END of PAGE CONTENT -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}" data-sly-unwrap/>