<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
		Edit here for Compare Component
	</sly>
	
	<style>
		${properties.cssoverwrite @ context='unsafe'}
	</style>
	
	<div class="page-product-compare ${properties.classid }" data-sly-use.countryInfo="com.usgbv3.core.components.CountryInfoComponent">
		<div class="container ">
			<div class="row m-vertical-m hidden-xs">
				<div class="c-flex-items col-xs-12">
					<div class="item-stretch breadcrumb-box"> </div>
					<div class="item-fix p-no text-center hidden-xs">
						<a class="color-darker-grey right-line-dark-grey p-right-xs fs-3 emailCompare" href="#">
							<span class="glyphicon glyphicon-print p-right-s"></span>Email
						</a>
						<a class="color-darker-grey p-left-xs fs-3" href="#" onclick="window.print();">
							<span class="glyphicon glyphicon-print p-right-s"></span>Print
						</a>
					</div>

				</div>
			</div>
		</div>

		<!-- SECTION 1 -->
		<div class="container">
			<div class="row m-top-xl m-sm-top-3xl">
				<div class="col-xs-8 p-right-no">
					<h2 class="ht4 uppercase color-darker-grey">${properties.title @ context='html'}</h2>
				</div>
				<div class="col-xs-4 pull-right visible-xs">
					<span class="fa-stack fa-1x emailCompare">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
					</span>
					<span class="fa-stack fa-1x" onclick="window.print();">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-print fa-stack-1x fa-inverse"></i>
					</span>
				</div>
				<div class="col-xs-12 m-bottom-xs">
					<p class="color-darker-grey">${properties.description @ context='html'}</p>
				</div>
			</div>
		</div>

		<div class="container">
	
			<script id="compare-product-col" type="text/x-handlebars-template">
				{{#each this}}
				<div class=" col-xs-4  p-no">
					<div class="p-side-xl">
						<div data-div-height="wrapper" class="box-type-3 bg-light-grey ">
							<div class="center width-full">
								<div class="box-inner-img">
									<img src="{{pagePropertiesList.0.pageImage}}">
								</div>
								<h2 class="p-vertical-l color-darker-grey ht6 text-center uppercase">{{pagePropertiesList.0.pageTitle}}
									<button href="{{pagePropertiesList.0.uri}}.html" type="button" class="close-btn-box bg-light-grey" aria-label="Close">
										<span class="bold" aria-hidden="true">&times;</span>
									</button>
							</div>
						</div>
					</div>
	
					{{#each pagePropertiesList}}
	
					<div class="p-xl m-top-l">
						<h2 class=" title ht6 uppercase color-darker-grey">Physical Properties</h2>
	

					</div>
	
					<hr class="m-no">
					<div data-div-height="physicalProperties" class="physical p-side-xl p-m ">
						{{#if comparisonProperties.0.physicalProperties}}
						{{{comparisonProperties.0.physicalProperties}}}
						{{else}}
						 -
						{{/if}}
					</div>
	
					<div class="p-xl m-top-l">
						<h2 class=" title ht6 uppercase color-darker-grey">Features & Benefits</h2>
					</div>
					<hr class="m-no">
					<div data-div-height="featuresAndBenefits" class=" applicationsp-side-xl p-m ">
						{{#if comparisonProperties.0.featuresAndBenefits}}
						{{{comparisonProperties.0.featuresAndBenefits}}}
						{{else}}
						 -
						{{/if}}
					</div>
					<div class="p-xl m-top-l">
						<h2 class=" title ht6 uppercase color-darker-grey">Applications</h2>
					</div>
					<hr class="m-no">
					<div data-div-height="applications" class="p-side-xl p-m ">
						{{#if comparisonProperties.0.applications}}
						{{{comparisonProperties.0.applications}}}
						{{else}}
						-
						{{/if}}
					</div>
					<div class="p-xl m-top-l">
						<h2 class=" title ht6 uppercase color-darker-grey">Sustainability</h2>
					</div>
					<hr class="m-no">
					<div data-div-height="sustainability" class="p-side-xl p-m ">
						{{#if comparisonProperties.0.sustainability}}
						{{{comparisonProperties.0.sustainability}}}
						{{else}}
						-
						{{/if}}
					</div>
					<div class="p-xl m-top-l"> 
						<h2 class=" title ht6 uppercase color-darker-grey">Resources</h2>
	
					</div>
					<hr class="m-no">
					<div data-div-height="resourceList" class="p-side-xl p-m ">
						{{#each resourceList}}  
						<div>
							<a href="{{docSrc}}" target="_blank">{{title}}</a>
						</div>
						{{/each}}
					</div>
	
					{{/each}}
	
	

				</div>
	
				{{/each}}
	
				<div data-div-height="wrapper" class=" compare-one col-xs-4 col-cell p-no">
					<a href="#" onclick="gotoCategoryPage();">
						<div class="p-side-xl">
							<div class="box-type-3 bg-light-grey ">
								<div class="center width-full">
									<div class="box-inner-img">
										<div class="bg-add-img p-s">
											<div class="add-img-box">
												<span class="btn-plus">+</span>
											</div>
										</div>
									</div>
									<h2 class="p-vertical-l color-darker-grey ht6 text-center uppercase">Add To Compare</h2>
								</div>
							</div>
						</div>
					</a>
				</div>
	
				<div data-div-height="wrapper" class="compare-two col-xs-4 col-cell p-no">
					<a href="#" onclick="gotoCategoryPage();">
						<div class="p-side-xl">
							<div class="box-type-3 bg-light-grey ">
								<div class="center width-full">
									<div class="box-inner-img">
										<div class="bg-add-img p-s">
											<div class="add-img-box">
												<span class="btn-plus">+</span>
											</div>
										</div>
									</div>
									<h2 class="p-vertical-l color-darker-grey ht6 text-center uppercase">Add To Compare</h2>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div data-div-height="wrapper" class="compare-three col-xs-4 col-cell p-no">
					<a href="#" onclick="gotoCategoryPage();">
						<div class="p-side-xl">
							<div class="box-type-3 bg-light-grey ">
								<div class="center width-full">
									<div class="box-inner-img">
										<div class="bg-add-img p-s">
											<div class="add-img-box">
												<span class="btn-plus">+</span>
											</div>
										</div>
									</div>
									<h2 class="p-vertical-l color-darker-grey ht6 text-center uppercase">Add To Compare</h2>
								</div>
							</div>
						</div>
					</a>
				</div>
	
	
	
	
	
			</script>
	
	
			<div class="row">
	
	
				<div class="">
	
					<div class="table-responsive m-vertical-xl product-compare-content ">
	
						<div class="compare-product-col m-top-m">
						</div>
	
	
						<div class="default-col m-top-m">
							<div data-div-height="wrapper" class=" col-xs-4 col-cell p-no">
								<a href="#" onclick="gotoCategoryPage();">
									<div class="p-side-xl">
										<div class="box-type-3 bg-light-grey ">
											<div class="center width-full">
												<div class="box-inner-img">
													<div class="bg-add-img p-s">
														<div class="add-img-box">
															<span class="btn-plus">+</span>
														</div>
													</div>
												</div>
												<h2 class="p-vertical-l color-darker-grey ht6 text-center uppercase">${'Add to compare' @ i18n}</h2>
											</div>
										</div>
									</div>
								</a>
							</div>
	
							<div data-div-height="wrapper" class=" col-xs-4 col-cell p-no">
								<a href="#" onclick="gotoCategoryPage();">
									<div class="p-side-xl">
										<div class="box-type-3 bg-light-grey ">
											<div class="center width-full">
												<div class="box-inner-img">
													<div class="bg-add-img p-s">
														<div class="add-img-box">
															<span class="btn-plus">+</span>
														</div>
													</div>
												</div>
												<h2 class="p-vertical-l color-darker-grey ht6 text-center uppercase">${'Add to compare' @ i18n}</h2>
											</div>
										</div>
									</div>
								</a>
							</div>
	
							<div data-div-height="wrapper" class=" col-xs-4 col-cell p-no">
								<a href="#" onclick="gotoCategoryPage();">
									<div class="p-side-xl">
										<div class="box-type-3 bg-light-grey ">
											<div class="center width-full">
												<div class="box-inner-img">
													<div class="bg-add-img p-s">
														<div class="add-img-box">
															<span class="btn-plus">+</span>
														</div>
													</div>
												</div>
												<h2 class="p-vertical-l color-darker-grey ht6 text-center uppercase">${'Add to compare' @ i18n}</h2>
											</div>
										</div>
									</div>
								</a>
							</div>
	
	
						</div>
	
					</div>
	
	
				</div>
				<!-- table responsive-->
			</div>
		</div>
		<!-- SECTION 1 END -->
	
		<!-- section 2 -->
		<div class="container">
			<div class="row m-top-4xl m-bottom-4xl m-sm-bottom-5xl">
				<hr>
				<sly data-sly-test="${properties.buttonText}">
					<div class="col-xs-6 text-right">
						<a href="${properties.link}.html" target="${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype}" class="btn btn-brand-default ${properties.buttonStyle }">${properties.buttonText }</a>
					</div>
				</sly>

				<sly data-sly-test="${properties.buttonText2}">
					<div class="col-xs-6">
						<a href="${properties.link2}.html" target="${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype}" class="btn btn-brand-default ${properties.buttonStyle2 }">${properties.buttonText2 }</a>
					</div>
				</sly>
			</div>
		</div>
		<!-- section 2 end -->
	
	</div>
	
	
	<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.compare'}" data-sly-unwrap/>
	
	
	<script>
	
		function gotoCategoryPage(){
	
			var url_string = window.location.href
			var url = new URL(url_string);
			var category = url.searchParams.get("category");
			window.location.href = "${countryInfo.countryInfo.sitePath @ context='unsafe'}/products/" +  category + ".html";
		}
	
	</script>
