<!-- CAROUSEL HOME BANNER  -->
<div class="container-fluid p-no relative">
   <div class="ico-indicator">
      <img src="/content/dam/USGBoral/Global/Website/Images/component/carousel-home-banner/indicator-btn.png">
   </div>
   <div class="row m-no">
      <div class="col-xs-12 p-no">
         <div class="carousel-home-banner-wrapper">
            <div class="carousel-home-banner" >
               <!-- 1 -->
               <!-- BANNER IMAGE START -->
               <!-- Component: Hero Banner -->
               <a href="#" target="_blank" class="hero-banner-wrapper" style="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/carousel-home-banner/bg-carousel-banner.jpg') center right no-repeat; background-size:cover;"
                  data-img-mobile="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/carousel-home-banner/m-bg-carousel-banner.jpg') bottom right no-repeat; background-size:cover;"
                  >
                  <div class="container">
                     <div class="row">
                        <div class="col-xs-12">
                           <div class="banner-big">
                              <!-- Compenent Height Setting: banner-big, banner-small -->
                              <div class="content-area m-left-3xl text-left va-middle va-sm-middle va-top">
                                 <!-- text alignment: text-left, text-center, text-right -->
                                 <!-- vertical alignment: va-top, va-middle, va-bottom -->
                                 <!-- horizontal alignment: ha-left, ha-center, ha-right -->
                                 <h2 class="ht1 uppercase color-white ">
                                    <span class="yellow-label"></span>
                                    INNOVATION<br>INSPIRED BY YOU
                                 </h2>
                                 <p class="width-half color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dtolore magna aliqua.</p>
                                 <div class="btn btn-brand-default button-yellow">Find out more</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </a>
               <!-- component end -->
               <!-- BANNER IMAGE END -->
               <!-- 2 -->
               <!-- BANNER IMAGE START -->
               <!-- Component: Hero Banner -->
               <a href="#" target="_blank" class="hero-banner-wrapper" style="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/carousel-home-banner/bg-carousel-banner.jpg') center right no-repeat; background-size:cover;"
                  data-img-mobile="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/carousel-home-banner/bg-carousel-banner.jpg') bottom right no-repeat; background-size:cover;"
                  >
                  <div class="container">
                     <div class="row">
                        <div class="col-xs-12">
                           <div class="banner-big">
                              <!-- Compenent Height Setting: banner-big, banner-small -->
                              <div class=" content-area m-left-3xl text-left va-middle va-sm-middle va-top ">
                                 <!-- text alignment: text-left, text-center, text-right -->
                                 <!-- vertical alignment: va-top, va-middle, va-bottom -->
                                 <!-- horizontal alignment: ha-left, ha-center, ha-right -->
                                 <h2 class=" ht1 uppercase color-white">
                                    <span class="yellow-label"></span>
                                    INNOVATION <br>INSPIRED BY YOU
                                 </h2>
                                 <p class="width-half color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dtolore magna aliqua.</p>
                                 <div class="btn btn-brand-default button-yellow">Find out more</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </a>
               <!-- component end -->
               <!-- BANNER IMAGE END -->
               <!-- 3 -->
               <!-- BANNER IMAGE START -->
               <!-- Component: Hero Banner -->
               <a href="#" target="_blank" class="hero-banner-wrapper" style="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/carousel-home-banner/bg-carousel-banner.jpg') center right no-repeat; background-size:cover;"
                  data-img-mobile="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/carousel-home-banner/bg-carousel-banner.jpg') bottom right no-repeat; background-size:cover;"
                  >
                  <div class="container">
                     <div class="row">
                        <div class="col-xs-12">
                           <div class="banner-big">
                              <!-- Compenent Height Setting: banner-big, banner-small -->
                              <div class=" content-area m-left-3xl text-left va-middle va-sm-middle va-top ">
                                 <!-- text alignment: text-left, text-center, text-right -->
                                 <!-- vertical alignment: va-top, va-middle, va-bottom -->
                                 <!-- horizontal alignment: ha-left, ha-center, ha-right -->
                                 <h2 class=" ht1 uppercase color-white">
                                    <span class="yellow-label"></span>
                                    INNOVATION <br>INSPIRED BY YOU
                                 </h2>
                                 <p class="width-half color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dtolore magna aliqua.</p>
                                 <div class="btn btn-brand-default button-yellow">Find out more</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </a>
               <!-- component end -->
               <!-- BANNER IMAGE END -->
               <!-- 4 -->
               <!-- BANNER IMAGE START -->
               <!-- Component: Hero Banner -->
               <a href="#" target="_blank" class="hero-banner-wrapper" style="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/carousel-home-banner/bg-carousel-banner.jpg') center right no-repeat; background-size:cover;"
                  data-img-mobile="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/carousel-home-banner/bg-carousel-banner.jpg') bottom right no-repeat; background-size:cover;"
                  >
                  <div class="container">
                     <div class="row">
                        <div class="col-xs-12">
                           <div class="banner-big">
                              <!-- Compenent Height Setting: banner-big, banner-small -->
                              <div class=" content-area m-left-3xl text-left va-middle va-sm-middle va-top ">
                                 <!-- text alignment: text-left, text-center, text-right -->
                                 <!-- vertical alignment: va-top, va-middle, va-bottom -->
                                 <!-- horizontal alignment: ha-left, ha-center, ha-right -->
                                 <h2 class=" ht1 uppercase color-white">
                                    <span class="yellow-label"></span>
                                    INNOVATION <br>INSPIRED BY YOU
                                 </h2>
                                 <p class="width-half color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dtolore magna aliqua.</p>
                                 <div class="btn btn-brand-default button-yellow">Find out more</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </a>
               <!-- component end -->
               <!-- BANNER IMAGE END -->
               <!-- 5 -->
               <!-- BANNER IMAGE START -->
               <!-- Component: Hero Banner -->
               <a href="#" target="_blank" class="hero-banner-wrapper" style="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/carousel-home-banner/bg-carousel-banner.jpg') center right no-repeat; background-size:cover;"
                  data-img-mobile="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/carousel-home-banner/bg-carousel-banner.jpg') bottom right no-repeat; background-size:cover;"
                  >
                  <div class="container">
                     <div class="row">
                        <div class="col-xs-12">
                           <div class="banner-big">
                              <!-- Compenent Height Setting: banner-big, banner-small -->
                              <div class="content-area m-left-3xl text-left va-middle va-sm-middle va-top  ">
                                 <!-- text alignment: text-left, text-center, text-right -->
                                 <!-- vertical alignment: va-top, va-middle, va-bottom -->
                                 <!-- horizontal alignment: ha-left, ha-center, ha-right -->
                                 <h2 class=" ht1 uppercase color-white">
                                    <span class="yellow-label"></span>
                                    INNOVATION <br>INSPIRED BY YOU
                                 </h2>
                                 <p class="width-half color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dtolore magna aliqua.</p>
                                 <div class="btn btn-brand-default button-yellow">Find out more</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </a>
               <!-- component end -->
               <!-- BANNER IMAGE END -->
            </div>
            <!-- slick div end -->
         </div>
      </div>
   </div>
</div>
<!-- CAROUSEl HOME BANNER END -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='uiux.slick'}" data-sly-unwrap/>
<script>

// ----------------------------------------------------------------------
// Carousel Home Banner
// ----------------------------------------------------------------------
(function(){
    "use strict";
    $(document).ready(function(){
       $(".carousel-home-banner").slick({
                                            "dots": true,
                                            "infinite": true,
                                            "speed": 300,
                                            "slidesToShow": 1,
                                            "slidesToScroll": 1,
                                            "responsive": [
                                                {
                                                    "breakpoint": 992,
                                                    "settings": {
                                                        "slidesToShow": 1
                                                    }
                                                }
                                            ]
                                        });
    });
})();

</script>