<sly data-sly-test="${wcmmode.edit}">
    Edit here for where to buy component
</sly>
<!-- TITLE -->
<div class="container m-vertical-m">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="ht4 uppercase color-darker-grey">${properties.title @ context='unsafe'}</h4>
            <p>${properties.description @ context ='unsafe'}</p>
        </div>
    </div>
</div>
<!-- TITLE END -->


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 p-no">
            <form id="map-search-controller" onkeypress="return event.keyCode != 13;">
                <div class="wtb-search-bar">
                    <div class="filter-back-btn">
                        Back
                    </div>
                    <div class="input-group search-group">
                        <div class="relative width-full">
                            <input type="text" id="input-search-location" name="search_text" data-autocomplete="/bin/usgb/v3/storeAutoComplete" data-autocomplete-minchars="3" class="form-control placeholder" placeholder="City, postcode, Store name or address">
                        </div>


                        <div class="inputSearch-myLocation hidden"><img class="myLocation-pin" src="/content/dam/USGBoral/Global/Website/Images/v3/component/icon_marker_red.png">Use Current location</div>
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <div value="" selected="selected">${properties.allstates}</div>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary btn-search"><span class="glyphicon glyphicon-search icon-size-xs" aria-hidden="true"></span></button>
                    <a class="btn btn-primary btn-filter m-left-s disabled"><span class="fa fa-filter icon-size-xs" aria-hidden="true"></span></a>
                </div>
                <a href="#" class="btn btn-primary search-bar-toggle-button hidden-xs" ><span class="fa fa-angle-left icon-size" aria-hidden="true"></span></a>
            </div>
        </form>
        <form id="filter-list-controller" onkeypress="return event.keyCode != 13;">
            <div class="search-detail-wrap">
                <div class="state-wrap">
                    <a href="#" class="cta-search-detail-on">
                        <span class="fa fa-info-circle icon-size-xs" aria-hidden="true"></span>
                    </a>
                    <a href="#" class="cta-search-detail-off">
                        <span class="fa fa-angle-left icon-size" aria-hidden="true"></span> Back
                    </a>
                    <div class="search-detail-group"></div>
                </div>

                <div class="filter-list-item"></div>

            </div>
        </form>
        <div id="map-canvas"></div>
    </div>
</div>
</div>

<div id="no-result-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="noResultModalLabel">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" role="document" width="750px">
            <div class="modal-content">
                <div class="modal-body m-vertical-s">
                    <div class="row">
                        <div class="col-md-12" align="center">
                            <div class="svg-box">
                                <svg class="circular yellow-stroke">
                                    <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                                </svg>
                                <svg class="alert-sign yellow-stroke">
                                    <g transform="matrix(1,0,0,1,-615.516,-257.346)">
                                        <g transform="matrix(0.56541,-0.56541,0.56541,0.56541,93.7153,495.69)">
                                            <path class="line" d="M634.087,300.805L673.361,261.53" fill="none" />
                                        </g>
                                        <g transform="matrix(2.27612,-2.46519e-32,0,2.27612,-792.339,-404.147)">
                                            <circle class="dot" cx="621.52" cy="316.126" r="1.318" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <h4 class="ht4 uppercase color-primary-green">Unable to find</h4>
                            <p class="color-dark-grey">Please provide precise search value.</p>
                            <br>
                            <p class="text-center m-bottom-l">
                                <button onClick="window.location.reload(); return false;" class="btn btn-brand-default button-green">CLOSE</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loaderWrapper">
    <img class="loader" src="/content/dam/USGBoral/Global/Website/Images/v3/component/spinner.gif" alt="loading">
</div>




<script id="infoTemplate" type="text/x-handlebars-template">
{{#each this}}
<div class="state-detail p-vertical-l clearfix">
    <div class="row">
        <div class="col-xs-8">
            <a href="#" class="cta-location bold color-primary-green uppercase">{{companyName}}</a>
            {{#if address1}}<p>
            {{address1}}<br>
            {{address2}}
        </p>{{/if}}
            {{#if phoneNumber}}<p><i class="fa fa-phone icon-color-darker-grey icon-size-xs"></i>&nbsp;&nbsp; <a href="tel:+{{phoneNumber}}">{{phoneNumber}}</a></p>{{/if}}
            {{#if email}}<p><i class="fa fa-envelope icon-color-darker-grey icon-size-xs"></i>&nbsp; <a href="mailto:+{{email}}">{{email}}</a></p>{{/if}}
        </div>

        <div class="col-xs-4">
            {{#if distance}}
            <p class="distance">{{distance}}KM</p>
            {{/if}}
        </div>
    </div>
    <span class="float-right m-bottom-l"><a href="https://www.google.com/maps?daddr={{latitude}},{{longitude}}" target="_blank"><u>Get Direction</u></a></span>
    {{#if product_categories}}
    <div class="accordion-wrap clearfix">
        <div class="btn-accordion">
            <div class="col-l bold">
                Product Availability
            </div>
            <div class="col-r">
                <i class="icon-size-xs fa fa-angle-down"></i>
            </div>
        </div>
        <div class="content-accordion">
            {{#each product_categories}}
            <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>
{{/each}}
</script>

<script id="templWtbFilter" type="text/x-handlebars-template">
{{#each this}}
<div class="row">
    <div class="col-xs-12 state-detail {{#ifEquals key "distance"}}state-detail--{{key}} hidden{{/ifEquals}} m-sm-bottom-l">
    <p class="bold uppercase">{{title}}</p>
    <div class="item-detail">
        {{#ifEquals key "distance"}}
        {{#each child}}
        <div>
            <input id="{{../key}}_{{key}}" name="{{../key}}" type="radio" class="radio" value="{{value}}">
            <label class="checkbox-lable icon icon-80 {{icon}}" for="{{../key}}_{{key}}"></label>
            <p class="fs-2 p-xxs">{{value}}</p>
        </div>
        {{/each}}
        {{else}}
        {{#each child}}
        <div>
            <input id="{{../key}}_{{key}}" name="{{../key}}" type="checkbox" class="checkbox" value="{{value}}">
            <label class="checkbox-lable icon icon-80 {{icon}}" for="{{../key}}_{{key}}"></label>
            <p class="fs-2 p-xxs">{{value}}</p>
        </div>
        {{/each}}
        {{/ifEquals}}
    </div>
</div>
</div>
{{/each}}
</script>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1tQQEZ2xfKP5_WKodxbN7NhB6BIJhYB4"></script>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='uiux.wheretobuy'}" data-sly-unwrap/>

