<!-- BREADCUMB-BOX -->
<div class="container">
    <div class="row m-vertical-m">
        <div class="col-xs-12">
            <div class="breadcrumb-box">
                <ol class="breadcrumb m-no p-no bg-white">
                    <li>USG BORAL</li>
                    <li class="active"><b>Search</b></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- BREADCUMB-BOX END -->


<!-- TITLE -->
<div class="container">
	<div class="row m-vertical-m">
		<div class="col-xs-12">
			<h4 class="ht4 uppercase color-darker-grey">MEET THE LEADERSHIP</h4> 
		</div>
	</div>
</div>
<!-- END TITLE -->

<div class="container">

	<div class="row m-vertical-m">

	    <!-- 1 -->
	    <div class="col-xs-12 col-sm-4 m-bottom-m">
	        <div class="row">
	            <div class="col-xs-12 m-no p-no">
	                <!-- circle image with icon -->
	                <div class="popup-icon-tile">
	                    <a href="#" data-toggle="modal" data-target="#helenlee">

							<div class="back-image img-circle border" style="background:transparent url('https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg') top center no-repeat; background-size:cover;"></div>
	                        
	                        <div class="r-icon">
	                            <span class="stacked-default">
	                                    <span class="fa-stack fa-4x">
	                                        <i class="fa fa-circle fa-stack-2x"></i>
	                                        <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
	                                    </span>
	                            </span>
	                        </div>

	                    </a>
	                </div>
	                <!-- end circle image with icon -->
	                <!-- modal -->
	                <div id="helenlee" class="popup-icon-tile-modal modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	                    <div class="align-bottom flex-column height-full justify-center modal-dialog modal-lg" role="document">
	                        <!-- modal header -->
	                        <div class="modal-header">
	                            <div class="close-pop-up text-right" data-dismiss="modal" aria-label="Close">
	                                <a href="#" class="icon-color-white icon-size-xs glyphicon glyphicon-remove"></a>
	                            </div>
	                        </div>
	                        <!-- end modal header -->
	                        <!-- modal content -->
	                        <div class="modal-content">
	                            <!-- modal body -->
	                            <div class="modal-body">
	                                <div class="flex-row justify-end row-wrap">
	                                    <div class="col-xs-12 col-sm-8 p-bottom-m p-top-m order-2 order-sm-2">
	                                        <h2 class="ht4 m-bottom-m m-top-m m-sm-top-no">HELEN LEE</h2>
	                                        <p class="color-darker-grey fs-2">
	                                            Aliquam lobortis arcu cursus elementum gravida. Etiam sed urna nec erat bibendum semper ac sed orci. Quisque urnimperdiet nibh. Sed condimentum libero et libero mattis, ut eleifend nibh laoreet. Proin massa erat, cursus id nulla quis, elementum euismod quam. Praesent vitae dolor faucibus, aliquam nunc sagittis, dignissim urna.
	                                        </p>
	                                        <p class="fs-2">
	                                            Aliquam sed tincidunt eros. Proin euismod dolor tellus. Nam et felis vitae neque semper pulvinar at in nibh.
	                                        </p>
	                                    </div>
	                                    <div class="col-xs-12 col-sm-4 order-1 order-sm-2 p-no">
	                                        <img class="img-responsive" src="https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg" />
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- end modal body -->
	                        </div>
	                        <!-- end modal content -->
	                    </div>
	                </div>
	                <!-- end modal -->
	            </div>
	        </div>
	        <div class="row">
	            <!-- description -->
	            <div class="col-xs-12 m-no p-no">
	                <h3 class="ht5 m-vertical-m text-center">HELEN LEE</h3>
	                <p class="text-center">Lorem ipsum dolor sit amet.
	                    <br />Consectetuer adipiscing elit. Aenean</p>
	            </div>
	            <!-- end description -->
	        </div>
	    </div>
	    <!-- end 1 -->

	    <!-- 2 -->
	    <div class="col-xs-12 col-sm-4 m-bottom-m">
	        <div class="row">
	            <div class="col-xs-12 m-no p-no">
	                <!-- circle image with icon -->
	                <div class="popup-icon-tile">
	                    <a href="#" data-toggle="modal" data-target="#dominix">
	                    	<div class="back-image img-circle border" style="background:transparent url('https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg') top center no-repeat; background-size:cover;"></div>
	                        <div class="r-icon">
	                            <span class="stacked-default">
	                                <span class="fa-stack fa-4x">
	                                    <i class="fa fa-circle fa-stack-2x"></i>
	                                    <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
	                                </span>
	                            </span>
	                        </div>
	                    </a>
	                </div>
	                <!-- end circle image with icon -->
	                <!-- modal -->
	                <div id="dominix" class="popup-icon-tile-modal modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	                    <div class="align-bottom flex-column height-full justify-center modal-dialog modal-lg" role="document">
	                        <!-- modal header -->
	                        <div class="modal-header">
	                            <div class="close-pop-up text-right" data-dismiss="modal" aria-label="Close">
	                                <a href="#" class="icon-color-white icon-size-xs glyphicon glyphicon-remove"></a>
	                            </div>
	                        </div>
	                        <!-- end modal header -->
	                        <!-- modal content -->
	                        <div class="modal-content">
	                            <!-- modal body -->
	                            <div class="modal-body">
	                                <div class="flex-row justify-end row-wrap">
	                                    <div class="col-xs-12 col-sm-8 p-bottom-m p-top-m order-2 order-sm-2">
	                                        <h2 class="ht4 m-bottom-m m-top-m m-sm-top-no">DOMINIX FOX</h2>
	                                        <p class="color-darker-grey fs-2">
	                                            Aliquam lobortis arcu cursus elementum gravida. Etiam sed urna nec erat bibendum semper ac sed orci. Quisque urnimperdiet nibh. Sed condimentum libero et libero mattis, ut eleifend nibh laoreet. Proin massa erat, cursus id nulla quis, elementum euismod quam. Praesent vitae dolor faucibus, aliquam nunc sagittis, dignissim urna.
	                                        </p>
	                                        <p class="fs-2">
	                                            Aliquam sed tincidunt eros. Proin euismod dolor tellus. Nam et felis vitae neque semper pulvinar at in nibh.
	                                        </p>
	                                    </div>
	                                    <div class="col-xs-12 col-sm-4 order-1 order-sm-2 p-no">
	                                        <img class="img-responsive" src="https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg" />
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- end modal body -->
	                        </div>
	                        <!-- end modal content -->
	                    </div>
	                </div>
	                <!-- end modal -->
	            </div>
	        </div>
	        <div class="row">
	            <!-- description -->
	            <div class="col-xs-12 m-no p-no">
	                <h3 class="ht5 m-vertical-m text-center">DOMONIX FOX</h3>
	                <p class="text-center">Lorem ipsum dolor sit amet.
	                    <br />Consectetuer adipiscing elit. Aenean</p>
	            </div>
	            <!-- end description -->
	        </div>
	    </div>
	    <!-- end 2 -->

	    <!-- 3 -->
	    <div class="col-xs-12 col-sm-4 m-bottom-m">
	        <div class="row">
	            <div class="col-xs-12 m-no p-no">
	                <!-- circle image with icon -->
	                <div class="popup-icon-tile">
	                    <a href="#" data-toggle="modal" data-target="#jonathan">
	                    	<div class="back-image img-circle border" style="background:transparent url('https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg') top center no-repeat; background-size:cover;"></div>
	                        <div class="r-icon">
	                            <span class="stacked-default">
	                            <span class="fa-stack fa-4x">
	                                <i class="fa fa-circle fa-stack-2x"></i>
	                                <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
	                            </span>
	                            </span>
	                        </div>
	                    </a>
	                </div>
	                <!-- end circle image with icon -->
	                <!-- modal -->
	                <div id="jonathan" class="popup-icon-tile-modal modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	                    <div class="align-bottom flex-column height-full justify-center modal-dialog modal-lg" role="document">
	                        <!-- modal header -->
	                        <div class="modal-header">
	                            <div class="close-pop-up text-right" data-dismiss="modal" aria-label="Close">
	                                <a href="#" class="icon-color-white icon-size-xs glyphicon glyphicon-remove"></a>
	                            </div>
	                        </div>
	                        <!-- end modal header -->
	                        <!-- modal content -->
	                        <div class="modal-content">
	                            <!-- modal body -->
	                            <div class="modal-body">
	                                <div class="flex-row justify-end row-wrap">
	                                    <div class="col-xs-12 col-sm-8 p-bottom-m p-top-m order-2 order-sm-2">
	                                        <h2 class="ht4 m-bottom-m m-top-m m-sm-top-no">JONATHAN LOW</h2>
	                                        <p class="color-darker-grey fs-2">
	                                            Aliquam lobortis arcu cursus elementum gravida. Etiam sed urna nec erat bibendum semper ac sed orci. Quisque urnimperdiet nibh. Sed condimentum libero et libero mattis, ut eleifend nibh laoreet. Proin massa erat, cursus id nulla quis, elementum euismod quam. Praesent vitae dolor faucibus, aliquam nunc sagittis, dignissim urna.
	                                        </p>
	                                        <p class="fs-2">
	                                            Aliquam sed tincidunt eros. Proin euismod dolor tellus. Nam et felis vitae neque semper pulvinar at in nibh.
	                                        </p>
	                                    </div>
	                                    <div class="col-xs-12 col-sm-4 order-1 order-sm-2 p-no">
	                                        <img class="img-responsive" src="https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg" />
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- end modal body -->
	                        </div>
	                        <!-- end modal content -->
	                    </div>
	                </div>
	                <!-- end modal -->
	            </div>
	        </div>
	        <div class="row">
	            <!-- description -->
	            <div class="col-xs-12 m-no p-no">
	                <h3 class="ht5 m-vertical-m text-center">JONATHAN LOW</h3>
	                <p class="text-center">Lorem ipsum dolor sit amet.
	                    <br />Consectetuer adipiscing elit. Aenean</p>
	            </div>
	            <!-- end description -->
	        </div>
	    </div>
	    <!-- end 3 -->

	</div>

	<div class="row m-vertical-m">

	    <!-- 1 -->
	    <div class="col-xs-12 col-sm-3 m-bottom-m">
	        <div class="row">
	            <div class="col-xs-12 m-no p-no">
	                <!-- circle image with icon -->
	                <div class="popup-icon-tile">
	                    <a href="#" data-toggle="modal" data-target="#laura">
	                    	<div class="back-image img-circle border" style="background:transparent url('https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg') top center no-repeat; background-size:cover;"></div>
	                        <div class="r-icon">
	                            <span class="stacked-default">
	                        <span class="fa-stack fa-4x">
	                            <i class="fa fa-circle fa-stack-2x"></i>
	                            <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
	                        </span>
	                            </span>
	                        </div>
	                    </a>
	                </div>
	                <!-- end circle image with icon -->
	                <!-- modal -->
	                <div id="laura" class="popup-icon-tile-modal modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	                    <div class="align-bottom flex-column height-full justify-center modal-dialog modal-lg" role="document">
	                        <!-- modal header -->
	                        <div class="modal-header">
	                            <div class="close-pop-up text-right" data-dismiss="modal" aria-label="Close">
	                                <a href="#" class="icon-color-white icon-size-xs glyphicon glyphicon-remove"></a>
	                            </div>
	                        </div>
	                        <!-- end modal header -->
	                        <!-- modal content -->
	                        <div class="modal-content">
	                            <!-- modal body -->
	                            <div class="modal-body">
	                                <div class="flex-row justify-end row-wrap">
	                                    <div class="col-xs-12 col-sm-8 p-bottom-m p-top-m order-2 order-sm-2">
	                                        <h2 class="ht4 m-bottom-m m-top-m m-sm-top-no">LAURA GEELY</h2>
	                                        <p class="color-darker-grey fs-2">
	                                            Aliquam lobortis arcu cursus elementum gravida. Etiam sed urna nec erat bibendum semper ac sed orci. Quisque urnimperdiet nibh. Sed condimentum libero et libero mattis, ut eleifend nibh laoreet. Proin massa erat, cursus id nulla quis, elementum euismod quam. Praesent vitae dolor faucibus, aliquam nunc sagittis, dignissim urna.
	                                        </p>
	                                        <p class="fs-2">
	                                            Aliquam sed tincidunt eros. Proin euismod dolor tellus. Nam et felis vitae neque semper pulvinar at in nibh.
	                                        </p>
	                                    </div>
	                                    <div class="col-xs-12 col-sm-4 order-1 order-sm-2 p-no">
	                                        <img class="img-responsive" src="https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg" />
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- end modal body -->
	                        </div>
	                        <!-- end modal content -->
	                    </div>
	                </div>
	                <!-- end modal -->
	            </div>
	        </div>
	        <div class="row">
	            <!-- description -->
	            <div class="col-xs-12 m-no p-no">
	                <h3 class="ht5 m-vertical-m text-center">LAURA GEELY</h3>
	                <p class="text-center">Lorem ipsum dolor sit amet.
	                    <br />Consectetuer adipiscing elit. Aenean</p>
	            </div>
	            <!-- end description -->
	        </div>
	    </div>
	    <!-- end 1 -->

	    <!-- 2 -->
	    <div class="col-xs-12 col-sm-3 m-bottom-m">
	        <div class="row">
	            <div class="col-xs-12 m-no p-no">
	                <!-- circle image with icon -->
	                <div class="popup-icon-tile">
	                    <a href="#" data-toggle="modal" data-target="#edwin">
	                    	<div class="back-image img-circle border" style="background:transparent url('https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg') top center no-repeat; background-size:cover;"></div>
	                        <div class="r-icon">
	                            <span class="stacked-default">
	                    <span class="fa-stack fa-4x">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
	                    </span>
	                            </span>
	                        </div>
	                    </a>
	                </div>
	                <!-- end circle image with icon -->
	                <!-- modal -->
	                <div id="edwin" class="popup-icon-tile-modal modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	                    <div class="align-bottom flex-column height-full justify-center modal-dialog modal-lg" role="document">
	                        <!-- modal header -->
	                        <div class="modal-header">
	                            <div class="close-pop-up text-right" data-dismiss="modal" aria-label="Close">
	                                <a href="#" class="icon-color-white icon-size-xs glyphicon glyphicon-remove"></a>
	                            </div>
	                        </div>
	                        <!-- end modal header -->
	                        <!-- modal content -->
	                        <div class="modal-content">
	                            <!-- modal body -->
	                            <div class="modal-body">
	                                <div class="flex-row justify-end row-wrap">
	                                    <div class="col-xs-12 col-sm-8 p-bottom-m p-top-m order-2 order-sm-2">
	                                        <h2 class="ht4 m-bottom-m m-top-m m-sm-top-no">EDWIN TOH</h2>
	                                        <p class="color-darker-grey fs-2">
	                                            Aliquam lobortis arcu cursus elementum gravida. Etiam sed urna nec erat bibendum semper ac sed orci. Quisque urnimperdiet nibh. Sed condimentum libero et libero mattis, ut eleifend nibh laoreet. Proin massa erat, cursus id nulla quis, elementum euismod quam. Praesent vitae dolor faucibus, aliquam nunc sagittis, dignissim urna.
	                                        </p>
	                                        <p class="fs-2">
	                                            Aliquam sed tincidunt eros. Proin euismod dolor tellus. Nam et felis vitae neque semper pulvinar at in nibh.
	                                        </p>
	                                    </div>
	                                    <div class="col-xs-12 col-sm-4 order-1 order-sm-2 p-no">
	                                        <img class="img-responsive" src="https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg" />
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- end modal body -->
	                        </div>
	                        <!-- end modal content -->
	                    </div>
	                </div>
	                <!-- end modal -->
	            </div>
	        </div>
	        <div class="row">
	            <!-- description -->
	            <div class="col-xs-12 m-no p-no">
	                <h3 class="ht5 m-vertical-m text-center">EDWIN TOH</h3>
	                <p class="text-center">Lorem ipsum dolor sit amet.
	                    <br />Consectetuer adipiscing elit. Aenean</p>
	            </div>
	            <!-- end description -->
	        </div>
	    </div>
	    <!-- end 2 -->

	    <!-- 3 -->
	    <div class="col-xs-12 col-sm-3 m-bottom-m">
	        <div class="row">
	            <div class="col-xs-12 m-no p-no">
	                <!-- circle image with icon -->
	                <div class="popup-icon-tile">
	                    <a href="#" data-toggle="modal" data-target="#bruno">
	                    	<div class="back-image img-circle border" style="background:transparent url('https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg') top center no-repeat; background-size:cover;"></div>
	                        <div class="r-icon">
	                            <span class="stacked-default">
	                    <span class="fa-stack fa-4x">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
	                    </span>
	                            </span>
	                        </div>
	                    </a>
	                </div>
	                <!-- end circle image with icon -->
	                <!-- modal -->
	                <div id="bruno" class="popup-icon-tile-modal modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	                    <div class="align-bottom flex-column height-full justify-center modal-dialog modal-lg" role="document">
	                        <!-- modal header -->
	                        <div class="modal-header">
	                            <div class="close-pop-up text-right" data-dismiss="modal" aria-label="Close">
	                                <a href="#" class="icon-color-white icon-size-xs glyphicon glyphicon-remove"></a>
	                            </div>
	                        </div>
	                        <!-- end modal header -->
	                        <!-- modal content -->
	                        <div class="modal-content">
	                            <!-- modal body -->
	                            <div class="modal-body">
	                                <div class="flex-row justify-end row-wrap">
	                                    <div class="col-xs-12 col-sm-8 p-bottom-m p-top-m order-2 order-sm-2">
	                                        <h2 class="ht4 m-bottom-m m-top-m m-sm-top-no">Bruno RIBIROR</h2>
	                                        <p class="color-darker-grey fs-2">
	                                            Aliquam lobortis arcu cursus elementum gravida. Etiam sed urna nec erat bibendum semper ac sed orci. Quisque urnimperdiet nibh. Sed condimentum libero et libero mattis, ut eleifend nibh laoreet. Proin massa erat, cursus id nulla quis, elementum euismod quam. Praesent vitae dolor faucibus, aliquam nunc sagittis, dignissim urna.
	                                        </p>
	                                        <p class="fs-2">
	                                            Aliquam sed tincidunt eros. Proin euismod dolor tellus. Nam et felis vitae neque semper pulvinar at in nibh.
	                                        </p>
	                                    </div>
	                                    <div class="col-xs-12 col-sm-4 order-1 order-sm-2 p-no">
	                                        <img class="img-responsive" src="https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg" />
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- end modal body -->
	                        </div>
	                        <!-- end modal content -->
	                    </div>
	                </div>
	                <!-- end modal -->
	            </div>
	        </div>
	        <div class="row">
	            <!-- description -->
	            <div class="col-xs-12 m-no p-no">
	                <h3 class="ht5 m-vertical-m text-center">Bruno RIBIROR</h3>
	                <p class="text-center">Lorem ipsum dolor sit amet.
	                    <br />Consectetuer adipiscing elit. Aenean</p>
	            </div>
	            <!-- end description -->
	        </div>
	    </div>
	    <!-- end 3 -->

	    <!-- 4 -->
	    <div class="col-xs-12 col-sm-3 m-bottom-m">
	        <div class="row">
	            <div class="col-xs-12 m-no p-no">
	                <!-- circle image with icon -->
	                <div class="popup-icon-tile">
	                    <a href="#" data-toggle="modal" data-target="#JANET">
	                    	<div class="back-image img-circle border" style="background:transparent url('https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg') top center no-repeat; background-size:cover;"></div>
	                        <div class="r-icon">
	                            <span class="stacked-default">
	                    <span class="fa-stack fa-4x">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
	                    </span>
	                            </span>
	                        </div>
	                    </a>
	                </div>
	                <!-- end circle image with icon -->
	                <!-- modal -->
	                <div id="JANET" class="popup-icon-tile-modal modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	                    <div class="align-bottom flex-column height-full justify-center modal-dialog modal-lg" role="document">
	                        <!-- modal header -->
	                        <div class="modal-header">
	                            <div class="close-pop-up text-right" data-dismiss="modal" aria-label="Close">
	                                <a href="#" class="icon-color-white icon-size-xs glyphicon glyphicon-remove"></a>
	                            </div>
	                        </div>
	                        <!-- end modal header -->
	                        <!-- modal content -->
	                        <div class="modal-content">
	                            <!-- modal body -->
	                            <div class="modal-body">
	                                <div class="flex-row justify-end row-wrap">
	                                    <div class="col-xs-12 col-sm-8 p-bottom-m p-top-m order-2 order-sm-2">
	                                        <h2 class="ht4 m-bottom-m m-top-m m-sm-top-no">JANET TEOH</h2>
	                                        <p class="color-darker-grey fs-2">
	                                            Aliquam lobortis arcu cursus elementum gravida. Etiam sed urna nec erat bibendum semper ac sed orci. Quisque urnimperdiet nibh. Sed condimentum libero et libero mattis, ut eleifend nibh laoreet. Proin massa erat, cursus id nulla quis, elementum euismod quam. Praesent vitae dolor faucibus, aliquam nunc sagittis, dignissim urna.
	                                        </p>
	                                        <p class="fs-2">
	                                            Aliquam sed tincidunt eros. Proin euismod dolor tellus. Nam et felis vitae neque semper pulvinar at in nibh.
	                                        </p>
	                                    </div>
	                                    <div class="col-xs-12 col-sm-4 order-1 order-sm-2 p-no">
	                                        <img class="img-responsive" src="https://www.usgboral.com/content/dam/USGBoral/Australia/Website/Images/whoisusgboral/leadership/Paul%20Monzella.jpg" />
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- end modal body -->
	                        </div>
	                        <!-- end modal content -->
	                    </div>
	                </div>
	                <!-- end modal -->
	            </div>
	        </div>
	        <div class="row">
	            <!-- description -->
	            <div class="col-xs-12 m-no p-no">
	                <h3 class="ht5 m-vertical-m text-center">JANET TEOH</h3>
	                <p class="text-center">Lorem ipsum dolor sit amet.
	                    <br />Consectetuer adipiscing elit. Aenean</p>
	            </div>
	            <!-- end description -->
	        </div>
	    </div>
	    <!-- end 4 -->

	</div>

</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 m-top-xl m-bottom-xl">
			<h2 class="ht4 uppercase text-center color-darker-grey">DISCOVER MORE</h2>
			<p class="text-center color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
		</div>
	</div>
</div>



<div class="container">
	<!-- row 8 cards start (desktop) -->
	<div class="row hidden-xs">

	    <!-- 1 -->
	    <div class="col-xs-4 p-m p-top-no p-bottom-no m-bottom-xxl">
	        <a href="#" target="_blank">
	        	<div class="box-type-4 bg-primary-green box-size-m ">
	        		<div class="center width-full">
	        			<div class="box-inner-img">
	        				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
	        			</div>
	        		</div>
	        		<div class="flexi-height main">
	        			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>HISTORY OF USG BORAL</span></h2>

	        		</div><div class="flexi-height sub">

	        			<div class="sub-text p-m">
	        				<h2 class="color-darker-grey bold ht6  uppercase">HISTORY OF USG BORAL</h2>
	        				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
	        					<elit>...</elit>
	        				</p>
	        			</div>
	        		</div>
	        	</div>
	        </a>
	    </div>
	    <!-- 1 end -->
	    <!-- 2 -->
	    <div class="col-xs-4 p-m p-top-no p-bottom-no m-bottom-xxl">
	        <a href="#" target="_blank">
	        	<div class="box-type-4 bg-primary-green box-size-m ">
	        		<div class="center width-full">
	        			<div class="box-inner-img">
	        				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
	        			</div>
	        		</div>
	        		<div class="flexi-height main">
	        			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>MISSION & VISION</span></h2>
	        			
	        		</div><div class="flexi-height sub">
	        			
	        			<div class="sub-text p-m">
	        				<h2 class="color-darker-grey bold ht6  uppercase">MISSION & VISION</h2>
	        				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
	        					<elit>...</elit>
	        				</p>
	        			</div>
	        		</div>
	        	</div>
	        </a>
	    </div>
	    <!-- 2 end -->
	    <!-- 3 -->
	    <div class="col-xs-4 p-m p-top-no  p-bottom-no m-bottom-xxl">
	        <a href="#" target="_blank">
	        	<div class="box-type-4 bg-primary-green box-size-m ">
	        		<div class="center width-full">
	        			<div class="box-inner-img">
	        				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
	        			</div>
	        		</div>
	        		<div class="flexi-height main">
	        			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>LEADERSHIP</span></h2>
	        			
	        		</div><div class="flexi-height sub">
	        			
	        			<div class="sub-text p-m">
	        				<h2 class="color-darker-grey bold ht6  uppercase">LEADERSHIP</h2>
	        				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
	        					<elit>...</elit>
	        				</p>
	        			</div>
	        		</div>
	        	</div>
	        </a>
	    </div>
	    <!-- 3 end -->
	    <!-- 4 -->
	    <div class="col-xs-3 p-m p-top-no p-bottom-no m-bottom-xxl">
	        <a href="#" target="_blank">
	        	<div class="box-type-4 bg-primary-green box-size-m ">
	        		<div class="center width-full">
	        			<div class="box-inner-img">
	        				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
	        			</div>
	        		</div>
	        		<div class="flexi-height main">
	        			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>WHERE WE OPERATE</span></h2>
	        			
	        		</div><div class="flexi-height sub">
	        			
	        			<div class="sub-text p-m">
	        				<h2 class="color-darker-grey bold ht6  uppercase">WHERE WE OPERATE</h2>
	        				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
	        					<elit>...</elit>
	        				</p>
	        			</div>
	        		</div>
	        	</div>
	        </a>
	    </div>
	    <!-- 4 end -->
	    <!-- 5 -->
	    <div class="col-xs-3 p-m p-top-no p-bottom-no  m-bottom-no">
	        <a href="#" target="_blank">
	        	<div class="box-type-4 bg-primary-green box-size-m ">
	        		<div class="center width-full">
	        			<div class="box-inner-img">
	        				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
	        			</div>
	        		</div>
	        		<div class="flexi-height main">
	        			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>FACTS & FIGURE</span></h2>
	        			
	        		</div><div class="flexi-height sub">
	        			
	        			<div class="sub-text p-m">
	        				<h2 class="color-darker-grey bold ht6  uppercase">FACTS & FIGURE</h2>
	        				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
	        					<elit>...</elit>
	        				</p>
	        			</div>
	        		</div>
	        	</div>
	        </a>
	    </div>
	    <!-- 5 end -->
	    <!-- 6 -->
	    <div class="col-xs-3 p-m p-top-no p-bottom-no  m-bottom-no">
	        <a href="#" target="_blank">
	        	<div class="box-type-4 bg-primary-green box-size-m ">
	        		<div class="center width-full">
	        			<div class="box-inner-img">
	        				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
	        			</div>
	        		</div>
	        		<div class="flexi-height main">
	        			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>CSR</span></h2>
	        			
	        		</div><div class="flexi-height sub">
	        			
	        			<div class="sub-text p-m">
	        				<h2 class="color-darker-grey bold ht6  uppercase">CSR</h2>
	        				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
	        					<elit>...</elit>
	        				</p>
	        			</div>
	        		</div>
	        	</div>
	        </a>
	    </div>
	    <!-- 6 end -->
	    <!-- 7 -->
	    <div class="col-xs-3 p-m p-top-no p-bottom-no  m-bottom-no">
	        <a href="#" target="_blank">
	        	<div class="box-type-4 bg-primary-green box-size-m ">
	        		<div class="center width-full">
	        			<div class="box-inner-img">
	        				<img src="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina)" srcset="https://dummyimage.com/311x150/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 1x, https://dummyimage.com/622x300/000000/fcfcfc&amp;text=311x150+(default),+622x300+(retina) 2x" alt="" width="311" height="150">
	        			</div>
	        		</div>
	        		<div class="flexi-height main">
	        			<h2 class="main-text color-white ht5 p-l text-center uppercase"><span>MALAYSIA BUSINESS OVERVIEW</span></h2>
	        			
	        		</div><div class="flexi-height sub">
	        			
	        			<div class="sub-text p-m">
	        				<h2 class="color-darker-grey bold ht6  uppercase">MALAYSIA BUSINESS OVERVIEW</h2>
	        				<p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
	        					<elit>...</elit>
	        				</p>
	        			</div>
	        		</div>
	        	</div>
	        </a>
	    </div>
	    <!-- 7 end -->

	</div>
	<!-- row 8 cards end (desktop) -->

	<!-- row 8 cards start (mobile) -->
	<div class="row m-bottom-m visible-xs">

	    <!-- 1 -->
	    <div class="col-xs-12 p-s">
	        <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
	            <div class="bg-overlay">
	                <div class="p-s text-center">
	                    <h2 class="ht5 color-white uppercase p-top-s">HOTEL</h2>
	                    <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- 1 end -->
	    <!-- 2 -->
	    <div class="col-xs-12 p-s">
	        <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
	            <div class="bg-overlay">
	                <div class="p-s text-center">
	                    <h2 class="ht5 color-white uppercase p-top-s">OFFICES</h2>
	                    <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- 2 end -->
	    <!-- 3 -->
	    <div class="col-xs-12 p-s">
	        <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
	            <div class="bg-overlay">
	                <div class="p-s text-center">
	                    <h2 class="ht5 color-white uppercase p-top-s">HEALTH CARE</h2>
	                    <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- 3 end -->
	    <!-- 4 -->
	    <div class="col-xs-12 p-s">
	        <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
	            <div class="bg-overlay">
	                <div class="p-s text-center">
	                    <h2 class="ht5 color-white uppercase p-top-s">EDUCATION</h2>
	                    <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- 4 end -->
	    <!-- 5 -->
	    <div class="col-xs-12 p-s">
	        <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
	            <div class="bg-overlay">
	                <div class="p-s text-center">
	                    <h2 class="ht5 color-white uppercase p-top-s">RETAIL</h2>
	                    <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- 5 end -->
	    <!-- 6 -->
	    <div class="col-xs-12 p-s">
	        <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
	            <div class="bg-overlay">
	                <div class="p-s text-center">
	                    <h2 class="ht5 color-white uppercase p-top-s">ENTERTAINMMENT</h2>
	                    <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- 6 end -->
	    <!-- 7 -->
	    <div class="col-xs-12 p-s">
	        <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
	            <div class="bg-overlay">
	                <div class="p-s text-center">
	                    <h2 class="ht5 color-white uppercase p-top-s">OFFICES</h2>
	                    <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- 7 end -->
	    <!-- 8 -->
	    <div class="col-xs-12 p-s">
	        <div style="z-index:1; background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
	            <div class="bg-overlay">
	                <div class="p-s text-center">
	                    <h2 class="ht5 color-white uppercase p-top-s">HOTEL</h2>
	                    <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- 8 end -->

	</div>
	<!-- row 8 cards start (mobile) -->   
</div>


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}" data-sly-unwrap/>