<sly data-sly-test="${wcmmode.edit}">
    Edit here for editing country component
</sly>
<div data-sly-use.countryBean="com.usgbv3.core.components.CountryComponent">
    <div data-sly-repeat.country="${countryBean.countryModelList}">
            </br>Country Title: ${country.countryTitle}
            </br>Country Code: ${country.countryCode}
            </br>Country DAM Path: ${country.damPath}
            </br>Languages:
            <div data-sly-repeat.language="${country.languageList}">
                </br>Language Title: ${language.languageTitle}
                </br>Language Code: ${language.languageCode}
                </br>Language Path: ${language.languagePath}
            </div>
    </div>
</div>