<sly data-sly-test="${wcmmode.edit}">
    Edit here for gallery component
</sly>
<!-- SECTION 1 -->
<div class="container p-no">
    <div class="row m-no m-top-3xl m-bottom-m">
        <div class="col-xs-12 p-sm-left-no">
            <h2 class="ht4 uppercase text-left color-darker-grey">${properties.title @ context='unsafe'}</h2>
        </div>
    </div>
</div>
<!-- SECTION 1 END -->


<!-- section 2 -->
<div class="container">
    <div class="row">
        <!-- set p-left-no, avoid sticy width's glitch -->
        <!-- make-sticky -->
        <div class="col-xs-12 col-sm-3 col-md-3  p-sm-left-no ">
            <!-- make-sticky_inner -->
            <div class="gallery-listing-sidebar">
                <form id="gallery-filter-form">
                    <div class="c-sidebar rounded-corners">
                        <div class="p-xl p-bottom-no">
                            <h5 class=" text-left color-dark-grey bold ht6 uppercase">${properties.refineSearch @ context='unsafe'}</h5>
                        </div>
                        <div class=" gallery-filter-wrapper">
                        </div>
                    </div>
                </form>
                <!-- handlebar gallery-filter-wrapper -->
                <script id="gallery-filter" type="text/x-handlebars-template">
                    {{#each gallery_filter}}
                    <div class="gallery-filter-content">
                        <p class="color-grey ">{{category_title}}</p>
                        <div class="search-filter-sort">
                            <div class="refine-search  dropdown dp-form dropdown-menu-right d-small">
                                <button class=" btn btn-default color-dark-grey dropdown-toggle text-left dp-clickable" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="dp-text">{{child.0.value}}</span>
                                    <input type="hidden" name="{{category_key}}" value="">
                                    <span class="color-primary-green glyphicon glyphicon-menu-down right"></span>
                                </button>

                                <ul class="dropdown-menu dp-list refine-list" aria-labelledby="dropdownMenu1">
                                    {{#each child}}
                                    <li>
                                        <a data-description="{{desc}}" data-search-val="{{key}}" data-val="{{key}}">{{value}}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        <!-- <hr> -->
                        <div class="dropdown refine-mobile  visible-xs dropdown-menu-right m-vertical-m d-small">
                            <select class="btn-default">
                                {{#each child}}
                                <option data-description="{{desc}}" value="{{key}}" data-val="{{value}}">{{value}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    {{/each}}
                    <div class="type-desc hidden-xs"></div>
                    <div class="m-type-desc visible-xs"></div>
                </script>
                <!-- end c-sidebar -->

            </div>
        </div>
        <!-- sidebar end -->

        <!--  make-sticky_limit -->
        <div class="col-xs-12 col-sm-9 col-md-9">

            <script id="result" type="text/x-handlebars-template">
                {{#each this}}
                <div class="each m-bottom-xxl p-side-m" data-view="{{view}}" data-type="{{type}}">
                    <a href="{{link}}" target="_blank">
                        <div class="relative box-type-2 bg-white p-md-s p-s">
                            {{#if num}}
                            <div class="green-tag">
                                <p class="fs-3 bold color-white m-no">{{num}} Images</p>
                            </div>
                            {{/if}}
                            <div class="center width-full p-bottom-s bg-light-grey">
                                <div class="box-inner-img-gallery">
                                    <img src={{img}}>
                                </div>
                                <h6 class="m-top-m m-bottom-s m-side-xxs uppercase color-darker-grey text-center bold">{{title}}</h6>
                                <p class="color-darker-grey m-no p-side-m text-center">{{desc}}</p>
                            </div>
                            <span class="bg-box-hover">
                                </span>
                        </div>
                    </a>
                </div>
                {{/each}}
            </script>

            <!-- SEARCH CONTENT -->
            <div class="search-main-content gallery-listing-search-content">
                <div class="inner results-gallery"></div>
            </div>
            <!-- END SEARCH CONTENT -->

            <!-- SEARCH PAGINATION -->
            <div id="pagination-container" class="pull-right"></div>
            <!-- <nav aria-label="Page navigation">
                <ul class="pagination pull-right m-top-no">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>

            </nav> -->
            <!-- END SEARCH PAGINATION -->

            <!-- social icon -->
            <!-- <div class="col-xs-12 ">
                <hr />
                <p class=" fs-3 m-top-s color-grey">Share this page: &nbsp;
                    <a href="" class="stacked-default icon-color-darker-grey">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="" class="stacked-default icon-color-darker-grey">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="" class="stacked-default icon-color-darker-grey">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </p>
            </div> -->
            <!-- social end -->
        </div>
    </div>
</div>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.gallery'}" data-sly-unwrap/>
<!-- section 2 end -->
