<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>

<div data-sly-use.logic="logic.js" class="row ${logic.mgnCls} ${properties.gutter} ${properties.classid }">
	<div data-scroll-reveal="${properties.dcolumn1animation}" class="col col-md-${properties.dcolumn1width} col-sm-${properties.tcolumn1width} col-xs-${properties.mcolumn1width} col-md-offset-${properties.doffset} col-sm-offset-${properties.toffset} col-xs-offset-${properties.moffset} ${logic.c1padding}">
        <sly data-sly-resource="${ @path='par1', resourceType='foundation/components/parsys'}"></sly>
    </div>
    <div data-scroll-reveal="${properties.dcolumn2animation}" class="col col-md-${properties.dcolumn2width} col-sm-${properties.tcolumn2width} col-xs-${properties.mcolumn2width} ${logic.c2padding}">
        <sly data-sly-resource="${ @path='par2', resourceType='foundation/components/parsys'}"></sly>
    </div>
    <div data-scroll-reveal="${properties.dcolumn3animation}" class="col col-md-${properties.dcolumn3width} col-sm-${properties.tcolumn3width} col-xs-${properties.mcolumn3width} ${logic.c3padding}">
        <sly data-sly-resource="${ @path='par3', resourceType='foundation/components/parsys'}"></sly>
    </div>
</div>