<div class="c-flex-items">
	<div class="item-stretch p-no p-sm-right-m">
		<div class="text-center text-sm-left m-bottom-m m-sm-bottom-no">
			<h2 class="ht5 color-darker-grey uppercase m-bottom-s">${properties.title @ context='html'}</h2>
			<p class="m-bottom-no">
				${properties.description @ context='html'}
			</p>      
		</div>
	</div>
	<div class="item-fix p-no text-center">
		<button type="submit" class= "m-md-top-no m-top-s m-left-s btn ${properties.buttonStyle } btn-brand-default">${properties.buttonText}</button>
	</div>
</div>