<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for Hero Banner Component
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>

<div class="video-banner-wrapper ${properties.classid }">
	<div class="relative video-content">

        <sly data-sly-test.assetExist="${properties.imgPath || properties.videoDam || properties.mblImgPath}" >
        	<sly data-sly-test.imageAsset="${properties.assetType == properties.hiddenImage}" >

        		<sly data-sly-test.imgExist="${properties.imgPath}" >

					<div class="mobile-image-enabled" style="background:transparent url(${properties.imgPath @ context='unsafe'}) center right no-repeat; background-size:cover;" 
        			data-img-mobile="background:transparent url(${properties.mblImgPath ? properties.mblImgPath : properties.imgPath @ context='unsafe'}) bottom right no-repeat; background-size:cover;">

        		</sly>
        		<sly data-sly-test="${!imgExist}" >

					<div class="mobile-image-enabled" style="background-color: ${properties.bgColor @ context='unsafe'};" 
        			data-img-mobile="background:transparent url(${properties.mblImgPath ? properties.mblImgPath : properties.imgPath @ context='unsafe'}) bottom right no-repeat; background-size:cover;">

        		</sly>

            </sly>
            <sly data-sly-test="${!imageAsset}" >
				<div style="background:#000;" data-img-mobile="background:#000;">
                <video width="100%" heigth:="100%" autoplay="" nocontrols="" video="" loop="" muted="" id="theVideo">
                	<source src="${properties.videoDam @ context='unsafe'}" type="video/mp4">
                </video>
            </sly>
		</sly>
        <sly data-sly-test="${!assetExist}">
        	<div style="background-color: ${properties.bgColor @ context='unsafe'};" >
        </sly>

			<div class="${properties.opacity}">
				<div class="container">
					<div class="row p-top-5xl p-bottom-5xl m-no">
						<div class="col-xs-12">
							<div class="banner-small">
								<div class=" relative m-left-s m-sm-left-3xl ${properties.contentAlignment} ">
									<h2 class="ht1 uppercase color-white sanimated sfadeInDown">
										<sly data-sly-test="${!properties.hideYellowIcon}">
											<span class="yellow-label"></span>
										</sly>
										${properties.title @ context='html'}
									</h2>
									<div class="color-white sanimated sfadeInUp delay-500-ms hidden-sm hidden-xs">${properties.description @ context='html'}</div>
								</div>
							</div>
						</div>
					</div> 
				</div>

			</div>

		</div>
	</div>
</div>