<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for WTB Tile Component
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>

<div class="${properties.classid }">
	<sly data-sly-test.assetExist="${properties.imgPath}">
    	<div class="box-size-l  cta-hover-tile flexi-grow-1" style="background:transparent url(${properties.imgPath @ context='unsafe'}) center center no-repeat; background-size:cover;" data-scroll-reveal="wait 0.2s, then enter over 500ms after 0.6s" >
	</sly>
    <sly data-sly-test="${!assetExist}">
		<div class="box-size-l  cta-hover-tile flexi-grow-1" style="background-color: ${properties.bgColor @ context='unsafe'}; background-size:cover;" data-scroll-reveal="wait 0.2s, then enter over 500ms after 0.6s" >
	</sly>
		<!-- bg-overlay start -->
        <div class="bg-overlay">
            <div class="p-side-xxl p-vertical-5xl">
                <div class="text-center text-sm-center text-md-left">
                    <h2 class="ht4 color-white uppercase">${properties.title @ context='html'}</h2>
                    <div class="color-white">${properties.description @ context='html'}</div>
            	</div>
                <form>
                    <div class="search-box color-dark-grey two-icons">
                        <input class="" placeholder="City, Postcode, Store name or address" aria-label="Text input with multiple buttons">
                        <div class="mini-nav">
                        	<span class=" color-dark-grey glyphicon glyphicon-menu-hamburger p-no m-no"></span>  
                        </div>
                        <button type="submit" class=" search-btn">
                        	<span class="color-dark-grey glyphicon glyphicon-search p-no m-no"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--bg-overlay end  -->
	</div>
</div>