<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for Side Panel Product Resources Component
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>


		     <div class="each ${properties.classid }"> 
                <h5 class="ht6 uppercase m-bottom-xs">${properties.mainTitle @ context='html'}</h5>
                <!-- c-download-list -->
				<div data-sly-use.component="com.usgbv3.core.components.SPProductResourcesComponent">
					<div data-sly-repeat.resources="${component.resourcesList}">

                
        		        <div class="c-download-list m-bottom-xxs m-sm-bottom-m p-left-no">
							<a href="${resources.docPath @ context='unsafe'}">
                                <div class="each" > 
                                     <img src="${resources.icon @ context='unsafe'}" alt="${resources.alt @ context='unsafe'}" style=" width: 40px; height: auto;">
                                     <p class="fs-2">${resources.title @ context='html'}</p>
                                </div>
                        	</a>
                        </div>
                    </div>
                </div>
                <!-- end c-download-list -->
            
            </div>





<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='uiux.less'}" data-sly-unwrap/>

