<div class="page-content ">

<!-- SECTION 1 -->
<div class="container-fluid hero-banner-wrapper" style="background:transparent url('images/bg-carousel-banner.jpg') center right no-repeat; background-size:cover;" data-img-mobile="background:transparent url('images/m-bg-carousel-banner.jpg') bottom right no-repeat; background-size:cover;"
>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner-small">
                    <div class="content-area m-left-3xl text-left va-middle va-sm-middle va-top">
                    <!-- text alignment: text-left, text-center, text-right -->
                    <!-- vertical alignment: va-top, va-middle, va-bottom -->
                    <!-- horizontal alignment: ha-left, ha-center, ha-right -->
                    <h2 class="ht1 uppercase color-white sanimated sfadeInDown">
                    <span class="yellow-label"></span>
                    CEILINGS</h2>
                    <p class="width-half color-white sanimated sfadeInUp delay-500-ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dtolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="ico-indicator">
        <img src="images/indicator-btn.png">
    </div>
</div>
<!-- SECTION 1 END -->
    
<!-- SECTION 2 -->
<div class="container-fluid  bg-white m-vertical-6xl  hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 p-left-5xl p-right-5xl">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="ht4 uppercase text-center color-darker-grey">what we have in ceiling</h2>
                            <p class="text-center color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
                        </div>
                    </div>
                    <!-- row  3 cards -->
                    <div class="row m-bottom-m">
                        <div class="col-xs-12 p-no">
                            <!-- 1 -->
                            <div class="col-xs-12 col-sm-4 ">
                                <a href="#" target="_blank">
                                    <div class="box-type-4 bg-primary-green box-size-m">
                                        
                                        <div class="center width-full">
                                            <div class="box-inner-img"><img src="https://dummyimage.com/425x150/000000/fff" /></div>
                                        </div>

                                        <div class="bg-box-hover">
                                            <h2 class="main-text p-top-l color-white ht5 text-center uppercase">ACOUSTIC PANELS & <br>CEILING TILES</h2>
                                    
                                            <div class="sub-text p-m">
                                                <h2 class="color-darker-grey bold ht6 uppercase">ACOUSTIC & PANELS CEILING TILES</h2>
                                                <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>  
                                            </div>
                                        </div>
                                        

                                    </div>
                                </a>
                            </div>
                            <!-- 1 end -->
                            <!-- 2 -->
                            <div class="col-xs-12 col-sm-4 ">
                                <a href="#" target="_blank">
                                    <div class="box-type-4 bg-primary-green box-size-m">
                                        
                                        <div class="center width-full">
                                            <div class="box-inner-img"><img src="https://dummyimage.com/425x150/000000/fff" /></div>
                                        </div>

                                        <div class="bg-box-hover">
                                            <h2 class="main-text p-top-l color-white ht5 text-center uppercase">ACOUSTIC<br>SUSPENSION</h2>
                                    
                                            <div class="sub-text p-m">
                                                <h2 class="color-darker-grey bold ht6 uppercase">ACOUSTIC SUSPENSION</h2>
                                                <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>  
                                            </div>
                                        </div>
                                        

                                    </div>
                                </a>
                            </div>
                            <!-- 2 end -->
                            <!-- 3 -->
                            <div class="col-xs-12 col-sm-4 ">
                                <a href="#" target="_blank">
                                    <div class="box-type-4 bg-primary-green box-size-m">
                                        
                                        <div class="center width-full">
                                            <div class="box-inner-img"><img src="https://dummyimage.com/425x150/000000/fff" /></div>
                                        </div>

                                        <div class="bg-box-hover">
                                            <h2 class="main-text p-top-l  color-white ht5 text-center uppercase">DRYWALL SUSPENSION<br> SYSTEMS</h2>
                                    
                                            <div class="sub-text p-s">
                                                <h2 class="color-darker-grey bold ht6  uppercase">DRYWALL SUSPENSION SYSTEMS</h2>
                                                <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>  
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <!-- 3 end -->
                        </div>
                    </div>
                    <!--3 row card end -->
                    <!--row 4 cards start -->
                    <div class="row m-bottom-m">
                        <div class="col-xs-12  p-no">
                                <!-- 1 -->
                                <div class="col-xs-12 col-sm-3 p-m p-top-no">
                                    <a href="#" target="_blank">
                                        <div class="box-type-4 bg-primary-green box-size-m ">
                                            
                                            <div class="center width-full">
                                                <div class="box-inner-img"><img src="https://dummyimage.com/311x150/000000/fff" /></div>
                                            </div>
                                            <div class="bg-box-hover">
                                                <h2 class="main-text color-white ht5 p-l text-center uppercase">INTEGRATED SYSTEMS</h2>
                                                <div class="sub-text p-m">
                                                    <h2 class="color-darker-grey bold ht6  uppercase">INTEGRATED SYSTEMS</h2>
                                                    <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing<elit>...</elit></p>  
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <!-- 1 end -->
                                <!-- 2 -->
                                <div class="col-xs-12 col-sm-3 p-m p-top-no">
                                    <a href="#" target="_blank">
                                        <div class="box-type-4 bg-primary-green box-size-m  ">
                                            
                                            <div class="center width-full">
                                                <div class="box-inner-img"><img src="https://dummyimage.com/311x150/000000/fff" /></div>
                                            </div>
                                            <div class="bg-box-hover">
                                                <h2 class="main-text color-white ht5 p-m text-center uppercase">ASONA ACOUSTICAL RANGE</h2>
                                                <div class="sub-text p-m">
                                                    <h2 class="color-darker-grey bold ht6  uppercase">ASONA ACOUSTICAL RANGE</h2>
                                                    <p class="color-darker-grey">Lorem ipsum dolor sit amet<elit>...</elit></p>  
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <!-- 2 end -->
                                <!-- 3 -->
                                <div class="col-xs-12 col-sm-3 p-m p-top-no">
                                    <a href="#" target="_blank">
                                        <div class="box-type-4 bg-primary-green box-size-m ">
                                            
                                            <div class="center width-full">
                                                <div class="box-inner-img"><img src="https://dummyimage.com/311x150/000000/fff" /></div>
                                            </div>
                                            <div class="bg-box-hover">
                                                <h2 class="main-text color-white ht5 p-m text-center uppercase">SPECIALTY<br> CEILINGS</h2>
                                                <div class="sub-text p-m">
                                                    <h2 class="color-darker-grey bold ht6  uppercase">SPECIALTY CEILINGS</h2>
                                                    <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing sit amet<elit>...</elit></p>  
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <!-- 3 end -->
                                <!-- 4 -->
                                <div class="col-xs-12 col-sm-3 p-m p-top-no">
                                    <a href="#" target="_blank">
                                        <div class="box-type-4 bg-primary-green box-size-m ">
                                            <div class="center width-full">
                                                <div class="box-inner-img"><img src="https://dummyimage.com/311x150/000000/fff" /></div>
                                            </div>
                                            <div class="bg-box-hover">
                                                <h2 class="main-text color-white ht5 p-xs text-center uppercase">ASONA ACOUSTICAL RANGE</h2>
                                                <div class="sub-text p-m">
                                                    <h2 class="color-darker-grey bold ht6  uppercase">ASONA ACOUSTICAL RANGE</h2>
                                                    <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing<elit>...</elit></p>  
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <!-- 4 end -->
                        </div>
                    </div>
                    <!-- row 4 card end -->
            </div>
        </div>

    </div>
</div>
<!-- SECTION 2 END -->

<!-- SECTION 2 MOBILE -->
<div class="container-fluid bg-white m-bottom-m p-md-bottom-5xl  visible-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="ht4 uppercase text-center color-darker-grey m-top-3xl">what we have in ceilings</h2>
                <p class="text-center color-darker-grey p-s p-md-no">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
        </div>
        <div class="row p-s">
            <!-- card 1 -->
            <div class="col-xs-12 p-s">
                <div style="z-index:1; background:transparent url('images/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                    <div class="bg-overlay"> 
                        <div class="p-s text-center">
                            <h2 class="ht5 color-white uppercase p-top-s">ACOUSTIC PANELS &amp; CEILING TILES</h2>
                            <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>  
                    </div>     
                </div>
            </div>
            <!-- card 1 end -->

            <!-- card 2 -->
            <div class="col-xs-12 p-s">
                <div style="z-index:1; background:transparent url('images/bg-banner-tile.jpg') center center no-repeat; background-size:cover;" >
                    <div class="bg-overlay"> 
                        <div class="p-s text-center width-full">
                            <h2 class="ht5 color-white uppercase p-top-s">ACOUSTIC SUSPENSION SYSTEMS</h2>
                            <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>  
                    </div>          
                </div>
            </div>
            <!-- card 2 end -->
            <!-- card 3 -->
            <div class="col-xs-12 p-s">
                <div style="z-index:1; background:transparent url('images/bg-banner-tile.jpg') center center no-repeat; background-size:cover;" >
                    <div class="bg-overlay"> 
                        <div class="p-s text-center width-full">
                            <h2 class="ht5 color-white uppercase p-top-s">ASONA ACOUSTICAL RANGE</h2>
                            <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>  
                    </div>          
                </div>
            </div>
            <!-- card 3 end -->
            <!-- card 4 -->
            <div class="col-xs-12 p-s">
                <div style="z-index:1; background:transparent url('images/bg-banner-tile.jpg') center center no-repeat; background-size:cover;" >
                    <div class="bg-overlay"> 
                        <div class="p-s text-center width-full">
                            <h2 class="ht5 color-white uppercase p-top-s">Speciality CEILINGS</h2>
                            <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>  
                    </div>          
                </div>
            </div>
            <!-- card 4 end -->
            <!-- card 5 -->
            <div class="col-xs-12 p-s">
                <div style="z-index:1; background:transparent url('images/bg-banner-tile.jpg') center center no-repeat; background-size:cover;" >
                    <div class="bg-overlay"> 
                        <div class="p-s text-center width-full">
                            <h2 class="ht5 color-white uppercase p-top-s">METAL CEILINGS</h2>
                            <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>  
                    </div>          
                </div>
            </div>
            <!-- card 5 end -->
            <!-- card 6 -->
            <div class="col-xs-12 p-s">
                <div style="z-index:1; background:transparent url('images/bg-banner-tile.jpg') center center no-repeat; background-size:cover;" >
                    <div class="bg-overlay"> 
                        <div class="p-s text-center width-full">
                            <h2 class="ht5 color-white uppercase p-top-s">Speciality CEILINGS</h2>
                            <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>  
                    </div>          
                </div>
            </div>
            <!-- card 6 end -->
            <!-- card 7 -->
            <div class="col-xs-12 p-s">
                <div style="z-index:1; background:transparent url('images/bg-banner-tile.jpg') center center no-repeat; background-size:cover;" >
                    <div class="bg-overlay"> 
                        <div class="p-s text-center width-full">
                            <h2 class="ht5 color-white uppercase p-top-s">METAL CEILINGS</h2>
                            <p class="color-white m-xxs">Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>  
                    </div>          
                </div>
            </div>
            <!-- card 7 end -->
        </div>

    </div>
</div>
<!-- SECTION 2 MOBILE -->
    

<!-- SECTION 3 -->
<div class="container-fluid m-top-l m-sm-top-3xl ">
    <div class="container">
        <div class="row row-eq-height">
            <!--1-->
            <div class="col-sm-6 col-xs-12 m-no m-sm-left-m p-s p-sm-4xl p-sm-right-no p-top-s ">
                <a href="#" target="_blank">
                    <div class="bg-light-grey flexi-height">
                        <div class="center width-full">
                            <!-- content start -->
                            <div class="p-bottom-xl p-top-xl" >
                                <div class="p-m p-sm-side-xxl p-sm-top-3xl text-center text-md-left text-sm-center">
                                    <h6 class="color-darker-grey uppercase">CASE STUDY</h6>
                                    <h2 class="ht4 color-darker-grey uppercase">CHADSTONE SHOPPING CENTRE
                                            REDEVELOPMENT</h2>
                                    <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus </p>

                                    <a href="#" class="btn btn-top-border btn-dark m-top-s">Read More <span class="glyphicon glyphicon-menu-right"></span></a>  
                                </div>  
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- 1 end -->
            <!-- 2 -->
            <div class="col-sm-6 col-xs-12 m-no m-sm-right-m p-s p-sm-4xl p-sm-left-xxs p-sm-top-s">
                <a href="#" target="_blank">
                    <div class="bg-light-grey">
                        <div class="center width-full">
                            <!-- content start -->
                            <div class="p-bottom-xl p-top-xl" >
                                <div class="  p-m p-sm-side-xxl p-sm-top-3xl text-center text-md-left text-sm-center">
                                    <h6 class="color-darker-grey uppercase">CASE STUDY</h6>
                                    <h2 class="ht4 color-darker-grey uppercase">2 Design Group - Logix™ Integrated Ceilings</h2>
                                    <p class="color-darker-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus </p>

                                    <a href="#" class="btn btn-top-border btn-dark m-top-s">Read More <span class="glyphicon glyphicon-menu-right"></span></a>  
                                </div>  
                            </div>                        
                        </div>
                    </div>
                </a>
            </div>
            <!-- 2 end -->
        </div>
    </div>
</div>
<!-- SECTION 3 -->

<!-- SECTION 4 -->
<div class="container-fluid bg-light-grey  m-top-l m-sm-top-5xl p-top-l p-bottom-l p-sm-top-3xl p-sm-bottom-4xl ">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 m-bottom-xl hidden-xs">
                <h2 class="ht4 uppercase text-center color-darker-grey">CEILINGS SOLUTIONS</h2>
                <p class="text-center color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
            </div>
        </div>

        <div class="row row-eq-height ">
            <!--1-->
            <div class="col-xs-12 col-sm-6 p-s p-sm-right-no  ">
                <a href="#" target="_blank">
                    <div class=" flexi-height" style="z-index:1; background:transparent url('images/bg-banner-tile.jpg') center center no-repeat; background-size:cover;" >
                        <div class="bg-overlay"> 
                            <div class="p-top-xxl p-bottom-xxl p-sm-top-4xl p-sm-bottom-3xl p-side-l p-sm-side-xxl  text-center text-sm-center text-md-left ">
                                <h2 class="ht4 color-white uppercase">acoustic</h2>
                                <p class="color-white">Lorem iapsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dtolore magna aliqua.</p>

                                <a href="#" class="btn btn-top-border btn-light m-top-s">Read More <span class="glyphicon glyphicon-menu-right"></span></a>  
                            </div>  
                        </div>  
                    </div>
                </a>
            </div>
            <!-- 1 end -->
            <!-- 2 -->
            <div class="col-xs-12 col-sm-6 p-s p-sm-left-xxs p-sm-top-s">
                <a href="#" target="_blank">
                    <div style="z-index:1; background:transparent url('images/bg-banner-tile.jpg') center center no-repeat; background-size:cover;" >
                        <div class="bg-overlay"> 
                            <div class=" p-top-xxl p-bottom-xxl p-sm-top-4xl p-sm-bottom-3xl p-side-l p-sm-side-xxl  text-center text-sm-center text-md-left ">
                                <h2 class="ht4 color-white uppercase">science</h2>
                                <p class="color-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatiet magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

                                <a href="#" class="btn btn-top-border btn-light m-top-s">Read More <span class="glyphicon glyphicon-menu-right"></span></a>  
                            </div>  
                        </div>  
                    </div>
                </a>
            </div>
            <!-- 2 end -->
        </div>
        <div class="row m-no m-bottom-xxl m-top-xxl">
            <div class="col-xs-12 p-no">
                <div class="col-xs-12 col-sm-7 p-no">
                    <div class="text-center text-sm-left">
                        <h2 class="ht5 color-darker-grey uppercase m-bottom-s">kNOW MORE ABOUT OUR SOLUTIONS</h2>
                        <p class="color-darker-grey"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhsit amet, consectetuer adipiscing elit,  sed diam nonu nibh.sectetuer adipiscing elit, ssectetuer adipiscing elit.
                        </p>      
                    </div>     
                </div> 
                <div class="col-sm-4 col-xs-12 m-sm-top-5xl p-no ">
                    <div class="float-right hidden-xs">
                        <button type="submit" class= "m-md-top-no m-top-s m-left-s btn button-green btn-brand-default">FIND OUT MORE</button>
                    </div>
                    <div class="text-center visible-xs">
                        <button type="submit" class= "m-md-top-no m-top-s m-left-s btn button-green btn-brand-default">FIND OUT MORE</button>
                    </div>
                   
                </div>   
            </div>
        </div>
        
    </div>
</div>
<!-- SECTION 4 END-->


<!-- SECTION 5 -->
<div class="container-fluid bg-white m-bottom-m m-top-5xl hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 m-bottom-xs">
                <h2 class="ht4 uppercase text-center color-darker-grey">find out what WE have</h2>
                <p class="text-center color-darker-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
            </div>
        </div>
        
        <div class="row  m-top-xl m-bottom-xl">
                <ul class="icon-group-wrapper">
                    <li>
                        <p class="icon icon-150 icon-ceiling color-primary-green"></p>
                        <p class="m-top-l bold">Ceilings</p>
                    </li>
                    <li>
                        <p class="icon icon-150 icon-interiorlining color-primary-green"></p>
                        <p class="m-top-l bold">Interior Linings</p>
                    </li>
                    <li>
                        <p class="icon icon-150 icon-finishes color-primary-green"></p>
                        <p class="m-top-l bold">Finishes</p>
                    </li>
                    <li>
                        <p class="icon icon-150 icon-steelframing color-primary-green"></p>
                        <p class="m-top-l bold">Steel Framing</p>
                    </li>
                    <li>
                        <p class="icon icon-150 icon-cornice color-primary-green"></p>
                        <p class="m-top-l bold">Cornice</p>
                    </li>
                    <li>
                        <p class="icon icon-150 icon-plasteringdiy color-primary-green"></p>
                        <p class="m-top-l bold">Plastering DIY</p>
                    </li>
                    <li>
                        <p class="icon icon-150 icon-insulation color-primary-green"></p>
                        <p class="m-top-l bold">Insulations</p>
                    </li>
                </ul>
        </div>

    </div>
</div>        
<!-- SECTION 5 END -->


<!-- SECTION 6-->
<div class="container-fluid bg-light-grey p-top-l p-bottom-l m-bottom-m">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 m-bottom-xs">
                <h2 class="ht6 color-darker-grey ">Your browsing history</h2>
            </div>
        </div>

        <!-- carousel items -->
        <div class="row">
                <div>
                    <div class="feature-card-wrapper">  
                        <!-- slick div -->
                        <div class="carousel-feature-card" data-slick='{
                            "dots": false,
                            "infinite": true,
                            "speed": 300,
                            "slidesToShow": 5,
                            "slidesToScroll": 1,
                            "responsive": [
                                {
                                    "breakpoint": 992,
                                    "settings": {
                                        "slidesToShow": 4,
                                        "dots":true
                                    }
                                },
                                {
                                    "breakpoint": 768,
                                    "settings": {
                                        "slidesToShow": 3,
                                        "dots":true
                                    }
                                },
                                {
                                    "breakpoint": 600,
                                    "settings": {
                                        "slidesToShow": 1,
                                        "dots":true
                                    }
                                }
                            ]
                        }'>
                        <!-- featured items start -->
                        <!-- 1 -->
                        <div class="col-sm-2 p-xl">       
                                <a href="#" target="_blank">
                                    <div class="box-size-m box-type-2 p-md-xs p-xs">
                                            <div class="center width-full">
                                                <div class="box-inner-img"></div>
                                                <h2 class="m-top-m fs-1 color-darker-grey text-center bold">Multistop ™ 3HI - Multi Performance Plasterboard</h2>  
                                            </div>
                                            <span class="bg-box-hover"> </span>
                                    </div>
                                </a>
                            </div>
                            <!-- 1 end -->
                            <!-- 2 -->
                            <div class="col-sm-2 p-xl">
                                <a href="#" target="_blank">
                                    <div class="box-size-m box-type-2 p-md-xs p-xs">
                                        <div class="center width-full">
                                            <div class="box-inner-img"></div>
                                            <h2 class="m-top-m fs-1 color-darker-grey text-center bold">FIBEROCK® Aqua-Tough™ - MultiPerformance Gypsum Board</h2>  
                                        </div>
                                        <span class="bg-box-hover"> </span>
                                    </div>
                                </a>
                            </div>
                            <!-- 2 end -->
                            <!-- 3 -->
                            <div class="col-sm-2  p-xl">
                                <a href="#" target="_blank">
                                    <div class="box-size-m box-type-2 p-md-xs p-xs">
                                        <div class="center width-full">
                                            <div class="box-inner-img"></div>
                                            <h2 class="m-top-m fs-1 color-darker-grey text-center bold">Multistop ™ 3HI - Multi Performance Plasterboard</h2>  
                                        </div>
                                        <span class="bg-box-hover"> </span>
                                    </div>
                                </a>
                            </div>
                            <!-- 3 end --> 
                            <!-- 4 -->
                            <div class="col-sm-2  p-xl">
                                <a href="#" target="_blank">
                                    <div class="box-size-m box-type-2 p-md-xs p-xs">
                                        <div class="center width-full">
                                            <div class="box-inner-img"></div>
                                            <h2 class="m-top-m fs-1 color-darker-grey text-center bold">DIY Plasterboard
                                                    Accessories</h2>  
                                        </div>
                                        <span class="bg-box-hover"> </span>
                                    </div>
                                </a>
                            </div>
                            <!-- 4 end -->
                            <!-- 5-->
                            <div class="col-sm-2  p-xl">
                                <a href="#" target="_blank">
                                    <div class="box-size-m box-type-2 p-md-xs p-xs">
                                        <div class="center width-full">
                                            <div class="box-inner-img"></div>
                                            <h2 class="m-top-m fs-1 color-darker-grey text-center bold">DIY Plasterboard
                                                    Accessories</h2>  
                                        </div>
                                        <span class="bg-box-hover"> </span>
                                    </div>
                                </a>
                            </div>
                            <!-- 5 end -->                        
                        <!-- featured items end -->
                        </div>
                        <!-- slick div end -->
                    </div>    
                </div>
        </div>
        <!-- carousel item end -->
    </div>
</div>
<!-- SECTION 6 END -->


<!-- SECTION 7 -->
<div class="container-fluid bg-white">
    <div class="container subscribe-newsletter p-no">
        <div class="row m-no m-bottom-xxl m-top-xxl">
            <div class="col-xs-12 p-no">
                <div class="col-xs-12 col-md-6">
                    <div class="text-center text-md-left">
                        <h2 class="ht4 color-darker-grey uppercase m-bottom-m">SUBSCRIBE OUR NEWSLETTER!</h2>
                        <p class="color-darker-grey">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhsit amet, consectetuer adipiscing elit, sed diam nonu nibh.sectetuer adipiscing elit, ssectetuer adipiscing elit.
                        </p>      
                    </div>     
                </div> 
                <div class="col-md-6 col-xs-12 m-md-top-8xl p-no">
                    <form>
                        <div class="search-box color-dark-grey">
                            <input class="" placeholder="Your Email Address" >
                        </div>
                        <button type="submit" class="m-md-top-no m-top-s m-left-s btn button-green btn-brand-default">EMAIL ME</button>
                    </form>
                </div>   
            </div>
        </div>
    </div>
</div>
<!-- SECTION 7 END -->








</div>
<!-- END of PAGE CONTENT -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}" data-sly-unwrap/>