<!-- hamburger content -->
<div class="hamburger-content hidden" data-sly-use.component="com.usgbv3.core.components.MegamenuMobileComponent" data-sly-use.countryInfo="com.usgbv3.core.components.CountryInfoComponent">

    <!-- navigation - level 1 -->
    <section class="section level-1">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 p-no">

                    <!-- before log in -->
                    <ul class="each-list m-bottom-l pre-login-nav">
                        <li class="bottom-line-grey color-grey fs-3 p-m">Account</li>

                        <li>
                            <ul class="color-grey each-list">
                                <li class="bold flex-grow-1 flex-row align-baseline fs-2 p-m">
                                	<a href="#" class="align-baseline flex-grow-1 flex-row">
                                    	<span class="color-dark-grey">
                                        	${'Login' @ i18n}
                                        </span>
                                    </a>
                                 </li>
                            </ul>
                        </li>

                    </ul>
                    <!-- end before log in -->

                    <!-- after log in   -->
                    <ul class="each-list m-bottom-l post-login-nav">
                        <li class="bottom-line-grey color-grey fs-3 p-m"><span class="post-login-user">User</span></li>
                        <li>
                            <ul class="color-grey each-list">
                                <li class="bottom-line-grey bold flex-grow-1 flex-row align-baseline fs-2 p-m">
                                	<a href="#" onclick="$.ssoManager.sso.manageProfile()" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey p-vertical-xxs">
                                    	<span class="color-dark-grey p-vertical-xxs">
                                        	${'Manage Profile' @ i18n}
                                        </span>
                                    </a>
                                </li>

                                <li class="bottom-line-grey bold flex-grow-1 flex-row align-baseline fs-2 p-m">
                                	<a href="${countryInfo.countryInfo.sitePath @ context='unsafe'}/my-bookmark.html" class="align-baseline flex-grow-1 flex-row">
                                    	<span class="color-dark-grey p-vertical-xxs">
                                        	${'My Bookmark' @ i18n}
                                        </span>
                                    </a>
                                </li>

                                <li class="bottom-line-grey bold flex-grow-1 flex-row align-baseline fs-2 p-m">
                                	<a href="${countryInfo.countryInfo.sitePath @ context='unsafe'}/my-submittal.html" class="align-baseline align-bottom flex-grow-1 flex-row">
                                    	<span class="color-dark-grey p-vertical-xxs">
                                        	${'My Submittal' @ i18n}
                                        </span>
                                    </a>
                                </li>

                                <li class="bottom-line-grey bold flex-grow-1 flex-row align-baseline fs-2 p-m">
                                	<a href="#" class="align-baseline flex-grow-1 flex-row" data-link-to="order-sample-card" >
                                    	<span class="color-dark-grey p-vertical-xxs">
                                        	${'My Order Sample Cart' @ i18n}
                                        </span>
                                        <span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span>

									</a>
                                </li>

                                <li class="bold flex-grow-1 flex-row align-baseline fs-2 p-m">
                                	<a href="#" onclick="$.ssoManager.sso.logout()" class="align-baseline flex-grow-1 flex-row">
                                    	<span class="color-dark-grey">
                                        	${'Logout' @ i18n}
                                        </span>
                                    </a>
                                </li>
                        	</ul>
                   		</li>
                    </ul>
                    <!-- end after log in -->

                    <ul class="each-list m-bottom-l">
                        <li class="bottom-line-grey color-grey fs-3 p-m">Navigate</li>

                        <li>
                            <ul class="color-grey each-list">
                            	<sly data-sly-list.firstLevel="${component.megamenuList}">

                                    <li class="bold bottom-line-grey flex-grow-1 flex-row align-baseline fs-2 p-m">
                                    	<sly data-sly-test.noLanding="${firstLevel.isNoLandingPage }">
											<a class="align-baseline flex-grow-1 flex-row">
                                        </sly>
                                    	<sly data-sly-test="${!noLanding }">
											<a href="${firstLevel.link @ context='unsafe'}.html" class="align-baseline flex-grow-1 flex-row">
                                        </sly>


                                        	<span class="color-dark-grey">
                                            	${firstLevel.title @ context='html'}
                                           	</span>
                                        </a>

                                        <sly data-sly-test.isStyleOne="${firstLevel.styleType == 'style1' || firstLevel.child.size == 0}">


                                        </sly>
                                        <sly data-sly-test="${!isStyleOne }">

											<a href="#" data-link-to="${firstLevel.name @ context='unsafe'}" >
                                                <span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span>
                                            </a>

                                        </sly>

                                     </li>


                                </sly>

                            </ul>
                        </li>
                    </ul>

                    <div class="each-content m-bottom-l p-m" >
                        <a href="#" data-countries-pop-up>
                            <div class="bold country-wrapper">
                                <img class="flag-icon" src="${countryInfo.countryInfo.logo @ context='unsafe'}"> ${countryInfo.countryInfo.language @ context='html'}
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- end navigation - level 1 -->

    <!-- navigation - level 2 -->


	<section class="section level-2 hidden" data-link-to-content="order-sample-card">

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 p-no">

					<ul class="each-list m-bottom-m">
						<li class="bold p-m">
							<a href="#" data-link-back-to="order-sample-card" class="align-baseline flex-grow-1 flex-row">
								<span class="align-self-left bold glyphicon glyphicon-menu-left p-side-xxs p-vertical-xs"></span>
								<span class="align-self-left p-vertical-xxs">
									${'My Order Sample Cart' @ i18n}
								</span>
							</a>
						</li>

						<li>
							<ul class="color-grey each-list">

									<li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m">
										<a href="${countryInfo.countryInfo.sitePath @ context='unsafe'}/order-sample-summary.html" class="align-baseline flex-grow-1 flex-row">
											<span class="color-dark-grey">
												${'Order Sample Summary' @ i18n}
											</span>
										</a>
									</li>
									<li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m">
										<a href="${countryInfo.countryInfo.sitePath @ context='unsafe'}/order-sample-history.html" class="align-baseline flex-grow-1 flex-row">
											<span class="color-dark-grey">
												${'Order Sample History' @ i18n}
											</span>
										</a>
									</li>

							</ul>
						</li>

					</ul>

				</div>
			</div>
		</div>

	</section>

    <sly data-sly-list.firstLevelsecondNavi="${component.megamenuList}">

		<section class="section level-2 hidden" data-link-to-content="${firstLevelsecondNavi.name @ context='unsafe'}">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 p-no">
    
                        <ul class="each-list m-bottom-m">
                            <li class="bold p-m">
                            	<a href="#" data-link-back-to="${firstLevelsecondNavi.name @ context='unsafe'}" class="align-baseline flex-grow-1 flex-row">
                                	<span class="align-self-left bold glyphicon glyphicon-menu-left p-side-xxs p-vertical-xs"></span>
                                    <span class="align-self-left p-vertical-xxs">
                                    	${firstLevelsecondNavi.title @ context='html'}
                                    </span>
                                </a>
                            </li>
    
                            <li>
                                <ul class="color-grey each-list">
                                	<sly data-sly-list.secondLevel="${firstLevelsecondNavi.child}">

										<li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m">
                                        	<a href="${secondLevel.link @ context='unsafe'}.html" class="align-baseline flex-grow-1 flex-row">
                                                <span class="color-dark-grey">
                                                    ${secondLevel.title @ context='html'}
                                                </span>
                                            </a>

                                            <sly data-sly-test.isStyleThree="${firstLevelsecondNavi.styleType == 'style3' || secondLevel.child.size == 0 }">

    
                                            </sly>
                                            <sly data-sly-test="${!isStyleThree }">
    
                                                <a href="#" data-link-to="${secondLevel.name @ context='unsafe'}" >
                                                    <span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span>
                                                </a>
    
                                            </sly>
                                        </li>

                                    </sly>

                                </ul>
                            </li>
    
                        </ul>
    
                    </div>
                </div>
            </div>
    
        </section>

    </sly>
    <!-- end navigation - level 2 -->

    <!-- navigation - level 3 -->
    <sly data-sly-list.firstLevelThirdNavi="${component.megamenuList}">
		<sly data-sly-list.secondLevelThirdNavi="${firstLevelThirdNavi.child}">

            <section class="section level-3 hidden" data-link-to-content="${secondLevelThirdNavi.name @ context='unsafe'}">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 p-no">

                            <ul class="each-list m-bottom-m">
                                <li class="bold p-m">
                                	<a href="#" data-link-back-to="${secondLevelThirdNavi.name @ context='unsafe'}" data-parent="${firstLevelThirdNavi.name @ context='unsafe'}" class="align-baseline flex-grow-1 flex-row">
                                        <span class="align-self-left bold glyphicon glyphicon-menu-left p-side-xxs p-vertical-xs"></span>
                                        <span class="align-self-left p-vertical-xxs">
                                            ${secondLevelThirdNavi.title @ context='html'}
                                        </span>
                                     </a>
                                </li>
        
                                <li>
                                    <ul class="color-grey each-list">
                                    	<sly data-sly-list.thirdLevel="${secondLevelThirdNavi.child}">

                                        	<li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m">
                                                <a href="${thirdLevel.link @ context='unsafe'}.html" class="align-baseline flex-grow-1 flex-row">
                                                    <span class="color-dark-grey">
                                                        ${thirdLevel.title @ context='html'}
                                                    </span>
                                                </a>
											</li>

                                        </sly>

                                    </ul>
                                </li>
        
                            </ul>
        
                        </div>
                    </div>
                </div>
        
            </section>

		</sly>
    </sly>

    <!-- end navigation - level 3 -->

</div>
<!-- end hamburger content -->