<!-- hamburger content -->
<div class="hamburger-content hidden">

    <!-- navigation - level 1 -->
    <section class="section level-1">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 p-no">

                    <!-- before log in -->
                    <ul class="each-list m-bottom-l">
                        <li class="bottom-line-grey color-grey fs-3 p-m">Account</li>

                        <li>
                            <ul class="color-grey each-list">
                                <li class="bold flex-grow-1 flex-row align-baseline fs-2 p-m"><a href="#" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey">LOG IN</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                            </ul>
                        </li>

                    </ul>
                    <!-- end before log in -->

                    <!-- after log in   
                            <ul class="each-list m-bottom-l">
                                <li class="bottom-line-grey color-grey fs-3 p-m">My Account</li>
                                <li>
                                    <ul class="color-grey each-list">
                                        <li class="bottom-line-grey bold flex-grow-1 flex-row align-baseline fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">MY PROFILE</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                                        <li class="bottom-line-grey bold flex-grow-1 flex-row align-baseline fs-2 p-m"><a href="#" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey p-vertical-xxs">MY BOOKMARK</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                                        <li class="bottom-line-grey bold flex-grow-1 flex-row align-baseline fs-2 p-m"><a href="#" class="align-baseline align-bottom flex-grow-1 flex-row"><span class="color-dark-grey p-vertical-xxs">MY SUBMITTAL</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                                        <li class="bottom-line-grey bold flex-grow-1 flex-row align-baseline fs-2 p-m"><a href="#" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey p-vertical-xxs">MY ORDER SAMPLE CART</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                                        <li class="bold flex-grow-1 flex-row align-baseline fs-2 p-m"><a href="#" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey">LOG OUT</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                                    </ul>
                                </li>
                            </ul>-->
                    <!-- end after log in -->

                    <ul class="each-list m-bottom-l">
                        <li class="bottom-line-grey color-grey fs-3 p-m">Navigate</li>

                        <li>
                            <ul class="color-grey each-list">
                                <li class="bold bottom-line-grey flex-grow-1 flex-row align-baseline fs-2 p-m"><a href="#" data-link-to="PRODUCTS" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey">PRODUCTS</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                                <li class="bold bottom-line-grey flex-grow-1 flex-row align-baseline fs-2 p-m"><a href="#" data-link-to="SOLUTIONS" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey">SOLUTIONS</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                                <li class="bold bottom-line-grey flex-grow-1 flex-row align-baseline fs-2 p-m"><a href="#" data-link-to="INSPIRATIONS" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey">INSPIRATIONS</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                                <li class="bold bottom-line-grey flex-grow-1 flex-row align-baseline fs-2 p-m"><a href="#" data-link-to="TOOLS &amp; RESOURCES" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey">TOOLS &amp; RESOURCES</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                                <li class="bold bottom-line-grey flex-grow-1 flex-row align-baseline fs-2 p-m"><a href="#" data-link-to="WHAT'S NEW" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey">WHAT'S NEW</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                                <li class="bold flex-grow-1 flex-row align-baseline fs-2 p-m"><a href="#" data-link-to="ABOUT USG BORAL" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey">ABOUT USG BORAL</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="each-content m-bottom-l p-m">
                        <a href="#" data-countries-pop-up>
                            <div class="bold country-wrapper">
                                <img class="flag-icon" src="/content/dam/USGBoral/Global/Website/Images/component/allsample/my-icon.png"> EN
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- end navigation - level 1 -->

    <!-- navigation - level 2 -->
    <section class="section level-2 hidden" data-link-to-content="PRODUCTS">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 p-no">

                    <ul class="each-list m-bottom-m">
                        <li class="bold p-m"><a href="#" data-link-back-to="PRODUCTS" class="align-baseline flex-grow-1 flex-row"><span class="align-self-left bold glyphicon glyphicon-menu-left p-side-xxs p-vertical-xs"></span><span class="align-self-left p-vertical-xxs">PRODUCTS</span></a></li>

                        <li>
                            <ul class="color-grey each-list">
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">CEILINGS</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">INTERIOR LININGS</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">FINISHES</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">STEEL FRAMING</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">CORNICE</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">PLASTERING DIY</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">INSULATION</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">INDUSTRIAL PLASTER</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </div>

    </section>

    <section class="section level-2 hidden" data-link-to-content="SOLUTIONS">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 p-no">

                    <ul class="each-list m-bottom-m">
                        <li class="bold p-m"><a href="#" data-link-back-to="SOLUTIONS" class="align-baseline flex-grow-1 flex-row"><span class="align-self-left bold glyphicon glyphicon-menu-left p-side-xxs p-vertical-xs"></span><span class="align-self-left p-vertical-xxs">SOLUTIONS</span></a></li>

                        <li>
                            <ul class="color-grey each-list">
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">Etiam consequat</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">Vestibulum vel tempus eros</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </div>

    </section>

    <section class="section level-2 hidden" data-link-to-content="INSPIRATIONS">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 p-no">

                    <ul class="each-list m-bottom-m">
                        <li class="bold p-m"><a href="#" data-link-back-to="SOLUTIONS" class="align-baseline flex-grow-1 flex-row"><span class="align-self-left bold glyphicon glyphicon-menu-left p-side-xxs p-vertical-xs"></span><span class="align-self-left p-vertical-xxs">INSPIRATIONS</span></a></li>

                        <li>
                            <ul class="color-grey each-list">
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">Etiam consequat</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">Vestibulum vel tempus eros</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </div>

    </section>

    <section class="section level-2 hidden" data-link-to-content="TOOLS &amp; RESOURCES">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 p-no">

                    <ul class="each-list m-bottom-m">
                        <li class="bold p-m"><a href="#" data-link-back-to="TOOLS &amp; RESOURCES" class="align-baseline flex-grow-1 flex-row"><span class="align-self-left bold glyphicon glyphicon-menu-left p-side-xxs p-vertical-xs"></span><span class="align-self-left p-vertical-xxs">TOOLS &amp; RESOURCES</span></a></li>

                        <li>
                            <ul class="color-grey each-list">
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">Etiam consequat</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">Vestibulum vel tempus eros</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </div>

    </section>

    <section class="section level-2 hidden" data-link-to-content="WHAT'S NEW">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 p-no">

                    <ul class="each-list m-bottom-m">
                        <li class="bold p-m"><a href="#" data-link-back-to="WHAT'S NEW" class="align-baseline flex-grow-1 flex-row"><span class="align-self-left bold glyphicon glyphicon-menu-left p-side-xxs p-vertical-xs"></span><span class="align-self-left p-vertical-xxs">WHAT'S NEW</span></a></li>

                        <li>
                            <ul class="color-grey each-list">
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">Etiam consequat</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><span class="color-dark-grey p-vertical-xxs">Vestibulum vel tempus eros</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </div>

    </section>

    <section class="section level-2 hidden" data-link-to-content="ABOUT USG BORAL">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 p-no">

                    <ul class="each-list m-bottom-m">
                        <li class="bold p-m"><a href="#" data-link-back-to="ABOUT USG BORAL" class="align-baseline flex-grow-1 flex-row"><span class="align-self-left bold glyphicon glyphicon-menu-left p-side-xxs p-vertical-xs"></span><span class="align-self-left p-vertical-xxs">ABOUT USG BORAL</span></a></li>

                        <li>
                            <ul class="color-grey each-list">
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><a href="#" data-link-to="TEST LEVEL 3" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey p-vertical-xxs">TEST LEVEL 3</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><a href="http://www.google.com" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey p-vertical-xxs">LINK TO OTHER PAGE</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </div>

    </section>
    <!-- end navigation - level 2 -->

    <!-- navigation - level 3 -->
    <section class="section level-3 hidden" data-link-to-content="TEST LEVEL 3">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 p-no">

                    <ul class="each-list m-bottom-m">
                        <li class="bold p-m"><a href="#" data-link-back-to="TEST LEVEL 3"  class="align-baseline flex-grow-1 flex-row"><span class="align-self-left bold glyphicon glyphicon-menu-left p-side-xxs p-vertical-xs"></span><span class="align-self-left p-vertical-xxs">TEST LEVEL 3</span></a></li>

                        <li>
                            <ul class="color-grey each-list">
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><a href="http://www.google.com" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey p-vertical-xxs">Link 1</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                                <li class="align-baseline bg-light-grey bold bottom-line-grey flex-grow-1 flex-row fs-2 p-m"><a href="http://www.google.com" class="align-baseline flex-grow-1 flex-row"><span class="color-dark-grey p-vertical-xxs">Link 2</span><span class="align-self-right bold glyphicon glyphicon-menu-right p-side-xxs p-vertical-xs"></span></a></li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </div>

    </section>

    <!-- end navigation - level 3 -->

</div>
<!-- end hamburger content -->