<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
Edit here for Product Detail Description Component
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>

<div class="${properties.classid }" >
	<h2 class="color-darker-grey uppercase ht5">
		${properties.title @ context='html'}
	</h2>
	<div class="fs-2 color-darker-grey m-top-xs">
		${properties.description @ context='html'}
	</div>

    <sly data-sly-test="${!currentStyle.hideBookmark}">
        <a href="${currentPage.path}.html" class="col-xs-4 color-darker-grey fs-3 p-no m-bottom-m hidden-xs cta-bookmark">
            <span class="glyphicon glyphicon-heart p-right-s"></span>${'Add to my bookmark' @ i18n}
        </a>
    </sly>

    <sly data-sly-test="${!currentStyle.hidePrint}">
        <a href="#" onclick="window.print();" class="col-xs-6 color-darker-grey fs-3 p-no m-bottom-m hidden-xs">
            <span class="glyphicon glyphicon-print p-right-s"></span>${'Print' @ i18n}
        </a>
    </sly>

    <sly data-sly-test="${currentPage.properties.enableOrderSample }">
        <div class="row">
            <div class="col-xs-12">
                <a href="#" class="request-btn col-xs-12 col-sm-5 btn btn-lg btn-brand-default button-green">${'Request Sample' @ i18n}</a>
                <a href="#" class="add-to-cart"></a>
            </div>
        </div>
    </sly>

	<!-- show in mobile -->
	<div class="row">
		<div class="col-xs-12 m-top-m m-bottom-m visible-xs">

        	<sly data-sly-test="${!currentStyle.hideBookmark}">
                <a href="${currentPage.path}.html" class="float-left stacked-default icon-color-darker-grey m-right-xxs cta-bookmark">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
        	</sly>

        	<sly data-sly-test="${!currentStyle.hidePrint}">
                <a href="#" onclick="window.print();" class="float-left stacked-default icon-color-darker-grey m-right-xxs">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-print fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
        	</sly>

        	<sly data-sly-test="${!currentStyle.hideShare}">
                <sly data-sly-resource="${'share-component' @ resourceType='usgbv3/components/content/share-component'}"/>
        	</sly>

        	<sly data-sly-test="${!currentStyle.hideWtb}" >
                <a href="" class="float-right stacked-default icon-color-darker-grey ">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
        	</sly>

        	<sly data-sly-test="${!currentStyle.hideContactUs}" >
                <a href="" class="float-right stacked-default icon-color-darker-grey m-right-xxs">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
       		</sly>

		</div>
	</div>
	<!-- show in mobile end-->

	<!-- show in desktop -->
	<div class="row hidden-xs">
		<div class="col-sm-8 col-xs-12">

        	<sly data-sly-test="${!currentStyle.hideCompare}">
                <div class="radio">
                    <label class="fs-3 color-grey container-checkbox">${'Compare this product' @ i18n}
                        <input type="checkbox" data-input-value="${currentPage.path}.html">
                        <span class="checkmark"></span>
                    </label>
                </div>
        	</sly>

        	<sly data-sly-test="${!currentStyle.hideShare}">
                <div class="m-top-s top-line-dark-grey">
                    <div class=" fs-3 m-top-m m-bottom-xs color-grey">${'Share this product:' @ i18n} &nbsp;
						<sly data-sly-resource="${'share-component' @ resourceType='usgbv3/components/content/share-component'}"/>
                    </div>
                </div>
       		</sly>
		</div>

        <sly data-sly-test="${!currentStyle.hideWtb || !currentStyle.hideContactUs}">
            <div class="col-xs-12 col-sm-4">
                <div class="p-s p-right-l rounded-corners bg-light-grey float-right">

        			<sly data-sly-test="${!currentStyle.hideContactUs}" >
                        <div class="p-no m-bottom-xs">
                            <a class=" fs-2 uppercase bold p-left-s color-primary-grey" href="#">
                                <span class=" m-right-s glyphicon glyphicon-earphone"></span>${'Contact Us' @ i18n}
                            </a>
                        </div>
        			</sly>

        			<sly data-sly-test="${!currentStyle.hideWtb && !currentStyle.hideContactUs}" >
                    	<div class="col-xs-11 m-bottom-xs m-left-s line-light-grey"></div>
					</sly>

        			<sly data-sly-test="${!currentStyle.hideWtb}" >
                        <div class="p-no">
    						<a data-toggle="modal" data-target="#content-wtb" class="fs-2 uppercase bold p-left-xs color-primary-grey" href="#">
                           		<span class="m-right-s glyphicon glyphicon-map-marker"></span>${'Where To Buy' @ i18n}
                            </a>
                        </div>
        			</sly>

                </div>
            </div>
        </sly>

	</div>
</div>

<!-- modal pop WTB -->
    <!-- Modal -->
    <div id="content-wtb" class="modal fade bg-white p-no modal-popup" role="dialog">
        <div class="row  flex-column justify-center height-sm-full">
            <div class="container ">
                <!-- Modal content-->

                <div class="close-pop-up p-l text-right">
                    <a data-dismiss="modal" href="#" class="icon-color-darker-grey icon-size-xs glyphicon glyphicon-remove"></a>
                </div>

                <div class="col-xs-12 m-sm-no m-vertical-3xl ">

                    <div class="p-s col-xs-12 col-sm-4">
                        WTB MAP
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- modal pop WTB end -->


    <!-- comapre popup from  -->
    <script id="compare-popup-local" type="text/x-handlebars-template">

        {{#each this}}
        <div class='each content-wrapper' data-content-title="{{url}}">
            <a href="{{url}}" target='_blank'>
                <div class='left img-content'>
                    <img src="{{img}}"> </div>
                <div class='right title-content' data-content-value="">{{title}}</div>
            </a>
            <button class='close-btn-box'>
                <span class='bold'>x</span>
            </button>
            <hr class='col-xs-12 m-no m-top-m'>
        </div>

        {{/each}}


    </script>
    <!-- compare popup from local -->



    <!--compare popup -->
    <div id="compare-pop-detail-page" class="compare-popup">

        <div class="title uppercase ">
            Compare Product
            <span class=" btn-menu-down glyphicon glyphicon-menu-down float-right  p-s  text-center"></span>
        </div>
        <div class="popup-content c-auto-center-list">

            <div class="compare-popup-local"> </div>


            <!-- <div class="each  content-wrapper content1">
				<div class="left img-content"> </div>
				<div class="right title-content"> </div>
				<button type="button" class="close-btn-box" aria-label="Close">
					<span class="bold" aria-hidden="true">×</span>
				</button>
			</div>
			<hr> -->
        </div>
        <div class="each instruction-text ">
            <p class="m-bottom-xl color-grey text-center ">Select another product to compare</p>
        </div>
        <div class="each btn-compare m-m">
            <a href="/content/v3/usgboral/samplepage/product-compare.html">
                <button class="btn width-full button-green btn-brand-default">compare selected</button>
            </a>
        </div>
    </div>
    <!-- compare popup end -->





<script>

(function(){
    "use strict";
    //===========================
    // add bookmark
    //===========================
    $(document).ready(function(){
        $(document).on('click', '.cta-bookmark', function(e){
            e.preventDefault();
            $('#add-bookmark-modal').modal('show');
            var url = $(this).attr('href').replace(".html", ".properties.json");
            addNewBookmark(url);
        });
    });

    function addNewBookmark(url) {
        var urls = JSON.parse(localStorage.getItem('bookmarkStore')) || [];
        urls.push(url);
        urls = uniqueArray(urls);
        localStorage.setItem('bookmarkStore', JSON.stringify(urls));
    }

    function uniqueArray(arrArg) {
        return arrArg.filter(function (elem, pos, arr) {
            return arr.indexOf(elem) == pos;
        });
    };
})();


(function(){
    "use strict";
    //===========================
    // Browse history
    //===========================
    $(document).ready(function(){
        var url = $('.cta-bookmark').attr('href').replace('.html', '.properties.json');

        addNewBrowseHistory(url);
    });


    function addNewBrowseHistory(url) {
        var urls = JSON.parse(localStorage.getItem('browseHistory')) || [];
        urls.unshift(url);
        //console.log('urls', urls);
        urls = uniqueArray(urls);
        //to remove the laast one, if more than 5 items
         if(urls.length > 5){
             urls.pop();
         }
        localStorage.setItem('browseHistory', JSON.stringify(urls));
    }

    function uniqueArray(arrArg) {
        return arrArg.filter(function (elem, pos, arr) {
            return arr.indexOf(elem) == pos;
        });
    };


})();




// ----------------------------------------------------------------------
// Checkbox  (product details)
// ----------------------------------------------------------------------
(function () {
    "use strict";
    $(document).ready(function () {


		$(".compare-popup").hide();
        $(".compare-popup .btn-compare").hide();
        $(".compare-popup .instruction-text").hide();

        var currCategoryKey;
        var countryCode;
        var getLink;
        var checkStatus;
        var storeData = [];
        var currStoreData = [];
        var detailsData;
        var currInput;
        var getIndex1;
        var popContent;

        var orderData=[];

       //var tempURL = "/etc/designs/usgb_v3/clientlib/uiux-all-js/js/json/product-compare-one.html";

        //get browser url
        var pathname = window.location.pathname;
        var pagename = pathname.split(".").reverse()[1] + ".properties.json";
        //pass url to load json
        var detailsJSON

        function productCompareDetailPage() {

            detailsJSON = pagename;
            getJSONDetails();

            $(document).on("change", '[data-input-value]', function () {

                event.preventDefault();
                getLink = $(this).data("input-value");

                if ($(this).is(':checked')) {
                    console.log("check")
                    checkStatus = $(this).prop("checked");
                    $(this).prop('disabled',false);

                    var groupElem = {
                        "url": detailsData.uri+".html",
                       "img": detailsData.pageImage,
                        "title": detailsData.pageTitle,
                        "checked": checkStatus,
                        "countryCode": countryCode
                    }

                   	storeData.push(groupElem);
                    //console.log("whencheck",groupElem);
                    addToDetailsToLocal();

                } else {
                    console.log("uncheck")
                     getIndex1
                     storeData.some(function (x, i) {
                        if (x.url == getLink) {
                            getIndex1 = i;
                            return true;
                         }
            		});

            		console.log("in1", getIndex1)
                    removeCompareDetails();
                }
            });

             //hide show popup
            $(".compare-popup .btn-menu-down").click(function () {

				$(".compare-popup .btn-compare").toggle();
                $(".compare-popup .title").toggleClass("selected");

                //check to toggle compare-btn
                console.log("pop",popContent);
                if (popContent <= 1) {
                  $(".compare-popup .btn-compare").hide();
                 $(".instruction-text").fadeToggle(500);
                }
                $(".popup-content").fadeToggle(600);
            });

             // close btn on popup to remove content
            $("body").on("click", ".close-btn-box", function () {
                event.preventDefault();
                currInput = $(this).closest('.each').attr("data-content-title");
                $("[data-input-value ='" + currInput + "']").attr('checked', false);

                $(this).closest(".each").animate({
                    left: "200px",
                    opacity:0.2

              	}, 500 );

				getIndex1
                storeData.some(function (x, i) {
                    if (x.url == currInput) {
                        getIndex1 = i;
                        return true;
                    }
                });

            	console.log("in2", getIndex1)
                removeCompareDetails();
            });



             // request btn
            $("body").on("click", ".request-btn", function () {
                console.log("req btn");
                var url = detailsData.uri + ".html";
                var array = JSON.parse(localStorage.getItem('sampleOrdersJson')) || [];
                //console.log('current page product', detailsData);
                var orderElem = {
                    productName: detailsData.pageTitle,
                    productUrl: detailsData.uri + ".html",
                    quantity: 1
                }
                if(array.length == 0){
                    array.push(orderElem);
                } else {
                            array.push(orderElem);
                            var output = [];
                            
                            array.forEach(function (value) {
                                var existing = output.filter(function (v, i) {
                                    return v.productUrl == value.productUrl;
                                });
                                if (existing.length) {
                                    var existingIndex = output.indexOf(existing[0]);
                                    output[existingIndex].quantity = output[existingIndex].quantity + value.quantity;
                                } else {
                                    value.quantity = value.quantity;
                                    output.push(value);
                                }
                            });

                            array = output;
                        }
                localStorage.setItem("sampleOrdersJson", JSON.stringify(array));
                console.log('final', array);



            });



        }
        if ($('#compare-pop-detail-page').length) productCompareDetailPage();

        function addNewSample(obj) {
            var array = JSON.parse(localStorage.getItem('sampleOrdersJson')) || [];
            array.push(obj);
            array = uniqueArray(urls);
            localStorage.setItem('browseHistory', JSON.stringify(urls));
        }

        function addToDetailsToLocal() {
            localStorage.setItem(currCategoryKey, JSON.stringify(storeData));
            getDetailsLocalCompare();
        }


        function removeCompareDetails() {
           //console.log("currGetLink",getLink);
            // var getIndex1 = storeData.findIndex(x => x.url == data); 

			//$(".compare-popup .each").fadeOut(500);
			setTimeout(function () {
                storeData.splice(getIndex1, 1);
                addToDetailsToLocal();
                getDetailsLocalCompare();
                $("[data-input-value ='" + currInput + "']").prop('checked', false);
            }, 500);



        }


        function getDetailsLocalCompare() {

            if (localStorage.getItem(currCategoryKey) === null) {
                console.log("detailLocalempty")
            } else {
                //get from local storage
                storeData = JSON.parse(localStorage.getItem(currCategoryKey));
                currStoreData = storeData;
                console.log("currinLocal-", storeData);
                loadCompare();

				if (storeData.length >= 3) {
                    //disbled all checks
                    $('input[type="checkbox"]').prop('disabled', true);
                    //enable only checked items to be uncheck

                }
                else {
                	$('input[type="checkbox"]').prop('disabled', false);
               }


                var localNum = storeData.map(function (localNum) {
                	return localNum.url;
                });
               	console.log(localNum)

                $.each(localNum, function (i, val) {
                	var selectedCard = $('[data-input-value="' + val + '"]');
                    console.log(selectedCard);
                	$(selectedCard).prop("checked", true);
                    $(selectedCard).prop('disabled', false);
                });


                if (storeData.length < 1) {
                    //console.log("nomore");
                    localStorage.removeItem(currCategoryKey);
                }
            }
        }

        function countPopContent(){
            popContent = $("[data-content-title]").length;

                 if (popContent > 0) {
                    $(".compare-popup").fadeIn(500);
                    $(".popup-content").fadeIn(500);
                    $(".compare-popup .btn-menu-down").fadeIn(500);
                } else {
                    $(".compare-popup").fadeOut(700);
                }

            	if (popContent > 1) {
					$(".compare-popup").fadeIn(800);
                    $(".compare-popup .popup-content .each").fadeIn(800);
                    $(".compare-popup .btn-compare").fadeIn(500);
                    $(".compare-popup .instruction-text").fadeOut(500);

                } else {
                	$(".compare-popup .btn-compare").fadeOut(500);
					$(".compare-popup .instruction-text").fadeIn(500);
                }


            //console.log(popContent)
        }




        function loadCompare() {
        	console.log("currStoreData-", currStoreData);
            //load the popup
            var comparePopupHTML = $('#compare-popup-local').html();
            var temptcomparePopupHTML = Handlebars.compile(comparePopupHTML);
            $('.compare-popup-local').html(temptcomparePopupHTML(storeData));
           // $(".compare-popup").fadeIn(500);

            countPopContent();
        }



        function getJSONDetails() {
            console.log('urlJSON', detailsJSON)
            $.ajax({
                url: detailsJSON,
                type: "GET",
                cache: false,
                success: function (response) {

                    detailsData = response.pagePropertiesList[0];
                    console.log("res", detailsData);
                    countryCode = detailsData.countryCode;
                    currCategoryKey = detailsData.categoryKey + "_" + countryCode;
                    console.log("CK",currCategoryKey);

                    // var groupElem = {
                    //     "url": detailsData.pagePropertiesList[0].url,
                    //     "img": detailsData.pagePropertiesList[0].image68x56,
                    //     "title": detailsData.pagePropertiesList[0].pageTitle,
                    //     "checked": checkStatus,
                    //     "countryCode": countryCode
                    // }
                    // storeData.push(groupElem);
                    // console.log("dStore", storeData)
                    //localStorage.setItem(currCategoryKey, JSON.stringify(storeData));


                    getDetailsLocalCompare();

                },
                beforeSend: function () {},
                complete: function () {}
            });

        }



    });
})();




(function(){
    "use strict";
    //===========================
    // transtion Request
    //===========================
    $(document).ready(function(){


        var count = 0;
         $("body").on("click", ".request-btn", function (event) {

            count++;
            $("a.add-to-cart").addClass("size");
            setTimeout(function() {
                $("a.add-to-cart").addClass("hover");
            }, 10);

            setTimeout(function() {
               $("a.cart > span").addClass("counter");
                $("a.cart > span.counter").text(count);
            }, 400);

            setTimeout(function() {
				$("a.add-to-cart").hide();
                $("a.add-to-cart").removeClass("hover");
                $("a.add-to-cart").removeClass("size");
            }, 1100);
            setTimeout(function() {
            	$("a.add-to-cart").show();
            },1500);
            event.preventDefault();
        });




    });


})();




</script>
