<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for Sticky Icon Component
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>


<sly data-sly-use.component="com.turquoise.core.components.StickyIconComponent">

    <div class="${properties.classid } ${properties.hideDestop ? 'hidden-lg hidden-md' : '' } ${properties.hideMobile ? 'hidden-sm hidden-xs' : '' }" >
        <!-- sticky icons -->
        <div class="sticky-icons-button p-m">
            <a href="#" class="stacked-default icon-color-green">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-ellipsis-v fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
        <div class="sticky-icons-expander hidden">
            <div class="bg-overlay-dark">
        
                <div class="close-pop-up p-l">
                    <a href="#" class="icon-color-white icon-size-xs glyphicon glyphicon-remove"></a>
                </div>
        
                <div class="sticky-content container-fluid height-full">
                    <div class="sticky-content-scroller flex-column flex-sm-row height-full justify-top justify-sm-center row text-right">
                        <div class="p-bottom-no p-sm-bottom-6xl p-side-3xl p-sm-side-xxl p-top-no p-sm-top-6xl width-full width-sm-auto">
                        	<sly data-sly-list.firstIcon="${component.firstIconList}">
                                <p class="fs-2">
                                    <a href="${firstIcon.link}.html" target="${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype}" class="color-white hover-color-primary-yellow">
                                        <span class="inline-block m-right-l uppercase v-align-middle">${firstIcon.title @ context='unsafe'}</span>
                                        <span class="icon icon-50 ${firstIcon.icon } inline-block v-align-middle"></span>
                                    </a>
                                </p>
                            </sly>
                        </div>

                        <div class="p-bottom-no p-sm-bottom-6xl p-side-3xl p-sm-side-xxl p-top-no p-sm-top-6xl width-full width-sm-auto">
                        	<sly data-sly-list.firstIcon="${component.secondIconList}">
                                <p class="fs-2">
                                    <a href="${firstIcon.link}.html" target="${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype}" class="color-white hover-color-primary-yellow">
                                        <span class="inline-block m-right-l uppercase v-align-middle">${firstIcon.title @ context='unsafe'}</span>
                                        <span class="icon icon-50 ${firstIcon.icon } inline-block v-align-middle"></span>
                                    </a>
                                </p>
                            </sly>
                        </div>
                    </div>
                </div>
        
        
            </div>
        
        </div>
    </div>
</sly>
<!-- end sticky icons -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.stickyicon'}" data-sly-unwrap/>