<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for Image Hotspot
</sly>

<style type="text/css">
    #img-hotspot.s7interactiveimage{
        max-width:630px;
        width:100%; 
        height:auto;
        margin:20px auto;
    }

    @media(min-width:767px){

        #img-hotspot.s7interactiveimage{
            margin:40px auto;
        }
    }


	${properties.cssoverwrite @ context='unsafe'}

</style>

<div class="hotspot-container ${properties.classid }">



    <script type="text/javascript" src="/etc/dam/viewers/s7viewers/html5/js/InteractiveImage.js"></script>
    
    <div id="img-hotspot"></div>
    
    <script type="text/javascript">
        var full = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');

        var imgViewer = new s7viewers.InteractiveImage({
            "containerId" : "img-hotspot",
            "params" : { 
                "serverurl" : "/is/image/",
                "contenturl" : full, 
                "config" : "/etc/dam/presets/viewer/Product_Viewer",
                "asset" : '${properties.mainImgPath @ context="scriptString"}' 
            }
        })

         // Example of interactive image event for quick view.
         imgViewer.setHandlers({ 
                "quickViewActivate": function(inData) {
                    var skuVar=inData.sku;
					loadQuickView(skuVar);

                }
               
            });

        imgViewer.init(); 
    </script>
</div>

<!-- modal -->
<sly data-sly-use.listUse="${'logic.js' @ multifieldName='hotspot'}">  
    <sly data-sly-list="${listUse}">
        <sly data-sly-test.skuExist="${item.properties.sku}">
            <div id="hotspot-modal-${item.properties.sku}" class="popup-icon-tile-modal modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="align-bottom flex-column height-full justify-center modal-dialog modal-lg" role="document">
                    <!-- modal header -->
                    <div class="modal-header">
                        <div class="close-pop-up text-right" data-dismiss="modal" aria-label="Close">
                            <a href="#" class="icon-color-white icon-size-xs glyphicon glyphicon-remove"></a>
                        </div>
                    </div>
                    <!-- end modal header -->
                    <!-- modal content -->

        			<div class="modal-content p-vertical-l">
                      <!-- modal body -->
                      <div class="modal-body">
                        <div class="">
                          <div class="col-xs-12 col-sm-6 order-1 order-sm-2 p-top-no p-sm-top-xs p-bottom-m p-sm-bottom-no">
                            <img class="img-responsive hs-img" src="${item.properties.imgPath @ context='unsafe'}">
                          </div>
                          <div class="col-xs-12 col-sm-6 order-2 order-sm-2">
                            <h2 class="ht4 m-sm-bottom-m m-bottom-s top-no hs-title">${item.properties.title @ context='html'}</h2>
                    
        					${item.properties.description @ context='html'}
                    
                    
                            <p class="text-left ">
                              <a href="${item.properties.productLink @ context='unsafe'}.html" target="${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype}" class="btn btn-brand-default button-green">Find out more</a>
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- end modal body -->
                    </div>

                    <!-- end modal content -->
                </div>
            </div>
        </sly>
    </sly>
</sly>
<!-- end modal -->


<script>
var loadQuickView = function(dataFeedUrl) {
    $("#hotspot-modal-"+dataFeedUrl).modal();
};
</script>
