<sly data-sly-test="${wcmmode.edit}">
    Edit here for editing Store locator Filter component
</sly>

<div data-sly-use.storelocatorFilter="com.usgbv3.core.components.StoreLocatorFilterComponent">
    ${storelocatorFilter.storeCategoryTitle}</br>
    <div data-sly-repeat.category="${storelocatorFilter.storeCategoryList}">
        </br>storeCategoryTitle: ${category.storeCategoryTitle}
        </br> storeCategoryIconClass: ${category.storeCategoryIconClass}
    </div></br></br>

    ${storelocatorFilter.productCategoryTitle}</br>
    <div data-sly-repeat.product="${storelocatorFilter.productCategoryList}">
        </br> productCategoryTitle: ${product.productCategoryTitle}
        </br> productCategoryIconClass: ${product.productCategoryIconClass}
    </div></br></br>

    ${storelocatorFilter.distanceCategoryTitle}</br>
    <div data-sly-repeat.distance="${storelocatorFilter.distanceCategoryList}">
        </br> storeCategoryTitle: ${distance.distanceCategoryTitle}
        </br> storeCategoryIconClass: ${distance.distanceCategoryIconClass}
    </div>
</div>