<sly data-sly-test="${wcmmode.edit}">
    Edit here for editing country list component
</sly>
<style>
    ${properties.cssoverwrite @ context='unsafe'}
</style>

<div class="row ${properties.classid}" >
    <div class="col-xs-12">
        <h4 class="ht4 uppercase color-primary-green">${properties.title}</h4>
        <p>${properties.description}</p>
        <div class="region-landing--country-list" data-sly-use.countryBean="com.usgbv3.core.components.CountryListComponent">
            <ul data-sly-list.country="${countryBean.countryModelList}">
                <li>
                    <img src="${country.damPath @ context='unsafe'}" alt="${country.countryTitle  @ context='unsafe'}" class="m-right-m">
                    <div>
                        <h6 class="ht6 uppercase">${country.countryTitle  @ context='unsafe'}</h6>
                        <sly data-sly-test.languageclass=""/>
                        <sly data-sly-list.language="${country.languageList}" >
                            <sly data-sly-test="${languageList.index > 0}">
                                <sly data-sly-test.languageclass="languages"/>
                            </sly>
                        </sly>
                        <sly data-sly-test.isMulti="${languageclass}">
                            <ul  class="${languageclass}" data-sly-list.language="${country.languageList}">
                                <li>
                                    <a href="${language.languagePath @ extension='html'}"
                                       target="${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype}"
                                       class="fs-2 color-darker-grey">${language.languageTitle}</a>
                                </li>
                            </ul>
                        </sly>
                        <sly data-sly-test.isMulti="${!isMulti}" data-sly-list.language="${country.languageList}">
                            <a href="${language.languagePath @ extension='html'}"
                               target="${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype}"
                               class="fs-2 color-darker-grey">${language.languageTitle}</a>
                        </sly>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>