<!-- second row navi -->
<div class=" navbar-collapse mega-menu-wrapper ">
   <ul class="nav navbar-nav fs-nav-2 v-line-2 ">
      <li id="product-btn" class="nav-dropdown-wrapper mega-dropdown">
         <a href="#" >PRODUCTS</a>
         <ul id="product-mega" class="product-mega mega-dropdown-menu dropdown-show 
            ">
            <!-- product first row -->
            <li class="col-xs-12 m-top-m">
            <li class="col-sm-3">
               <h2 class="ht6 bold color-primary-yellow uppercase">
                  CEILING<span class="pull-right glyphicon glyphicon-menu-right"></span>
               </h2>
               <ul class="m-bottom-m m-top-m mega-dropdown-list">
                  <li>Acoustic Panels & Ceiling Tiles</li>
                  <li>Acoustic Suspension Systems</li>
                  <li>Drywall Suspension Systems</li>
                  <li>Integrated Systems</li>
                  <li>Speciality Cellings</li>
                  <li>Metal Ceilings</li>
                  <li>Asona Acoustic Range</li>
               </ul>
            </li>
            <li class="col-sm-3">
               <h2 class="ht6 bold color-primary-yellow uppercase">
                  FINISHES <span class="pull-right glyphicon glyphicon-menu-right"></span>
               </h2>
               <ul class="m-bottom-m m-top-m mega-dropdown-list">
                  <li>Jointing Compounds</li>
                  <li> Speciality Plasters </li>
                  <li>Adhesives</li>
                  <li>Primers</li>
                  <li>Sealants</li>
                  <li>Joint Tapes</li>
               </ul>
            </li>
            <li class="col-sm-3">
               <h2 class="ht6 bold color-primary-yellow uppercase">
                  PLASTERING DIY <span class="pull-right glyphicon glyphicon-menu-right"></span>
               </h2>
               <ul class="m-bottom-m m-top-m mega-dropdown-list">
                  <li>DIY Cornice Adhesive</li>
                  <li> DIY Patching Plaster</li>
                  <li>Total Joint Finish </li>
                  <li>Stud Adhesive</li>
                  <li>Tools & Accessories</li>
               </ul>
            </li>
            <li class="col-sm-3">
               <h2 class="ht6 bold color-primary-yellow uppercase">
                  INTERIOR LININGS<span class="pull-right glyphicon glyphicon-menu-right"></span>
               </h2>
               <ul class="m-bottom-m m-top-m mega-dropdown-list">
                  <li>SHEETROCK Plasterboard</li>
                  <li>Technical Boards</li>
               </ul>
            </li>
            </li>
            <!-- product first row end -->
            <!--product second row -->
            <li class="col-xs-12 m-top-m">
            <li class="col-sm-3 top-line ">
               <h2 class="ht6 bold color-primary-yellow uppercase">CORNICES <span class="pull-right glyphicon glyphicon-menu-right"></span>
               </h2>
               <ul class="m-bottom-m m-top-m mega-dropdown-list">
                  <li>SHEETROCK Plasterboard</li>
                  <li>Technical Boards</li>
               </ul>
            </li>
            <li class="col-sm-3">
               <h2 class="ht6 bold color-primary-yellow uppercase">
                  INSULATION <span class="pull-right glyphicon glyphicon-menu-right"></span>
               </h2>
               <ul class="m-bottom-m m-top-m mega-dropdown-list">
                  <li>test 1</li>
               </ul>
            </li>
            <li class="col-sm-3">
               <h2 class="ht6 bold color-primary-yellow uppercase">
                  industrial plaster <span class="pull-right glyphicon glyphicon-menu-right"></span>
               </h2>
               <ul class="m-bottom-m m-top-m mega-dropdown-list">
                  <li>test 1</li>
               </ul>
            </li>
            </li>
            <!--product second row end -->
         </ul>
      </li>
      <li id="solution-btn" class="nav-dropdown-wrapper mega-dropdown">
         <a  href="#">SOLUTION</a>
         <ul id="solution-mega" class="solution-mega mega-dropdown-menu dropdown-show">
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
         </ul>
      </li>
      <li class="nav-dropdown-wrapper mega-dropdown">
         <a href="#">INSPIRATION</a>
         <ul class="mega-dropdown-menu dropdown-show">
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
         </ul>
      </li>
      <li class="nav-dropdown-wrapper mega-dropdown">
         <a href="#">RESOURCE &amp; TOOLS</a>     
         <ul class="mega-dropdown-menu dropdown-show">
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
         </ul>
      </li>
      <li class="nav-dropdown-wrapper mega-dropdown">
         <a href="#">about usg boral</a>
         <ul class="mega-dropdown-menu dropdown-show">
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
         </ul>
      </li>
      <li  class="nav-dropdown-wrapper mega-dropdown">
         <a href="#">what’s new</a>
         <ul class="mega-dropdown-menu dropdown-show">
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
            <li class="col-sm-3">test</li>
         </ul>
      </li>
      <li class="nav-dropdown-wrapper mega-dropdown">
         <a href="#">contact us</a>
      </li>
   </ul>
</div>
<!-- second row navi end -->