<!-- PAGE CONTENT -->
<div class="page-content ">

    <!--breadcrumb box -->
    <div class="container">
        <div class="row m-vertical-m ">
            <div class="col-xs-12">
                <div class="breadcrumb-box">
                    <ol class="breadcrumb m-no p-no bg-white">
                        <li>USG Boral</li>
                        <li class="active">
                            <b>Gallery</b>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb box -->


    <!-- SECTION 1 -->
    <div class="container">
        <div class="row m-no m-top-3xl">
            <div class="col-xs-12 p-no">
                <!-- text alignment: text-left, text-center, text-right -->
                <!-- vertical alignment: va-top, va-middle, va-bottom -->
                <!-- horizontal alignment: ha-left, ha-center, ha-right -->
                <h2 class="ht4 uppercase text-left color-darker-grey hidden-xs">Gallery</h2>
                <p class="text-left color-darker-grey p-s p-md-no">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-8 col-xs-12 m-top-m">
                <div class="gallery-slider-for  product-gallery-wrapper mix-media-gallery-wrapper  bg-lighter-grey" data-slick='{
                    "slidesToShow": 1,
                    "slidesToScroll": 1,
                    "infinite": true,
                    "speed": 300,
                    "arrows": true,
                    "responsive": [
                        {
                            "breakpoint": 992,
                            "settings": {
                                "slidesToShow": 1
                            }
                        },
                        {
                            "breakpoint": 768,
                            "settings": {
                                "slidesToShow": 1
                            }
                        },
                        {
                            "breakpoint": 600,
                            "settings": {
                                "slidesToShow": 1
                            }
                        }
                    ]
                }'>

                    <!-- video popup only  mobile -->
                    <div class="visible-xs">
                        <a data-fancybox="gallery" data-width="640" data-height="360" href="https://www.w3schools.com/html/mov_bbb.mp4">
                            <span class="m-gallery-ico-play ico-play-video color-white fa fa-play-circle"></span>
                            <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/test.png">
                        </a>
                    </div>

                    <!-- video inline only desktop -->
                    <div class="hidden-xs inline-video" data-video="html5">
                        <a class="cta-video-inline p-no">
                            <span class="bg-overlay">
                                <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/test.png" alt="">
                            </span>
                            <div class="box-size-m-2">
                                <div class="center va-middle">
                                    <span class="ico-play-video color-white fa fa-play-circle"></span>
                                    <div class="m-top-m btn btn-top-border btn-light btn btn-top-border btn-light">MP4 Video
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <div class="video">
                            <video id="videoPlayer" width="400" controls="" class="modal-video-elem">
                                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                                <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
                            </video>
                        </div>
                    </div>

                    <!-- video popup only  mobile -->
                    <div class="visible-xs">
                        <a data-fancybox="gallery" data-width="640" data-height="360" href="https://www.youtube.com/embed/aqz-KE-bpKQ">
                            <span class="m-gallery-ico-play ico-play-video color-white fa fa-play-circle"></span>
                            <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg">
                        </a>
                    </div>
                    <!-- video inline only desktop -->
                    <div class="hidden-xs inline-video" data-video="youtube">
                        <a class="cta-video-inline p-no">
                            <span class="bg-overlay">
                                <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg" alt="">
                            </span>
                            <div class="box-size-m-2">
                                <div class="center va-middle">
                                    <span class="ico-play-video color-white fa fa-play-circle"></span>
                                    <div class="m-top-m btn btn-top-border btn-light btn btn-top-border btn-light">YT Video
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <div class="video">
                            <div id="ranID" class="YouTubeVideoPlayer" data-youtubeid="aqz-KE-bpKQ"></div>
                        </div>
                    </div>

                    <div>
                        <!-- imag popup only mobile -->
                        <a data-fancybox="gallery" class="visible-xs" href="/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile-2.jpg">
                            <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile-2.jpg" alt="">
                        </a>
                        <!-- img only desktop -->
                        <img class="hidden-xs" src="/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile-2.jpg" alt="">

                    </div>

                    <div>
                        <a data-fancybox="gallery" class="visible-xs" href="/content/dam/USGBoral/Global/Website/Images/component/allsample/test.png">
                            <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/test.png" alt="">
                        </a>
                        <img class="hidden-xs" src="/content/dam/USGBoral/Global/Website/Images/component/allsample/test.png" alt="">

                    </div>

                    <div>
                        <a data-fancybox="gallery" class="visible-xs" href="/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg">
                            <img src="/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg" alt="">
                        </a>
                        <img class="hidden-xs" src="/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg" alt="">

                    </div>



                </div>

                <!-- gallery items thumbnails -->
                <div class="gallery-slider-nav  mix-media-gallery-item-wrapper m-bottom-m " data-slick='{
                    "slidesToShow": 4,
                    "slidesToScroll": 1,
                    "infinite": true,
                    "speed": 300,
                    "arrows": false,
                    "dots":false,
                    "centerMode":false,
                    "focusOnSelect":true,
                    "responsive": [
                        {
                            "breakpoint": 1024,
                            "settings": {
                                "slidesToShow": 2
                            }
                        },
                        {
                            "breakpoint": 992,
                            "settings": {
                                "slidesToShow": 4
                            }
                        },
                        {
                            "breakpoint": 768,
                            "settings": {
                                "slidesToShow": 4
                            }
                        },
                        {
                            "breakpoint": 500,
                            "settings": {
                                "slidesToShow": 3
                            }
                        },
                        {
                            "breakpoint": 400,
                            "settings": {
                                "slidesToShow": 2
                            }
                        }
                    ] 
                }'>
                    <div class="gallery-item">
                        <div class="thumbnail-border" style="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/test.png') center center no-repeat; background-size:cover; ">
                            <span class="ico-play-video color-white fa fa-play-circle"></span>
                            <img style="opacity:0;" src="/content/dam/USGBoral/Global/Website/Images/component/allsample/test.png" alt="">
                        </div>
                    </div>
                    <div class="gallery-item">
                        <div class="bg-overlay thumbnail-border text-center" style="background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg') center center no-repeat; background-size:cover;">
                            <span class="ico-play-video color-white fa fa-play-circle"></span>
                            <img style="opacity:0;" src="/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile.jpg" alt="">
                        </div>
                    </div>
                    <div class="gallery-item">
                        <div class="thumbnail-border" style=" background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile-2.jpg') center no-repeat; background-size:cover;">
                            <img style="opacity:0;" src="/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile-2.jpg">
                        </div>
                    </div>

                    <div class="gallery-item">
                        <div class="thumbnail-border" style=" background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/test.png') center no-repeat; background-size:cover;">
                            <img style="opacity:0;" src="/content/dam/USGBoral/Global/Website/Images/component/allsample/test.png">
                        </div>
                    </div>
                    <div class="gallery-item">
                        <div class="thumbnail-border" style=" background:transparent url('/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile-3.jpg') center no-repeat; background-size:cover;">
                            <img style="opacity:0;" src="/content/dam/USGBoral/Global/Website/Images/component/allsample/bg-banner-tile-3.jpg">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-xs-12 m-top-4xxl m-sm-top-5xl">
                <p class="text-left color-darker-grey p-s p-md-no">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            </div>
        </div>
    </div>
    <!-- SECTION 1 END -->






    <!-- SECTION 11 -->
    <div class="container-fluid">
        <div class="row bg-white  m-vertical-4xxl  m-sm-vertical-5xl ">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- text alignment: text-left, text-center, text-right -->
                        <!-- vertical alignment: va-top, va-middle, va-bottom -->
                        <!-- horizontal alignment: ha-left, ha-center, ha-right -->
                        <h2 class="ht4 uppercase text-center color-darker-grey hidden-xs">related items</h2>
                        <h2 class="ht4 uppercase text-center color-darker-grey visible-xs">looking for other options</h2>
                        <p class="text-center color-darker-grey p-s p-md-no">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempaor</p>
                    </div>
                </div>
                <!-- carousel items -->
                <div class="row">
                    <div class="feature-card-wrapper">
                        <!-- slick div -->
                        <div class="carousel-feature-card" data-slick='{
                            "dots": true,
                            "infinite": true,
                            "speed": 300,
                            "slidesToShow": 5,
                            "slidesToScroll": 1,
                            "responsive": [
                                {
                                    "breakpoint": 992,
                                    "settings": {
                                        "slidesToShow": 4
                                    }
                                },
                                {
                                    "breakpoint": 768,
                                    "settings": {
                                        "slidesToShow": 3
                                    }
                                },
                                {
                                    "breakpoint": 600,
                                    "settings": {
                                        "slidesToShow": 1
                                    }
                                }
                            ]
                        }'>
                            <!-- featured items start -->
                            <!-- 1 -->
                            <div class="col-xs-12 col-sm-4 m-s">
                                <a href="#" target="_blank">
                                    <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
                                        <div class="center width-full">
                                            <div class="box-inner-img"></div>
                                            <h2 class="m-top-m ht6 color-darker-grey text-center bold">Hard Finish</h2>
                                            <p class="color-darker-grey p-left-3xl p-right-3xl text-center bold"> Plaster Compound</p>
                                        </div>
                                        <span class="bg-box-hover">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <!-- 1 end -->
                            <!-- 2 -->
                            <div class="col-xs-12 col-sm-4 m-s">
                                <a href="#" target="_blank">
                                    <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
                                        <div class="center width-full">
                                            <div class="box-inner-img"></div>
                                            <h2 class="m-top-m ht6 color-darker-grey text-center bold">EnduraTile™ - </h2>
                                            <p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Lay-In Ceiling Panel</p>
                                        </div>
                                        <span class="bg-box-hover">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <!-- 2 end -->
                            <!-- 3 -->
                            <div class="col-xs-12 col-sm-4 m-s">
                                <a href="#" target="_blank">
                                    <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
                                        <div class="center width-full">
                                            <div class="box-inner-img"></div>
                                            <h2 class="m-top-m ht6 color-darker-grey text-center bold">EnduraTile™ - </h2>
                                            <p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Lay-In Ceiling Panel</p>
                                        </div>
                                        <span class="bg-box-hover">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <!-- 3 end -->
                            <!-- 4 -->
                            <div class="col-xs-12 col-sm-4 m-s">
                                <a href="#" target="_blank">
                                    <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
                                        <div class="center width-full">
                                            <div class="box-inner-img"></div>
                                            <h2 class="m-top-m ht6 color-darker-grey text-center bold">DIY Total</h2>
                                            <p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Joint Finish</p>
                                        </div>
                                        <span class="bg-box-hover">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <!-- 4 end -->
                            <!-- 5-->
                            <div class="col-xs-12 col-sm-4 m-s">
                                <a href="#" target="_blank">
                                    <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
                                        <div class="center width-full">
                                            <div class="box-inner-img"></div>
                                            <h2 class="m-top-m ht6 color-darker-grey text-center bold">EnduraTile™ - </h2>
                                            <p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Lay-In Ceiling Panel</p>
                                        </div>
                                        <span class="bg-box-hover">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <!-- 5 end -->
                            <!--6-->
                            <div class="col-xs-12 col-sm-4 m-s">
                                <a href="#" target="_blank">
                                    <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
                                        <div class="center width-full">
                                            <div class="box-inner-img"></div>
                                            <h2 class="m-top-m ht6 color-darker-grey text-center bold">EnduraTile™ - </h2>
                                            <p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Lay-In Ceiling Panel</p>
                                        </div>
                                        <span class="bg-box-hover">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <!--6 end -->
                            <!--7-->
                            <div class="col-xs-12 col-sm-4 m-s">
                                <a href="#" target="_blank">
                                    <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
                                        <div class="center width-full">
                                            <div class="box-inner-img"></div>
                                            <h2 class="m-top-m ht6 color-darker-grey text-center bold">DIY Plasterboard</h2>
                                            <p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Accessories</p>
                                        </div>
                                        <span class="bg-box-hover"> </span>
                                    </div>
                                </a>
                            </div>
                            <!--7 end -->
                            <!--8-->
                            <div class="col-xs-12 col-sm-4 m-s">
                                <a href="#" target="_blank">
                                    <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
                                        <div class="center width-full">
                                            <div class="box-inner-img"></div>
                                            <h2 class="m-top-m ht6 color-darker-grey text-center bold"> SHEETROCK®</h2>
                                            <p class="color-darker-grey p-left-2xl p-right-2xl text-center bold">Wall Board</p>
                                        </div>
                                        <span class="bg-box-hover"> </span>
                                    </div>
                                </a>
                            </div>
                            <!--8 end -->
                            <!-- featured items end -->
                        </div>
                        <!-- slick div end -->
                    </div>
                </div>
                <!-- carousel item end -->
            </div>
        </div>
    </div>
    <!-- SECTION 11 END -->



</div>
<!-- END of PAGE CONTENT -->






<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.alljs'}"
    data-sly-unwrap/>