<header style="height:90px">


            <div class="cd-auto-hide-header">
                
                <nav class="navbar navbar-default navbar-top header">

                    <!-- Navbar Container -->
                    <div class="container">
                            
                        
                        <!-- Navbar Header [contains both toggle button and navbar brand] -->
                        <div class="navbar-header">
                            <!-- Toggle Button [handles opening navbar components on mobile screens]-->
                            
                            <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavComponents" aria-expanded"false">
                                <span class="glyphicon glyphicon glyphicon-align-justify
                                "></span>
                            </div>

                            <!-- Navbar Brand -->
                            <div class="logo m-top-m m-left-m m-bottom-m">
                                <a href="#">
                                    <img src="/content/dam/USGBoral/Global/Website/Images/component/header/usg_logo.png" alt="Logo">
                                </a>
                            </div> 
                        </div>

                                <!-- Navbar Collapse [contains navbar components such as navbar menu and forms ] -->
                                <div class="collapse navbar-collapse m-top-m bg-white" id="exampleNavComponents">

                                <!-- Navbar Menu -->
                                        <!-- 1st row navi -->
                                            <ul class="nav navbar-nav navbar-right fs-nav-1 v-line-1 uppercase">

                                                    <li class="nav-dropdown-wrapper">
                                                        <a href="#">Hi User
                                                            <span class="m-left-xxs glyphicon glyphicon-menu-down"></span>
                                                        </a>
                                                        <ul class="nav-dropdown-menu dropdown-show">
                                                            <li><a href="#">USER 1</a></li>
                                                            <li><a href="#">user 2</a></li>
                                                            <li><a href="#">user 3</a></li>
                                                        </ul>
                                                    </li>
                
                                                    <li>
                                                        <a href="#">My Bookmark</a>
                                                    </li>
                
                                                    <li class="nav-dropdown-wrapper">                                     
                                                        <a href="#">my order sample cart
                                                            <span class="m-left-xxs glyphicon glyphicon-menu-down"></span>
                                                        </a>
                                                        <ul class="nav-dropdown-menu dropdown-show">
                                                            <li><a href="#">order sample 1</a></li>
                                                            <li><a href="#">order sample 2</a></li>
                                                            <li><a href="#">order sample 3</a></li>
                                                        </ul>
                                                    </li>
                
                                                    <li>
                                                        <a href="#">my submittal</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><span class="glyphicon glyphicon-map-marker p-right-xxs"></span>where to buy</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><span class="glyphicon glyphicon-search p-right-xxs"></span>search</a>
                                                    </li>
                                                    <!-- Navbar link with a dropdown menu -->
                                                    <li class="nav-dropdown-wrapper dropdown">
                                                        <a href="#">
                                                            <div class="bold country-wrapper">
                                                                <img class="flag-icon" src="/content/dam/USGBoral/Global/Website/Images/component/header/my-icon.png"> EN
                                                                <span class="m-left-xxs glyphicon glyphicon-menu-down"></span>
                                                            </div>
                                                        </a>
                                                        <ul class="nav-dropdown-menu  dropdown-menu dropdown-show">
                                                            <li><a href="#">my</a></li>
                                                            <li><a href="#">IND</a></li>
                                                            <li><a href="#">cN</a></li>
                                                            <li><a href="#">UK</a></li>
                                                            <li><a href="#">SWD</a></li>
                                                        </ul>
                                                    </li>
                                            </ul>
                                        <!-- first row navi end -->
                                    
                                        <sly data-sly-resource="${'megamenu' @ resourceType='usgbv3/components/content/megamenu'}"/>

                                </div>
                    </div>
               
                </nav>
                    
                <div class="gradient-line bg-gradient-green-x"></div>
            </div> 
            <!-- .cd-auto-hide-header -->


    </header>
	<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='uiux.header'}" data-sly-unwrap/>

    <script>

		// ----------------------------------------------------------------------
        // Mega Menu Hover
        // ----------------------------------------------------------------------
        (function(){
            "use strict";
            $(document).ready(function(){
                $(".nav-dropdown-wrapper").hover(            
                    function() {
                        $('.dropdown-show', this).not('.in dropdown-show').stop(true,true).slideDown("400");
                        $(this).toggleClass('open');        
                    },
                    function() {
                        $('.dropdown-show', this).not('.in dropdown-show').stop(true,true).slideUp("400");
                        $(this).toggleClass('open');       
                    }
                );
            });
        })();


     </script>