<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Edit here for Header Component
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>

<!-- HEADER -->
<header class="header">
    <div class="wrapper">

        <div class="top flex-row justify-space-between">

            <!-- logo -->
            <div class="logo">
                <a href="#">
                    <img src="${properties.logo @ context='unsafe' }" srcset="${properties.logo @ context='unsafe' } 1x, ${properties.logo2 @ context='unsafe' } 2x" alt="${properties.alt @ context='unsafe' }" width="250" height="58">
                </a>
            </div>
            <!-- end logo -->

            <!-- desktop-nav -->
            <div class="desktop-nav p-left-m flex-grow-1 hidden-xs">

                <!-- first nav -->
                <ul class="header-side-nav nav navbar-nav fs-nav-1 v-line-1 uppercase text-right">
                	<sly data-sly-test="${!properties.disabledSso }">
                        <li class="pre-login-nav">
                            <a href="#">Login</a>
                        </li>
                        <li class="nav-dropdown-wrapper post-login-nav" style="display:none">
                            <a href="#">Hi <span class="post-login-user">User</span>
                                <span class="m-left-xxs glyphicon glyphicon-menu-down"></span>
                            </a>
                            <ul class="nav-dropdown-menu dropdown-show">
                                <li><a href="#">USER 1</a></li>
                                <li><a href="#"onclick="$.ssoManager.sso.manageProfile()">Manage Profile</a></li>
                                <li><a href="#" onclick="$.ssoManager.sso.logout()">LOGOUT</a></li>
                            </ul>
                        </li>

                        <sly data-sly-test="${!properties.disabledOrderSample }">
                            <li class="nav-dropdown-wrapper post-login-nav" style="display:none">
                                <a href="#">my order sample cart
                                    <span class="m-left-xxs glyphicon glyphicon-menu-down"></span>
                                </a>
                                <ul class="nav-dropdown-menu dropdown-show">
                                    <li><a href="#">order sample 1</a></li>
                                    <li><a href="#">order sample 2</a></li>
                                    <li><a href="#">order sample 3</a></li>
                                </ul>
                            </li>
                        </sly>

                        <sly data-sly-test="${!properties.disabledMySubmittal }">
                            <li class="post-login-nav" style="display:none">
                                <a href="#">my submittal</a>
                            </li>
                        </sly>
                    </sly>

                    <li> <a href="#">My Bookmark</a> </li>

                    <sly data-sly-test="${!properties.disabledWtb }">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-map-marker p-right-xxs"></span>where to buy</a>
                        </li>
                    </sly>

                    <sly data-sly-test="${!properties.disabledSearch }">
                        <li>
                            <a href="#" data-search-pop-up><span class="glyphicon glyphicon-search p-right-xxs"></span>search</a>
                        </li>
                    </sly>
                    <li>
                        <a href="#" data-countries-pop-up>
                            <div class="bold country-wrapper">
                                <img class="flag-icon" src="/content/dam/USGBoral/global/website/image/logo/my-icon.png">
                                <span class="v-align-middle">EN</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- end first nav -->

            <sly data-sly-resource="${'megamenu' @ resourceType='usgbv3/components/content/header-megamenu'}"/>

        </div>

        <div class="bottom">
            <div class="rule bg-gradient-green-x"></div>
        </div>

        <!--Mobile product SUB NAVI -->
            <div class="product-menu-sticky bg-white">
                <div class="container">
                    <div class=" m-vertical-xs flex-row justify-center justify-sm-space-between row-wrap ">
                        <div class="p-bottom-s p-sm-bottom-no float-left m-side-xs">
                            <span class="float-left p-right-s hidden-xs">
                                <img src="${currentPage.properties.pageImage @ context='unsafe' }" alt="" class="img-width">
                            </span>
                            <span class="float-left p-sm-top-xs p-top-s color-darker-grey uppercase ht6">
                                ${currentPage.title @ context='unsafe'}
                            </span>
                        </div>

                        <div class="text-left text-sm-right p-bottom-no float-sm-right m-side-xs">

                        	<sly data-sly-test="${currentPage.enableOrderSample }">
                            	<a href="#" class="btn btn-sm btn-brand-default button-green">Request Sample</a>
                            </sly>

                            <a href="#" class="icon-min-width btn btn-sm btn-brand-default icon-bg color-white">
                                <span class=" glyphicon glyphicon-earphone"></span>
                            </a>
                            <a href="#" class="icon-min-width btn btn-sm btn-brand-default icon-bg color-white">
                                <span class=" glyphicon glyphicon-map-marker"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row bg-gradient-yellow-x  product-menu-list-wrapper">
                    <ul class="color-darker-grey list-inline desktop-list-inline m-xxs p-vertical-xxs bold fs-2 text-center hidden-xs" name="headerdestopvalue">
                        <li data-product-list="product-information">Product Information</li>
                    </ul>

                    <!-- only mobile -->
                    <ul class="color-darker-grey list-inline mobile-list-inline m-xxs bold fs-2 text-center visible-xs">
                        <li data-m-product="title">Product Information</li>
                    </ul>
                    <!-- only mobile end -->
                </div>

                <div class="row border-line visible-xs"> </div>
            </div>
        
        <!--Mobile Product SUB NAVI END -->        

        <!-- float-title-share (solution & case studies page only) -->
        <div class="float-title-share hidden">
            <div class="inner">

                <div class="content flex-row justify-space-between p-m">
                    <div class="left">
                        <h1 class="ht4"><strong>EDUCATION</strong></h1>
                    </div>
                    <div class="right">

                        <!--desktop version-->
                        <div class="desktop-share-buttons p-left-m hidden-xs">
                            <span class="color-dark-grey fs-2 v-align-middle">Share us on:</span>
                            <a href="#" class="fa fa-facebook-square icon-color-darker-grey icon-size v-align-middle"></a>
                            <a href="#" class="fa fa-twitter-square icon-color-darker-grey icon-size v-align-middle"></a>
                            <a href="#" class="fa fa-linkedin-square icon-color-darker-grey icon-size v-align-middle"></a>
                        </div>
                        <!--end desktop version-->
                        
                        <!--mobile version-->
                        <div class="mobile-share-buttons p-left-m visible-xs">
                            <div class="share-icon">
                                <span class="expand-share icon-color-darker-grey icon-size fa fa-share-alt-square"></span>
                            </div>
                        </div>
                        <!--end mobile version-->
                    </div>
                </div>

                <div class="slide-content visible-xs">
                    <div class="flex-row justify-center p-m">
                        <a href="#" class="align-self-right fa fa-facebook-square icon-color-darker-grey icon-size p-side-xxs"></a>
                        <a href="#" class="fa fa-twitter-square icon-color-darker-grey icon-size p-side-xxs"></a>
                        <a href="#" class="fa fa-linkedin-square icon-color-darker-grey icon-size p-side-xxs"></a>
                        <a href="#" class="icon-color-darker-grey p-side-xxs stacked-default">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <span class="close-share align-self-right fa fa-close icon-color-darker-grey icon-size"></span>
                    </div>
                </div>

            </div>
            <hr class="m-no dark-2-grey">
        </div>
        <!-- end float-title-share (solution & case studies page only) -->

    </div>
</header>
<!-- END HEADER -->

<!-- mobile content placeholder -->

<sly data-sly-use.ssoComponent="com.usgbv3.core.components.SSOComponent">
	<div id="myclient" style="display:none">${ssoComponent.clientId}</div>
    <div id="myclientd" style="display:none">${ssoComponent.clientDomain}</div>
</sly>

<sly data-sly-resource="${'mobile-view' @ resourceType='usgbv3/components/content/header-mobile-view-component'}"/>
<sly data-sly-resource="${'search-popup' @ resourceType='usgbv3/components/content/header-search-popup-component'}"/>
<sly data-sly-resource="${'country-popup' @ resourceType='usgbv3/components/content/header-country-popup-component'}"/>



<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='uiux.header'}" data-sly-unwrap/>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='uiux.sso'}" data-sly-unwrap/>