<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
    Edit here for BG Placeholder Component
</sly>


<div class="container-fluid p-no ${properties.bgcolor} p-top-${properties.paddingTop} p-bottom-${properties.paddingBottom} ">
    <sly data-sly-test.istitle="${properties.title}">
    	<div class="m-vertical-l m-sm-vertical xl" data-scroll="${currentNode.name}" >
    </sly>
    <sly data-sly-test="$!istitle}">
		<div class="container sub-nav-hero" >
    </sly>
        <div class="row m-no">
              <sly data-sly-resource="${'par' @ resourceType='foundation/components/parsys'}"/>
        </div>
    </div>
</div>