<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
    Edit here for Feature Cards Carousel 
</sly>

<style>
	${properties.cssoverwrite @ context='unsafe'}
</style>


	<div class="feature-card-wrapper ${properties.classid @ context='unsafe'}">
		<!-- slick div -->
		<div class="carousel-feature-card" >
			<sly data-sly-use.listUse="${'logic_multifield.js' @ multifieldName='featureCard'}">  
        		<sly data-sly-list="${listUse}">

                    <div class="col-xs-12 col-sm-4 p-no m-s">
                        <a href="${item.properties.link}.html" target="${properties.targettype == properties.hiddentarget ? properties.targetName : properties.targettype}">
                            <div class="box-size-m box-type-2 bg-white p-md-xs p-xs">
                                <div class="center width-full">
                                    <div class="box-inner-img"><img src="${item.properties.imgPath @ context='unsafe'}" alt="${item.properties.alt @ context='unsafe'}"></div>
                                    <h2 class="m-top-m m-bottom-m ht6 color-darker-grey text-center uppercase">${item.properties.title @ context='html'}</h2>
                                    <div class="color-darker-grey p-left-3xl p-right-3xl text-center">${item.properties.description @ context='html'}</div>
                                </div>
                                <span class="bg-box-hover">
                                </span>
                            </div>
                        </a>
                    </div>

        		</sly>
        	</sly>


		</div>
     </div>






<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='uiux.slick'}" data-sly-unwrap/>
<script>

// ----------------------------------------------------------------------
// Carousel Home Banner
// ----------------------------------------------------------------------
(function(){
    "use strict";
    $(document).ready(function(){
       $(".carousel-feature-card").slick({
                                            "dots": true,
                                            "infinite": false,
                                            "speed": 300,
                                            "slidesToShow": 5,
                                            "slidesToScroll": 1,
                                            "responsive": [
                                                {
                                                    "breakpoint": 992,
                                                    "settings": {
                                                        "slidesToShow": 4
                                                    }
                                                },
                                                {
                                                    "breakpoint": 768,
                                                    "settings": {
                                                        "slidesToShow": 3
                                                    }
                                                },
                                                {
                                                    "breakpoint": 600,
                                                    "settings": {
                                                        "slidesToShow": 1
                                                    }
                                                }
                                            ]
                                        });
    });
})();

</script>