<!doctype html>
<html >
    <head>
        <sly data-sly-include="partials/headlibs.html" data-sly-unwrap/>

    </head>
    <body class="page ${currentPage.template.name}">

        <sly data-sly-resource="${'header' @ resourceType='usgbv3/components/content/header'}"/>
		<div class="clearfix" > </div>

        <div>
			<div class="page-content ">
            	<sly data-sly-resource="${'par' @ resourceType='foundation/components/parsys'}"/>
    		</div>
        </div>

		<div class="clearfix" > </div>
		<sly data-sly-resource="${'header' @ resourceType='usgbv3/components/content/footer'}"/>
        <sly data-sly-include="partials/footlibs.html" data-sly-unwrap/>
    </body>
</html>
